In [17]:
import pandas as pd

def clean_and_load_csv(file_path):
    """Read a CSV file, strip whitespace from column names, and return the DataFrame."""
    df = pd.read_csv(file_path)  # Load the CSV file into a DataFrame
    df.columns = df.columns.str.strip()  # Strip whitespace from column names
    return df  # Return the cleaned DataFrame

def filter_gsv(df1, df2, threshold=10000):
    """Filter two DataFrames based on 'gsv' column."""
    for df in [df1, df2]:
        # Check if 'gsv' column exists in both DataFrames
        if 'gsv' not in df.columns:
            raise KeyError("The DataFrame does not contain a 'gsv' column. Available columns are: " + ", ".join(df.columns))

    # Convert 'gsv' to numeric and filter based on the threshold for df1
    df1.loc[:, 'gsv'] = pd.to_numeric(df1['gsv'], errors='coerce')  # Convert 'gsv' to numeric, coercing errors to NaN
    df1 = df1.dropna(subset=['gsv'])  # Drop rows where 'gsv' is NaN
    filtered_df1 = df1[df1['gsv'] >= threshold]  # Filter df1 for 'gsv' values greater than or equal to the threshold
    
    # Convert 'gsv' to numeric and filter based on the threshold for df2
    df2.loc[:, 'gsv'] = pd.to_numeric(df2['gsv'], errors='coerce')  # Convert 'gsv' to numeric, coercing errors to NaN
    df2 = df2.dropna(subset=['gsv'])  # Drop rows where 'gsv' is NaN
    filtered_df2 = df2[df2['gsv'] >= threshold]  # Filter df2 for 'gsv' values greater than or equal to the threshold

    return filtered_df1, filtered_df2  # Return the filtered DataFrames

def filter_and_display(df5, source_partner):
    """Filter df5 to get top 10 rows for each source country based on 'gsv'."""
    # Check if required columns exist in df5
    if 'source_country' not in df5.columns or 'destination_country' not in df5.columns or 'gsv' not in df5.columns:
        raise KeyError("One of the required columns 'source_country', 'destination_country', or 'gsv' does not exist.")
    
    # Skip rows where source_country is equal to destination_country
    df5 = df5[df5['source_country'] != df5['destination_country']]
    
    # Add source_partner to the DataFrame
    df5['source_partner'] = source_partner  # Correct assignment for the current partner
    
    # Sort by gsv in descending order and get top 10 for each source country
    top_rows = df5.sort_values(by=['source_country', 'gsv'], ascending=[False, False]).groupby('source_country').head(10)

    return top_rows  # Return the top rows for each source country

def compare_and_filter(top_rows, filtered_df1):
    """Compare top_rows with filtered_df1 and keep only matching rows."""
    # Check if the required columns exist in filtered_df1
    if 'source_partner' not in filtered_df1.columns or 'source_country' not in filtered_df1.columns:
        raise KeyError("filtered_df1 must contain 'source_partner' and 'source_country' columns.")

    # Create a set of tuples from filtered_df1 for quick lookup
    filtered_set = set(zip(filtered_df1['source_partner'], filtered_df1['source_country']))

    # Filter top_rows to keep only those that exist in filtered_df1
    top_rows_filtered = top_rows[top_rows.apply(lambda x: (x['source_partner'], x['source_country']) in filtered_set, axis=1)]

    return top_rows_filtered  # Return the filtered top rows

def merge_duplicate_rows(final_results):
    """Merge duplicate rows based on source_partner, source_country, and destination_country."""
    # Group by the specified columns and sum the gsv values
    merged_results = final_results.groupby(
        ['source_partner', 'source_country', 'destination_country'], as_index=False
    ).agg({'gsv': 'sum'})  # Aggregate gsv by summing duplicates

    return merged_results  # Return the merged results

def add_regional_director(merged_results, r_d_file_path):
    """Add a 'regional_director' column to merged_results based on matches in R_D.csv."""
    # Load the R_D.csv file
    r_d_df = pd.read_csv(r_d_file_path)
    
    # Strip whitespace from column names in R_D DataFrame
    r_d_df.columns = r_d_df.columns.str.strip()
    
    # Check if 'source_partner' and 'regional_director' columns exist in R_D DataFrame
    if 'source_partner' not in r_d_df.columns or 'regional_director' not in r_d_df.columns:
        raise KeyError("R_D.csv must contain 'source_partner' and 'regional_director' columns.")
    
    # Merge merged_results with r_d_df on 'source_partner'
    merged_with_director = pd.merge(
        merged_results,
        r_d_df[['source_partner', 'regional_director']],  # Select only the necessary columns
        on='source_partner',
        how='left'  # Use left join to keep all rows from merged_results
    )
    
    return merged_with_director  # Return the merged DataFrame with regional director
    
def add_partner_gsv(final_results, df):
    """Add a 'Partner_Gsv' column to final_results based on matches in the original DataFrame."""
    # Initialize the Partner_Gsv column with NaN
    final_results['Partner_Gsv'] = pd.NA

    # Iterate through each row in final_results
    for index, row in final_results.iterrows():
        # Filter the original DataFrame for matching source_partner, source_country, and destination_country
        matching_rows = df[
            (df['source_partner'] == row['source_partner']) &
            (df['source_country'] == row['source_country']) &
            (df['destination_country'] == row['destination_country'])
        ]
        
        # If there are matching rows, sum their gsv values and assign to Partner_Gsv
        if not matching_rows.empty:
            final_results.at[index, 'Partner_Gsv'] = matching_rows['gsv'].sum()

    # Add the 'existing/new' column based on the 'Partner_Gsv' values
    final_results['existing/new'] = final_results['Partner_Gsv'].apply(lambda x: 'EXISTING' if pd.notna(x) else 'NEW')

    # Reorder columns to place Partner_Gsv and existing/new after gsv
    cols = list(final_results.columns)
    gsv_index = cols.index('gsv')
    cols.insert(gsv_index + 1, cols.pop(cols.index('Partner_Gsv')))
    cols.insert(gsv_index + 2, cols.pop(cols.index('existing/new')))
    final_results = final_results[cols]

    return final_results  # Return the updated final results with Partner_Gsv and existing/new

def rename_gsv_column(final_results):
    """Rename the 'gsv' column to 'TerraPay_gsv' in the final results."""
    # Check if 'gsv' column exists
    if 'gsv' in final_results.columns:
        final_results = final_results.rename(columns={'gsv': 'TerraPay_gsv'})  # Rename the column
    else:
        raise KeyError("'gsv' column not found in the DataFrame.")  # Raise an error if 'gsv' column doesn't exist

    return final_results  # Return the DataFrame with the renamed column

def process_csv(final_results):
    """
    Reads a CSV file, sorts by gsv in descending order,
    and displays all columns while grouping by source_partner and source_country.

    Parameters:
    - file_name: str - Name of the input CSV file (in the Jupyter directory).
    """

    # Clean column names by removing leading and trailing whitespace
    df.columns = df.columns.str.strip()

    # Sort the DataFrame by gsv in descending order
    sorted_df = df.sort_values(by=['source_partner', 'source_country', 'gsv'], ascending=[True, True, False])

    # Set display options to show all columns
    pd.set_option('display.max_columns', None)  # Show all columns
    pd.set_option('display.expand_frame_repr', False)  # Prevent line breaks in the output

    # Display the sorted DataFrame
    print(sorted_df)

    # Optionally, save the sorted DataFrame to a new CSV file
    output_file = 'partner_opportunities.csv'
    sorted_df.to_csv(output_file, index=False)
    print(f"\nSorted data saved to '{output_file}'")

process_csv(file_name)

if __name__ == "__main__":
    # Clean and load the first DataFrame
    df = clean_and_load_csv('P_B.csv')  # Assuming this contains source_partner
    print("Columns in df:", df.columns.tolist())  # Display the columns in the first DataFrame
    
    # Clean and load the second DataFrame
    df2 = clean_and_load_csv('TP_B.csv')  # Assuming this contains source_country and gsv
    print("Columns in df2:", df2.columns.tolist())  # Display the columns in the second DataFrame
    
    # Filter the DataFrames based on 'gsv'
    filtered_df1, filtered_df2 = filter_gsv(df, df2)  # Get filtered DataFrames based on gsv
    
    # Display the filtered DataFrames
    print("Filtered DataFrame 1:\n", filtered_df1)  # Show filtered DataFrame 1
    print("Filtered DataFrame 2:\n", filtered_df2)  # Show filtered DataFrame 2

    
   # Example list of source partners
    source_partners = ['33 Remittance Company Limited - smartswift', '9PAY JOINT STOCK COMPANY', 'Abu Sheika Exchange', 'Access Forex Proprietary Ltd', 'Afex transferencias y cambios Ltda', 
  'Afmoom Services Pty Ltd', 'Afriex Ltd', 'Afro International Foreign Exchange Bureau Limited', 'Aftab Currency Exchange Limited', 'Airtel UG', 'Akbar Money', 'Al Ansari Exchange', 
'Alawneh Exchange', 'Aldar', 'AL FARDAN EXCHANGE LLC', 'AL JAZEERA EXCHANGE', 'Al Malik AlDahery Exchange', 'AL Mulla Exchange', 'Al Nada International Exchange', 'Al Noaman Exchange Company',
 'Alpha Fortress Ltd', 'Al Razouki International Exchange Co LLC', 'Al-Taif Islamic Bank for Investment and Finance', 'Al Zaman Exchange WLL', 'ARY Exchange Company WLL', 'ASAP ALR Test Send Partner',
'ASAP Test Send Partner', 'Astero Pay PTY Limited', 'AyoRemit', 'Azimo', 'Bahrain Exchange Company WLL- Kuwait', 'Bahrain India International Exchange Co.', 'Bananapay LLC', 'Banco Delbank S.A',
'Bancore','Barraq Finance Company', 'Batelco Financial Services', 'Batelco Financial Services LTD', 'BEDSOPIA FZCO', 'Belmoney', 'Best Finance', 'BFC Bahrain', 'BICIG', 'Bin Yaala Exchange', 
'BlaBla Connect', 'BNB Senegal','BoB Finance SAL', 'Bolt Operations', 'Boss Revolution', 'BTC', 'Buckzy', 'ByteDance', 'ByteDance HK', 'Cadorim SA', 'CashMinute', 'CITY EXPRESS MONEY TRANSFER JAPAN CO LTD', 
'CLEVERDO PAYMENT TECHNOLOGIES LTD.','CLUB SUEDAMERIKA INTERNATIONAL GMBH', 'CN Travel - ASAP', 'Cornerstone Payment Solutions Ltd', 'CORPORATE ALLIANCE PAYMENTS PTY LTD', 'Cross ENF Inc', 'CrossPay', 
'Currenxie Limited', 'DADANADA NL SARL', 'DANESH Exchange','DAYTONA', 'Dee_Money', 'Digipay', 'DigiPay', 'Digipay CD', 'Digipay CG', 'Digital International Bank', 'DigitWace LLC', 'Dimagi Inc', 'dLocal',
'Doha Exchange Co', 'E4F', 'Easy Financial Services', 'Ebix Cash', 'Edens Capital Inc','e Kwacha Global Limited', 'Elephant Money Ltd', 'Elevate Pay INC', 'Equity Bank South Sudan Limited', 'EZ Money',
'Family Link Money Transfer', 'Financial House Limited', 'FINANCIERA GOLDEN LEAF S.A.', 'FinShot. Inc', 'Flex Money South Sudan', 'Flocash Limited', 'FOMO Pay PTE LTD - Fomopay', 'Fynte', 
'GCC Exchange UK Limited', 'GEA Limited', 'GIVEDIRECTLY INC', 'GLOBAL REMIT CURRENCY SERVICES LTD', 'GME', 'GME_Korea', 'GMoney', 'Golden Money Transfer', 'Golden Money Transfer Inc - Deal Based',
'Guavapay Limited', 'Gulf Overseas Exchange Co. LLC', 'Habib Qatar Intl Exchange', 'HAMI', 'Hanpass Co. Ltd', 'HHFSL', 'Home Remitt Pty', 'IC', 'iFAST Global Bank', 'Ileero', 'Ileero_ALR', 
'Intercambio Express INC', 'INTERCASH', 'International Payout Systems Canada INC','INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same pf.py ccy', 'ISEND', 'Istanbul Odeme ve Elektronil Para A.S', 
'I-Transfer Money Movers SA', 'Japan Remittance Finance co.ltd.', 'Kaah Express F. S. Inc', 'KCB', 'Klarpay AG', 'KMB Money', 'Kuwait Bahrain International Exchange Company', 
'Kuwait Bahrain International Exchange Company 1', 'Kuwait Bahrain International Exchange Company deal', 'Kuwait India International Exchange Co. WLL', 'Kwattel', 'La-Cederi Bureau De Change',
'Lemonade', 'Lemonade Technology Limited - Deal Based', 'Lulu Exchange AE', 'Lulu Exchange Company WLL Deal', 'Lulu Exchange Company WLL- Kuwait', 'Lulu Exchange OM', 
'Lulu Money Singapore PTE LTD', 'MAGNAJAY MONEY REMITTANCE', 'Mama_Money', 'MasterCard', 'Master Remit', 'Maxitransfers LLC', 'Merchant_Trade', 'MOBEX', 'Modern Exchange co LLC',
'Money Ex', 'Money Gram Payment systems', 'Moneygram South Africa', 'MONEYMATCH SDN BHD', 'MoneyNet', 'Moneytrans', 'MONISNAP', 'Monty', 'Monyglob', 'More Money Transfers S.A.',
'MTN South Sudan', 'MTN South Sudan Test','MTN UG', 'Muhammad Musa Abu Zaid and Partner Exchange Compan', 'Nairagram - Send', 'Nala Payments Canada Inc', 'NationalEx', 'NEC', 
'NEC Remit', 'Neema Services', 'Neutronpay Inc', 'NFE', 'Nilos Financial Services LTD', 'NobelFin', 'Nuvei Limited', 'Omnex', 'Omnex INC - DEAL BASED', 
'Optiswift Technologies Limited', 'Orokii Inc', 'Panda Remit', 'Papara Elektronik', 'Paragram Odeme Hizmetleri A.S Turkey', 'Payhada Co.LTD', 'PayInc Group Limited', 
'Paypoint', 'Payporter', 'PAYSEND', 'PAYWISER_IMT', 'Paywiser Ltd', 'PEEXIT', 'Pesapeer Incorporated', 'Placid_Express', 'PNC Global Transfers Inc', 'Pre Pay Electronics Payments Ltd',
'Prime Bank Limited', 'Pronto', 'PT REYHAN PUTRA MANDIRI - Remitpro', 'Pula Advisors AG', 'PyWave Network Technology Limited', 'Queen Bee Capital', 'RAA Express', 'Raenest Inc',
'Rana Financial INC', 'Red Chapina Sociedad Anonima', 'Remitly Inc', 'Remitly inc - Deal Based', 'REMITTANCES HUB ENTERPRISES CANADA LTD.', 'RIA', 'Rightqode INC', 
'RocketRemit', 'Roxe', 'Safaricom', 'SafariRemit', 'SAVE MONEY TRANSFER INC', 'SBI Cosmoney Co. Ltd.', 'Sefremit Pty Ltd', 'Seif Money', 'Sender Odeme Hizmetleri AS',
'SendMN', 'Send Money India', 'Send Wave', 'SentBe', 'Shanawani Exchange Company', 'SHIFT','Sibilla Solutions Limited', 'Sigue', 'Silent Roar Media', 
'SIMBA MONEY LIMITED', 'SimbaPay', 'SingX.co', 'SMALL WORLD', 'Speedy', 'SPOTON', 'Sterling Exchange', 'SUNWAY', 'SUPERSONICZ Ltd', 'Suvi Inc', 'Suyool SAL', 
'Swiss Exchange LLC', 'Syion Private Limited', 'TaptapSend', 'TECHWEST PTY LTD', 'Terra Payment Services Italy', 'Titanes Money Transfer', 'TP Pilot', 'TP TZ',
'TPTZ Airtel KE Onnet', 'Transamericas Services Corporation', 'TransFast', 'Transferwise', 'Triple A Technologies Pte Ltd', 'Twiga Technology LLC', 'Tylersoft Technologies',
'UAE EXCHANGE CENTRE W L L KUWAIT', 'UAE EXCHANGE CENTRE W L L KUWAITdeal', 'Ultra Group', 'UNIMONI EXCHANGE LLC','UNIMONI OMAN', 'Uniteller', 'UPESI', 'UPT', 
'Uremit', 'URemit Money Transfer B2B', 'Venture Garden Nigeria Ltd', 'Viamericas Corporation', 'Visa Payments Ltd', 'VK CONSULTANCY PTY LIMITED', 'Vodacom TZ', 
'WesternUnion', 'WingMoney', 'WireBarley', 'WireBarley Time Based', 'Wise', 'Wise_Biz', 'WorldRemit', 'WSL Global Limited', 'XTransfer Limited', 'YEEPAYHK',
'Zam Zam Money Exchange LLC Co', 'ZeePay', 'ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT']  # Example source partner
    # Example source partners
   
     
    # Create an empty DataFrame to store all results
    all_results = pd.DataFrame()  # Initialize an empty DataFrame for final results
    
    # Iterate through each source partner to filter and display results
    for partner in source_partners:
        print(f"\nProcessing for {partner}...")  # Indicate which partner is being processed
        
        # Filter and display top rows for the current partner
        top_rows = filter_and_display(filtered_df2, partner)  # Get top rows for the current partner
        print(f"Top rows for {partner}:\n", top_rows)  # Display the top rows
        
        # Compare and filter top rows
        top_rows_filtered = compare_and_filter(top_rows, filtered_df1)  # Filter top rows based on filtered_df1
        print(f"Filtered top rows for {partner}:\n", top_rows_filtered)  # Display the filtered top rows
        
        # Merge duplicate rows
        final_results = merge_duplicate_rows(top_rows_filtered)  # Merge any duplicate rows in the filtered results
        
        # Load the R_D.csv file path
        r_d_file_path = 'R_D.csv'  # Path to the R_D.csv file
        
        # Add the regional director column
        merged_results_with_director = add_regional_director(final_results, r_d_file_path)  # Add regional director info
        
        # Add Partner_Gsv column based on the original DataFrame
        merged_results_with_partner_gsv = add_partner_gsv(merged_results_with_director, df)  # Add Partner_Gsv
        
        # Append the results to the all_results DataFrame
        all_results = pd.concat([all_results, merged_results_with_partner_gsv], ignore_index=True)  # Combine results
        
        # Display the updated results
        print(f"Updated Merged Results with Regional Director and Partner Gsv for {partner}:\n", merged_results_with_partner_gsv)  # Show updated results

    # Rename 'gsv' to 'TerraPay_gsv' in the final results
    final_results_with_renamed_gsv = rename_gsv_column(all_results)  # Rename 'gsv' to 'TerraPay_gsv'

    # Save the updated final results to a CSV file
    output_file_with_renamed_gsv = 'Partner_Opportunities.xlsx'  # Define the output file name
    final_results_with_renamed_gsv.to_excel(output_file_with_renamed_gsv, index=False)  # Save the DataFrame to a CSV file
    print(f"\nFinal results with 'TerraPay_gsv' have been saved to {output_file_with_renamed_gsv}.")

                                  source_partner  source_country destination_country      gsv
3     33 Remittance Company Limited - smartswift        Thailand               India  85967.0
4     33 Remittance Company Limited - smartswift        Thailand           Indonesia  24894.0
7     33 Remittance Company Limited - smartswift        Thailand            Malaysia  15450.0
10    33 Remittance Company Limited - smartswift        Thailand              Turkey  14314.0
8     33 Remittance Company Limited - smartswift        Thailand            Pakistan  14149.0
...                                          ...             ...                 ...      ...
2275                           iFAST Global Bank  United Kingdom              Turkey     10.0
2255                           iFAST Global Bank  United Kingdom             Estonia      3.0
2253                           iFAST Global Bank  United Kingdom             Croatia      1.0
2257                           iFAST Global Bank  United Kingdom               Ghana      1.0
2254                           iFAST Global Bank  United Kingdom             Denmark      NaN

[11540 rows x 4 columns]

Sorted data saved to 'partner_opportunities.csv'
Columns in df: ['source_partner', 'source_country', 'destination_country', 'gsv']
Columns in df2: ['source_country', 'destination_country', 'gsv']
Filtered DataFrame 1:
                                        source_partner source_country destination_country       gsv
3          33 Remittance Company Limited - smartswift       Thailand               India   85967.0
4          33 Remittance Company Limited - smartswift       Thailand           Indonesia   24894.0
7          33 Remittance Company Limited - smartswift       Thailand            Malaysia   15450.0
8          33 Remittance Company Limited - smartswift       Thailand            Pakistan   14149.0
10         33 Remittance Company Limited - smartswift       Thailand              Turkey   14314.0
...                                               ...            ...                 ...       ...
11518                                        YEEPAYHK      Hong Kong           Sri Lanka  363405.0
11524                   Zam Zam Money Exchange LLC Co         Jordan          Bangladesh  106799.0
11527                   Zam Zam Money Exchange LLC Co         Jordan               India   25455.0
11533                   Zam Zam Money Exchange LLC Co         Jordan      United Kingdom   59501.0
11538  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia              Poland  142668.0

[5811 rows x 4 columns]
Filtered DataFrame 2:
      source_country destination_country      gsv
0     Åland Islands            Viet Nam  85001.0
1     Åland Islands               Kenya  15868.0
7           Albania             Belgium  87582.0
8           Albania             Germany  80383.0
9           Albania               Ghana  59511.0
...             ...                 ...      ...
5072         Zambia             Finland  14552.0
5091       Zimbabwe               India  22701.0
5092       Zimbabwe        South Africa  17959.0
5093       Zimbabwe         Netherlands  13910.0
5094       Zimbabwe             Germany  13752.0

[2940 rows x 3 columns]

Processing for 33 Remittance Company Limited - smartswift...
Top rows for 33 Remittance Company Limited - smartswift:
      source_country destination_country      gsv                              source_partner
0     Åland Islands            Viet Nam  85001.0  33 Remittance Company Limited - smartswift
1     Åland Islands               Kenya  15868.0  33 Remittance Company Limited - smartswift
5091       Zimbabwe               India  22701.0  33 Remittance Company Limited - smartswift
5092       Zimbabwe        South Africa  17959.0  33 Remittance Company Limited - smartswift
5093       Zimbabwe         Netherlands  13910.0  33 Remittance Company Limited - smartswift
...             ...                 ...      ...                                         ...
12          Albania            Viet Nam  40428.0  33 Remittance Company Limited - smartswift
13          Albania               Kenya  24127.0  33 Remittance Company Limited - smartswift
14          Albania              France  22272.0  33 Remittance Company Limited - smartswift
15          Albania               Spain  20066.0  33 Remittance Company Limited - smartswift
16          Albania            Portugal  15137.0  33 Remittance Company Limited - smartswift

[1193 rows x 4 columns]
Filtered top rows for 33 Remittance Company Limited - smartswift:
      source_country destination_country        gsv                              source_partner
4397       Thailand            Malaysia  4188902.0  33 Remittance Company Limited - smartswift
4398       Thailand         Philippines  3321411.0  33 Remittance Company Limited - smartswift
4399       Thailand      United Kingdom  3132619.0  33 Remittance Company Limited - smartswift
4400       Thailand            Viet Nam  1803492.0  33 Remittance Company Limited - smartswift
4401       Thailand              Uganda  1319703.0  33 Remittance Company Limited - smartswift
4402       Thailand             Germany   880674.0  33 Remittance Company Limited - smartswift
4403       Thailand               Ghana   731628.0  33 Remittance Company Limited - smartswift
4404       Thailand         Netherlands   719208.0  33 Remittance Company Limited - smartswift
4405       Thailand              France   551088.0  33 Remittance Company Limited - smartswift
4406       Thailand             Belgium   427520.0  33 Remittance Company Limited - smartswift
Updated Merged Results with Regional Director and Partner Gsv for 33 Remittance Company Limited - smartswift:
                                source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  33 Remittance Company Limited - smartswift       Thailand             Belgium   427520.0        <NA>          NEW            Sukesh
1  33 Remittance Company Limited - smartswift       Thailand              France   551088.0        <NA>          NEW            Sukesh
2  33 Remittance Company Limited - smartswift       Thailand             Germany   880674.0       164.0     EXISTING            Sukesh
3  33 Remittance Company Limited - smartswift       Thailand               Ghana   731628.0      1917.0     EXISTING            Sukesh
4  33 Remittance Company Limited - smartswift       Thailand            Malaysia  4188902.0     15450.0     EXISTING            Sukesh
5  33 Remittance Company Limited - smartswift       Thailand         Netherlands   719208.0        <NA>          NEW            Sukesh
6  33 Remittance Company Limited - smartswift       Thailand         Philippines  3321411.0      6913.0     EXISTING            Sukesh
7  33 Remittance Company Limited - smartswift       Thailand              Uganda  1319703.0         1.0     EXISTING            Sukesh
8  33 Remittance Company Limited - smartswift       Thailand      United Kingdom  3132619.0       267.0     EXISTING            Sukesh
9  33 Remittance Company Limited - smartswift       Thailand            Viet Nam  1803492.0      4555.0     EXISTING            Sukesh

Processing for 9PAY JOINT STOCK COMPANY...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for 9PAY JOINT STOCK COMPANY:
      source_country destination_country      gsv            source_partner
0     Åland Islands            Viet Nam  85001.0  9PAY JOINT STOCK COMPANY
1     Åland Islands               Kenya  15868.0  9PAY JOINT STOCK COMPANY
5091       Zimbabwe               India  22701.0  9PAY JOINT STOCK COMPANY
5092       Zimbabwe        South Africa  17959.0  9PAY JOINT STOCK COMPANY
5093       Zimbabwe         Netherlands  13910.0  9PAY JOINT STOCK COMPANY
...             ...                 ...      ...                       ...
12          Albania            Viet Nam  40428.0  9PAY JOINT STOCK COMPANY
13          Albania               Kenya  24127.0  9PAY JOINT STOCK COMPANY
14          Albania              France  22272.0  9PAY JOINT STOCK COMPANY
15          Albania               Spain  20066.0  9PAY JOINT STOCK COMPANY
16          Albania            Portugal  15137.0  9PAY JOINT STOCK COMPANY

[1193 rows x 4 columns]
Filtered top rows for 9PAY JOINT STOCK COMPANY:
      source_country destination_country      gsv            source_partner
5034       Viet Nam               Kenya  48044.0  9PAY JOINT STOCK COMPANY
5035       Viet Nam              Uganda  43583.0  9PAY JOINT STOCK COMPANY
5036       Viet Nam               India  33851.0  9PAY JOINT STOCK COMPANY
5037       Viet Nam           Singapore  19900.0  9PAY JOINT STOCK COMPANY
Updated Merged Results with Regional Director and Partner Gsv for 9PAY JOINT STOCK COMPANY:
              source_partner source_country destination_country      gsv Partner_Gsv existing/new regional_director
0  9PAY JOINT STOCK COMPANY       Viet Nam               India  33851.0        <NA>          NEW            Sukesh
1  9PAY JOINT STOCK COMPANY       Viet Nam               Kenya  48044.0        <NA>          NEW            Sukesh
2  9PAY JOINT STOCK COMPANY       Viet Nam           Singapore  19900.0     19900.0     EXISTING            Sukesh
3  9PAY JOINT STOCK COMPANY       Viet Nam              Uganda  43583.0        <NA>          NEW            Sukesh

Processing for Abu Sheika Exchange...
Top rows for Abu Sheika Exchange:
      source_country destination_country      gsv       source_partner
0     Åland Islands            Viet Nam  85001.0  Abu Sheika Exchange
1     Åland Islands               Kenya  15868.0  Abu Sheika Exchange
5091       Zimbabwe               India  22701.0  Abu Sheika Exchange
5092       Zimbabwe        South Africa  17959.0  Abu Sheika Exchange
5093       Zimbabwe         Netherlands  13910.0  Abu Sheika Exchange
...             ...                 ...      ...                  ...
12          Albania            Viet Nam  40428.0  Abu Sheika Exchange
13          Albania               Kenya  24127.0  Abu Sheika Exchange
14          Albania              France  22272.0  Abu Sheika Exchange
15          Albania               Spain  20066.0  Abu Sheika Exchange
16          Albania            Portugal  15137.0  Abu Sheika Exchange

[1193 rows x 4 columns]
Filtered top rows for Abu Sheika Exchange:
      source_country destination_country        gsv       source_partner
2198         Jordan          Bangladesh  7347374.0  Abu Sheika Exchange
2199         Jordan         Philippines  7252997.0  Abu Sheika Exchange
2200         Jordan      United Kingdom   310273.0  Abu Sheika Exchange
2201         Jordan              Uganda   294838.0  Abu Sheika Exchange
2202         Jordan            Malaysia   202859.0  Abu Sheika Exchange
2203         Jordan               Ghana   175038.0  Abu Sheika Exchange
2204         Jordan               Egypt   135745.0  Abu Sheika Exchange
2205         Jordan             Germany   133658.0  Abu Sheika Exchange
2206         Jordan            Thailand   132574.0  Abu Sheika Exchange
2207         Jordan               India   102340.0  Abu Sheika Exchange
Updated Merged Results with Regional Director and Partner Gsv for Abu Sheika Exchange:
         source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Abu Sheika Exchange         Jordan          Bangladesh  7347374.0         2.0     EXISTING            Bassem
1  Abu Sheika Exchange         Jordan               Egypt   135745.0        <NA>          NEW            Bassem
2  Abu Sheika Exchange         Jordan             Germany   133658.0     36988.0     EXISTING            Bassem
3  Abu Sheika Exchange         Jordan               Ghana   175038.0        <NA>          NEW            Bassem
4  Abu Sheika Exchange         Jordan               India   102340.0        <NA>          NEW            Bassem
5  Abu Sheika Exchange         Jordan            Malaysia   202859.0        <NA>          NEW            Bassem
6  Abu Sheika Exchange         Jordan         Philippines  7252997.0       576.0     EXISTING            Bassem
7  Abu Sheika Exchange         Jordan            Thailand   132574.0        <NA>          NEW            Bassem
8  Abu Sheika Exchange         Jordan              Uganda   294838.0        <NA>          NEW            Bassem
9  Abu Sheika Exchange         Jordan      United Kingdom   310273.0     94631.0     EXISTING            Bassem

Processing for Access Forex Proprietary Ltd...
Top rows for Access Forex Proprietary Ltd:
      source_country destination_country      gsv                source_partner
0     Åland Islands            Viet Nam  85001.0  Access Forex Proprietary Ltd
1     Åland Islands               Kenya  15868.0  Access Forex Proprietary Ltd
5091       Zimbabwe               India  22701.0  Access Forex Proprietary Ltd
5092       Zimbabwe        South Africa  17959.0  Access Forex Proprietary Ltd
5093       Zimbabwe         Netherlands  13910.0  Access Forex Proprietary Ltd
...             ...                 ...      ...                           ...
12          Albania            Viet Nam  40428.0  Access Forex Proprietary Ltd
13          Albania               Kenya  24127.0  Access Forex Proprietary Ltd
14          Albania              France  22272.0  Access Forex Proprietary Ltd
15          Albania               Spain  20066.0  Access Forex Proprietary Ltd
16          Albania            Portugal  15137.0  Access Forex Proprietary Ltd

[1193 rows x 4 columns]
Filtered top rows for Access Forex Proprietary Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Access Forex Proprietary Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Afex transferencias y cambios Ltda...
Top rows for Afex transferencias y cambios Ltda:
      source_country destination_country      gsv                      source_partner
0     Åland Islands            Viet Nam  85001.0  Afex transferencias y cambios Ltda
1     Åland Islands               Kenya  15868.0  Afex transferencias y cambios Ltda
5091       Zimbabwe               India  22701.0  Afex transferencias y cambios Ltda
5092       Zimbabwe        South Africa  17959.0  Afex transferencias y cambios Ltda
5093       Zimbabwe         Netherlands  13910.0  Afex transferencias y cambios Ltda
...             ...                 ...      ...                                 ...
12          Albania            Viet Nam  40428.0  Afex transferencias y cambios Ltda
13          Albania               Kenya  24127.0  Afex transferencias y cambios Ltda
14          Albania              France  22272.0  Afex transferencias y cambios Ltda
15          Albania               Spain  20066.0  Afex transferencias y cambios Ltda
16          Albania            Portugal  15137.0  Afex transferencias y cambios Ltda

[1193 rows x 4 columns]
Filtered top rows for Afex transferencias y cambios Ltda:
     source_country destination_country        gsv                      source_partner
855          Chile               Spain  8343013.0  Afex transferencias y cambios Ltda
856          Chile            Colombia  1541021.0  Afex transferencias y cambios Ltda
857          Chile             Germany  1148057.0  Afex transferencias y cambios Ltda
858          Chile              France   811178.0  Afex transferencias y cambios Ltda
859          Chile             Belgium   483562.0  Afex transferencias y cambios Ltda
860          Chile               Italy   440334.0  Afex transferencias y cambios Ltda
861          Chile            Portugal   400889.0  Afex transferencias y cambios Ltda
862          Chile               India   335217.0  Afex transferencias y cambios Ltda
863          Chile         Netherlands   239617.0  Afex transferencias y cambios Ltda
864          Chile         Philippines   195318.0  Afex transferencias y cambios Ltda

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Afex transferencias y cambios Ltda:
                        source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Afex transferencias y cambios Ltda          Chile             Belgium   483562.0        <NA>          NEW            Philip
1  Afex transferencias y cambios Ltda          Chile            Colombia  1541021.0   1662752.0     EXISTING            Philip
2  Afex transferencias y cambios Ltda          Chile              France   811178.0        <NA>          NEW            Philip
3  Afex transferencias y cambios Ltda          Chile             Germany  1148057.0        <NA>          NEW            Philip
4  Afex transferencias y cambios Ltda          Chile               India   335217.0        <NA>          NEW            Philip
5  Afex transferencias y cambios Ltda          Chile               Italy   440334.0        <NA>          NEW            Philip
6  Afex transferencias y cambios Ltda          Chile         Netherlands   239617.0        <NA>          NEW            Philip
7  Afex transferencias y cambios Ltda          Chile         Philippines   195318.0        <NA>          NEW            Philip
8  Afex transferencias y cambios Ltda          Chile            Portugal   400889.0        <NA>          NEW            Philip
9  Afex transferencias y cambios Ltda          Chile               Spain  8343013.0        <NA>          NEW            Philip

Processing for Afmoom Services Pty Ltd...
Top rows for Afmoom Services Pty Ltd:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  Afmoom Services Pty Ltd
1     Åland Islands               Kenya  15868.0  Afmoom Services Pty Ltd
5091       Zimbabwe               India  22701.0  Afmoom Services Pty Ltd
5092       Zimbabwe        South Africa  17959.0  Afmoom Services Pty Ltd
5093       Zimbabwe         Netherlands  13910.0  Afmoom Services Pty Ltd
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  Afmoom Services Pty Ltd
13          Albania               Kenya  24127.0  Afmoom Services Pty Ltd
14          Albania              France  22272.0  Afmoom Services Pty Ltd
15          Albania               Spain  20066.0  Afmoom Services Pty Ltd
16          Albania            Portugal  15137.0  Afmoom Services Pty Ltd

[1193 rows x 4 columns]
Filtered top rows for Afmoom Services Pty Ltd:
     source_country destination_country           gsv           source_partner
138      Australia               India  1271119070.0  Afmoom Services Pty Ltd
139      Australia               Kenya   100661663.0  Afmoom Services Pty Ltd
140      Australia            Viet Nam    86869347.0  Afmoom Services Pty Ltd
141      Australia         Philippines    51386339.0  Afmoom Services Pty Ltd
142      Australia      United Kingdom    46499428.0  Afmoom Services Pty Ltd
143      Australia            Malaysia    45569162.0  Afmoom Services Pty Ltd
144      Australia          Bangladesh    40785924.0  Afmoom Services Pty Ltd
145      Australia               Ghana    14536937.0  Afmoom Services Pty Ltd
146      Australia              Uganda    10896328.0  Afmoom Services Pty Ltd
147      Australia             Germany     9418964.0  Afmoom Services Pty Ltd
Updated Merged Results with Regional Director and Partner Gsv for Afmoom Services Pty Ltd:
             source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Afmoom Services Pty Ltd      Australia          Bangladesh    40785924.0     18102.0     EXISTING            Sukesh
1  Afmoom Services Pty Ltd      Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2  Afmoom Services Pty Ltd      Australia               Ghana    14536937.0        <NA>          NEW            Sukesh
3  Afmoom Services Pty Ltd      Australia               India  1271119070.0      4249.0     EXISTING            Sukesh
4  Afmoom Services Pty Ltd      Australia               Kenya   100661663.0     35589.0     EXISTING            Sukesh
5  Afmoom Services Pty Ltd      Australia            Malaysia    45569162.0      8058.0     EXISTING            Sukesh
6  Afmoom Services Pty Ltd      Australia         Philippines    51386339.0     21120.0     EXISTING            Sukesh
7  Afmoom Services Pty Ltd      Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8  Afmoom Services Pty Ltd      Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9  Afmoom Services Pty Ltd      Australia            Viet Nam    86869347.0      5778.0     EXISTING            Sukesh

Processing for Afriex Ltd...
Top rows for Afriex Ltd:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Afriex Ltd
1     Åland Islands               Kenya  15868.0     Afriex Ltd
5091       Zimbabwe               India  22701.0     Afriex Ltd
5092       Zimbabwe        South Africa  17959.0     Afriex Ltd
5093       Zimbabwe         Netherlands  13910.0     Afriex Ltd
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Afriex Ltd
13          Albania               Kenya  24127.0     Afriex Ltd
14          Albania              France  22272.0     Afriex Ltd
15          Albania               Spain  20066.0     Afriex Ltd
16          Albania            Portugal  15137.0     Afriex Ltd

[1193 rows x 4 columns]
Filtered top rows for Afriex Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Afriex Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Afro International Foreign Exchange Bureau Limited...
Top rows for Afro International Foreign Exchange Bureau Limited:
      source_country destination_country      gsv                                     source_partner
0     Åland Islands            Viet Nam  85001.0  Afro International Foreign Exchange Bureau Lim...
1     Åland Islands               Kenya  15868.0  Afro International Foreign Exchange Bureau Lim...
5091       Zimbabwe               India  22701.0  Afro International Foreign Exchange Bureau Lim...
5092       Zimbabwe        South Africa  17959.0  Afro International Foreign Exchange Bureau Lim...
5093       Zimbabwe         Netherlands  13910.0  Afro International Foreign Exchange Bureau Lim...
...             ...                 ...      ...                                                ...
12          Albania            Viet Nam  40428.0  Afro International Foreign Exchange Bureau Lim...
13          Albania               Kenya  24127.0  Afro International Foreign Exchange Bureau Lim...
14          Albania              France  22272.0  Afro International Foreign Exchange Bureau Lim...
15          Albania               Spain  20066.0  Afro International Foreign Exchange Bureau Lim...
16          Albania            Portugal  15137.0  Afro International Foreign Exchange Bureau Lim...

[1193 rows x 4 columns]
Filtered top rows for Afro International Foreign Exchange Bureau Limited:
      source_country destination_country       gsv                                     source_partner
3915   Sierra Leone               India  208035.0  Afro International Foreign Exchange Bureau Lim...
3916   Sierra Leone          Bangladesh   50941.0  Afro International Foreign Exchange Bureau Lim...
3917   Sierra Leone               Italy   47177.0  Afro International Foreign Exchange Bureau Lim...
3918   Sierra Leone             Germany   35357.0  Afro International Foreign Exchange Bureau Lim...
3919   Sierra Leone               Ghana   30603.0  Afro International Foreign Exchange Bureau Lim...
3920   Sierra Leone            Viet Nam   11872.0  Afro International Foreign Exchange Bureau Lim...
Updated Merged Results with Regional Director and Partner Gsv for Afro International Foreign Exchange Bureau Limited:
                                       source_partner source_country destination_country       gsv Partner_Gsv existing/new regional_director
0  Afro International Foreign Exchange Bureau Lim...   Sierra Leone          Bangladesh   50941.0        <NA>          NEW           Mamadou
1  Afro International Foreign Exchange Bureau Lim...   Sierra Leone             Germany   35357.0        <NA>          NEW           Mamadou
2  Afro International Foreign Exchange Bureau Lim...   Sierra Leone               Ghana   30603.0     24089.0     EXISTING           Mamadou
3  Afro International Foreign Exchange Bureau Lim...   Sierra Leone               India  208035.0     26440.0     EXISTING           Mamadou
4  Afro International Foreign Exchange Bureau Lim...   Sierra Leone               Italy   47177.0        14.0     EXISTING           Mamadou
5  Afro International Foreign Exchange Bureau Lim...   Sierra Leone            Viet Nam   11872.0        <NA>          NEW           Mamadou

Processing for Aftab Currency Exchange Limited...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for Aftab Currency Exchange Limited:
      source_country destination_country      gsv                   source_partner
0     Åland Islands            Viet Nam  85001.0  Aftab Currency Exchange Limited
1     Åland Islands               Kenya  15868.0  Aftab Currency Exchange Limited
5091       Zimbabwe               India  22701.0  Aftab Currency Exchange Limited
5092       Zimbabwe        South Africa  17959.0  Aftab Currency Exchange Limited
5093       Zimbabwe         Netherlands  13910.0  Aftab Currency Exchange Limited
...             ...                 ...      ...                              ...
12          Albania            Viet Nam  40428.0  Aftab Currency Exchange Limited
13          Albania               Kenya  24127.0  Aftab Currency Exchange Limited
14          Albania              France  22272.0  Aftab Currency Exchange Limited
15          Albania               Spain  20066.0  Aftab Currency Exchange Limited
16          Albania            Portugal  15137.0  Aftab Currency Exchange Limited

[1193 rows x 4 columns]
Filtered top rows for Aftab Currency Exchange Limited:
       source_country destination_country          gsv                   source_partner
4724  United Kingdom               India  722564261.0  Aftab Currency Exchange Limited
4725  United Kingdom               Kenya  372996239.0  Aftab Currency Exchange Limited
4726  United Kingdom          Bangladesh  222801157.0  Aftab Currency Exchange Limited
4727  United Kingdom               Ghana  184628486.0  Aftab Currency Exchange Limited
4729  United Kingdom              Uganda  151640757.0  Aftab Currency Exchange Limited
...              ...                 ...          ...                              ...
1142         Denmark           Lithuania    1502842.0  Aftab Currency Exchange Limited
1143         Denmark            Tanzania    1353769.0  Aftab Currency Exchange Limited
1144         Denmark         Philippines    1284717.0  Aftab Currency Exchange Limited
1145         Denmark               Spain    1177926.0  Aftab Currency Exchange Limited
1146         Denmark             Germany     864977.0  Aftab Currency Exchange Limited

[90 rows x 4 columns]
Updated Merged Results with Regional Director and Partner Gsv for Aftab Currency Exchange Limited:
                      source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   Aftab Currency Exchange Limited         Denmark             Germany     864977.0        <NA>          NEW            Viktor
1   Aftab Currency Exchange Limited         Denmark               Ghana    2567470.0        <NA>          NEW            Viktor
2   Aftab Currency Exchange Limited         Denmark               India    3569341.0        <NA>          NEW            Viktor
3   Aftab Currency Exchange Limited         Denmark               Kenya    2760083.0        <NA>          NEW            Viktor
4   Aftab Currency Exchange Limited         Denmark           Lithuania    1502842.0        <NA>          NEW            Viktor
..                              ...             ...                 ...          ...         ...          ...               ...
85  Aftab Currency Exchange Limited  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
86  Aftab Currency Exchange Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
87  Aftab Currency Exchange Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
88  Aftab Currency Exchange Limited  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
89  Aftab Currency Exchange Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

[90 rows x 7 columns]

Processing for Airtel UG...
Top rows for Airtel UG:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Airtel UG
1     Åland Islands               Kenya  15868.0      Airtel UG
5091       Zimbabwe               India  22701.0      Airtel UG
5092       Zimbabwe        South Africa  17959.0      Airtel UG
5093       Zimbabwe         Netherlands  13910.0      Airtel UG
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Airtel UG
13          Albania               Kenya  24127.0      Airtel UG
14          Albania              France  22272.0      Airtel UG
15          Albania               Spain  20066.0      Airtel UG
16          Albania            Portugal  15137.0      Airtel UG

[1193 rows x 4 columns]
Filtered top rows for Airtel UG:
      source_country destination_country         gsv source_partner
4583         Uganda               India  16981444.0      Airtel UG
4585         Uganda               Kenya   3799189.0      Airtel UG
4586         Uganda      United Kingdom    852862.0      Airtel UG
4587         Uganda              Canada    103644.0      Airtel UG
4588         Uganda          Bangladesh     97875.0      Airtel UG
4589         Uganda             Belgium     96208.0      Airtel UG
4590         Uganda            Tanzania     81093.0      Airtel UG
4591         Uganda             Germany     75032.0      Airtel UG
4592         Uganda               Spain     58319.0      Airtel UG
4593         Uganda         Netherlands     44794.0      Airtel UG
Updated Merged Results with Regional Director and Partner Gsv for Airtel UG:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0      Airtel UG         Uganda          Bangladesh     97875.0        <NA>          NEW            Willie
1      Airtel UG         Uganda             Belgium     96208.0        <NA>          NEW            Willie
2      Airtel UG         Uganda              Canada    103644.0        <NA>          NEW            Willie
3      Airtel UG         Uganda             Germany     75032.0        <NA>          NEW            Willie
4      Airtel UG         Uganda               India  16981444.0        <NA>          NEW            Willie
5      Airtel UG         Uganda               Kenya   3799189.0   3433129.0     EXISTING            Willie
6      Airtel UG         Uganda         Netherlands     44794.0        <NA>          NEW            Willie
7      Airtel UG         Uganda               Spain     58319.0        <NA>          NEW            Willie
8      Airtel UG         Uganda            Tanzania     81093.0        <NA>          NEW            Willie
9      Airtel UG         Uganda      United Kingdom    852862.0        <NA>          NEW            Willie

Processing for Akbar Money...
Top rows for Akbar Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    Akbar Money
1     Åland Islands               Kenya  15868.0    Akbar Money
5091       Zimbabwe               India  22701.0    Akbar Money
5092       Zimbabwe        South Africa  17959.0    Akbar Money
5093       Zimbabwe         Netherlands  13910.0    Akbar Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    Akbar Money
13          Albania               Kenya  24127.0    Akbar Money
14          Albania              France  22272.0    Akbar Money
15          Albania               Spain  20066.0    Akbar Money
16          Albania            Portugal  15137.0    Akbar Money

[1193 rows x 4 columns]
Filtered top rows for Akbar Money:
      source_country destination_country          gsv source_partner
2747       Malaysia          Bangladesh  127020237.0    Akbar Money
2748       Malaysia               India   18147705.0    Akbar Money
2749       Malaysia            Viet Nam   17636102.0    Akbar Money
2750       Malaysia         Philippines   13187307.0    Akbar Money
2751       Malaysia           Indonesia    7123704.0    Akbar Money
2752       Malaysia               Kenya    2381057.0    Akbar Money
2753       Malaysia               Ghana    1126550.0    Akbar Money
2754       Malaysia              Uganda     896036.0    Akbar Money
2755       Malaysia      United Kingdom     654328.0    Akbar Money
2756       Malaysia             Germany     523692.0    Akbar Money

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Akbar Money:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    Akbar Money       Malaysia          Bangladesh  127020237.0        12.0     EXISTING            Sukesh
1    Akbar Money       Malaysia             Germany     523692.0        <NA>          NEW            Sukesh
2    Akbar Money       Malaysia               Ghana    1126550.0        <NA>          NEW            Sukesh
3    Akbar Money       Malaysia               India   18147705.0         5.0     EXISTING            Sukesh
4    Akbar Money       Malaysia           Indonesia    7123704.0   7090233.0     EXISTING            Sukesh
5    Akbar Money       Malaysia               Kenya    2381057.0        <NA>          NEW            Sukesh
6    Akbar Money       Malaysia         Philippines   13187307.0         1.0     EXISTING            Sukesh
7    Akbar Money       Malaysia              Uganda     896036.0        <NA>          NEW            Sukesh
8    Akbar Money       Malaysia      United Kingdom     654328.0        <NA>          NEW            Sukesh
9    Akbar Money       Malaysia            Viet Nam   17636102.0        <NA>          NEW            Sukesh

Processing for Al Ansari Exchange...
Top rows for Al Ansari Exchange:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Al Ansari Exchange
1     Åland Islands               Kenya  15868.0  Al Ansari Exchange
5091       Zimbabwe               India  22701.0  Al Ansari Exchange
5092       Zimbabwe        South Africa  17959.0  Al Ansari Exchange
5093       Zimbabwe         Netherlands  13910.0  Al Ansari Exchange
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Al Ansari Exchange
13          Albania               Kenya  24127.0  Al Ansari Exchange
14          Albania              France  22272.0  Al Ansari Exchange
15          Albania               Spain  20066.0  Al Ansari Exchange
16          Albania            Portugal  15137.0  Al Ansari Exchange

[1193 rows x 4 columns]
Filtered top rows for Al Ansari Exchange:
      source_country destination_country         gsv      source_partner
2422         Kuwait          Bangladesh  60585189.0  Al Ansari Exchange
2423         Kuwait               Ghana  37199718.0  Al Ansari Exchange
2424         Kuwait         Philippines  37163503.0  Al Ansari Exchange
2425         Kuwait               Benin  34784875.0  Al Ansari Exchange
2426         Kuwait               Kenya  25964237.0  Al Ansari Exchange
2427         Kuwait               India  21755223.0  Al Ansari Exchange
2428         Kuwait              Uganda  12470721.0  Al Ansari Exchange
2429         Kuwait            Thailand   6586277.0  Al Ansari Exchange
2430         Kuwait            Pakistan   5999904.0  Al Ansari Exchange
2431         Kuwait                Mali   5920978.0  Al Ansari Exchange
Updated Merged Results with Regional Director and Partner Gsv for Al Ansari Exchange:
        source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Al Ansari Exchange         Kuwait          Bangladesh  60585189.0  10082666.0     EXISTING            Bassem
1  Al Ansari Exchange         Kuwait               Benin  34784875.0     20073.0     EXISTING            Bassem
2  Al Ansari Exchange         Kuwait               Ghana  37199718.0   1665907.0     EXISTING            Bassem
3  Al Ansari Exchange         Kuwait               India  21755223.0        <NA>          NEW            Bassem
4  Al Ansari Exchange         Kuwait               Kenya  25964237.0    686574.0     EXISTING            Bassem
5  Al Ansari Exchange         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  Al Ansari Exchange         Kuwait            Pakistan   5999904.0   1512756.0     EXISTING            Bassem
7  Al Ansari Exchange         Kuwait         Philippines  37163503.0    622707.0     EXISTING            Bassem
8  Al Ansari Exchange         Kuwait            Thailand   6586277.0        <NA>          NEW            Bassem
9  Al Ansari Exchange         Kuwait              Uganda  12470721.0     41833.0     EXISTING            Bassem

Processing for Alawneh Exchange...
Top rows for Alawneh Exchange:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Alawneh Exchange
1     Åland Islands               Kenya  15868.0  Alawneh Exchange
5091       Zimbabwe               India  22701.0  Alawneh Exchange
5092       Zimbabwe        South Africa  17959.0  Alawneh Exchange
5093       Zimbabwe         Netherlands  13910.0  Alawneh Exchange
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Alawneh Exchange
13          Albania               Kenya  24127.0  Alawneh Exchange
14          Albania              France  22272.0  Alawneh Exchange
15          Albania               Spain  20066.0  Alawneh Exchange
16          Albania            Portugal  15137.0  Alawneh Exchange

[1193 rows x 4 columns]
Filtered top rows for Alawneh Exchange:
      source_country destination_country        gsv    source_partner
2198         Jordan          Bangladesh  7347374.0  Alawneh Exchange
2199         Jordan         Philippines  7252997.0  Alawneh Exchange
2200         Jordan      United Kingdom   310273.0  Alawneh Exchange
2201         Jordan              Uganda   294838.0  Alawneh Exchange
2202         Jordan            Malaysia   202859.0  Alawneh Exchange
2203         Jordan               Ghana   175038.0  Alawneh Exchange
2204         Jordan               Egypt   135745.0  Alawneh Exchange
2205         Jordan             Germany   133658.0  Alawneh Exchange
2206         Jordan            Thailand   132574.0  Alawneh Exchange
2207         Jordan               India   102340.0  Alawneh Exchange

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Alawneh Exchange:
      source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Alawneh Exchange         Jordan          Bangladesh  7347374.0        <NA>          NEW            Bassem
1  Alawneh Exchange         Jordan               Egypt   135745.0         2.0     EXISTING            Bassem
2  Alawneh Exchange         Jordan             Germany   133658.0         4.0     EXISTING            Bassem
3  Alawneh Exchange         Jordan               Ghana   175038.0        <NA>          NEW            Bassem
4  Alawneh Exchange         Jordan               India   102340.0         1.0     EXISTING            Bassem
5  Alawneh Exchange         Jordan            Malaysia   202859.0        <NA>          NEW            Bassem
6  Alawneh Exchange         Jordan         Philippines  7252997.0        <NA>          NEW            Bassem
7  Alawneh Exchange         Jordan            Thailand   132574.0        <NA>          NEW            Bassem
8  Alawneh Exchange         Jordan              Uganda   294838.0        <NA>          NEW            Bassem
9  Alawneh Exchange         Jordan      United Kingdom   310273.0     70120.0     EXISTING            Bassem

Processing for Aldar...
Top rows for Aldar:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Aldar
1     Åland Islands               Kenya  15868.0          Aldar
5091       Zimbabwe               India  22701.0          Aldar
5092       Zimbabwe        South Africa  17959.0          Aldar
5093       Zimbabwe         Netherlands  13910.0          Aldar
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Aldar
13          Albania               Kenya  24127.0          Aldar
14          Albania              France  22272.0          Aldar
15          Albania               Spain  20066.0          Aldar
16          Albania            Portugal  15137.0          Aldar

[1193 rows x 4 columns]
Filtered top rows for Aldar:
      source_country destination_country           gsv source_partner
3570          Qatar               India  1364429345.0          Aldar
3571          Qatar               Kenya   199406963.0          Aldar
3572          Qatar          Bangladesh   191208238.0          Aldar
3573          Qatar              Uganda   100836860.0          Aldar
3574          Qatar            Malaysia    80500570.0          Aldar
3575          Qatar               Ghana    74195942.0          Aldar
3576          Qatar         Philippines    45528278.0          Aldar
3577          Qatar            Thailand    17414674.0          Aldar
3578          Qatar             Nigeria     8543471.0          Aldar
3579          Qatar               Nepal     7123914.0          Aldar
Updated Merged Results with Regional Director and Partner Gsv for Aldar:
   source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0          Aldar          Qatar          Bangladesh   191208238.0  23652508.0     EXISTING            Bassem
1          Aldar          Qatar               Ghana    74195942.0  14794032.0     EXISTING            Bassem
2          Aldar          Qatar               India  1364429345.0         5.0     EXISTING            Bassem
3          Aldar          Qatar               Kenya   199406963.0  71929182.0     EXISTING            Bassem
4          Aldar          Qatar            Malaysia    80500570.0    573942.0     EXISTING            Bassem
5          Aldar          Qatar               Nepal     7123914.0   1607244.0     EXISTING            Bassem
6          Aldar          Qatar             Nigeria     8543471.0     73752.0     EXISTING            Bassem
7          Aldar          Qatar         Philippines    45528278.0         2.0     EXISTING            Bassem
8          Aldar          Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
9          Aldar          Qatar              Uganda   100836860.0  19875443.0     EXISTING            Bassem

Processing for AL FARDAN EXCHANGE LLC...
Top rows for AL FARDAN EXCHANGE LLC:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  AL FARDAN EXCHANGE LLC
1     Åland Islands               Kenya  15868.0  AL FARDAN EXCHANGE LLC
5091       Zimbabwe               India  22701.0  AL FARDAN EXCHANGE LLC
5092       Zimbabwe        South Africa  17959.0  AL FARDAN EXCHANGE LLC
5093       Zimbabwe         Netherlands  13910.0  AL FARDAN EXCHANGE LLC
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  AL FARDAN EXCHANGE LLC
13          Albania               Kenya  24127.0  AL FARDAN EXCHANGE LLC
14          Albania              France  22272.0  AL FARDAN EXCHANGE LLC
15          Albania               Spain  20066.0  AL FARDAN EXCHANGE LLC
16          Albania            Portugal  15137.0  AL FARDAN EXCHANGE LLC

[1193 rows x 4 columns]
Filtered top rows for AL FARDAN EXCHANGE LLC:
      source_country destination_country           gsv          source_partner
3570          Qatar               India  1364429345.0  AL FARDAN EXCHANGE LLC
3571          Qatar               Kenya   199406963.0  AL FARDAN EXCHANGE LLC
3572          Qatar          Bangladesh   191208238.0  AL FARDAN EXCHANGE LLC
3573          Qatar              Uganda   100836860.0  AL FARDAN EXCHANGE LLC
3574          Qatar            Malaysia    80500570.0  AL FARDAN EXCHANGE LLC
3575          Qatar               Ghana    74195942.0  AL FARDAN EXCHANGE LLC
3576          Qatar         Philippines    45528278.0  AL FARDAN EXCHANGE LLC
3577          Qatar            Thailand    17414674.0  AL FARDAN EXCHANGE LLC
3578          Qatar             Nigeria     8543471.0  AL FARDAN EXCHANGE LLC
3579          Qatar               Nepal     7123914.0  AL FARDAN EXCHANGE LLC
Updated Merged Results with Regional Director and Partner Gsv for AL FARDAN EXCHANGE LLC:
            source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  AL FARDAN EXCHANGE LLC          Qatar          Bangladesh   191208238.0         5.0     EXISTING            Bassem
1  AL FARDAN EXCHANGE LLC          Qatar               Ghana    74195942.0         0.0     EXISTING            Bassem
2  AL FARDAN EXCHANGE LLC          Qatar               India  1364429345.0         3.0     EXISTING            Bassem
3  AL FARDAN EXCHANGE LLC          Qatar               Kenya   199406963.0        <NA>          NEW            Bassem
4  AL FARDAN EXCHANGE LLC          Qatar            Malaysia    80500570.0         2.0     EXISTING            Bassem
5  AL FARDAN EXCHANGE LLC          Qatar               Nepal     7123914.0         2.0     EXISTING            Bassem
6  AL FARDAN EXCHANGE LLC          Qatar             Nigeria     8543471.0        <NA>          NEW            Bassem
7  AL FARDAN EXCHANGE LLC          Qatar         Philippines    45528278.0         3.0     EXISTING            Bassem
8  AL FARDAN EXCHANGE LLC          Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
9  AL FARDAN EXCHANGE LLC          Qatar              Uganda   100836860.0     20703.0     EXISTING            Bassem

Processing for AL JAZEERA EXCHANGE...
Top rows for AL JAZEERA EXCHANGE:
      source_country destination_country      gsv       source_partner
0     Åland Islands            Viet Nam  85001.0  AL JAZEERA EXCHANGE
1     Åland Islands               Kenya  15868.0  AL JAZEERA EXCHANGE
5091       Zimbabwe               India  22701.0  AL JAZEERA EXCHANGE
5092       Zimbabwe        South Africa  17959.0  AL JAZEERA EXCHANGE
5093       Zimbabwe         Netherlands  13910.0  AL JAZEERA EXCHANGE
...             ...                 ...      ...                  ...
12          Albania            Viet Nam  40428.0  AL JAZEERA EXCHANGE
13          Albania               Kenya  24127.0  AL JAZEERA EXCHANGE
14          Albania              France  22272.0  AL JAZEERA EXCHANGE
15          Albania               Spain  20066.0  AL JAZEERA EXCHANGE
16          Albania            Portugal  15137.0  AL JAZEERA EXCHANGE

[1193 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Filtered top rows for AL JAZEERA EXCHANGE:
      source_country destination_country           gsv       source_partner
3570          Qatar               India  1364429345.0  AL JAZEERA EXCHANGE
3571          Qatar               Kenya   199406963.0  AL JAZEERA EXCHANGE
3572          Qatar          Bangladesh   191208238.0  AL JAZEERA EXCHANGE
3573          Qatar              Uganda   100836860.0  AL JAZEERA EXCHANGE
3574          Qatar            Malaysia    80500570.0  AL JAZEERA EXCHANGE
3575          Qatar               Ghana    74195942.0  AL JAZEERA EXCHANGE
3576          Qatar         Philippines    45528278.0  AL JAZEERA EXCHANGE
3577          Qatar            Thailand    17414674.0  AL JAZEERA EXCHANGE
3578          Qatar             Nigeria     8543471.0  AL JAZEERA EXCHANGE
3579          Qatar               Nepal     7123914.0  AL JAZEERA EXCHANGE
Updated Merged Results with Regional Director and Partner Gsv for AL JAZEERA EXCHANGE:
         source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  AL JAZEERA EXCHANGE          Qatar          Bangladesh   191208238.0   4966926.0     EXISTING            Bassem
1  AL JAZEERA EXCHANGE          Qatar               Ghana    74195942.0        12.0     EXISTING            Bassem
2  AL JAZEERA EXCHANGE          Qatar               India  1364429345.0    264181.0     EXISTING            Bassem
3  AL JAZEERA EXCHANGE          Qatar               Kenya   199406963.0     11302.0     EXISTING            Bassem
4  AL JAZEERA EXCHANGE          Qatar            Malaysia    80500570.0        <NA>          NEW            Bassem
5  AL JAZEERA EXCHANGE          Qatar               Nepal     7123914.0   3061942.0     EXISTING            Bassem
6  AL JAZEERA EXCHANGE          Qatar             Nigeria     8543471.0         0.0     EXISTING            Bassem
7  AL JAZEERA EXCHANGE          Qatar         Philippines    45528278.0     32499.0     EXISTING            Bassem
8  AL JAZEERA EXCHANGE          Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
9  AL JAZEERA EXCHANGE          Qatar              Uganda   100836860.0         5.0     EXISTING            Bassem

Processing for Al Malik AlDahery Exchange...
Top rows for Al Malik AlDahery Exchange:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Al Malik AlDahery Exchange
1     Åland Islands               Kenya  15868.0  Al Malik AlDahery Exchange
5091       Zimbabwe               India  22701.0  Al Malik AlDahery Exchange
5092       Zimbabwe        South Africa  17959.0  Al Malik AlDahery Exchange
5093       Zimbabwe         Netherlands  13910.0  Al Malik AlDahery Exchange
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Al Malik AlDahery Exchange
13          Albania               Kenya  24127.0  Al Malik AlDahery Exchange
14          Albania              France  22272.0  Al Malik AlDahery Exchange
15          Albania               Spain  20066.0  Al Malik AlDahery Exchange
16          Albania            Portugal  15137.0  Al Malik AlDahery Exchange

[1193 rows x 4 columns]
Filtered top rows for Al Malik AlDahery Exchange:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Al Malik AlDahery Exchange:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for AL Mulla Exchange...
Top rows for AL Mulla Exchange:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  AL Mulla Exchange
1     Åland Islands               Kenya  15868.0  AL Mulla Exchange
5091       Zimbabwe               India  22701.0  AL Mulla Exchange
5092       Zimbabwe        South Africa  17959.0  AL Mulla Exchange
5093       Zimbabwe         Netherlands  13910.0  AL Mulla Exchange
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  AL Mulla Exchange
13          Albania               Kenya  24127.0  AL Mulla Exchange
14          Albania              France  22272.0  AL Mulla Exchange
15          Albania               Spain  20066.0  AL Mulla Exchange
16          Albania            Portugal  15137.0  AL Mulla Exchange

[1193 rows x 4 columns]
Filtered top rows for AL Mulla Exchange:
      source_country destination_country         gsv     source_partner
2422         Kuwait          Bangladesh  60585189.0  AL Mulla Exchange
2423         Kuwait               Ghana  37199718.0  AL Mulla Exchange
2424         Kuwait         Philippines  37163503.0  AL Mulla Exchange
2425         Kuwait               Benin  34784875.0  AL Mulla Exchange
2426         Kuwait               Kenya  25964237.0  AL Mulla Exchange
2427         Kuwait               India  21755223.0  AL Mulla Exchange
2428         Kuwait              Uganda  12470721.0  AL Mulla Exchange
2429         Kuwait            Thailand   6586277.0  AL Mulla Exchange
2430         Kuwait            Pakistan   5999904.0  AL Mulla Exchange
2431         Kuwait                Mali   5920978.0  AL Mulla Exchange

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for AL Mulla Exchange:
       source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  AL Mulla Exchange         Kuwait          Bangladesh  60585189.0    724325.0     EXISTING            Bassem
1  AL Mulla Exchange         Kuwait               Benin  34784875.0  27460329.0     EXISTING            Bassem
2  AL Mulla Exchange         Kuwait               Ghana  37199718.0  20636943.0     EXISTING            Bassem
3  AL Mulla Exchange         Kuwait               India  21755223.0        <NA>          NEW            Bassem
4  AL Mulla Exchange         Kuwait               Kenya  25964237.0   9290558.0     EXISTING            Bassem
5  AL Mulla Exchange         Kuwait                Mali   5920978.0   4481892.0     EXISTING            Bassem
6  AL Mulla Exchange         Kuwait            Pakistan   5999904.0        <NA>          NEW            Bassem
7  AL Mulla Exchange         Kuwait         Philippines  37163503.0    412742.0     EXISTING            Bassem
8  AL Mulla Exchange         Kuwait            Thailand   6586277.0   5870875.0     EXISTING            Bassem
9  AL Mulla Exchange         Kuwait              Uganda  12470721.0   6520258.0     EXISTING            Bassem

Processing for Al Nada International Exchange...
Top rows for Al Nada International Exchange:
      source_country destination_country      gsv                  source_partner
0     Åland Islands            Viet Nam  85001.0  Al Nada International Exchange
1     Åland Islands               Kenya  15868.0  Al Nada International Exchange
5091       Zimbabwe               India  22701.0  Al Nada International Exchange
5092       Zimbabwe        South Africa  17959.0  Al Nada International Exchange
5093       Zimbabwe         Netherlands  13910.0  Al Nada International Exchange
...             ...                 ...      ...                             ...
12          Albania            Viet Nam  40428.0  Al Nada International Exchange
13          Albania               Kenya  24127.0  Al Nada International Exchange
14          Albania              France  22272.0  Al Nada International Exchange
15          Albania               Spain  20066.0  Al Nada International Exchange
16          Albania            Portugal  15137.0  Al Nada International Exchange

[1193 rows x 4 columns]
Filtered top rows for Al Nada International Exchange:
      source_country destination_country         gsv                  source_partner
2422         Kuwait          Bangladesh  60585189.0  Al Nada International Exchange
2423         Kuwait               Ghana  37199718.0  Al Nada International Exchange
2424         Kuwait         Philippines  37163503.0  Al Nada International Exchange
2425         Kuwait               Benin  34784875.0  Al Nada International Exchange
2426         Kuwait               Kenya  25964237.0  Al Nada International Exchange
2427         Kuwait               India  21755223.0  Al Nada International Exchange
2428         Kuwait              Uganda  12470721.0  Al Nada International Exchange
2429         Kuwait            Thailand   6586277.0  Al Nada International Exchange
2430         Kuwait            Pakistan   5999904.0  Al Nada International Exchange
2431         Kuwait                Mali   5920978.0  Al Nada International Exchange
Updated Merged Results with Regional Director and Partner Gsv for Al Nada International Exchange:
                    source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Al Nada International Exchange         Kuwait          Bangladesh  60585189.0   5211127.0     EXISTING            Bassem
1  Al Nada International Exchange         Kuwait               Benin  34784875.0    228865.0     EXISTING            Bassem
2  Al Nada International Exchange         Kuwait               Ghana  37199718.0    132964.0     EXISTING            Bassem
3  Al Nada International Exchange         Kuwait               India  21755223.0    260453.0     EXISTING            Bassem
4  Al Nada International Exchange         Kuwait               Kenya  25964237.0     38278.0     EXISTING            Bassem
5  Al Nada International Exchange         Kuwait                Mali   5920978.0     96930.0     EXISTING            Bassem
6  Al Nada International Exchange         Kuwait            Pakistan   5999904.0   1758080.0     EXISTING            Bassem
7  Al Nada International Exchange         Kuwait         Philippines  37163503.0  11094390.0     EXISTING            Bassem
8  Al Nada International Exchange         Kuwait            Thailand   6586277.0      1820.0     EXISTING            Bassem
9  Al Nada International Exchange         Kuwait              Uganda  12470721.0    458091.0     EXISTING            Bassem

Processing for Al Noaman Exchange Company...
Top rows for Al Noaman Exchange Company:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Al Noaman Exchange Company
1     Åland Islands               Kenya  15868.0  Al Noaman Exchange Company
5091       Zimbabwe               India  22701.0  Al Noaman Exchange Company
5092       Zimbabwe        South Africa  17959.0  Al Noaman Exchange Company
5093       Zimbabwe         Netherlands  13910.0  Al Noaman Exchange Company
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Al Noaman Exchange Company
13          Albania               Kenya  24127.0  Al Noaman Exchange Company
14          Albania              France  22272.0  Al Noaman Exchange Company
15          Albania               Spain  20066.0  Al Noaman Exchange Company
16          Albania            Portugal  15137.0  Al Noaman Exchange Company

[1193 rows x 4 columns]
Filtered top rows for Al Noaman Exchange Company:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Al Noaman Exchange Company:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Alpha Fortress Ltd...
Top rows for Alpha Fortress Ltd:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Alpha Fortress Ltd
1     Åland Islands               Kenya  15868.0  Alpha Fortress Ltd
5091       Zimbabwe               India  22701.0  Alpha Fortress Ltd
5092       Zimbabwe        South Africa  17959.0  Alpha Fortress Ltd
5093       Zimbabwe         Netherlands  13910.0  Alpha Fortress Ltd
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Alpha Fortress Ltd
13          Albania               Kenya  24127.0  Alpha Fortress Ltd
14          Albania              France  22272.0  Alpha Fortress Ltd
15          Albania               Spain  20066.0  Alpha Fortress Ltd
16          Albania            Portugal  15137.0  Alpha Fortress Ltd

[1193 rows x 4 columns]
Filtered top rows for Alpha Fortress Ltd:
     source_country destination_country          gsv      source_partner
748         Canada               India  211296069.0  Alpha Fortress Ltd
749         Canada         Philippines   57990615.0  Alpha Fortress Ltd
750         Canada               Ghana   57154456.0  Alpha Fortress Ltd
751         Canada            Viet Nam   37930649.0  Alpha Fortress Ltd
752         Canada               Kenya   29951383.0  Alpha Fortress Ltd
753         Canada              Uganda   27682200.0  Alpha Fortress Ltd
754         Canada               Benin   22477592.0  Alpha Fortress Ltd
755         Canada          Bangladesh   19317938.0  Alpha Fortress Ltd
756         Canada            Cameroon   18872246.0  Alpha Fortress Ltd
757         Canada            Tanzania   18091580.0  Alpha Fortress Ltd

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Alpha Fortress Ltd:
        source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Alpha Fortress Ltd         Canada          Bangladesh   19317938.0         3.0     EXISTING            Philip
1  Alpha Fortress Ltd         Canada               Benin   22477592.0        <NA>          NEW            Philip
2  Alpha Fortress Ltd         Canada            Cameroon   18872246.0        <NA>          NEW            Philip
3  Alpha Fortress Ltd         Canada               Ghana   57154456.0        <NA>          NEW            Philip
4  Alpha Fortress Ltd         Canada               India  211296069.0    152801.0     EXISTING            Philip
5  Alpha Fortress Ltd         Canada               Kenya   29951383.0        <NA>          NEW            Philip
6  Alpha Fortress Ltd         Canada         Philippines   57990615.0        <NA>          NEW            Philip
7  Alpha Fortress Ltd         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8  Alpha Fortress Ltd         Canada              Uganda   27682200.0        <NA>          NEW            Philip
9  Alpha Fortress Ltd         Canada            Viet Nam   37930649.0         6.0     EXISTING            Philip

Processing for Al Razouki International Exchange Co LLC...
Top rows for Al Razouki International Exchange Co LLC:
      source_country destination_country      gsv                            source_partner
0     Åland Islands            Viet Nam  85001.0  Al Razouki International Exchange Co LLC
1     Åland Islands               Kenya  15868.0  Al Razouki International Exchange Co LLC
5091       Zimbabwe               India  22701.0  Al Razouki International Exchange Co LLC
5092       Zimbabwe        South Africa  17959.0  Al Razouki International Exchange Co LLC
5093       Zimbabwe         Netherlands  13910.0  Al Razouki International Exchange Co LLC
...             ...                 ...      ...                                       ...
12          Albania            Viet Nam  40428.0  Al Razouki International Exchange Co LLC
13          Albania               Kenya  24127.0  Al Razouki International Exchange Co LLC
14          Albania              France  22272.0  Al Razouki International Exchange Co LLC
15          Albania               Spain  20066.0  Al Razouki International Exchange Co LLC
16          Albania            Portugal  15137.0  Al Razouki International Exchange Co LLC

[1193 rows x 4 columns]
Filtered top rows for Al Razouki International Exchange Co LLC:
             source_country destination_country          gsv                            source_partner
4639  United Arab Emirates               India  248146952.0  Al Razouki International Exchange Co LLC
4640  United Arab Emirates              Uganda  201261045.0  Al Razouki International Exchange Co LLC
4641  United Arab Emirates         Philippines  107484030.0  Al Razouki International Exchange Co LLC
4642  United Arab Emirates      United Kingdom   83094300.0  Al Razouki International Exchange Co LLC
4643  United Arab Emirates               Kenya   78653029.0  Al Razouki International Exchange Co LLC
4644  United Arab Emirates               Ghana   74563964.0  Al Razouki International Exchange Co LLC
4645  United Arab Emirates          Bangladesh   39836052.0  Al Razouki International Exchange Co LLC
4646  United Arab Emirates            Malaysia   28856080.0  Al Razouki International Exchange Co LLC
4647  United Arab Emirates             Germany   16482871.0  Al Razouki International Exchange Co LLC
4648  United Arab Emirates              France   15635606.0  Al Razouki International Exchange Co LLC
Updated Merged Results with Regional Director and Partner Gsv for Al Razouki International Exchange Co LLC:
                              source_partner        source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Al Razouki International Exchange Co LLC  United Arab Emirates          Bangladesh   39836052.0        <NA>          NEW            Bassem
1  Al Razouki International Exchange Co LLC  United Arab Emirates              France   15635606.0        <NA>          NEW            Bassem
2  Al Razouki International Exchange Co LLC  United Arab Emirates             Germany   16482871.0      3948.0     EXISTING            Bassem
3  Al Razouki International Exchange Co LLC  United Arab Emirates               Ghana   74563964.0        <NA>          NEW            Bassem
4  Al Razouki International Exchange Co LLC  United Arab Emirates               India  248146952.0         5.0     EXISTING            Bassem
5  Al Razouki International Exchange Co LLC  United Arab Emirates               Kenya   78653029.0        <NA>          NEW            Bassem
6  Al Razouki International Exchange Co LLC  United Arab Emirates            Malaysia   28856080.0      3403.0     EXISTING            Bassem
7  Al Razouki International Exchange Co LLC  United Arab Emirates         Philippines  107484030.0        <NA>          NEW            Bassem
8  Al Razouki International Exchange Co LLC  United Arab Emirates              Uganda  201261045.0        <NA>          NEW            Bassem
9  Al Razouki International Exchange Co LLC  United Arab Emirates      United Kingdom   83094300.0     47652.0     EXISTING            Bassem

Processing for Al-Taif Islamic Bank for Investment and Finance...
Top rows for Al-Taif Islamic Bank for Investment and Finance:
      source_country destination_country      gsv                                   source_partner
0     Åland Islands            Viet Nam  85001.0  Al-Taif Islamic Bank for Investment and Finance
1     Åland Islands               Kenya  15868.0  Al-Taif Islamic Bank for Investment and Finance
5091       Zimbabwe               India  22701.0  Al-Taif Islamic Bank for Investment and Finance
5092       Zimbabwe        South Africa  17959.0  Al-Taif Islamic Bank for Investment and Finance
5093       Zimbabwe         Netherlands  13910.0  Al-Taif Islamic Bank for Investment and Finance
...             ...                 ...      ...                                              ...
12          Albania            Viet Nam  40428.0  Al-Taif Islamic Bank for Investment and Finance
13          Albania               Kenya  24127.0  Al-Taif Islamic Bank for Investment and Finance
14          Albania              France  22272.0  Al-Taif Islamic Bank for Investment and Finance
15          Albania               Spain  20066.0  Al-Taif Islamic Bank for Investment and Finance
16          Albania            Portugal  15137.0  Al-Taif Islamic Bank for Investment and Finance

[1193 rows x 4 columns]
Filtered top rows for Al-Taif Islamic Bank for Investment and Finance:
      source_country destination_country        gsv                                   source_partner
1883           Iraq              Uganda  3793981.0  Al-Taif Islamic Bank for Investment and Finance
1884           Iraq          Bangladesh  1244243.0  Al-Taif Islamic Bank for Investment and Finance
1885           Iraq               Egypt  1197853.0  Al-Taif Islamic Bank for Investment and Finance
1886           Iraq             Germany   970511.0  Al-Taif Islamic Bank for Investment and Finance
1887           Iraq             Belgium   648242.0  Al-Taif Islamic Bank for Investment and Finance
1888           Iraq            Malaysia   553331.0  Al-Taif Islamic Bank for Investment and Finance
1889           Iraq               Spain   552536.0  Al-Taif Islamic Bank for Investment and Finance
1890           Iraq               Ghana   523910.0  Al-Taif Islamic Bank for Investment and Finance
1891           Iraq           Lithuania   373328.0  Al-Taif Islamic Bank for Investment and Finance
1892           Iraq         Netherlands   260680.0  Al-Taif Islamic Bank for Investment and Finance
Updated Merged Results with Regional Director and Partner Gsv for Al-Taif Islamic Bank for Investment and Finance:
                                     source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Al-Taif Islamic Bank for Investment and Finance           Iraq          Bangladesh  1244243.0     68320.0     EXISTING            Bassem
1  Al-Taif Islamic Bank for Investment and Finance           Iraq             Belgium   648242.0        <NA>          NEW            Bassem
2  Al-Taif Islamic Bank for Investment and Finance           Iraq               Egypt  1197853.0    729563.0     EXISTING            Bassem
3  Al-Taif Islamic Bank for Investment and Finance           Iraq             Germany   970511.0        <NA>          NEW            Bassem
4  Al-Taif Islamic Bank for Investment and Finance           Iraq               Ghana   523910.0        <NA>          NEW            Bassem
5  Al-Taif Islamic Bank for Investment and Finance           Iraq           Lithuania   373328.0        <NA>          NEW            Bassem
6  Al-Taif Islamic Bank for Investment and Finance           Iraq            Malaysia   553331.0     27338.0     EXISTING            Bassem
7  Al-Taif Islamic Bank for Investment and Finance           Iraq         Netherlands   260680.0        <NA>          NEW            Bassem
8  Al-Taif Islamic Bank for Investment and Finance           Iraq               Spain   552536.0        <NA>          NEW            Bassem
9  Al-Taif Islamic Bank for Investment and Finance           Iraq              Uganda  3793981.0     49105.0     EXISTING            Bassem

Processing for Al Zaman Exchange WLL...
Top rows for Al Zaman Exchange WLL:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  Al Zaman Exchange WLL
1     Åland Islands               Kenya  15868.0  Al Zaman Exchange WLL
5091       Zimbabwe               India  22701.0  Al Zaman Exchange WLL
5092       Zimbabwe        South Africa  17959.0  Al Zaman Exchange WLL
5093       Zimbabwe         Netherlands  13910.0  Al Zaman Exchange WLL
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  Al Zaman Exchange WLL
13          Albania               Kenya  24127.0  Al Zaman Exchange WLL
14          Albania              France  22272.0  Al Zaman Exchange WLL
15          Albania               Spain  20066.0  Al Zaman Exchange WLL
16          Albania            Portugal  15137.0  Al Zaman Exchange WLL

[1193 rows x 4 columns]
Filtered top rows for Al Zaman Exchange WLL:
      source_country destination_country           gsv         source_partner
3570          Qatar               India  1364429345.0  Al Zaman Exchange WLL
3571          Qatar               Kenya   199406963.0  Al Zaman Exchange WLL
3572          Qatar          Bangladesh   191208238.0  Al Zaman Exchange WLL
3573          Qatar              Uganda   100836860.0  Al Zaman Exchange WLL
3574          Qatar            Malaysia    80500570.0  Al Zaman Exchange WLL
3575          Qatar               Ghana    74195942.0  Al Zaman Exchange WLL
3576          Qatar         Philippines    45528278.0  Al Zaman Exchange WLL
3577          Qatar            Thailand    17414674.0  Al Zaman Exchange WLL
3578          Qatar             Nigeria     8543471.0  Al Zaman Exchange WLL
3579          Qatar               Nepal     7123914.0  Al Zaman Exchange WLL

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Al Zaman Exchange WLL:
           source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Al Zaman Exchange WLL          Qatar          Bangladesh   191208238.0     86968.0     EXISTING            Bassem
1  Al Zaman Exchange WLL          Qatar               Ghana    74195942.0        <NA>          NEW            Bassem
2  Al Zaman Exchange WLL          Qatar               India  1364429345.0   1175358.0     EXISTING            Bassem
3  Al Zaman Exchange WLL          Qatar               Kenya   199406963.0         2.0     EXISTING            Bassem
4  Al Zaman Exchange WLL          Qatar            Malaysia    80500570.0         2.0     EXISTING            Bassem
5  Al Zaman Exchange WLL          Qatar               Nepal     7123914.0    356941.0     EXISTING            Bassem
6  Al Zaman Exchange WLL          Qatar             Nigeria     8543471.0        <NA>          NEW            Bassem
7  Al Zaman Exchange WLL          Qatar         Philippines    45528278.0        <NA>          NEW            Bassem
8  Al Zaman Exchange WLL          Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
9  Al Zaman Exchange WLL          Qatar              Uganda   100836860.0      5999.0     EXISTING            Bassem

Processing for ARY Exchange Company WLL...
Top rows for ARY Exchange Company WLL:
      source_country destination_country      gsv            source_partner
0     Åland Islands            Viet Nam  85001.0  ARY Exchange Company WLL
1     Åland Islands               Kenya  15868.0  ARY Exchange Company WLL
5091       Zimbabwe               India  22701.0  ARY Exchange Company WLL
5092       Zimbabwe        South Africa  17959.0  ARY Exchange Company WLL
5093       Zimbabwe         Netherlands  13910.0  ARY Exchange Company WLL
...             ...                 ...      ...                       ...
12          Albania            Viet Nam  40428.0  ARY Exchange Company WLL
13          Albania               Kenya  24127.0  ARY Exchange Company WLL
14          Albania              France  22272.0  ARY Exchange Company WLL
15          Albania               Spain  20066.0  ARY Exchange Company WLL
16          Albania            Portugal  15137.0  ARY Exchange Company WLL

[1193 rows x 4 columns]
Filtered top rows for ARY Exchange Company WLL:
      source_country destination_country         gsv            source_partner
2422         Kuwait          Bangladesh  60585189.0  ARY Exchange Company WLL
2423         Kuwait               Ghana  37199718.0  ARY Exchange Company WLL
2424         Kuwait         Philippines  37163503.0  ARY Exchange Company WLL
2425         Kuwait               Benin  34784875.0  ARY Exchange Company WLL
2426         Kuwait               Kenya  25964237.0  ARY Exchange Company WLL
2427         Kuwait               India  21755223.0  ARY Exchange Company WLL
2428         Kuwait              Uganda  12470721.0  ARY Exchange Company WLL
2429         Kuwait            Thailand   6586277.0  ARY Exchange Company WLL
2430         Kuwait            Pakistan   5999904.0  ARY Exchange Company WLL
2431         Kuwait                Mali   5920978.0  ARY Exchange Company WLL
Updated Merged Results with Regional Director and Partner Gsv for ARY Exchange Company WLL:
              source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  ARY Exchange Company WLL         Kuwait          Bangladesh  60585189.0    592648.0     EXISTING            Bassem
1  ARY Exchange Company WLL         Kuwait               Benin  34784875.0       166.0     EXISTING            Bassem
2  ARY Exchange Company WLL         Kuwait               Ghana  37199718.0        30.0     EXISTING            Bassem
3  ARY Exchange Company WLL         Kuwait               India  21755223.0     12362.0     EXISTING            Bassem
4  ARY Exchange Company WLL         Kuwait               Kenya  25964237.0      5397.0     EXISTING            Bassem
5  ARY Exchange Company WLL         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  ARY Exchange Company WLL         Kuwait            Pakistan   5999904.0        <NA>          NEW            Bassem
7  ARY Exchange Company WLL         Kuwait         Philippines  37163503.0    135777.0     EXISTING            Bassem
8  ARY Exchange Company WLL         Kuwait            Thailand   6586277.0     12398.0     EXISTING            Bassem
9  ARY Exchange Company WLL         Kuwait              Uganda  12470721.0      1327.0     EXISTING            Bassem

Processing for ASAP ALR Test Send Partner...
Top rows for ASAP ALR Test Send Partner:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  ASAP ALR Test Send Partner
1     Åland Islands               Kenya  15868.0  ASAP ALR Test Send Partner
5091       Zimbabwe               India  22701.0  ASAP ALR Test Send Partner
5092       Zimbabwe        South Africa  17959.0  ASAP ALR Test Send Partner
5093       Zimbabwe         Netherlands  13910.0  ASAP ALR Test Send Partner
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  ASAP ALR Test Send Partner
13          Albania               Kenya  24127.0  ASAP ALR Test Send Partner
14          Albania              France  22272.0  ASAP ALR Test Send Partner
15          Albania               Spain  20066.0  ASAP ALR Test Send Partner
16          Albania            Portugal  15137.0  ASAP ALR Test Send Partner

[1193 rows x 4 columns]
Filtered top rows for ASAP ALR Test Send Partner:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for ASAP ALR Test Send Partner:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for ASAP Test Send Partner...
Top rows for ASAP Test Send Partner:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  ASAP Test Send Partner
1     Åland Islands               Kenya  15868.0  ASAP Test Send Partner
5091       Zimbabwe               India  22701.0  ASAP Test Send Partner
5092       Zimbabwe        South Africa  17959.0  ASAP Test Send Partner
5093       Zimbabwe         Netherlands  13910.0  ASAP Test Send Partner
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  ASAP Test Send Partner
13          Albania               Kenya  24127.0  ASAP Test Send Partner
14          Albania              France  22272.0  ASAP Test Send Partner
15          Albania               Spain  20066.0  ASAP Test Send Partner
16          Albania            Portugal  15137.0  ASAP Test Send Partner

[1193 rows x 4 columns]
Filtered top rows for ASAP Test Send Partner:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for ASAP Test Send Partner:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Astero Pay PTY Limited...
Top rows for Astero Pay PTY Limited:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Astero Pay PTY Limited
1     Åland Islands               Kenya  15868.0  Astero Pay PTY Limited
5091       Zimbabwe               India  22701.0  Astero Pay PTY Limited
5092       Zimbabwe        South Africa  17959.0  Astero Pay PTY Limited
5093       Zimbabwe         Netherlands  13910.0  Astero Pay PTY Limited
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Astero Pay PTY Limited
13          Albania               Kenya  24127.0  Astero Pay PTY Limited
14          Albania              France  22272.0  Astero Pay PTY Limited
15          Albania               Spain  20066.0  Astero Pay PTY Limited
16          Albania            Portugal  15137.0  Astero Pay PTY Limited

[1193 rows x 4 columns]
Filtered top rows for Astero Pay PTY Limited:
     source_country destination_country           gsv          source_partner
138      Australia               India  1271119070.0  Astero Pay PTY Limited
139      Australia               Kenya   100661663.0  Astero Pay PTY Limited
140      Australia            Viet Nam    86869347.0  Astero Pay PTY Limited
141      Australia         Philippines    51386339.0  Astero Pay PTY Limited
142      Australia      United Kingdom    46499428.0  Astero Pay PTY Limited
143      Australia            Malaysia    45569162.0  Astero Pay PTY Limited
144      Australia          Bangladesh    40785924.0  Astero Pay PTY Limited
145      Australia               Ghana    14536937.0  Astero Pay PTY Limited
146      Australia              Uganda    10896328.0  Astero Pay PTY Limited
147      Australia             Germany     9418964.0  Astero Pay PTY Limited

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Astero Pay PTY Limited:
            source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Astero Pay PTY Limited      Australia          Bangladesh    40785924.0        <NA>          NEW            Sukesh
1  Astero Pay PTY Limited      Australia             Germany     9418964.0       276.0     EXISTING            Sukesh
2  Astero Pay PTY Limited      Australia               Ghana    14536937.0        47.0     EXISTING            Sukesh
3  Astero Pay PTY Limited      Australia               India  1271119070.0    366931.0     EXISTING            Sukesh
4  Astero Pay PTY Limited      Australia               Kenya   100661663.0        10.0     EXISTING            Sukesh
5  Astero Pay PTY Limited      Australia            Malaysia    45569162.0         0.0     EXISTING            Sukesh
6  Astero Pay PTY Limited      Australia         Philippines    51386339.0       270.0     EXISTING            Sukesh
7  Astero Pay PTY Limited      Australia              Uganda    10896328.0        29.0     EXISTING            Sukesh
8  Astero Pay PTY Limited      Australia      United Kingdom    46499428.0      3610.0     EXISTING            Sukesh
9  Astero Pay PTY Limited      Australia            Viet Nam    86869347.0       109.0     EXISTING            Sukesh

Processing for AyoRemit...
Top rows for AyoRemit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       AyoRemit
1     Åland Islands               Kenya  15868.0       AyoRemit
5091       Zimbabwe               India  22701.0       AyoRemit
5092       Zimbabwe        South Africa  17959.0       AyoRemit
5093       Zimbabwe         Netherlands  13910.0       AyoRemit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       AyoRemit
13          Albania               Kenya  24127.0       AyoRemit
14          Albania              France  22272.0       AyoRemit
15          Albania               Spain  20066.0       AyoRemit
16          Albania            Portugal  15137.0       AyoRemit

[1193 rows x 4 columns]
Filtered top rows for AyoRemit:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0       AyoRemit
4725  United Kingdom               Kenya  372996239.0       AyoRemit
4726  United Kingdom          Bangladesh  222801157.0       AyoRemit
4727  United Kingdom               Ghana  184628486.0       AyoRemit
4729  United Kingdom              Uganda  151640757.0       AyoRemit
4730  United Kingdom            Viet Nam  130053730.0       AyoRemit
4731  United Kingdom         Philippines   57615497.0       AyoRemit
4732  United Kingdom            Tanzania   52293484.0       AyoRemit
4733  United Kingdom               Spain   36806984.0       AyoRemit
4734  United Kingdom            Pakistan   34877833.0       AyoRemit
Updated Merged Results with Regional Director and Partner Gsv for AyoRemit:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       AyoRemit  United Kingdom          Bangladesh  222801157.0       912.0     EXISTING            Viktor
1       AyoRemit  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2       AyoRemit  United Kingdom               India  722564261.0    941272.0     EXISTING            Viktor
3       AyoRemit  United Kingdom               Kenya  372996239.0     18259.0     EXISTING            Viktor
4       AyoRemit  United Kingdom            Pakistan   34877833.0     12110.0     EXISTING            Viktor
5       AyoRemit  United Kingdom         Philippines   57615497.0      2188.0     EXISTING            Viktor
6       AyoRemit  United Kingdom               Spain   36806984.0      8526.0     EXISTING            Viktor
7       AyoRemit  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8       AyoRemit  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9       AyoRemit  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Azimo...
Top rows for Azimo:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Azimo
1     Åland Islands               Kenya  15868.0          Azimo
5091       Zimbabwe               India  22701.0          Azimo
5092       Zimbabwe        South Africa  17959.0          Azimo
5093       Zimbabwe         Netherlands  13910.0          Azimo
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Azimo
13          Albania               Kenya  24127.0          Azimo
14          Albania              France  22272.0          Azimo
15          Albania               Spain  20066.0          Azimo
16          Albania            Portugal  15137.0          Azimo

[1193 rows x 4 columns]
Filtered top rows for Azimo:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0          Azimo
4725  United Kingdom               Kenya  372996239.0          Azimo
4726  United Kingdom          Bangladesh  222801157.0          Azimo
4727  United Kingdom               Ghana  184628486.0          Azimo
4729  United Kingdom              Uganda  151640757.0          Azimo
...              ...                 ...          ...            ...
143        Australia            Malaysia   45569162.0          Azimo
144        Australia          Bangladesh   40785924.0          Azimo
145        Australia               Ghana   14536937.0          Azimo
146        Australia              Uganda   10896328.0          Azimo
147        Australia             Germany    9418964.0          Azimo

[210 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Azimo:
     source_partner  source_country destination_country           gsv Partner_Gsv existing/new regional_director
0            Azimo       Australia          Bangladesh    40785924.0     32895.0     EXISTING            Viktor
1            Azimo       Australia             Germany     9418964.0        <NA>          NEW            Viktor
2            Azimo       Australia               Ghana    14536937.0    119411.0     EXISTING            Viktor
3            Azimo       Australia               India  1271119070.0        <NA>          NEW            Viktor
4            Azimo       Australia               Kenya   100661663.0    317761.0     EXISTING            Viktor
..             ...             ...                 ...           ...         ...          ...               ...
205          Azimo  United Kingdom         Philippines    57615497.0        <NA>          NEW            Viktor
206          Azimo  United Kingdom               Spain    36806984.0        <NA>          NEW            Viktor
207          Azimo  United Kingdom            Tanzania    52293484.0     52722.0     EXISTING            Viktor
208          Azimo  United Kingdom              Uganda   151640757.0    213343.0     EXISTING            Viktor
209          Azimo  United Kingdom            Viet Nam   130053730.0        <NA>          NEW            Viktor

[210 rows x 7 columns]

Processing for Bahrain Exchange Company WLL- Kuwait...
Top rows for Bahrain Exchange Company WLL- Kuwait:
      source_country destination_country      gsv                        source_partner
0     Åland Islands            Viet Nam  85001.0  Bahrain Exchange Company WLL- Kuwait
1     Åland Islands               Kenya  15868.0  Bahrain Exchange Company WLL- Kuwait
5091       Zimbabwe               India  22701.0  Bahrain Exchange Company WLL- Kuwait
5092       Zimbabwe        South Africa  17959.0  Bahrain Exchange Company WLL- Kuwait
5093       Zimbabwe         Netherlands  13910.0  Bahrain Exchange Company WLL- Kuwait
...             ...                 ...      ...                                   ...
12          Albania            Viet Nam  40428.0  Bahrain Exchange Company WLL- Kuwait
13          Albania               Kenya  24127.0  Bahrain Exchange Company WLL- Kuwait
14          Albania              France  22272.0  Bahrain Exchange Company WLL- Kuwait
15          Albania               Spain  20066.0  Bahrain Exchange Company WLL- Kuwait
16          Albania            Portugal  15137.0  Bahrain Exchange Company WLL- Kuwait

[1193 rows x 4 columns]
Filtered top rows for Bahrain Exchange Company WLL- Kuwait:
      source_country destination_country         gsv                        source_partner
2422         Kuwait          Bangladesh  60585189.0  Bahrain Exchange Company WLL- Kuwait
2423         Kuwait               Ghana  37199718.0  Bahrain Exchange Company WLL- Kuwait
2424         Kuwait         Philippines  37163503.0  Bahrain Exchange Company WLL- Kuwait
2425         Kuwait               Benin  34784875.0  Bahrain Exchange Company WLL- Kuwait
2426         Kuwait               Kenya  25964237.0  Bahrain Exchange Company WLL- Kuwait
2427         Kuwait               India  21755223.0  Bahrain Exchange Company WLL- Kuwait
2428         Kuwait              Uganda  12470721.0  Bahrain Exchange Company WLL- Kuwait
2429         Kuwait            Thailand   6586277.0  Bahrain Exchange Company WLL- Kuwait
2430         Kuwait            Pakistan   5999904.0  Bahrain Exchange Company WLL- Kuwait
2431         Kuwait                Mali   5920978.0  Bahrain Exchange Company WLL- Kuwait
Updated Merged Results with Regional Director and Partner Gsv for Bahrain Exchange Company WLL- Kuwait:
                          source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Bahrain Exchange Company WLL- Kuwait         Kuwait          Bangladesh  60585189.0     10774.0     EXISTING            Bassem
1  Bahrain Exchange Company WLL- Kuwait         Kuwait               Benin  34784875.0    263736.0     EXISTING            Bassem
2  Bahrain Exchange Company WLL- Kuwait         Kuwait               Ghana  37199718.0    912600.0     EXISTING            Bassem
3  Bahrain Exchange Company WLL- Kuwait         Kuwait               India  21755223.0        <NA>          NEW            Bassem
4  Bahrain Exchange Company WLL- Kuwait         Kuwait               Kenya  25964237.0     17907.0     EXISTING            Bassem
5  Bahrain Exchange Company WLL- Kuwait         Kuwait                Mali   5920978.0    550621.0     EXISTING            Bassem
6  Bahrain Exchange Company WLL- Kuwait         Kuwait            Pakistan   5999904.0        <NA>          NEW            Bassem
7  Bahrain Exchange Company WLL- Kuwait         Kuwait         Philippines  37163503.0    187597.0     EXISTING            Bassem
8  Bahrain Exchange Company WLL- Kuwait         Kuwait            Thailand   6586277.0    100498.0     EXISTING            Bassem
9  Bahrain Exchange Company WLL- Kuwait         Kuwait              Uganda  12470721.0    124896.0     EXISTING            Bassem

Processing for Bahrain India International Exchange Co....
Top rows for Bahrain India International Exchange Co.:
      source_country destination_country      gsv                            source_partner
0     Åland Islands            Viet Nam  85001.0  Bahrain India International Exchange Co.
1     Åland Islands               Kenya  15868.0  Bahrain India International Exchange Co.
5091       Zimbabwe               India  22701.0  Bahrain India International Exchange Co.
5092       Zimbabwe        South Africa  17959.0  Bahrain India International Exchange Co.
5093       Zimbabwe         Netherlands  13910.0  Bahrain India International Exchange Co.
...             ...                 ...      ...                                       ...
12          Albania            Viet Nam  40428.0  Bahrain India International Exchange Co.
13          Albania               Kenya  24127.0  Bahrain India International Exchange Co.
14          Albania              France  22272.0  Bahrain India International Exchange Co.
15          Albania               Spain  20066.0  Bahrain India International Exchange Co.
16          Albania            Portugal  15137.0  Bahrain India International Exchange Co.

[1193 rows x 4 columns]
Filtered top rows for Bahrain India International Exchange Co.:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Bahrain India International Exchange Co.:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Bananapay LLC...
Top rows for Bananapay LLC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  Bananapay LLC
1     Åland Islands               Kenya  15868.0  Bananapay LLC
5091       Zimbabwe               India  22701.0  Bananapay LLC
5092       Zimbabwe        South Africa  17959.0  Bananapay LLC
5093       Zimbabwe         Netherlands  13910.0  Bananapay LLC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  Bananapay LLC
13          Albania               Kenya  24127.0  Bananapay LLC
14          Albania              France  22272.0  Bananapay LLC
15          Albania               Spain  20066.0  Bananapay LLC
16          Albania            Portugal  15137.0  Bananapay LLC

[1193 rows x 4 columns]
Filtered top rows for Bananapay LLC:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0  Bananapay LLC
4846  United States of America               Ghana  854031550.0  Bananapay LLC
4847  United States of America             Liberia  423311206.0  Bananapay LLC
4848  United States of America            Viet Nam  299709130.0  Bananapay LLC
4849  United States of America               India  237645288.0  Bananapay LLC
4850  United States of America            Tanzania  224628683.0  Bananapay LLC
4851  United States of America          Bangladesh  207173742.0  Bananapay LLC
4852  United States of America               Kenya  193169745.0  Bananapay LLC
4853  United States of America            Cameroon  162051487.0  Bananapay LLC
4854  United States of America              Uganda  160458035.0  Bananapay LLC

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Bananapay LLC:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Bananapay LLC  United States of America          Bangladesh  207173742.0         4.0     EXISTING            Philip
1  Bananapay LLC  United States of America            Cameroon  162051487.0         2.0     EXISTING            Philip
2  Bananapay LLC  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Bananapay LLC  United States of America               India  237645288.0         3.0     EXISTING            Philip
4  Bananapay LLC  United States of America               Kenya  193169745.0         2.0     EXISTING            Philip
5  Bananapay LLC  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Bananapay LLC  United States of America         Philippines  855243500.0         2.0     EXISTING            Philip
7  Bananapay LLC  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Bananapay LLC  United States of America              Uganda  160458035.0     34420.0     EXISTING            Philip
9  Bananapay LLC  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Banco Delbank S.A...
Top rows for Banco Delbank S.A:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Banco Delbank S.A
1     Åland Islands               Kenya  15868.0  Banco Delbank S.A
5091       Zimbabwe               India  22701.0  Banco Delbank S.A
5092       Zimbabwe        South Africa  17959.0  Banco Delbank S.A
5093       Zimbabwe         Netherlands  13910.0  Banco Delbank S.A
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Banco Delbank S.A
13          Albania               Kenya  24127.0  Banco Delbank S.A
14          Albania              France  22272.0  Banco Delbank S.A
15          Albania               Spain  20066.0  Banco Delbank S.A
16          Albania            Portugal  15137.0  Banco Delbank S.A

[1193 rows x 4 columns]
Filtered top rows for Banco Delbank S.A:
      source_country destination_country        gsv     source_partner
1207        Ecuador               Spain  3146849.0  Banco Delbank S.A
1208        Ecuador            Colombia   527646.0  Banco Delbank S.A
1209        Ecuador               Italy   380383.0  Banco Delbank S.A
1210        Ecuador             Germany   259162.0  Banco Delbank S.A
1211        Ecuador              France   253813.0  Banco Delbank S.A
1212        Ecuador            Portugal   192188.0  Banco Delbank S.A
1213        Ecuador             Belgium   116500.0  Banco Delbank S.A
1214        Ecuador         Netherlands    52477.0  Banco Delbank S.A
1215        Ecuador           Lithuania    48297.0  Banco Delbank S.A
1216        Ecuador               India    35581.0  Banco Delbank S.A
Updated Merged Results with Regional Director and Partner Gsv for Banco Delbank S.A:
       source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Banco Delbank S.A        Ecuador             Belgium   116500.0        <NA>          NEW            Philip
1  Banco Delbank S.A        Ecuador            Colombia   527646.0    607467.0     EXISTING            Philip
2  Banco Delbank S.A        Ecuador              France   253813.0        <NA>          NEW            Philip
3  Banco Delbank S.A        Ecuador             Germany   259162.0        <NA>          NEW            Philip
4  Banco Delbank S.A        Ecuador               India    35581.0        <NA>          NEW            Philip
5  Banco Delbank S.A        Ecuador               Italy   380383.0        <NA>          NEW            Philip
6  Banco Delbank S.A        Ecuador           Lithuania    48297.0        <NA>          NEW            Philip
7  Banco Delbank S.A        Ecuador         Netherlands    52477.0        <NA>          NEW            Philip
8  Banco Delbank S.A        Ecuador            Portugal   192188.0        <NA>          NEW            Philip
9  Banco Delbank S.A        Ecuador               Spain  3146849.0        <NA>          NEW            Philip

Processing for Bancore...
Top rows for Bancore:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        Bancore
1     Åland Islands               Kenya  15868.0        Bancore
5091       Zimbabwe               India  22701.0        Bancore
5092       Zimbabwe        South Africa  17959.0        Bancore
5093       Zimbabwe         Netherlands  13910.0        Bancore
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        Bancore
13          Albania               Kenya  24127.0        Bancore
14          Albania              France  22272.0        Bancore
15          Albania               Spain  20066.0        Bancore
16          Albania            Portugal  15137.0        Bancore

[1193 rows x 4 columns]
Filtered top rows for Bancore:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Bancore:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Barraq Finance Company...
Top rows for Barraq Finance Company:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Barraq Finance Company
1     Åland Islands               Kenya  15868.0  Barraq Finance Company
5091       Zimbabwe               India  22701.0  Barraq Finance Company
5092       Zimbabwe        South Africa  17959.0  Barraq Finance Company
5093       Zimbabwe         Netherlands  13910.0  Barraq Finance Company
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Barraq Finance Company
13          Albania               Kenya  24127.0  Barraq Finance Company
14          Albania              France  22272.0  Barraq Finance Company
15          Albania               Spain  20066.0  Barraq Finance Company
16          Albania            Portugal  15137.0  Barraq Finance Company

[1193 rows x 4 columns]
Filtered top rows for Barraq Finance Company:
      source_country destination_country           gsv          source_partner
3778   Saudi Arabia               India  2478180376.0  Barraq Finance Company
3779   Saudi Arabia          Bangladesh   505853212.0  Barraq Finance Company
3780   Saudi Arabia         Philippines   407864778.0  Barraq Finance Company
3781   Saudi Arabia            Malaysia   202175964.0  Barraq Finance Company
3782   Saudi Arabia              Uganda   184657372.0  Barraq Finance Company
3783   Saudi Arabia      United Kingdom   150021245.0  Barraq Finance Company
3784   Saudi Arabia               Egypt    73553370.0  Barraq Finance Company
3785   Saudi Arabia               Ghana    26200926.0  Barraq Finance Company
3786   Saudi Arabia               Kenya    26022010.0  Barraq Finance Company
3787   Saudi Arabia            Pakistan    16087300.0  Barraq Finance Company

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Barraq Finance Company:
            source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Barraq Finance Company   Saudi Arabia          Bangladesh   505853212.0   1362963.0     EXISTING            Bassem
1  Barraq Finance Company   Saudi Arabia               Egypt    73553370.0   1717494.0     EXISTING            Bassem
2  Barraq Finance Company   Saudi Arabia               Ghana    26200926.0        <NA>          NEW            Bassem
3  Barraq Finance Company   Saudi Arabia               India  2478180376.0   1792637.0     EXISTING            Bassem
4  Barraq Finance Company   Saudi Arabia               Kenya    26022010.0         8.0     EXISTING            Bassem
5  Barraq Finance Company   Saudi Arabia            Malaysia   202175964.0     87948.0     EXISTING            Bassem
6  Barraq Finance Company   Saudi Arabia            Pakistan    16087300.0   9941267.0     EXISTING            Bassem
7  Barraq Finance Company   Saudi Arabia         Philippines   407864778.0    946646.0     EXISTING            Bassem
8  Barraq Finance Company   Saudi Arabia              Uganda   184657372.0         5.0     EXISTING            Bassem
9  Barraq Finance Company   Saudi Arabia      United Kingdom   150021245.0   1266644.0     EXISTING            Bassem

Processing for Batelco Financial Services...
Top rows for Batelco Financial Services:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Batelco Financial Services
1     Åland Islands               Kenya  15868.0  Batelco Financial Services
5091       Zimbabwe               India  22701.0  Batelco Financial Services
5092       Zimbabwe        South Africa  17959.0  Batelco Financial Services
5093       Zimbabwe         Netherlands  13910.0  Batelco Financial Services
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Batelco Financial Services
13          Albania               Kenya  24127.0  Batelco Financial Services
14          Albania              France  22272.0  Batelco Financial Services
15          Albania               Spain  20066.0  Batelco Financial Services
16          Albania            Portugal  15137.0  Batelco Financial Services

[1193 rows x 4 columns]
Filtered top rows for Batelco Financial Services:
     source_country destination_country          gsv              source_partner
296        Bahrain          Bangladesh  205631976.0  Batelco Financial Services
297        Bahrain            Thailand   67533964.0  Batelco Financial Services
298        Bahrain               India   30113015.0  Batelco Financial Services
299        Bahrain               Kenya   28674621.0  Batelco Financial Services
300        Bahrain              Uganda   26873683.0  Batelco Financial Services
301        Bahrain               Ghana   15374036.0  Batelco Financial Services
302        Bahrain         Philippines    8465479.0  Batelco Financial Services
303        Bahrain            Cameroon    4956559.0  Batelco Financial Services
304        Bahrain            Pakistan    3662759.0  Batelco Financial Services
305        Bahrain            Malaysia    2304540.0  Batelco Financial Services
Updated Merged Results with Regional Director and Partner Gsv for Batelco Financial Services:
                source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Batelco Financial Services        Bahrain          Bangladesh  205631976.0  17579163.0     EXISTING            Bassem
1  Batelco Financial Services        Bahrain            Cameroon    4956559.0        <NA>          NEW            Bassem
2  Batelco Financial Services        Bahrain               Ghana   15374036.0    172626.0     EXISTING            Bassem
3  Batelco Financial Services        Bahrain               India   30113015.0  30097879.0     EXISTING            Bassem
4  Batelco Financial Services        Bahrain               Kenya   28674621.0    387458.0     EXISTING            Bassem
5  Batelco Financial Services        Bahrain            Malaysia    2304540.0        <NA>          NEW            Bassem
6  Batelco Financial Services        Bahrain            Pakistan    3662759.0   2338872.0     EXISTING            Bassem
7  Batelco Financial Services        Bahrain         Philippines    8465479.0   5166465.0     EXISTING            Bassem
8  Batelco Financial Services        Bahrain            Thailand   67533964.0    995431.0     EXISTING            Bassem
9  Batelco Financial Services        Bahrain              Uganda   26873683.0      1115.0     EXISTING            Bassem

Processing for Batelco Financial Services LTD...
Top rows for Batelco Financial Services LTD:
      source_country destination_country      gsv                  source_partner
0     Åland Islands            Viet Nam  85001.0  Batelco Financial Services LTD
1     Åland Islands               Kenya  15868.0  Batelco Financial Services LTD
5091       Zimbabwe               India  22701.0  Batelco Financial Services LTD
5092       Zimbabwe        South Africa  17959.0  Batelco Financial Services LTD
5093       Zimbabwe         Netherlands  13910.0  Batelco Financial Services LTD
...             ...                 ...      ...                             ...
12          Albania            Viet Nam  40428.0  Batelco Financial Services LTD
13          Albania               Kenya  24127.0  Batelco Financial Services LTD
14          Albania              France  22272.0  Batelco Financial Services LTD
15          Albania               Spain  20066.0  Batelco Financial Services LTD
16          Albania            Portugal  15137.0  Batelco Financial Services LTD

[1193 rows x 4 columns]
Filtered top rows for Batelco Financial Services LTD:
             source_country destination_country          gsv                  source_partner
4639  United Arab Emirates               India  248146952.0  Batelco Financial Services LTD
4640  United Arab Emirates              Uganda  201261045.0  Batelco Financial Services LTD
4641  United Arab Emirates         Philippines  107484030.0  Batelco Financial Services LTD
4642  United Arab Emirates      United Kingdom   83094300.0  Batelco Financial Services LTD
4643  United Arab Emirates               Kenya   78653029.0  Batelco Financial Services LTD
4644  United Arab Emirates               Ghana   74563964.0  Batelco Financial Services LTD
4645  United Arab Emirates          Bangladesh   39836052.0  Batelco Financial Services LTD
4646  United Arab Emirates            Malaysia   28856080.0  Batelco Financial Services LTD
4647  United Arab Emirates             Germany   16482871.0  Batelco Financial Services LTD
4648  United Arab Emirates              France   15635606.0  Batelco Financial Services LTD

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Batelco Financial Services LTD:
                    source_partner        source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Batelco Financial Services LTD  United Arab Emirates          Bangladesh   39836052.0   1612395.0     EXISTING            Bassem
1  Batelco Financial Services LTD  United Arab Emirates              France   15635606.0        <NA>          NEW            Bassem
2  Batelco Financial Services LTD  United Arab Emirates             Germany   16482871.0        <NA>          NEW            Bassem
3  Batelco Financial Services LTD  United Arab Emirates               Ghana   74563964.0        <NA>          NEW            Bassem
4  Batelco Financial Services LTD  United Arab Emirates               India  248146952.0   3854809.0     EXISTING            Bassem
5  Batelco Financial Services LTD  United Arab Emirates               Kenya   78653029.0     24516.0     EXISTING            Bassem
6  Batelco Financial Services LTD  United Arab Emirates            Malaysia   28856080.0         3.0     EXISTING            Bassem
7  Batelco Financial Services LTD  United Arab Emirates         Philippines  107484030.0    138959.0     EXISTING            Bassem
8  Batelco Financial Services LTD  United Arab Emirates              Uganda  201261045.0        <NA>          NEW            Bassem
9  Batelco Financial Services LTD  United Arab Emirates      United Kingdom   83094300.0     23533.0     EXISTING            Bassem

Processing for BEDSOPIA FZCO...
Top rows for BEDSOPIA FZCO:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  BEDSOPIA FZCO
1     Åland Islands               Kenya  15868.0  BEDSOPIA FZCO
5091       Zimbabwe               India  22701.0  BEDSOPIA FZCO
5092       Zimbabwe        South Africa  17959.0  BEDSOPIA FZCO
5093       Zimbabwe         Netherlands  13910.0  BEDSOPIA FZCO
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  BEDSOPIA FZCO
13          Albania               Kenya  24127.0  BEDSOPIA FZCO
14          Albania              France  22272.0  BEDSOPIA FZCO
15          Albania               Spain  20066.0  BEDSOPIA FZCO
16          Albania            Portugal  15137.0  BEDSOPIA FZCO

[1193 rows x 4 columns]
Filtered top rows for BEDSOPIA FZCO:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for BEDSOPIA FZCO:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Belmoney...
Top rows for Belmoney:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Belmoney
1     Åland Islands               Kenya  15868.0       Belmoney
5091       Zimbabwe               India  22701.0       Belmoney
5092       Zimbabwe        South Africa  17959.0       Belmoney
5093       Zimbabwe         Netherlands  13910.0       Belmoney
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Belmoney
13          Albania               Kenya  24127.0       Belmoney
14          Albania              France  22272.0       Belmoney
15          Albania               Spain  20066.0       Belmoney
16          Albania            Portugal  15137.0       Belmoney

[1193 rows x 4 columns]
Filtered top rows for Belmoney:
     source_country destination_country          gsv source_partner
396        Belgium               Kenya  161955084.0       Belmoney
398        Belgium               Ghana   29171096.0       Belmoney
399        Belgium              Uganda   19534811.0       Belmoney
400        Belgium            Tanzania   15670037.0       Belmoney
401        Belgium            Portugal   10621106.0       Belmoney
402        Belgium            Cameroon   10109659.0       Belmoney
403        Belgium            Viet Nam    9999327.0       Belmoney
404        Belgium               Spain    9814611.0       Belmoney
405        Belgium             Senegal    8884827.0       Belmoney
406        Belgium        South Africa    6868936.0       Belmoney
Updated Merged Results with Regional Director and Partner Gsv for Belmoney:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       Belmoney        Belgium            Cameroon   10109659.0     17830.0     EXISTING            Viktor
1       Belmoney        Belgium               Ghana   29171096.0       922.0     EXISTING            Viktor
2       Belmoney        Belgium               Kenya  161955084.0        <NA>          NEW            Viktor
3       Belmoney        Belgium            Portugal   10621106.0    571588.0     EXISTING            Viktor
4       Belmoney        Belgium             Senegal    8884827.0     29589.0     EXISTING            Viktor
5       Belmoney        Belgium        South Africa    6868936.0        <NA>          NEW            Viktor
6       Belmoney        Belgium               Spain    9814611.0    137103.0     EXISTING            Viktor
7       Belmoney        Belgium            Tanzania   15670037.0        47.0     EXISTING            Viktor
8       Belmoney        Belgium              Uganda   19534811.0        <NA>          NEW            Viktor
9       Belmoney        Belgium            Viet Nam    9999327.0        <NA>          NEW            Viktor

Processing for Best Finance...
Top rows for Best Finance:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   Best Finance
1     Åland Islands               Kenya  15868.0   Best Finance
5091       Zimbabwe               India  22701.0   Best Finance
5092       Zimbabwe        South Africa  17959.0   Best Finance
5093       Zimbabwe         Netherlands  13910.0   Best Finance
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   Best Finance
13          Albania               Kenya  24127.0   Best Finance
14          Albania              France  22272.0   Best Finance
15          Albania               Spain  20066.0   Best Finance
16          Albania            Portugal  15137.0   Best Finance

[1193 rows x 4 columns]
Filtered top rows for Best Finance:
      source_country destination_country        gsv source_partner
2605      Lithuania             Belgium  1374990.0   Best Finance
2606      Lithuania      United Kingdom  1143509.0   Best Finance
2607      Lithuania               Ghana  1112769.0   Best Finance
2608      Lithuania               Spain   960844.0   Best Finance
2609      Lithuania             Germany   678636.0   Best Finance
2610      Lithuania            Viet Nam   400188.0   Best Finance
2611      Lithuania          Bangladesh   359957.0   Best Finance
2612      Lithuania               India   317185.0   Best Finance
2613      Lithuania               Benin   253347.0   Best Finance
2614      Lithuania               Kenya   226938.0   Best Finance

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Best Finance:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0   Best Finance      Lithuania          Bangladesh   359957.0         4.0     EXISTING            Viktor
1   Best Finance      Lithuania             Belgium  1374990.0        <NA>          NEW            Viktor
2   Best Finance      Lithuania               Benin   253347.0    168601.0     EXISTING            Viktor
3   Best Finance      Lithuania             Germany   678636.0        <NA>          NEW            Viktor
4   Best Finance      Lithuania               Ghana  1112769.0    885497.0     EXISTING            Viktor
5   Best Finance      Lithuania               India   317185.0      5031.0     EXISTING            Viktor
6   Best Finance      Lithuania               Kenya   226938.0       334.0     EXISTING            Viktor
7   Best Finance      Lithuania               Spain   960844.0        <NA>          NEW            Viktor
8   Best Finance      Lithuania      United Kingdom  1143509.0        <NA>          NEW            Viktor
9   Best Finance      Lithuania            Viet Nam   400188.0        <NA>          NEW            Viktor

Processing for BFC Bahrain...
Top rows for BFC Bahrain:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    BFC Bahrain
1     Åland Islands               Kenya  15868.0    BFC Bahrain
5091       Zimbabwe               India  22701.0    BFC Bahrain
5092       Zimbabwe        South Africa  17959.0    BFC Bahrain
5093       Zimbabwe         Netherlands  13910.0    BFC Bahrain
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    BFC Bahrain
13          Albania               Kenya  24127.0    BFC Bahrain
14          Albania              France  22272.0    BFC Bahrain
15          Albania               Spain  20066.0    BFC Bahrain
16          Albania            Portugal  15137.0    BFC Bahrain

[1193 rows x 4 columns]
Filtered top rows for BFC Bahrain:
     source_country destination_country          gsv source_partner
296        Bahrain          Bangladesh  205631976.0    BFC Bahrain
297        Bahrain            Thailand   67533964.0    BFC Bahrain
298        Bahrain               India   30113015.0    BFC Bahrain
299        Bahrain               Kenya   28674621.0    BFC Bahrain
300        Bahrain              Uganda   26873683.0    BFC Bahrain
301        Bahrain               Ghana   15374036.0    BFC Bahrain
302        Bahrain         Philippines    8465479.0    BFC Bahrain
303        Bahrain            Cameroon    4956559.0    BFC Bahrain
304        Bahrain            Pakistan    3662759.0    BFC Bahrain
305        Bahrain            Malaysia    2304540.0    BFC Bahrain
Updated Merged Results with Regional Director and Partner Gsv for BFC Bahrain:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    BFC Bahrain        Bahrain          Bangladesh  205631976.0   7729722.0     EXISTING            Bassem
1    BFC Bahrain        Bahrain            Cameroon    4956559.0      2061.0     EXISTING            Bassem
2    BFC Bahrain        Bahrain               Ghana   15374036.0   3305998.0     EXISTING            Bassem
3    BFC Bahrain        Bahrain               India   30113015.0        <NA>          NEW            Bassem
4    BFC Bahrain        Bahrain               Kenya   28674621.0  10981129.0     EXISTING            Bassem
5    BFC Bahrain        Bahrain            Malaysia    2304540.0         3.0     EXISTING            Bassem
6    BFC Bahrain        Bahrain            Pakistan    3662759.0        <NA>          NEW            Bassem
7    BFC Bahrain        Bahrain         Philippines    8465479.0         3.0     EXISTING            Bassem
8    BFC Bahrain        Bahrain            Thailand   67533964.0         3.0     EXISTING            Bassem
9    BFC Bahrain        Bahrain              Uganda   26873683.0   1739473.0     EXISTING            Bassem

Processing for BICIG...
Top rows for BICIG:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          BICIG
1     Åland Islands               Kenya  15868.0          BICIG
5091       Zimbabwe               India  22701.0          BICIG
5092       Zimbabwe        South Africa  17959.0          BICIG
5093       Zimbabwe         Netherlands  13910.0          BICIG
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          BICIG
13          Albania               Kenya  24127.0          BICIG
14          Albania              France  22272.0          BICIG
15          Albania               Spain  20066.0          BICIG
16          Albania            Portugal  15137.0          BICIG

[1193 rows x 4 columns]
Filtered top rows for BICIG:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for BICIG:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Bin Yaala Exchange...
Top rows for Bin Yaala Exchange:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Bin Yaala Exchange
1     Åland Islands               Kenya  15868.0  Bin Yaala Exchange
5091       Zimbabwe               India  22701.0  Bin Yaala Exchange
5092       Zimbabwe        South Africa  17959.0  Bin Yaala Exchange
5093       Zimbabwe         Netherlands  13910.0  Bin Yaala Exchange
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Bin Yaala Exchange
13          Albania               Kenya  24127.0  Bin Yaala Exchange
14          Albania              France  22272.0  Bin Yaala Exchange
15          Albania               Spain  20066.0  Bin Yaala Exchange
16          Albania            Portugal  15137.0  Bin Yaala Exchange

[1193 rows x 4 columns]
Filtered top rows for Bin Yaala Exchange:
      source_country destination_country           gsv      source_partner
3778   Saudi Arabia               India  2478180376.0  Bin Yaala Exchange
3779   Saudi Arabia          Bangladesh   505853212.0  Bin Yaala Exchange
3780   Saudi Arabia         Philippines   407864778.0  Bin Yaala Exchange
3781   Saudi Arabia            Malaysia   202175964.0  Bin Yaala Exchange
3782   Saudi Arabia              Uganda   184657372.0  Bin Yaala Exchange
3783   Saudi Arabia      United Kingdom   150021245.0  Bin Yaala Exchange
3784   Saudi Arabia               Egypt    73553370.0  Bin Yaala Exchange
3785   Saudi Arabia               Ghana    26200926.0  Bin Yaala Exchange
3786   Saudi Arabia               Kenya    26022010.0  Bin Yaala Exchange
3787   Saudi Arabia            Pakistan    16087300.0  Bin Yaala Exchange

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Bin Yaala Exchange:
        source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Bin Yaala Exchange   Saudi Arabia          Bangladesh   505853212.0  86653674.0     EXISTING            Bassem
1  Bin Yaala Exchange   Saudi Arabia               Egypt    73553370.0    123513.0     EXISTING            Bassem
2  Bin Yaala Exchange   Saudi Arabia               Ghana    26200926.0    377346.0     EXISTING            Bassem
3  Bin Yaala Exchange   Saudi Arabia               India  2478180376.0  95695638.0     EXISTING            Bassem
4  Bin Yaala Exchange   Saudi Arabia               Kenya    26022010.0  22581149.0     EXISTING            Bassem
5  Bin Yaala Exchange   Saudi Arabia            Malaysia   202175964.0        <NA>          NEW            Bassem
6  Bin Yaala Exchange   Saudi Arabia            Pakistan    16087300.0   8601570.0     EXISTING            Bassem
7  Bin Yaala Exchange   Saudi Arabia         Philippines   407864778.0    645996.0     EXISTING            Bassem
8  Bin Yaala Exchange   Saudi Arabia              Uganda   184657372.0    504768.0     EXISTING            Bassem
9  Bin Yaala Exchange   Saudi Arabia      United Kingdom   150021245.0        <NA>          NEW            Bassem

Processing for BlaBla Connect...
Top rows for BlaBla Connect:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  BlaBla Connect
1     Åland Islands               Kenya  15868.0  BlaBla Connect
5091       Zimbabwe               India  22701.0  BlaBla Connect
5092       Zimbabwe        South Africa  17959.0  BlaBla Connect
5093       Zimbabwe         Netherlands  13910.0  BlaBla Connect
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  BlaBla Connect
13          Albania               Kenya  24127.0  BlaBla Connect
14          Albania              France  22272.0  BlaBla Connect
15          Albania               Spain  20066.0  BlaBla Connect
16          Albania            Portugal  15137.0  BlaBla Connect

[1193 rows x 4 columns]
Filtered top rows for BlaBla Connect:
       source_country destination_country          gsv  source_partner
4724  United Kingdom               India  722564261.0  BlaBla Connect
4725  United Kingdom               Kenya  372996239.0  BlaBla Connect
4726  United Kingdom          Bangladesh  222801157.0  BlaBla Connect
4727  United Kingdom               Ghana  184628486.0  BlaBla Connect
4729  United Kingdom              Uganda  151640757.0  BlaBla Connect
4730  United Kingdom            Viet Nam  130053730.0  BlaBla Connect
4731  United Kingdom         Philippines   57615497.0  BlaBla Connect
4732  United Kingdom            Tanzania   52293484.0  BlaBla Connect
4733  United Kingdom               Spain   36806984.0  BlaBla Connect
4734  United Kingdom            Pakistan   34877833.0  BlaBla Connect
Updated Merged Results with Regional Director and Partner Gsv for BlaBla Connect:
    source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  BlaBla Connect  United Kingdom          Bangladesh  222801157.0     23035.0     EXISTING            Viktor
1  BlaBla Connect  United Kingdom               Ghana  184628486.0      6994.0     EXISTING            Viktor
2  BlaBla Connect  United Kingdom               India  722564261.0    438387.0     EXISTING            Viktor
3  BlaBla Connect  United Kingdom               Kenya  372996239.0     11692.0     EXISTING            Viktor
4  BlaBla Connect  United Kingdom            Pakistan   34877833.0     15488.0     EXISTING            Viktor
5  BlaBla Connect  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
6  BlaBla Connect  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7  BlaBla Connect  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8  BlaBla Connect  United Kingdom              Uganda  151640757.0      2999.0     EXISTING            Viktor
9  BlaBla Connect  United Kingdom            Viet Nam  130053730.0     44617.0     EXISTING            Viktor

Processing for BNB Senegal...
Top rows for BNB Senegal:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    BNB Senegal
1     Åland Islands               Kenya  15868.0    BNB Senegal
5091       Zimbabwe               India  22701.0    BNB Senegal
5092       Zimbabwe        South Africa  17959.0    BNB Senegal
5093       Zimbabwe         Netherlands  13910.0    BNB Senegal
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    BNB Senegal
13          Albania               Kenya  24127.0    BNB Senegal
14          Albania              France  22272.0    BNB Senegal
15          Albania               Spain  20066.0    BNB Senegal
16          Albania            Portugal  15137.0    BNB Senegal

[1193 rows x 4 columns]
Filtered top rows for BNB Senegal:
     source_country destination_country          gsv source_partner
748         Canada               India  211296069.0    BNB Senegal
749         Canada         Philippines   57990615.0    BNB Senegal
750         Canada               Ghana   57154456.0    BNB Senegal
751         Canada            Viet Nam   37930649.0    BNB Senegal
752         Canada               Kenya   29951383.0    BNB Senegal
753         Canada              Uganda   27682200.0    BNB Senegal
754         Canada               Benin   22477592.0    BNB Senegal
755         Canada          Bangladesh   19317938.0    BNB Senegal
756         Canada            Cameroon   18872246.0    BNB Senegal
757         Canada            Tanzania   18091580.0    BNB Senegal
Updated Merged Results with Regional Director and Partner Gsv for BNB Senegal:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    BNB Senegal         Canada          Bangladesh   19317938.0        <NA>          NEW           Mamadou
1    BNB Senegal         Canada               Benin   22477592.0        <NA>          NEW           Mamadou
2    BNB Senegal         Canada            Cameroon   18872246.0        <NA>          NEW           Mamadou
3    BNB Senegal         Canada               Ghana   57154456.0        <NA>          NEW           Mamadou
4    BNB Senegal         Canada               India  211296069.0        <NA>          NEW           Mamadou
5    BNB Senegal         Canada               Kenya   29951383.0        <NA>          NEW           Mamadou
6    BNB Senegal         Canada         Philippines   57990615.0        <NA>          NEW           Mamadou
7    BNB Senegal         Canada            Tanzania   18091580.0        <NA>          NEW           Mamadou
8    BNB Senegal         Canada              Uganda   27682200.0        <NA>          NEW           Mamadou
9    BNB Senegal         Canada            Viet Nam   37930649.0        <NA>          NEW           Mamadou

Processing for BoB Finance SAL...
Top rows for BoB Finance SAL:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  BoB Finance SAL
1     Åland Islands               Kenya  15868.0  BoB Finance SAL
5091       Zimbabwe               India  22701.0  BoB Finance SAL
5092       Zimbabwe        South Africa  17959.0  BoB Finance SAL
5093       Zimbabwe         Netherlands  13910.0  BoB Finance SAL
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  BoB Finance SAL
13          Albania               Kenya  24127.0  BoB Finance SAL
14          Albania              France  22272.0  BoB Finance SAL
15          Albania               Spain  20066.0  BoB Finance SAL
16          Albania            Portugal  15137.0  BoB Finance SAL

[1193 rows x 4 columns]
Filtered top rows for BoB Finance SAL:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for BoB Finance SAL:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Bolt Operations...
Top rows for Bolt Operations:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Bolt Operations
1     Åland Islands               Kenya  15868.0  Bolt Operations
5091       Zimbabwe               India  22701.0  Bolt Operations
5092       Zimbabwe        South Africa  17959.0  Bolt Operations
5093       Zimbabwe         Netherlands  13910.0  Bolt Operations
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Bolt Operations
13          Albania               Kenya  24127.0  Bolt Operations
14          Albania              France  22272.0  Bolt Operations
15          Albania               Spain  20066.0  Bolt Operations
16          Albania            Portugal  15137.0  Bolt Operations

[1193 rows x 4 columns]
Filtered top rows for Bolt Operations:
      source_country destination_country       gsv   source_partner
1246        Estonia           Lithuania  685310.0  Bolt Operations
1247        Estonia            Viet Nam  588821.0  Bolt Operations
1248        Estonia               Ghana  414871.0  Bolt Operations
1249        Estonia               Kenya  411894.0  Bolt Operations
1250        Estonia               India  356950.0  Bolt Operations
1251        Estonia               Spain  315832.0  Bolt Operations
1252        Estonia             Belgium  244733.0  Bolt Operations
1253        Estonia             Germany  224828.0  Bolt Operations
1254        Estonia              Uganda  201169.0  Bolt Operations
1255        Estonia             Ukraine  193966.0  Bolt Operations
Updated Merged Results with Regional Director and Partner Gsv for Bolt Operations:
     source_partner source_country destination_country       gsv Partner_Gsv existing/new regional_director
0  Bolt Operations        Estonia             Belgium  244733.0        <NA>          NEW               NaN
1  Bolt Operations        Estonia             Germany  224828.0        <NA>          NEW               NaN
2  Bolt Operations        Estonia               Ghana  414871.0        <NA>          NEW               NaN
3  Bolt Operations        Estonia               India  356950.0        <NA>          NEW               NaN
4  Bolt Operations        Estonia               Kenya  411894.0        <NA>          NEW               NaN
5  Bolt Operations        Estonia           Lithuania  685310.0        <NA>          NEW               NaN
6  Bolt Operations        Estonia               Spain  315832.0        <NA>          NEW               NaN
7  Bolt Operations        Estonia              Uganda  201169.0        <NA>          NEW               NaN
8  Bolt Operations        Estonia             Ukraine  193966.0    219144.0     EXISTING               NaN
9  Bolt Operations        Estonia            Viet Nam  588821.0        <NA>          NEW               NaN

Processing for Boss Revolution...
Top rows for Boss Revolution:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Boss Revolution
1     Åland Islands               Kenya  15868.0  Boss Revolution
5091       Zimbabwe               India  22701.0  Boss Revolution
5092       Zimbabwe        South Africa  17959.0  Boss Revolution
5093       Zimbabwe         Netherlands  13910.0  Boss Revolution
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Boss Revolution
13          Albania               Kenya  24127.0  Boss Revolution
14          Albania              France  22272.0  Boss Revolution
15          Albania               Spain  20066.0  Boss Revolution
16          Albania            Portugal  15137.0  Boss Revolution

[1193 rows x 4 columns]
Filtered top rows for Boss Revolution:
                 source_country destination_country          gsv   source_partner
4845  United States of America         Philippines  855243500.0  Boss Revolution
4846  United States of America               Ghana  854031550.0  Boss Revolution
4847  United States of America             Liberia  423311206.0  Boss Revolution
4848  United States of America            Viet Nam  299709130.0  Boss Revolution
4849  United States of America               India  237645288.0  Boss Revolution
4850  United States of America            Tanzania  224628683.0  Boss Revolution
4851  United States of America          Bangladesh  207173742.0  Boss Revolution
4852  United States of America               Kenya  193169745.0  Boss Revolution
4853  United States of America            Cameroon  162051487.0  Boss Revolution
4854  United States of America              Uganda  160458035.0  Boss Revolution
Updated Merged Results with Regional Director and Partner Gsv for Boss Revolution:
     source_partner            source_country destination_country          gsv  Partner_Gsv existing/new regional_director
0  Boss Revolution  United States of America          Bangladesh  207173742.0     170309.0     EXISTING           Praveen
1  Boss Revolution  United States of America            Cameroon  162051487.0   37880853.0     EXISTING           Praveen
2  Boss Revolution  United States of America               Ghana  854031550.0  186185572.0     EXISTING           Praveen
3  Boss Revolution  United States of America               India  237645288.0         <NA>          NEW           Praveen
4  Boss Revolution  United States of America               Kenya  193169745.0   14808172.0     EXISTING           Praveen
5  Boss Revolution  United States of America             Liberia  423311206.0    1227500.0     EXISTING           Praveen
6  Boss Revolution  United States of America         Philippines  855243500.0    7914470.0     EXISTING           Praveen
7  Boss Revolution  United States of America            Tanzania  224628683.0         <NA>          NEW           Praveen
8  Boss Revolution  United States of America              Uganda  160458035.0    2692154.0     EXISTING           Praveen
9  Boss Revolution  United States of America            Viet Nam  299709130.0         <NA>          NEW           Praveen

Processing for BTC...
Top rows for BTC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            BTC
1     Åland Islands               Kenya  15868.0            BTC
5091       Zimbabwe               India  22701.0            BTC
5092       Zimbabwe        South Africa  17959.0            BTC
5093       Zimbabwe         Netherlands  13910.0            BTC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            BTC
13          Albania               Kenya  24127.0            BTC
14          Albania              France  22272.0            BTC
15          Albania               Spain  20066.0            BTC
16          Albania            Portugal  15137.0            BTC

[1193 rows x 4 columns]
Filtered top rows for BTC:
     source_country destination_country        gsv source_partner
516       Botswana               India  7977245.0            BTC
517       Botswana          Bangladesh  3612331.0            BTC
518       Botswana            Pakistan  2638309.0            BTC
519       Botswana         Philippines  1000707.0            BTC
520       Botswana           Sri Lanka   639244.0            BTC
521       Botswana               Kenya   178074.0            BTC
522       Botswana              Zambia   124099.0            BTC
523       Botswana            Zimbabwe   122584.0            BTC
524       Botswana          Mozambique    26217.0            BTC
525       Botswana               Ghana    19889.0            BTC

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for BTC:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0            BTC       Botswana          Bangladesh  3612331.0        17.0     EXISTING            Willie
1            BTC       Botswana               Ghana    19889.0     19394.0     EXISTING            Willie
2            BTC       Botswana               India  7977245.0     16491.0     EXISTING            Willie
3            BTC       Botswana               Kenya   178074.0    148428.0     EXISTING            Willie
4            BTC       Botswana          Mozambique    26217.0     26223.0     EXISTING            Willie
5            BTC       Botswana            Pakistan  2638309.0      9617.0     EXISTING            Willie
6            BTC       Botswana         Philippines  1000707.0        <NA>          NEW            Willie
7            BTC       Botswana           Sri Lanka   639244.0         1.0     EXISTING            Willie
8            BTC       Botswana              Zambia   124099.0    118315.0     EXISTING            Willie
9            BTC       Botswana            Zimbabwe   122584.0    117302.0     EXISTING            Willie

Processing for Buckzy...
Top rows for Buckzy:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         Buckzy
1     Åland Islands               Kenya  15868.0         Buckzy
5091       Zimbabwe               India  22701.0         Buckzy
5092       Zimbabwe        South Africa  17959.0         Buckzy
5093       Zimbabwe         Netherlands  13910.0         Buckzy
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         Buckzy
13          Albania               Kenya  24127.0         Buckzy
14          Albania              France  22272.0         Buckzy
15          Albania               Spain  20066.0         Buckzy
16          Albania            Portugal  15137.0         Buckzy

[1193 rows x 4 columns]
Filtered top rows for Buckzy:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Buckzy:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for ByteDance...
Top rows for ByteDance:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      ByteDance
1     Åland Islands               Kenya  15868.0      ByteDance
5091       Zimbabwe               India  22701.0      ByteDance
5092       Zimbabwe        South Africa  17959.0      ByteDance
5093       Zimbabwe         Netherlands  13910.0      ByteDance
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      ByteDance
13          Albania               Kenya  24127.0      ByteDance
14          Albania              France  22272.0      ByteDance
15          Albania               Spain  20066.0      ByteDance
16          Albania            Portugal  15137.0      ByteDance

[1193 rows x 4 columns]
Filtered top rows for ByteDance:
      source_country destination_country         gsv source_partner
3937      Singapore            Viet Nam  93619361.0      ByteDance
3938      Singapore            Malaysia  49493089.0      ByteDance
3939      Singapore               India  47978336.0      ByteDance
3940      Singapore      United Kingdom  41572026.0      ByteDance
3941      Singapore          Bangladesh  31223283.0      ByteDance
3942      Singapore               Kenya  11958315.0      ByteDance
3943      Singapore               Ghana   7761475.0      ByteDance
3944      Singapore              Uganda   3461737.0      ByteDance
3945      Singapore         Philippines   2708549.0      ByteDance
3946      Singapore            Thailand   2214517.0      ByteDance
Updated Merged Results with Regional Director and Partner Gsv for ByteDance:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0      ByteDance      Singapore          Bangladesh  31223283.0        <NA>          NEW            Sukesh
1      ByteDance      Singapore               Ghana   7761475.0        <NA>          NEW            Sukesh
2      ByteDance      Singapore               India  47978336.0    353467.0     EXISTING            Sukesh
3      ByteDance      Singapore               Kenya  11958315.0        <NA>          NEW            Sukesh
4      ByteDance      Singapore            Malaysia  49493089.0        <NA>          NEW            Sukesh
5      ByteDance      Singapore         Philippines   2708549.0     35252.0     EXISTING            Sukesh
6      ByteDance      Singapore            Thailand   2214517.0        <NA>          NEW            Sukesh
7      ByteDance      Singapore              Uganda   3461737.0        <NA>          NEW            Sukesh
8      ByteDance      Singapore      United Kingdom  41572026.0        <NA>          NEW            Sukesh
9      ByteDance      Singapore            Viet Nam  93619361.0        <NA>          NEW            Sukesh

Processing for ByteDance HK...
Top rows for ByteDance HK:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   ByteDance HK
1     Åland Islands               Kenya  15868.0   ByteDance HK
5091       Zimbabwe               India  22701.0   ByteDance HK
5092       Zimbabwe        South Africa  17959.0   ByteDance HK
5093       Zimbabwe         Netherlands  13910.0   ByteDance HK
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   ByteDance HK
13          Albania               Kenya  24127.0   ByteDance HK
14          Albania              France  22272.0   ByteDance HK
15          Albania               Spain  20066.0   ByteDance HK
16          Albania            Portugal  15137.0   ByteDance HK

[1193 rows x 4 columns]
Filtered top rows for ByteDance HK:
      source_country destination_country           gsv source_partner
1736      Hong Kong         Philippines  1722181320.0   ByteDance HK
1737      Hong Kong            Viet Nam     9110518.0   ByteDance HK
1738      Hong Kong      United Kingdom     8249574.0   ByteDance HK
1739      Hong Kong            Malaysia     3940931.0   ByteDance HK
1740      Hong Kong               Kenya     2887925.0   ByteDance HK
1741      Hong Kong               Ghana     2215950.0   ByteDance HK
1742      Hong Kong              Uganda      703818.0   ByteDance HK
1743      Hong Kong              France      582306.0   ByteDance HK
1744      Hong Kong               India      450505.0   ByteDance HK
1745      Hong Kong            Tanzania      439808.0   ByteDance HK

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for ByteDance HK:
   source_partner source_country destination_country           gsv   Partner_Gsv existing/new regional_director
0   ByteDance HK      Hong Kong              France      582306.0          <NA>          NEW            Sukesh
1   ByteDance HK      Hong Kong               Ghana     2215950.0          <NA>          NEW            Sukesh
2   ByteDance HK      Hong Kong               India      450505.0          <NA>          NEW            Sukesh
3   ByteDance HK      Hong Kong               Kenya     2887925.0          <NA>          NEW            Sukesh
4   ByteDance HK      Hong Kong            Malaysia     3940931.0           1.0     EXISTING            Sukesh
5   ByteDance HK      Hong Kong         Philippines  1722181320.0  1722007394.0     EXISTING            Sukesh
6   ByteDance HK      Hong Kong            Tanzania      439808.0          <NA>          NEW            Sukesh
7   ByteDance HK      Hong Kong              Uganda      703818.0          <NA>          NEW            Sukesh
8   ByteDance HK      Hong Kong      United Kingdom     8249574.0          <NA>          NEW            Sukesh
9   ByteDance HK      Hong Kong            Viet Nam     9110518.0          <NA>          NEW            Sukesh

Processing for Cadorim SA...
Top rows for Cadorim SA:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Cadorim SA
1     Åland Islands               Kenya  15868.0     Cadorim SA
5091       Zimbabwe               India  22701.0     Cadorim SA
5092       Zimbabwe        South Africa  17959.0     Cadorim SA
5093       Zimbabwe         Netherlands  13910.0     Cadorim SA
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Cadorim SA
13          Albania               Kenya  24127.0     Cadorim SA
14          Albania              France  22272.0     Cadorim SA
15          Albania               Spain  20066.0     Cadorim SA
16          Albania            Portugal  15137.0     Cadorim SA

[1193 rows x 4 columns]
Filtered top rows for Cadorim SA:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Cadorim SA:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for CashMinute...
Top rows for CashMinute:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     CashMinute
1     Åland Islands               Kenya  15868.0     CashMinute
5091       Zimbabwe               India  22701.0     CashMinute
5092       Zimbabwe        South Africa  17959.0     CashMinute
5093       Zimbabwe         Netherlands  13910.0     CashMinute
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     CashMinute
13          Albania               Kenya  24127.0     CashMinute
14          Albania              France  22272.0     CashMinute
15          Albania               Spain  20066.0     CashMinute
16          Albania            Portugal  15137.0     CashMinute

[1193 rows x 4 columns]
Filtered top rows for CashMinute:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for CashMinute:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for CITY EXPRESS MONEY TRANSFER JAPAN CO LTD...
Top rows for CITY EXPRESS MONEY TRANSFER JAPAN CO LTD:
      source_country destination_country      gsv                            source_partner
0     Åland Islands            Viet Nam  85001.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
1     Åland Islands               Kenya  15868.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
5091       Zimbabwe               India  22701.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
5092       Zimbabwe        South Africa  17959.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
5093       Zimbabwe         Netherlands  13910.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
...             ...                 ...      ...                                       ...
12          Albania            Viet Nam  40428.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
13          Albania               Kenya  24127.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
14          Albania              France  22272.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
15          Albania               Spain  20066.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD
16          Albania            Portugal  15137.0  CITY EXPRESS MONEY TRANSFER JAPAN CO LTD

[1193 rows x 4 columns]
Filtered top rows for CITY EXPRESS MONEY TRANSFER JAPAN CO LTD:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for CITY EXPRESS MONEY TRANSFER JAPAN CO LTD:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for CLEVERDO PAYMENT TECHNOLOGIES LTD....
Top rows for CLEVERDO PAYMENT TECHNOLOGIES LTD.:
      source_country destination_country      gsv                      source_partner
0     Åland Islands            Viet Nam  85001.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
1     Åland Islands               Kenya  15868.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
5091       Zimbabwe               India  22701.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
5092       Zimbabwe        South Africa  17959.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
5093       Zimbabwe         Netherlands  13910.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
...             ...                 ...      ...                                 ...
12          Albania            Viet Nam  40428.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
13          Albania               Kenya  24127.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
14          Albania              France  22272.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
15          Albania               Spain  20066.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.
16          Albania            Portugal  15137.0  CLEVERDO PAYMENT TECHNOLOGIES LTD.

[1193 rows x 4 columns]
Filtered top rows for CLEVERDO PAYMENT TECHNOLOGIES LTD.:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for CLEVERDO PAYMENT TECHNOLOGIES LTD.:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for CLUB SUEDAMERIKA INTERNATIONAL GMBH...
Top rows for CLUB SUEDAMERIKA INTERNATIONAL GMBH:
      source_country destination_country      gsv                       source_partner
0     Åland Islands            Viet Nam  85001.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1     Åland Islands               Kenya  15868.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
5091       Zimbabwe               India  22701.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
5092       Zimbabwe        South Africa  17959.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
5093       Zimbabwe         Netherlands  13910.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
...             ...                 ...      ...                                  ...
12          Albania            Viet Nam  40428.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
13          Albania               Kenya  24127.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
14          Albania              France  22272.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
15          Albania               Spain  20066.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
16          Albania            Portugal  15137.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH

[1193 rows x 4 columns]
Filtered top rows for CLUB SUEDAMERIKA INTERNATIONAL GMBH:
      source_country destination_country          gsv                       source_partner
1541        Germany            Viet Nam  196201152.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1543        Germany               Kenya   53744055.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1544        Germany               Ghana   31083381.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1545        Germany          Bangladesh   28415599.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1546        Germany             Belgium   23851252.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1547        Germany           Lithuania   22385522.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1548        Germany               India   21816642.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1549        Germany            Cameroon   19613391.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1550        Germany               Spain   16203785.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH
1551        Germany              Uganda   11697389.0  CLUB SUEDAMERIKA INTERNATIONAL GMBH

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for CLUB SUEDAMERIKA INTERNATIONAL GMBH:
                         source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany          Bangladesh   28415599.0      3381.0     EXISTING            Philip
1  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany             Belgium   23851252.0        <NA>          NEW            Philip
2  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany            Cameroon   19613391.0         4.0     EXISTING            Philip
3  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany               Ghana   31083381.0         8.0     EXISTING            Philip
4  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany               India   21816642.0        <NA>          NEW            Philip
5  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany               Kenya   53744055.0        <NA>          NEW            Philip
6  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany           Lithuania   22385522.0        <NA>          NEW            Philip
7  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany               Spain   16203785.0        <NA>          NEW            Philip
8  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany              Uganda   11697389.0        <NA>          NEW            Philip
9  CLUB SUEDAMERIKA INTERNATIONAL GMBH        Germany            Viet Nam  196201152.0        11.0     EXISTING            Philip

Processing for CN Travel - ASAP...
Top rows for CN Travel - ASAP:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  CN Travel - ASAP
1     Åland Islands               Kenya  15868.0  CN Travel - ASAP
5091       Zimbabwe               India  22701.0  CN Travel - ASAP
5092       Zimbabwe        South Africa  17959.0  CN Travel - ASAP
5093       Zimbabwe         Netherlands  13910.0  CN Travel - ASAP
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  CN Travel - ASAP
13          Albania               Kenya  24127.0  CN Travel - ASAP
14          Albania              France  22272.0  CN Travel - ASAP
15          Albania               Spain  20066.0  CN Travel - ASAP
16          Albania            Portugal  15137.0  CN Travel - ASAP

[1193 rows x 4 columns]
Filtered top rows for CN Travel - ASAP:
      source_country destination_country          gsv    source_partner
4145          Spain             Senegal  104224232.0  CN Travel - ASAP
4146          Spain          Bangladesh   42522037.0  CN Travel - ASAP
4147          Spain                Mali   30074554.0  CN Travel - ASAP
4149          Spain             Belgium   22745695.0  CN Travel - ASAP
4150          Spain               Ghana   19183911.0  CN Travel - ASAP
4151          Spain           Lithuania   16068919.0  CN Travel - ASAP
4152          Spain            Portugal   10602312.0  CN Travel - ASAP
4153          Spain      United Kingdom    8372586.0  CN Travel - ASAP
4154          Spain               Italy    8180951.0  CN Travel - ASAP
4155          Spain               India    7944101.0  CN Travel - ASAP
Updated Merged Results with Regional Director and Partner Gsv for CN Travel - ASAP:
      source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  CN Travel - ASAP          Spain          Bangladesh   42522037.0        <NA>          NEW     Koert & Maria
1  CN Travel - ASAP          Spain             Belgium   22745695.0        <NA>          NEW     Koert & Maria
2  CN Travel - ASAP          Spain               Ghana   19183911.0        <NA>          NEW     Koert & Maria
3  CN Travel - ASAP          Spain               India    7944101.0        <NA>          NEW     Koert & Maria
4  CN Travel - ASAP          Spain               Italy    8180951.0        <NA>          NEW     Koert & Maria
5  CN Travel - ASAP          Spain           Lithuania   16068919.0        <NA>          NEW     Koert & Maria
6  CN Travel - ASAP          Spain                Mali   30074554.0        <NA>          NEW     Koert & Maria
7  CN Travel - ASAP          Spain            Portugal   10602312.0        <NA>          NEW     Koert & Maria
8  CN Travel - ASAP          Spain             Senegal  104224232.0        <NA>          NEW     Koert & Maria
9  CN Travel - ASAP          Spain      United Kingdom    8372586.0     24578.0     EXISTING     Koert & Maria

Processing for Cornerstone Payment Solutions Ltd...
Top rows for Cornerstone Payment Solutions Ltd:
      source_country destination_country      gsv                     source_partner
0     Åland Islands            Viet Nam  85001.0  Cornerstone Payment Solutions Ltd
1     Åland Islands               Kenya  15868.0  Cornerstone Payment Solutions Ltd
5091       Zimbabwe               India  22701.0  Cornerstone Payment Solutions Ltd
5092       Zimbabwe        South Africa  17959.0  Cornerstone Payment Solutions Ltd
5093       Zimbabwe         Netherlands  13910.0  Cornerstone Payment Solutions Ltd
...             ...                 ...      ...                                ...
12          Albania            Viet Nam  40428.0  Cornerstone Payment Solutions Ltd
13          Albania               Kenya  24127.0  Cornerstone Payment Solutions Ltd
14          Albania              France  22272.0  Cornerstone Payment Solutions Ltd
15          Albania               Spain  20066.0  Cornerstone Payment Solutions Ltd
16          Albania            Portugal  15137.0  Cornerstone Payment Solutions Ltd

[1193 rows x 4 columns]
Filtered top rows for Cornerstone Payment Solutions Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Cornerstone Payment Solutions Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for CORPORATE ALLIANCE PAYMENTS PTY LTD...
Top rows for CORPORATE ALLIANCE PAYMENTS PTY LTD:
      source_country destination_country      gsv                       source_partner
0     Åland Islands            Viet Nam  85001.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
1     Åland Islands               Kenya  15868.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
5091       Zimbabwe               India  22701.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
5092       Zimbabwe        South Africa  17959.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
5093       Zimbabwe         Netherlands  13910.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
...             ...                 ...      ...                                  ...
12          Albania            Viet Nam  40428.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
13          Albania               Kenya  24127.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
14          Albania              France  22272.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
15          Albania               Spain  20066.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
16          Albania            Portugal  15137.0  CORPORATE ALLIANCE PAYMENTS PTY LTD

[1193 rows x 4 columns]
Filtered top rows for CORPORATE ALLIANCE PAYMENTS PTY LTD:
     source_country destination_country           gsv                       source_partner
138      Australia               India  1271119070.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
139      Australia               Kenya   100661663.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
140      Australia            Viet Nam    86869347.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
141      Australia         Philippines    51386339.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
142      Australia      United Kingdom    46499428.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
143      Australia            Malaysia    45569162.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
144      Australia          Bangladesh    40785924.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
145      Australia               Ghana    14536937.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
146      Australia              Uganda    10896328.0  CORPORATE ALLIANCE PAYMENTS PTY LTD
147      Australia             Germany     9418964.0  CORPORATE ALLIANCE PAYMENTS PTY LTD

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for CORPORATE ALLIANCE PAYMENTS PTY LTD:
                         source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia          Bangladesh    40785924.0        <NA>          NEW            Sukesh
1  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia               Ghana    14536937.0        <NA>          NEW            Sukesh
3  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia               India  1271119070.0    295543.0     EXISTING            Sukesh
4  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia               Kenya   100661663.0        <NA>          NEW            Sukesh
5  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia            Malaysia    45569162.0        <NA>          NEW            Sukesh
6  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia         Philippines    51386339.0        <NA>          NEW            Sukesh
7  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9  CORPORATE ALLIANCE PAYMENTS PTY LTD      Australia            Viet Nam    86869347.0      8764.0     EXISTING            Sukesh

Processing for Cross ENF Inc...
Top rows for Cross ENF Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  Cross ENF Inc
1     Åland Islands               Kenya  15868.0  Cross ENF Inc
5091       Zimbabwe               India  22701.0  Cross ENF Inc
5092       Zimbabwe        South Africa  17959.0  Cross ENF Inc
5093       Zimbabwe         Netherlands  13910.0  Cross ENF Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  Cross ENF Inc
13          Albania               Kenya  24127.0  Cross ENF Inc
14          Albania              France  22272.0  Cross ENF Inc
15          Albania               Spain  20066.0  Cross ENF Inc
16          Albania            Portugal  15137.0  Cross ENF Inc

[1193 rows x 4 columns]
Filtered top rows for Cross ENF Inc:
           source_country destination_country           gsv source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0  Cross ENF Inc
2336  Korea, Republic of            Thailand   288926158.0  Cross ENF Inc
2337  Korea, Republic of               India   177194543.0  Cross ENF Inc
2338  Korea, Republic of          Bangladesh   140079656.0  Cross ENF Inc
2339  Korea, Republic of         Philippines    67784948.0  Cross ENF Inc
2340  Korea, Republic of            Malaysia    24960937.0  Cross ENF Inc
2341  Korea, Republic of           Indonesia    23490272.0  Cross ENF Inc
2342  Korea, Republic of               Nepal    16072605.0  Cross ENF Inc
2343  Korea, Republic of              Uganda    13095239.0  Cross ENF Inc
2344  Korea, Republic of               China    11886460.0  Cross ENF Inc
Updated Merged Results with Regional Director and Partner Gsv for Cross ENF Inc:
   source_partner      source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0  Cross ENF Inc  Korea, Republic of          Bangladesh   140079656.0       7301.0     EXISTING            Sukesh
1  Cross ENF Inc  Korea, Republic of               China    11886460.0         <NA>          NEW            Sukesh
2  Cross ENF Inc  Korea, Republic of               India   177194543.0          4.0     EXISTING            Sukesh
3  Cross ENF Inc  Korea, Republic of           Indonesia    23490272.0         <NA>          NEW            Sukesh
4  Cross ENF Inc  Korea, Republic of            Malaysia    24960937.0         <NA>          NEW            Sukesh
5  Cross ENF Inc  Korea, Republic of               Nepal    16072605.0         <NA>          NEW            Sukesh
6  Cross ENF Inc  Korea, Republic of         Philippines    67784948.0          9.0     EXISTING            Sukesh
7  Cross ENF Inc  Korea, Republic of            Thailand   288926158.0    1997083.0     EXISTING            Sukesh
8  Cross ENF Inc  Korea, Republic of              Uganda    13095239.0         <NA>          NEW            Sukesh
9  Cross ENF Inc  Korea, Republic of            Viet Nam  1273265577.0  244980766.0     EXISTING            Sukesh

Processing for CrossPay...
Top rows for CrossPay:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       CrossPay
1     Åland Islands               Kenya  15868.0       CrossPay
5091       Zimbabwe               India  22701.0       CrossPay
5092       Zimbabwe        South Africa  17959.0       CrossPay
5093       Zimbabwe         Netherlands  13910.0       CrossPay
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       CrossPay
13          Albania               Kenya  24127.0       CrossPay
14          Albania              France  22272.0       CrossPay
15          Albania               Spain  20066.0       CrossPay
16          Albania            Portugal  15137.0       CrossPay

[1193 rows x 4 columns]
Filtered top rows for CrossPay:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0       CrossPay
4725  United Kingdom               Kenya  372996239.0       CrossPay
4726  United Kingdom          Bangladesh  222801157.0       CrossPay
4727  United Kingdom               Ghana  184628486.0       CrossPay
4729  United Kingdom              Uganda  151640757.0       CrossPay
4730  United Kingdom            Viet Nam  130053730.0       CrossPay
4731  United Kingdom         Philippines   57615497.0       CrossPay
4732  United Kingdom            Tanzania   52293484.0       CrossPay
4733  United Kingdom               Spain   36806984.0       CrossPay
4734  United Kingdom            Pakistan   34877833.0       CrossPay
Updated Merged Results with Regional Director and Partner Gsv for CrossPay:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       CrossPay  United Kingdom          Bangladesh  222801157.0    731565.0     EXISTING            Viktor
1       CrossPay  United Kingdom               Ghana  184628486.0     43830.0     EXISTING            Viktor
2       CrossPay  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
3       CrossPay  United Kingdom               Kenya  372996239.0     67069.0     EXISTING            Viktor
4       CrossPay  United Kingdom            Pakistan   34877833.0     26859.0     EXISTING            Viktor
5       CrossPay  United Kingdom         Philippines   57615497.0    141148.0     EXISTING            Viktor
6       CrossPay  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7       CrossPay  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8       CrossPay  United Kingdom              Uganda  151640757.0     13597.0     EXISTING            Viktor
9       CrossPay  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Currenxie Limited...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for Currenxie Limited:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Currenxie Limited
1     Åland Islands               Kenya  15868.0  Currenxie Limited
5091       Zimbabwe               India  22701.0  Currenxie Limited
5092       Zimbabwe        South Africa  17959.0  Currenxie Limited
5093       Zimbabwe         Netherlands  13910.0  Currenxie Limited
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Currenxie Limited
13          Albania               Kenya  24127.0  Currenxie Limited
14          Albania              France  22272.0  Currenxie Limited
15          Albania               Spain  20066.0  Currenxie Limited
16          Albania            Portugal  15137.0  Currenxie Limited

[1193 rows x 4 columns]
Filtered top rows for Currenxie Limited:
      source_country destination_country           gsv     source_partner
1736      Hong Kong         Philippines  1722181320.0  Currenxie Limited
1737      Hong Kong            Viet Nam     9110518.0  Currenxie Limited
1738      Hong Kong      United Kingdom     8249574.0  Currenxie Limited
1739      Hong Kong            Malaysia     3940931.0  Currenxie Limited
1740      Hong Kong               Kenya     2887925.0  Currenxie Limited
1741      Hong Kong               Ghana     2215950.0  Currenxie Limited
1742      Hong Kong              Uganda      703818.0  Currenxie Limited
1743      Hong Kong              France      582306.0  Currenxie Limited
1744      Hong Kong               India      450505.0  Currenxie Limited
1745      Hong Kong            Tanzania      439808.0  Currenxie Limited
Updated Merged Results with Regional Director and Partner Gsv for Currenxie Limited:
       source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Currenxie Limited      Hong Kong              France      582306.0        <NA>          NEW            Sukesh
1  Currenxie Limited      Hong Kong               Ghana     2215950.0        <NA>          NEW            Sukesh
2  Currenxie Limited      Hong Kong               India      450505.0    448904.0     EXISTING            Sukesh
3  Currenxie Limited      Hong Kong               Kenya     2887925.0        <NA>          NEW            Sukesh
4  Currenxie Limited      Hong Kong            Malaysia     3940931.0         3.0     EXISTING            Sukesh
5  Currenxie Limited      Hong Kong         Philippines  1722181320.0        <NA>          NEW            Sukesh
6  Currenxie Limited      Hong Kong            Tanzania      439808.0        <NA>          NEW            Sukesh
7  Currenxie Limited      Hong Kong              Uganda      703818.0        <NA>          NEW            Sukesh
8  Currenxie Limited      Hong Kong      United Kingdom     8249574.0        <NA>          NEW            Sukesh
9  Currenxie Limited      Hong Kong            Viet Nam     9110518.0        <NA>          NEW            Sukesh

Processing for DADANADA NL SARL...
Top rows for DADANADA NL SARL:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  DADANADA NL SARL
1     Åland Islands               Kenya  15868.0  DADANADA NL SARL
5091       Zimbabwe               India  22701.0  DADANADA NL SARL
5092       Zimbabwe        South Africa  17959.0  DADANADA NL SARL
5093       Zimbabwe         Netherlands  13910.0  DADANADA NL SARL
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  DADANADA NL SARL
13          Albania               Kenya  24127.0  DADANADA NL SARL
14          Albania              France  22272.0  DADANADA NL SARL
15          Albania               Spain  20066.0  DADANADA NL SARL
16          Albania            Portugal  15137.0  DADANADA NL SARL

[1193 rows x 4 columns]
Filtered top rows for DADANADA NL SARL:
                          source_country       destination_country          gsv    source_partner
1541                            Germany                  Viet Nam  196201152.0  DADANADA NL SARL
1543                            Germany                     Kenya   53744055.0  DADANADA NL SARL
1544                            Germany                     Ghana   31083381.0  DADANADA NL SARL
1545                            Germany                Bangladesh   28415599.0  DADANADA NL SARL
1546                            Germany                   Belgium   23851252.0  DADANADA NL SARL
1547                            Germany                 Lithuania   22385522.0  DADANADA NL SARL
1548                            Germany                     India   21816642.0  DADANADA NL SARL
1549                            Germany                  Cameroon   19613391.0  DADANADA NL SARL
1550                            Germany                     Spain   16203785.0  DADANADA NL SARL
1551                            Germany                    Uganda   11697389.0  DADANADA NL SARL
971   Congo, Democratic Republic of the                    France     457124.0  DADANADA NL SARL
972   Congo, Democratic Republic of the                   Belgium     413328.0  DADANADA NL SARL
973   Congo, Democratic Republic of the                 Lithuania      83002.0  DADANADA NL SARL
974   Congo, Democratic Republic of the                   Germany      75845.0  DADANADA NL SARL
975   Congo, Democratic Republic of the                     India      53116.0  DADANADA NL SARL
976   Congo, Democratic Republic of the            United Kingdom      47520.0  DADANADA NL SARL
977   Congo, Democratic Republic of the  United States of America      35927.0  DADANADA NL SARL
978   Congo, Democratic Republic of the                     Kenya      30918.0  DADANADA NL SARL
979   Congo, Democratic Republic of the                    Poland      19785.0  DADANADA NL SARL
980   Congo, Democratic Republic of the                  Portugal      19006.0  DADANADA NL SARL
748                              Canada                     India  211296069.0  DADANADA NL SARL
749                              Canada               Philippines   57990615.0  DADANADA NL SARL
750                              Canada                     Ghana   57154456.0  DADANADA NL SARL
751                              Canada                  Viet Nam   37930649.0  DADANADA NL SARL
752                              Canada                     Kenya   29951383.0  DADANADA NL SARL
753                              Canada                    Uganda   27682200.0  DADANADA NL SARL
754                              Canada                     Benin   22477592.0  DADANADA NL SARL
755                              Canada                Bangladesh   19317938.0  DADANADA NL SARL
756                              Canada                  Cameroon   18872246.0  DADANADA NL SARL
757                              Canada                  Tanzania   18091580.0  DADANADA NL SARL

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for DADANADA NL SARL:
       source_partner                     source_country       destination_country          gsv Partner_Gsv existing/new regional_director
0   DADANADA NL SARL                             Canada                Bangladesh   19317938.0        <NA>          NEW     Koert & Maria
1   DADANADA NL SARL                             Canada                     Benin   22477592.0        <NA>          NEW     Koert & Maria
2   DADANADA NL SARL                             Canada                  Cameroon   18872246.0        <NA>          NEW     Koert & Maria
3   DADANADA NL SARL                             Canada                     Ghana   57154456.0        <NA>          NEW     Koert & Maria
4   DADANADA NL SARL                             Canada                     India  211296069.0        16.0     EXISTING     Koert & Maria
5   DADANADA NL SARL                             Canada                     Kenya   29951383.0        <NA>          NEW     Koert & Maria
6   DADANADA NL SARL                             Canada               Philippines   57990615.0        <NA>          NEW     Koert & Maria
7   DADANADA NL SARL                             Canada                  Tanzania   18091580.0        <NA>          NEW     Koert & Maria
8   DADANADA NL SARL                             Canada                    Uganda   27682200.0        <NA>          NEW     Koert & Maria
9   DADANADA NL SARL                             Canada                  Viet Nam   37930649.0        <NA>          NEW     Koert & Maria
10  DADANADA NL SARL  Congo, Democratic Republic of the                   Belgium     413328.0        <NA>          NEW     Koert & Maria
11  DADANADA NL SARL  Congo, Democratic Republic of the                    France     457124.0        <NA>          NEW     Koert & Maria
12  DADANADA NL SARL  Congo, Democratic Republic of the                   Germany      75845.0        <NA>          NEW     Koert & Maria
13  DADANADA NL SARL  Congo, Democratic Republic of the                     India      53116.0        <NA>          NEW     Koert & Maria
14  DADANADA NL SARL  Congo, Democratic Republic of the                     Kenya      30918.0        <NA>          NEW     Koert & Maria
15  DADANADA NL SARL  Congo, Democratic Republic of the                 Lithuania      83002.0        <NA>          NEW     Koert & Maria
16  DADANADA NL SARL  Congo, Democratic Republic of the                    Poland      19785.0        <NA>          NEW     Koert & Maria
17  DADANADA NL SARL  Congo, Democratic Republic of the                  Portugal      19006.0        <NA>          NEW     Koert & Maria
18  DADANADA NL SARL  Congo, Democratic Republic of the            United Kingdom      47520.0        <NA>          NEW     Koert & Maria
19  DADANADA NL SARL  Congo, Democratic Republic of the  United States of America      35927.0     35927.0     EXISTING     Koert & Maria
20  DADANADA NL SARL                            Germany                Bangladesh   28415599.0        <NA>          NEW     Koert & Maria
21  DADANADA NL SARL                            Germany                   Belgium   23851252.0        <NA>          NEW     Koert & Maria
22  DADANADA NL SARL                            Germany                  Cameroon   19613391.0        <NA>          NEW     Koert & Maria
23  DADANADA NL SARL                            Germany                     Ghana   31083381.0        <NA>          NEW     Koert & Maria
24  DADANADA NL SARL                            Germany                     India   21816642.0        <NA>          NEW     Koert & Maria
25  DADANADA NL SARL                            Germany                     Kenya   53744055.0        <NA>          NEW     Koert & Maria
26  DADANADA NL SARL                            Germany                 Lithuania   22385522.0        <NA>          NEW     Koert & Maria
27  DADANADA NL SARL                            Germany                     Spain   16203785.0        <NA>          NEW     Koert & Maria
28  DADANADA NL SARL                            Germany                    Uganda   11697389.0        <NA>          NEW     Koert & Maria
29  DADANADA NL SARL                            Germany                  Viet Nam  196201152.0        <NA>          NEW     Koert & Maria

Processing for DANESH Exchange...
Top rows for DANESH Exchange:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  DANESH Exchange
1     Åland Islands               Kenya  15868.0  DANESH Exchange
5091       Zimbabwe               India  22701.0  DANESH Exchange
5092       Zimbabwe        South Africa  17959.0  DANESH Exchange
5093       Zimbabwe         Netherlands  13910.0  DANESH Exchange
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  DANESH Exchange
13          Albania               Kenya  24127.0  DANESH Exchange
14          Albania              France  22272.0  DANESH Exchange
15          Albania               Spain  20066.0  DANESH Exchange
16          Albania            Portugal  15137.0  DANESH Exchange

[1193 rows x 4 columns]
Filtered top rows for DANESH Exchange:
     source_country destination_country           gsv   source_partner
138      Australia               India  1271119070.0  DANESH Exchange
139      Australia               Kenya   100661663.0  DANESH Exchange
140      Australia            Viet Nam    86869347.0  DANESH Exchange
141      Australia         Philippines    51386339.0  DANESH Exchange
142      Australia      United Kingdom    46499428.0  DANESH Exchange
143      Australia            Malaysia    45569162.0  DANESH Exchange
144      Australia          Bangladesh    40785924.0  DANESH Exchange
145      Australia               Ghana    14536937.0  DANESH Exchange
146      Australia              Uganda    10896328.0  DANESH Exchange
147      Australia             Germany     9418964.0  DANESH Exchange
Updated Merged Results with Regional Director and Partner Gsv for DANESH Exchange:
     source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  DANESH Exchange      Australia          Bangladesh    40785924.0      8739.0     EXISTING            Sukesh
1  DANESH Exchange      Australia             Germany     9418964.0       325.0     EXISTING            Sukesh
2  DANESH Exchange      Australia               Ghana    14536937.0        <NA>          NEW            Sukesh
3  DANESH Exchange      Australia               India  1271119070.0     50137.0     EXISTING            Sukesh
4  DANESH Exchange      Australia               Kenya   100661663.0        <NA>          NEW            Sukesh
5  DANESH Exchange      Australia            Malaysia    45569162.0     47070.0     EXISTING            Sukesh
6  DANESH Exchange      Australia         Philippines    51386339.0      2575.0     EXISTING            Sukesh
7  DANESH Exchange      Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8  DANESH Exchange      Australia      United Kingdom    46499428.0      3720.0     EXISTING            Sukesh
9  DANESH Exchange      Australia            Viet Nam    86869347.0       382.0     EXISTING            Sukesh

Processing for DAYTONA...
Top rows for DAYTONA:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        DAYTONA
1     Åland Islands               Kenya  15868.0        DAYTONA
5091       Zimbabwe               India  22701.0        DAYTONA
5092       Zimbabwe        South Africa  17959.0        DAYTONA
5093       Zimbabwe         Netherlands  13910.0        DAYTONA
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        DAYTONA
13          Albania               Kenya  24127.0        DAYTONA
14          Albania              France  22272.0        DAYTONA
15          Albania               Spain  20066.0        DAYTONA
16          Albania            Portugal  15137.0        DAYTONA

[1193 rows x 4 columns]
Filtered top rows for DAYTONA:
      source_country destination_country         gsv source_partner
5060         Zambia         Philippines    708664.0        DAYTONA
5061         Zambia               Ghana    147786.0        DAYTONA
5062         Zambia               Kenya     87643.0        DAYTONA
5063         Zambia        South Africa     69158.0        DAYTONA
5064         Zambia         Netherlands     56097.0        DAYTONA
...             ...                 ...         ...            ...
301         Bahrain               Ghana  15374036.0        DAYTONA
302         Bahrain         Philippines   8465479.0        DAYTONA
303         Bahrain            Cameroon   4956559.0        DAYTONA
304         Bahrain            Pakistan   3662759.0        DAYTONA
305         Bahrain            Malaysia   2304540.0        DAYTONA

[80 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for DAYTONA:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0         DAYTONA        Bahrain          Bangladesh  205631976.0     31780.0     EXISTING            Willie
1         DAYTONA        Bahrain            Cameroon    4956559.0    557415.0     EXISTING            Willie
2         DAYTONA        Bahrain               Ghana   15374036.0    199493.0     EXISTING            Willie
3         DAYTONA        Bahrain               India   30113015.0        <NA>          NEW            Willie
4         DAYTONA        Bahrain               Kenya   28674621.0   1210830.0     EXISTING            Willie
..            ...            ...                 ...          ...         ...          ...               ...
75        DAYTONA         Zambia         Philippines     708664.0        <NA>          NEW            Willie
76        DAYTONA         Zambia            Portugal      17654.0        <NA>          NEW            Willie
77        DAYTONA         Zambia        South Africa      69158.0        <NA>          NEW            Willie
78        DAYTONA         Zambia            Tanzania      46794.0        <NA>          NEW            Willie
79        DAYTONA         Zambia            Thailand      24777.0     21545.0     EXISTING            Willie

[80 rows x 7 columns]

Processing for Dee_Money...
Top rows for Dee_Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Dee_Money
1     Åland Islands               Kenya  15868.0      Dee_Money
5091       Zimbabwe               India  22701.0      Dee_Money
5092       Zimbabwe        South Africa  17959.0      Dee_Money
5093       Zimbabwe         Netherlands  13910.0      Dee_Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Dee_Money
13          Albania               Kenya  24127.0      Dee_Money
14          Albania              France  22272.0      Dee_Money
15          Albania               Spain  20066.0      Dee_Money
16          Albania            Portugal  15137.0      Dee_Money

[1193 rows x 4 columns]
Filtered top rows for Dee_Money:
      source_country destination_country        gsv source_partner
4397       Thailand            Malaysia  4188902.0      Dee_Money
4398       Thailand         Philippines  3321411.0      Dee_Money
4399       Thailand      United Kingdom  3132619.0      Dee_Money
4400       Thailand            Viet Nam  1803492.0      Dee_Money
4401       Thailand              Uganda  1319703.0      Dee_Money
4402       Thailand             Germany   880674.0      Dee_Money
4403       Thailand               Ghana   731628.0      Dee_Money
4404       Thailand         Netherlands   719208.0      Dee_Money
4405       Thailand              France   551088.0      Dee_Money
4406       Thailand             Belgium   427520.0      Dee_Money
Updated Merged Results with Regional Director and Partner Gsv for Dee_Money:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0      Dee_Money       Thailand             Belgium   427520.0        <NA>          NEW            Sukesh
1      Dee_Money       Thailand              France   551088.0        <NA>          NEW            Sukesh
2      Dee_Money       Thailand             Germany   880674.0        <NA>          NEW            Sukesh
3      Dee_Money       Thailand               Ghana   731628.0        <NA>          NEW            Sukesh
4      Dee_Money       Thailand            Malaysia  4188902.0        <NA>          NEW            Sukesh
5      Dee_Money       Thailand         Netherlands   719208.0        <NA>          NEW            Sukesh
6      Dee_Money       Thailand         Philippines  3321411.0       537.0     EXISTING            Sukesh
7      Dee_Money       Thailand              Uganda  1319703.0        <NA>          NEW            Sukesh
8      Dee_Money       Thailand      United Kingdom  3132619.0        <NA>          NEW            Sukesh
9      Dee_Money       Thailand            Viet Nam  1803492.0        <NA>          NEW            Sukesh

Processing for Digipay...
Top rows for Digipay:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        Digipay
1     Åland Islands               Kenya  15868.0        Digipay
5091       Zimbabwe               India  22701.0        Digipay
5092       Zimbabwe        South Africa  17959.0        Digipay
5093       Zimbabwe         Netherlands  13910.0        Digipay
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        Digipay
13          Albania               Kenya  24127.0        Digipay
14          Albania              France  22272.0        Digipay
15          Albania               Spain  20066.0        Digipay
16          Albania            Portugal  15137.0        Digipay

[1193 rows x 4 columns]
Filtered top rows for Digipay:
     source_country destination_country         gsv source_partner
924          Congo              France  25657220.0        Digipay
925          Congo               India   2845506.0        Digipay
926          Congo             Belgium   1106256.0        Digipay
927          Congo             Germany    623025.0        Digipay
928          Congo               Spain    473600.0        Digipay
929          Congo               Italy    438793.0        Digipay
930          Congo            Portugal    341163.0        Digipay
931          Congo      United Kingdom    286740.0        Digipay
932          Congo               Benin    282732.0        Digipay
933          Congo       Côte d'Ivoire    273450.0        Digipay

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Digipay:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0        Digipay          Congo             Belgium   1106256.0    455452.0     EXISTING               NaN
1        Digipay          Congo               Benin    282732.0    163859.0     EXISTING               NaN
2        Digipay          Congo       Côte d'Ivoire    273450.0    164978.0     EXISTING               NaN
3        Digipay          Congo              France  25657220.0   5324600.0     EXISTING               NaN
4        Digipay          Congo             Germany    623025.0    237968.0     EXISTING               NaN
5        Digipay          Congo               India   2845506.0   1363738.0     EXISTING               NaN
6        Digipay          Congo               Italy    438793.0    221919.0     EXISTING               NaN
7        Digipay          Congo            Portugal    341163.0    138461.0     EXISTING               NaN
8        Digipay          Congo               Spain    473600.0    140758.0     EXISTING               NaN
9        Digipay          Congo      United Kingdom    286740.0    246114.0     EXISTING               NaN

Processing for DigiPay...
Top rows for DigiPay:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        DigiPay
1     Åland Islands               Kenya  15868.0        DigiPay
5091       Zimbabwe               India  22701.0        DigiPay
5092       Zimbabwe        South Africa  17959.0        DigiPay
5093       Zimbabwe         Netherlands  13910.0        DigiPay
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        DigiPay
13          Albania               Kenya  24127.0        DigiPay
14          Albania              France  22272.0        DigiPay
15          Albania               Spain  20066.0        DigiPay
16          Albania            Portugal  15137.0        DigiPay

[1193 rows x 4 columns]
Filtered top rows for DigiPay:
     source_country destination_country         gsv source_partner
924          Congo              France  25657220.0        DigiPay
925          Congo               India   2845506.0        DigiPay
926          Congo             Belgium   1106256.0        DigiPay
927          Congo             Germany    623025.0        DigiPay
928          Congo               Spain    473600.0        DigiPay
929          Congo               Italy    438793.0        DigiPay
930          Congo            Portugal    341163.0        DigiPay
931          Congo      United Kingdom    286740.0        DigiPay
932          Congo               Benin    282732.0        DigiPay
933          Congo       Côte d'Ivoire    273450.0        DigiPay
Updated Merged Results with Regional Director and Partner Gsv for DigiPay:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0        DigiPay          Congo             Belgium   1106256.0    110652.0     EXISTING           Mamadou
1        DigiPay          Congo               Benin    282732.0     25602.0     EXISTING           Mamadou
2        DigiPay          Congo       Côte d'Ivoire    273450.0     37598.0     EXISTING           Mamadou
3        DigiPay          Congo              France  25657220.0   1078171.0     EXISTING           Mamadou
4        DigiPay          Congo             Germany    623025.0     40449.0     EXISTING           Mamadou
5        DigiPay          Congo               India   2845506.0     23202.0     EXISTING           Mamadou
6        DigiPay          Congo               Italy    438793.0     51939.0     EXISTING           Mamadou
7        DigiPay          Congo            Portugal    341163.0       639.0     EXISTING           Mamadou
8        DigiPay          Congo               Spain    473600.0     66552.0     EXISTING           Mamadou
9        DigiPay          Congo      United Kingdom    286740.0     40626.0     EXISTING           Mamadou

Processing for Digipay CD...
Top rows for Digipay CD:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Digipay CD
1     Åland Islands               Kenya  15868.0     Digipay CD
5091       Zimbabwe               India  22701.0     Digipay CD
5092       Zimbabwe        South Africa  17959.0     Digipay CD
5093       Zimbabwe         Netherlands  13910.0     Digipay CD
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Digipay CD
13          Albania               Kenya  24127.0     Digipay CD
14          Albania              France  22272.0     Digipay CD
15          Albania               Spain  20066.0     Digipay CD
16          Albania            Portugal  15137.0     Digipay CD

[1193 rows x 4 columns]
Filtered top rows for Digipay CD:
                         source_country       destination_country       gsv source_partner
971  Congo, Democratic Republic of the                    France  457124.0     Digipay CD
972  Congo, Democratic Republic of the                   Belgium  413328.0     Digipay CD
973  Congo, Democratic Republic of the                 Lithuania   83002.0     Digipay CD
974  Congo, Democratic Republic of the                   Germany   75845.0     Digipay CD
975  Congo, Democratic Republic of the                     India   53116.0     Digipay CD
976  Congo, Democratic Republic of the            United Kingdom   47520.0     Digipay CD
977  Congo, Democratic Republic of the  United States of America   35927.0     Digipay CD
978  Congo, Democratic Republic of the                     Kenya   30918.0     Digipay CD
979  Congo, Democratic Republic of the                    Poland   19785.0     Digipay CD
980  Congo, Democratic Republic of the                  Portugal   19006.0     Digipay CD

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Digipay CD:
   source_partner                     source_country       destination_country       gsv Partner_Gsv existing/new regional_director
0     Digipay CD  Congo, Democratic Republic of the                   Belgium  413328.0    116567.0     EXISTING           Mamadou
1     Digipay CD  Congo, Democratic Republic of the                    France  457124.0    248157.0     EXISTING           Mamadou
2     Digipay CD  Congo, Democratic Republic of the                   Germany   75845.0     35644.0     EXISTING           Mamadou
3     Digipay CD  Congo, Democratic Republic of the                     India   53116.0     26907.0     EXISTING           Mamadou
4     Digipay CD  Congo, Democratic Republic of the                     Kenya   30918.0     30918.0     EXISTING           Mamadou
5     Digipay CD  Congo, Democratic Republic of the                 Lithuania   83002.0        <NA>          NEW           Mamadou
6     Digipay CD  Congo, Democratic Republic of the                    Poland   19785.0     19785.0     EXISTING           Mamadou
7     Digipay CD  Congo, Democratic Republic of the                  Portugal   19006.0        <NA>          NEW           Mamadou
8     Digipay CD  Congo, Democratic Republic of the            United Kingdom   47520.0     47520.0     EXISTING           Mamadou
9     Digipay CD  Congo, Democratic Republic of the  United States of America   35927.0        <NA>          NEW           Mamadou

Processing for Digipay CG...
Top rows for Digipay CG:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Digipay CG
1     Åland Islands               Kenya  15868.0     Digipay CG
5091       Zimbabwe               India  22701.0     Digipay CG
5092       Zimbabwe        South Africa  17959.0     Digipay CG
5093       Zimbabwe         Netherlands  13910.0     Digipay CG
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Digipay CG
13          Albania               Kenya  24127.0     Digipay CG
14          Albania              France  22272.0     Digipay CG
15          Albania               Spain  20066.0     Digipay CG
16          Albania            Portugal  15137.0     Digipay CG

[1193 rows x 4 columns]
Filtered top rows for Digipay CG:
     source_country destination_country         gsv source_partner
924          Congo              France  25657220.0     Digipay CG
925          Congo               India   2845506.0     Digipay CG
926          Congo             Belgium   1106256.0     Digipay CG
927          Congo             Germany    623025.0     Digipay CG
928          Congo               Spain    473600.0     Digipay CG
929          Congo               Italy    438793.0     Digipay CG
930          Congo            Portugal    341163.0     Digipay CG
931          Congo      United Kingdom    286740.0     Digipay CG
932          Congo               Benin    282732.0     Digipay CG
933          Congo       Côte d'Ivoire    273450.0     Digipay CG
Updated Merged Results with Regional Director and Partner Gsv for Digipay CG:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0     Digipay CG          Congo             Belgium   1106256.0     37152.0     EXISTING           Mamadou
1     Digipay CG          Congo               Benin    282732.0     93158.0     EXISTING           Mamadou
2     Digipay CG          Congo       Côte d'Ivoire    273450.0     56244.0     EXISTING           Mamadou
3     Digipay CG          Congo              France  25657220.0    489526.0     EXISTING           Mamadou
4     Digipay CG          Congo             Germany    623025.0     20422.0     EXISTING           Mamadou
5     Digipay CG          Congo               India   2845506.0   1358338.0     EXISTING           Mamadou
6     Digipay CG          Congo               Italy    438793.0     56203.0     EXISTING           Mamadou
7     Digipay CG          Congo            Portugal    341163.0      4514.0     EXISTING           Mamadou
8     Digipay CG          Congo               Spain    473600.0     36051.0     EXISTING           Mamadou
9     Digipay CG          Congo      United Kingdom    286740.0        <NA>          NEW           Mamadou

Processing for Digital International Bank...
Top rows for Digital International Bank:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Digital International Bank
1     Åland Islands               Kenya  15868.0  Digital International Bank
5091       Zimbabwe               India  22701.0  Digital International Bank
5092       Zimbabwe        South Africa  17959.0  Digital International Bank
5093       Zimbabwe         Netherlands  13910.0  Digital International Bank
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Digital International Bank
13          Albania               Kenya  24127.0  Digital International Bank
14          Albania              France  22272.0  Digital International Bank
15          Albania               Spain  20066.0  Digital International Bank
16          Albania            Portugal  15137.0  Digital International Bank

[1193 rows x 4 columns]
Filtered top rows for Digital International Bank:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Digital International Bank:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for DigitWace LLC...
Top rows for DigitWace LLC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  DigitWace LLC
1     Åland Islands               Kenya  15868.0  DigitWace LLC
5091       Zimbabwe               India  22701.0  DigitWace LLC
5092       Zimbabwe        South Africa  17959.0  DigitWace LLC
5093       Zimbabwe         Netherlands  13910.0  DigitWace LLC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  DigitWace LLC
13          Albania               Kenya  24127.0  DigitWace LLC
14          Albania              France  22272.0  DigitWace LLC
15          Albania               Spain  20066.0  DigitWace LLC
16          Albania            Portugal  15137.0  DigitWace LLC

[1193 rows x 4 columns]
Filtered top rows for DigitWace LLC:
     source_country       destination_country         gsv source_partner
706       Cameroon                   Belgium  57913726.0  DigitWace LLC
707       Cameroon                      Mali   2902030.0  DigitWace LLC
708       Cameroon               Netherlands   2887263.0  DigitWace LLC
709       Cameroon                     Benin   2680518.0  DigitWace LLC
710       Cameroon                    France   2384431.0  DigitWace LLC
711       Cameroon             Côte d'Ivoire   1629509.0  DigitWace LLC
712       Cameroon                   Germany    742687.0  DigitWace LLC
713       Cameroon                     Italy    583218.0  DigitWace LLC
714       Cameroon                 Lithuania    255345.0  DigitWace LLC
715       Cameroon  United States of America    173314.0  DigitWace LLC
Updated Merged Results with Regional Director and Partner Gsv for DigitWace LLC:
   source_partner source_country       destination_country         gsv Partner_Gsv existing/new regional_director
0  DigitWace LLC       Cameroon                   Belgium  57913726.0    899764.0     EXISTING           Mamadou
1  DigitWace LLC       Cameroon                     Benin   2680518.0      3441.0     EXISTING           Mamadou
2  DigitWace LLC       Cameroon             Côte d'Ivoire   1629509.0     33639.0     EXISTING           Mamadou
3  DigitWace LLC       Cameroon                    France   2384431.0    459905.0     EXISTING           Mamadou
4  DigitWace LLC       Cameroon                   Germany    742687.0     29982.0     EXISTING           Mamadou
5  DigitWace LLC       Cameroon                     Italy    583218.0     29353.0     EXISTING           Mamadou
6  DigitWace LLC       Cameroon                 Lithuania    255345.0        55.0     EXISTING           Mamadou
7  DigitWace LLC       Cameroon                      Mali   2902030.0     29514.0     EXISTING           Mamadou
8  DigitWace LLC       Cameroon               Netherlands   2887263.0     16038.0     EXISTING           Mamadou
9  DigitWace LLC       Cameroon  United States of America    173314.0     61635.0     EXISTING           Mamadou

Processing for Dimagi Inc...
Top rows for Dimagi Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Dimagi Inc
1     Åland Islands               Kenya  15868.0     Dimagi Inc
5091       Zimbabwe               India  22701.0     Dimagi Inc
5092       Zimbabwe        South Africa  17959.0     Dimagi Inc
5093       Zimbabwe         Netherlands  13910.0     Dimagi Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Dimagi Inc
13          Albania               Kenya  24127.0     Dimagi Inc
14          Albania              France  22272.0     Dimagi Inc
15          Albania               Spain  20066.0     Dimagi Inc
16          Albania            Portugal  15137.0     Dimagi Inc

[1193 rows x 4 columns]
Filtered top rows for Dimagi Inc:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Dimagi Inc:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for dLocal...
Top rows for dLocal:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         dLocal
1     Åland Islands               Kenya  15868.0         dLocal
5091       Zimbabwe               India  22701.0         dLocal
5092       Zimbabwe        South Africa  17959.0         dLocal
5093       Zimbabwe         Netherlands  13910.0         dLocal
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         dLocal
13          Albania               Kenya  24127.0         dLocal
14          Albania              France  22272.0         dLocal
15          Albania               Spain  20066.0         dLocal
16          Albania            Portugal  15137.0         dLocal

[1193 rows x 4 columns]
Filtered top rows for dLocal:
      source_country destination_country        gsv source_partner
2839          Malta               India  5768944.0         dLocal
2840          Malta            Thailand  4359409.0         dLocal
2841          Malta          Bangladesh  1654213.0         dLocal
2842          Malta               Ghana  1133504.0         dLocal
2843          Malta               Italy   658892.0         dLocal
2844          Malta               Kenya   597665.0         dLocal
2845          Malta               Spain   454990.0         dLocal
2846          Malta             Belgium   426831.0         dLocal
2847          Malta           Lithuania   270791.0         dLocal
2848          Malta         Philippines   250502.0         dLocal

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for dLocal:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0         dLocal          Malta          Bangladesh  1654213.0        <NA>          NEW            Viktor
1         dLocal          Malta             Belgium   426831.0        <NA>          NEW            Viktor
2         dLocal          Malta               Ghana  1133504.0    266995.0     EXISTING            Viktor
3         dLocal          Malta               India  5768944.0   2987483.0     EXISTING            Viktor
4         dLocal          Malta               Italy   658892.0        <NA>          NEW            Viktor
5         dLocal          Malta               Kenya   597665.0    176319.0     EXISTING            Viktor
6         dLocal          Malta           Lithuania   270791.0        <NA>          NEW            Viktor
7         dLocal          Malta         Philippines   250502.0        <NA>          NEW            Viktor
8         dLocal          Malta               Spain   454990.0        <NA>          NEW            Viktor
9         dLocal          Malta            Thailand  4359409.0   4645878.0     EXISTING            Viktor

Processing for Doha Exchange Co...
Top rows for Doha Exchange Co:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Doha Exchange Co
1     Åland Islands               Kenya  15868.0  Doha Exchange Co
5091       Zimbabwe               India  22701.0  Doha Exchange Co
5092       Zimbabwe        South Africa  17959.0  Doha Exchange Co
5093       Zimbabwe         Netherlands  13910.0  Doha Exchange Co
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Doha Exchange Co
13          Albania               Kenya  24127.0  Doha Exchange Co
14          Albania              France  22272.0  Doha Exchange Co
15          Albania               Spain  20066.0  Doha Exchange Co
16          Albania            Portugal  15137.0  Doha Exchange Co

[1193 rows x 4 columns]
Filtered top rows for Doha Exchange Co:
      source_country destination_country           gsv    source_partner
3570          Qatar               India  1364429345.0  Doha Exchange Co
3571          Qatar               Kenya   199406963.0  Doha Exchange Co
3572          Qatar          Bangladesh   191208238.0  Doha Exchange Co
3573          Qatar              Uganda   100836860.0  Doha Exchange Co
3574          Qatar            Malaysia    80500570.0  Doha Exchange Co
3575          Qatar               Ghana    74195942.0  Doha Exchange Co
3576          Qatar         Philippines    45528278.0  Doha Exchange Co
3577          Qatar            Thailand    17414674.0  Doha Exchange Co
3578          Qatar             Nigeria     8543471.0  Doha Exchange Co
3579          Qatar               Nepal     7123914.0  Doha Exchange Co
Updated Merged Results with Regional Director and Partner Gsv for Doha Exchange Co:
      source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  Doha Exchange Co          Qatar          Bangladesh   191208238.0   5670358.0     EXISTING            Bassem
1  Doha Exchange Co          Qatar               Ghana    74195942.0    579442.0     EXISTING            Bassem
2  Doha Exchange Co          Qatar               India  1364429345.0         1.0     EXISTING            Bassem
3  Doha Exchange Co          Qatar               Kenya   199406963.0   1086419.0     EXISTING            Bassem
4  Doha Exchange Co          Qatar            Malaysia    80500570.0    165374.0     EXISTING            Bassem
5  Doha Exchange Co          Qatar               Nepal     7123914.0    482381.0     EXISTING            Bassem
6  Doha Exchange Co          Qatar             Nigeria     8543471.0   3775682.0     EXISTING            Bassem
7  Doha Exchange Co          Qatar         Philippines    45528278.0    373813.0     EXISTING            Bassem
8  Doha Exchange Co          Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
9  Doha Exchange Co          Qatar              Uganda   100836860.0    300725.0     EXISTING            Bassem

Processing for E4F...
Top rows for E4F:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            E4F
1     Åland Islands               Kenya  15868.0            E4F
5091       Zimbabwe               India  22701.0            E4F
5092       Zimbabwe        South Africa  17959.0            E4F
5093       Zimbabwe         Netherlands  13910.0            E4F
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            E4F
13          Albania               Kenya  24127.0            E4F
14          Albania              France  22272.0            E4F
15          Albania               Spain  20066.0            E4F
16          Albania            Portugal  15137.0            E4F

[1193 rows x 4 columns]
Filtered top rows for E4F:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0            E4F
4725  United Kingdom               Kenya  372996239.0            E4F
4726  United Kingdom          Bangladesh  222801157.0            E4F
4727  United Kingdom               Ghana  184628486.0            E4F
4729  United Kingdom              Uganda  151640757.0            E4F
4730  United Kingdom            Viet Nam  130053730.0            E4F
4731  United Kingdom         Philippines   57615497.0            E4F
4732  United Kingdom            Tanzania   52293484.0            E4F
4733  United Kingdom               Spain   36806984.0            E4F
4734  United Kingdom            Pakistan   34877833.0            E4F
Updated Merged Results with Regional Director and Partner Gsv for E4F:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0            E4F  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Willie
1            E4F  United Kingdom               Ghana  184628486.0     26896.0     EXISTING            Willie
2            E4F  United Kingdom               India  722564261.0        <NA>          NEW            Willie
3            E4F  United Kingdom               Kenya  372996239.0        <NA>          NEW            Willie
4            E4F  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Willie
5            E4F  United Kingdom         Philippines   57615497.0      6590.0     EXISTING            Willie
6            E4F  United Kingdom               Spain   36806984.0        <NA>          NEW            Willie
7            E4F  United Kingdom            Tanzania   52293484.0      5485.0     EXISTING            Willie
8            E4F  United Kingdom              Uganda  151640757.0      8386.0     EXISTING            Willie
9            E4F  United Kingdom            Viet Nam  130053730.0     36764.0     EXISTING            Willie

Processing for Easy Financial Services...
Top rows for Easy Financial Services:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  Easy Financial Services
1     Åland Islands               Kenya  15868.0  Easy Financial Services
5091       Zimbabwe               India  22701.0  Easy Financial Services
5092       Zimbabwe        South Africa  17959.0  Easy Financial Services
5093       Zimbabwe         Netherlands  13910.0  Easy Financial Services
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  Easy Financial Services
13          Albania               Kenya  24127.0  Easy Financial Services
14          Albania              France  22272.0  Easy Financial Services
15          Albania               Spain  20066.0  Easy Financial Services
16          Albania            Portugal  15137.0  Easy Financial Services

[1193 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Filtered top rows for Easy Financial Services:
      source_country destination_country      gsv           source_partner
1511         Gambia      United Kingdom  72730.0  Easy Financial Services
1512         Gambia             Senegal  34103.0  Easy Financial Services
1513         Gambia               Ghana  11103.0  Easy Financial Services
Updated Merged Results with Regional Director and Partner Gsv for Easy Financial Services:
             source_partner source_country destination_country      gsv Partner_Gsv existing/new regional_director
0  Easy Financial Services         Gambia               Ghana  11103.0      8529.0     EXISTING           Mamadou
1  Easy Financial Services         Gambia             Senegal  34103.0     34381.0     EXISTING           Mamadou
2  Easy Financial Services         Gambia      United Kingdom  72730.0     73473.0     EXISTING           Mamadou

Processing for Ebix Cash...
Top rows for Ebix Cash:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Ebix Cash
1     Åland Islands               Kenya  15868.0      Ebix Cash
5091       Zimbabwe               India  22701.0      Ebix Cash
5092       Zimbabwe        South Africa  17959.0      Ebix Cash
5093       Zimbabwe         Netherlands  13910.0      Ebix Cash
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Ebix Cash
13          Albania               Kenya  24127.0      Ebix Cash
14          Albania              France  22272.0      Ebix Cash
15          Albania               Spain  20066.0      Ebix Cash
16          Albania            Portugal  15137.0      Ebix Cash

[1193 rows x 4 columns]
Filtered top rows for Ebix Cash:
     source_country destination_country          gsv source_partner
748         Canada               India  211296069.0      Ebix Cash
749         Canada         Philippines   57990615.0      Ebix Cash
750         Canada               Ghana   57154456.0      Ebix Cash
751         Canada            Viet Nam   37930649.0      Ebix Cash
752         Canada               Kenya   29951383.0      Ebix Cash
753         Canada              Uganda   27682200.0      Ebix Cash
754         Canada               Benin   22477592.0      Ebix Cash
755         Canada          Bangladesh   19317938.0      Ebix Cash
756         Canada            Cameroon   18872246.0      Ebix Cash
757         Canada            Tanzania   18091580.0      Ebix Cash
Updated Merged Results with Regional Director and Partner Gsv for Ebix Cash:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0      Ebix Cash         Canada          Bangladesh   19317938.0   1153897.0     EXISTING            Philip
1      Ebix Cash         Canada               Benin   22477592.0        <NA>          NEW            Philip
2      Ebix Cash         Canada            Cameroon   18872246.0        <NA>          NEW            Philip
3      Ebix Cash         Canada               Ghana   57154456.0        <NA>          NEW            Philip
4      Ebix Cash         Canada               India  211296069.0        <NA>          NEW            Philip
5      Ebix Cash         Canada               Kenya   29951383.0        <NA>          NEW            Philip
6      Ebix Cash         Canada         Philippines   57990615.0    133106.0     EXISTING            Philip
7      Ebix Cash         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8      Ebix Cash         Canada              Uganda   27682200.0        <NA>          NEW            Philip
9      Ebix Cash         Canada            Viet Nam   37930649.0         4.0     EXISTING            Philip

Processing for Edens Capital Inc...
Top rows for Edens Capital Inc:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Edens Capital Inc
1     Åland Islands               Kenya  15868.0  Edens Capital Inc
5091       Zimbabwe               India  22701.0  Edens Capital Inc
5092       Zimbabwe        South Africa  17959.0  Edens Capital Inc
5093       Zimbabwe         Netherlands  13910.0  Edens Capital Inc
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Edens Capital Inc
13          Albania               Kenya  24127.0  Edens Capital Inc
14          Albania              France  22272.0  Edens Capital Inc
15          Albania               Spain  20066.0  Edens Capital Inc
16          Albania            Portugal  15137.0  Edens Capital Inc

[1193 rows x 4 columns]
Filtered top rows for Edens Capital Inc:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Edens Capital Inc:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for e Kwacha Global Limited...
Top rows for e Kwacha Global Limited:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  e Kwacha Global Limited
1     Åland Islands               Kenya  15868.0  e Kwacha Global Limited
5091       Zimbabwe               India  22701.0  e Kwacha Global Limited
5092       Zimbabwe        South Africa  17959.0  e Kwacha Global Limited
5093       Zimbabwe         Netherlands  13910.0  e Kwacha Global Limited
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  e Kwacha Global Limited
13          Albania               Kenya  24127.0  e Kwacha Global Limited
14          Albania              France  22272.0  e Kwacha Global Limited
15          Albania               Spain  20066.0  e Kwacha Global Limited
16          Albania            Portugal  15137.0  e Kwacha Global Limited

[1193 rows x 4 columns]
Filtered top rows for e Kwacha Global Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for e Kwacha Global Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Elephant Money Ltd...
Top rows for Elephant Money Ltd:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Elephant Money Ltd
1     Åland Islands               Kenya  15868.0  Elephant Money Ltd
5091       Zimbabwe               India  22701.0  Elephant Money Ltd
5092       Zimbabwe        South Africa  17959.0  Elephant Money Ltd
5093       Zimbabwe         Netherlands  13910.0  Elephant Money Ltd
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Elephant Money Ltd
13          Albania               Kenya  24127.0  Elephant Money Ltd
14          Albania              France  22272.0  Elephant Money Ltd
15          Albania               Spain  20066.0  Elephant Money Ltd
16          Albania            Portugal  15137.0  Elephant Money Ltd

[1193 rows x 4 columns]
Filtered top rows for Elephant Money Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Elephant Money Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Elevate Pay INC...
Top rows for Elevate Pay INC:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Elevate Pay INC
1     Åland Islands               Kenya  15868.0  Elevate Pay INC
5091       Zimbabwe               India  22701.0  Elevate Pay INC
5092       Zimbabwe        South Africa  17959.0  Elevate Pay INC
5093       Zimbabwe         Netherlands  13910.0  Elevate Pay INC
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Elevate Pay INC
13          Albania               Kenya  24127.0  Elevate Pay INC
14          Albania              France  22272.0  Elevate Pay INC
15          Albania               Spain  20066.0  Elevate Pay INC
16          Albania            Portugal  15137.0  Elevate Pay INC

[1193 rows x 4 columns]
Filtered top rows for Elevate Pay INC:
                 source_country destination_country          gsv   source_partner
4845  United States of America         Philippines  855243500.0  Elevate Pay INC
4846  United States of America               Ghana  854031550.0  Elevate Pay INC
4847  United States of America             Liberia  423311206.0  Elevate Pay INC
4848  United States of America            Viet Nam  299709130.0  Elevate Pay INC
4849  United States of America               India  237645288.0  Elevate Pay INC
4850  United States of America            Tanzania  224628683.0  Elevate Pay INC
4851  United States of America          Bangladesh  207173742.0  Elevate Pay INC
4852  United States of America               Kenya  193169745.0  Elevate Pay INC
4853  United States of America            Cameroon  162051487.0  Elevate Pay INC
4854  United States of America              Uganda  160458035.0  Elevate Pay INC
Updated Merged Results with Regional Director and Partner Gsv for Elevate Pay INC:
     source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Elevate Pay INC  United States of America          Bangladesh  207173742.0   1260968.0     EXISTING            Philip
1  Elevate Pay INC  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Elevate Pay INC  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Elevate Pay INC  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Elevate Pay INC  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Elevate Pay INC  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Elevate Pay INC  United States of America         Philippines  855243500.0     18907.0     EXISTING            Philip
7  Elevate Pay INC  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Elevate Pay INC  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Elevate Pay INC  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Equity Bank South Sudan Limited...
Top rows for Equity Bank South Sudan Limited:
      source_country destination_country      gsv                   source_partner
0     Åland Islands            Viet Nam  85001.0  Equity Bank South Sudan Limited
1     Åland Islands               Kenya  15868.0  Equity Bank South Sudan Limited
5091       Zimbabwe               India  22701.0  Equity Bank South Sudan Limited
5092       Zimbabwe        South Africa  17959.0  Equity Bank South Sudan Limited
5093       Zimbabwe         Netherlands  13910.0  Equity Bank South Sudan Limited
...             ...                 ...      ...                              ...
12          Albania            Viet Nam  40428.0  Equity Bank South Sudan Limited
13          Albania               Kenya  24127.0  Equity Bank South Sudan Limited
14          Albania              France  22272.0  Equity Bank South Sudan Limited
15          Albania               Spain  20066.0  Equity Bank South Sudan Limited
16          Albania            Portugal  15137.0  Equity Bank South Sudan Limited

[1193 rows x 4 columns]
Filtered top rows for Equity Bank South Sudan Limited:
      source_country destination_country        gsv                   source_partner
4130    South Sudan              Uganda  1399169.0  Equity Bank South Sudan Limited
4131    South Sudan               Kenya   534021.0  Equity Bank South Sudan Limited
4132    South Sudan            Zimbabwe   190045.0  Equity Bank South Sudan Limited
4133    South Sudan               India   145465.0  Equity Bank South Sudan Limited
Updated Merged Results with Regional Director and Partner Gsv for Equity Bank South Sudan Limited:
                     source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Equity Bank South Sudan Limited    South Sudan               India   145465.0        <NA>          NEW            Willie
1  Equity Bank South Sudan Limited    South Sudan               Kenya   534021.0     53666.0     EXISTING            Willie
2  Equity Bank South Sudan Limited    South Sudan              Uganda  1399169.0     36598.0     EXISTING            Willie
3  Equity Bank South Sudan Limited    South Sudan            Zimbabwe   190045.0        <NA>          NEW            Willie

Processing for EZ Money...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for EZ Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       EZ Money
1     Åland Islands               Kenya  15868.0       EZ Money
5091       Zimbabwe               India  22701.0       EZ Money
5092       Zimbabwe        South Africa  17959.0       EZ Money
5093       Zimbabwe         Netherlands  13910.0       EZ Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       EZ Money
13          Albania               Kenya  24127.0       EZ Money
14          Albania              France  22272.0       EZ Money
15          Albania               Spain  20066.0       EZ Money
16          Albania            Portugal  15137.0       EZ Money

[1193 rows x 4 columns]
Filtered top rows for EZ Money:
      source_country destination_country          gsv source_partner
2747       Malaysia          Bangladesh  127020237.0       EZ Money
2748       Malaysia               India   18147705.0       EZ Money
2749       Malaysia            Viet Nam   17636102.0       EZ Money
2750       Malaysia         Philippines   13187307.0       EZ Money
2751       Malaysia           Indonesia    7123704.0       EZ Money
2752       Malaysia               Kenya    2381057.0       EZ Money
2753       Malaysia               Ghana    1126550.0       EZ Money
2754       Malaysia              Uganda     896036.0       EZ Money
2755       Malaysia      United Kingdom     654328.0       EZ Money
2756       Malaysia             Germany     523692.0       EZ Money
Updated Merged Results with Regional Director and Partner Gsv for EZ Money:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       EZ Money       Malaysia          Bangladesh  127020237.0      8290.0     EXISTING            Sukesh
1       EZ Money       Malaysia             Germany     523692.0        <NA>          NEW            Sukesh
2       EZ Money       Malaysia               Ghana    1126550.0        <NA>          NEW            Sukesh
3       EZ Money       Malaysia               India   18147705.0    204775.0     EXISTING            Sukesh
4       EZ Money       Malaysia           Indonesia    7123704.0        <NA>          NEW            Sukesh
5       EZ Money       Malaysia               Kenya    2381057.0        <NA>          NEW            Sukesh
6       EZ Money       Malaysia         Philippines   13187307.0        <NA>          NEW            Sukesh
7       EZ Money       Malaysia              Uganda     896036.0        <NA>          NEW            Sukesh
8       EZ Money       Malaysia      United Kingdom     654328.0        <NA>          NEW            Sukesh
9       EZ Money       Malaysia            Viet Nam   17636102.0    322406.0     EXISTING            Sukesh

Processing for Family Link Money Transfer...
Top rows for Family Link Money Transfer:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Family Link Money Transfer
1     Åland Islands               Kenya  15868.0  Family Link Money Transfer
5091       Zimbabwe               India  22701.0  Family Link Money Transfer
5092       Zimbabwe        South Africa  17959.0  Family Link Money Transfer
5093       Zimbabwe         Netherlands  13910.0  Family Link Money Transfer
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Family Link Money Transfer
13          Albania               Kenya  24127.0  Family Link Money Transfer
14          Albania              France  22272.0  Family Link Money Transfer
15          Albania               Spain  20066.0  Family Link Money Transfer
16          Albania            Portugal  15137.0  Family Link Money Transfer

[1193 rows x 4 columns]
Filtered top rows for Family Link Money Transfer:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Family Link Money Transfer:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Financial House Limited...
Top rows for Financial House Limited:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  Financial House Limited
1     Åland Islands               Kenya  15868.0  Financial House Limited
5091       Zimbabwe               India  22701.0  Financial House Limited
5092       Zimbabwe        South Africa  17959.0  Financial House Limited
5093       Zimbabwe         Netherlands  13910.0  Financial House Limited
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  Financial House Limited
13          Albania               Kenya  24127.0  Financial House Limited
14          Albania              France  22272.0  Financial House Limited
15          Albania               Spain  20066.0  Financial House Limited
16          Albania            Portugal  15137.0  Financial House Limited

[1193 rows x 4 columns]
Filtered top rows for Financial House Limited:
       source_country destination_country          gsv           source_partner
4724  United Kingdom               India  722564261.0  Financial House Limited
4725  United Kingdom               Kenya  372996239.0  Financial House Limited
4726  United Kingdom          Bangladesh  222801157.0  Financial House Limited
4727  United Kingdom               Ghana  184628486.0  Financial House Limited
4729  United Kingdom              Uganda  151640757.0  Financial House Limited
4730  United Kingdom            Viet Nam  130053730.0  Financial House Limited
4731  United Kingdom         Philippines   57615497.0  Financial House Limited
4732  United Kingdom            Tanzania   52293484.0  Financial House Limited
4733  United Kingdom               Spain   36806984.0  Financial House Limited
4734  United Kingdom            Pakistan   34877833.0  Financial House Limited

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Financial House Limited:
              source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   Financial House Limited  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1   Financial House Limited  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Bassem
2   Financial House Limited  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
3   Financial House Limited  United Kingdom               Ghana  184628486.0        <NA>          NEW            Bassem
4   Financial House Limited  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
5   Financial House Limited  United Kingdom               India  722564261.0        <NA>          NEW            Bassem
6   Financial House Limited  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
7   Financial House Limited  United Kingdom               Kenya  372996239.0        <NA>          NEW            Bassem
8   Financial House Limited  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
9   Financial House Limited  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Bassem
10  Financial House Limited  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
11  Financial House Limited  United Kingdom         Philippines   57615497.0        <NA>          NEW            Bassem
12  Financial House Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
13  Financial House Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Bassem
14  Financial House Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
15  Financial House Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Bassem
16  Financial House Limited  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
17  Financial House Limited  United Kingdom              Uganda  151640757.0        <NA>          NEW            Bassem
18  Financial House Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor
19  Financial House Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Bassem

Processing for FINANCIERA GOLDEN LEAF S.A....
Top rows for FINANCIERA GOLDEN LEAF S.A.:
      source_country destination_country      gsv               source_partner
0     Åland Islands            Viet Nam  85001.0  FINANCIERA GOLDEN LEAF S.A.
1     Åland Islands               Kenya  15868.0  FINANCIERA GOLDEN LEAF S.A.
5091       Zimbabwe               India  22701.0  FINANCIERA GOLDEN LEAF S.A.
5092       Zimbabwe        South Africa  17959.0  FINANCIERA GOLDEN LEAF S.A.
5093       Zimbabwe         Netherlands  13910.0  FINANCIERA GOLDEN LEAF S.A.
...             ...                 ...      ...                          ...
12          Albania            Viet Nam  40428.0  FINANCIERA GOLDEN LEAF S.A.
13          Albania               Kenya  24127.0  FINANCIERA GOLDEN LEAF S.A.
14          Albania              France  22272.0  FINANCIERA GOLDEN LEAF S.A.
15          Albania               Spain  20066.0  FINANCIERA GOLDEN LEAF S.A.
16          Albania            Portugal  15137.0  FINANCIERA GOLDEN LEAF S.A.

[1193 rows x 4 columns]
Filtered top rows for FINANCIERA GOLDEN LEAF S.A.:
      source_country destination_country        gsv               source_partner
3356         Panama               Spain  4642514.0  FINANCIERA GOLDEN LEAF S.A.
3357         Panama            Portugal   407806.0  FINANCIERA GOLDEN LEAF S.A.
3358         Panama            Colombia   234454.0  FINANCIERA GOLDEN LEAF S.A.
3359         Panama               Italy   221617.0  FINANCIERA GOLDEN LEAF S.A.
3360         Panama             Germany   156834.0  FINANCIERA GOLDEN LEAF S.A.
3361         Panama              France   137604.0  FINANCIERA GOLDEN LEAF S.A.
3362         Panama             Belgium   114545.0  FINANCIERA GOLDEN LEAF S.A.
3363         Panama         Netherlands   100378.0  FINANCIERA GOLDEN LEAF S.A.
3364         Panama           Lithuania    44959.0  FINANCIERA GOLDEN LEAF S.A.
3365         Panama            Viet Nam    38046.0  FINANCIERA GOLDEN LEAF S.A.
Updated Merged Results with Regional Director and Partner Gsv for FINANCIERA GOLDEN LEAF S.A.:
                 source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  FINANCIERA GOLDEN LEAF S.A.         Panama             Belgium   114545.0         5.0     EXISTING            Philip
1  FINANCIERA GOLDEN LEAF S.A.         Panama            Colombia   234454.0      2577.0     EXISTING            Philip
2  FINANCIERA GOLDEN LEAF S.A.         Panama              France   137604.0         5.0     EXISTING            Philip
3  FINANCIERA GOLDEN LEAF S.A.         Panama             Germany   156834.0        <NA>          NEW            Philip
4  FINANCIERA GOLDEN LEAF S.A.         Panama               Italy   221617.0        <NA>          NEW            Philip
5  FINANCIERA GOLDEN LEAF S.A.         Panama           Lithuania    44959.0        <NA>          NEW            Philip
6  FINANCIERA GOLDEN LEAF S.A.         Panama         Netherlands   100378.0        <NA>          NEW            Philip
7  FINANCIERA GOLDEN LEAF S.A.         Panama            Portugal   407806.0        <NA>          NEW            Philip
8  FINANCIERA GOLDEN LEAF S.A.         Panama               Spain  4642514.0        <NA>          NEW            Philip
9  FINANCIERA GOLDEN LEAF S.A.         Panama            Viet Nam    38046.0        <NA>          NEW            Philip

Processing for FinShot. Inc...
Top rows for FinShot. Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   FinShot. Inc
1     Åland Islands               Kenya  15868.0   FinShot. Inc
5091       Zimbabwe               India  22701.0   FinShot. Inc
5092       Zimbabwe        South Africa  17959.0   FinShot. Inc
5093       Zimbabwe         Netherlands  13910.0   FinShot. Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   FinShot. Inc
13          Albania               Kenya  24127.0   FinShot. Inc
14          Albania              France  22272.0   FinShot. Inc
15          Albania               Spain  20066.0   FinShot. Inc
16          Albania            Portugal  15137.0   FinShot. Inc

[1193 rows x 4 columns]
Filtered top rows for FinShot. Inc:
           source_country destination_country           gsv source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0   FinShot. Inc
2336  Korea, Republic of            Thailand   288926158.0   FinShot. Inc
2337  Korea, Republic of               India   177194543.0   FinShot. Inc
2338  Korea, Republic of          Bangladesh   140079656.0   FinShot. Inc
2339  Korea, Republic of         Philippines    67784948.0   FinShot. Inc
2340  Korea, Republic of            Malaysia    24960937.0   FinShot. Inc
2341  Korea, Republic of           Indonesia    23490272.0   FinShot. Inc
2342  Korea, Republic of               Nepal    16072605.0   FinShot. Inc
2343  Korea, Republic of              Uganda    13095239.0   FinShot. Inc
2344  Korea, Republic of               China    11886460.0   FinShot. Inc
Updated Merged Results with Regional Director and Partner Gsv for FinShot. Inc:
   source_partner      source_country destination_country           gsv Partner_Gsv existing/new regional_director
0   FinShot. Inc  Korea, Republic of          Bangladesh   140079656.0        <NA>          NEW            Sukesh
1   FinShot. Inc  Korea, Republic of               China    11886460.0        <NA>          NEW            Sukesh
2   FinShot. Inc  Korea, Republic of               India   177194543.0        <NA>          NEW            Sukesh
3   FinShot. Inc  Korea, Republic of           Indonesia    23490272.0        <NA>          NEW            Sukesh
4   FinShot. Inc  Korea, Republic of            Malaysia    24960937.0        <NA>          NEW            Sukesh
5   FinShot. Inc  Korea, Republic of               Nepal    16072605.0        <NA>          NEW            Sukesh
6   FinShot. Inc  Korea, Republic of         Philippines    67784948.0   2849063.0     EXISTING            Sukesh
7   FinShot. Inc  Korea, Republic of            Thailand   288926158.0    447631.0     EXISTING            Sukesh
8   FinShot. Inc  Korea, Republic of              Uganda    13095239.0        <NA>          NEW            Sukesh
9   FinShot. Inc  Korea, Republic of            Viet Nam  1273265577.0      7053.0     EXISTING            Sukesh

Processing for Flex Money South Sudan...
Top rows for Flex Money South Sudan:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Flex Money South Sudan
1     Åland Islands               Kenya  15868.0  Flex Money South Sudan
5091       Zimbabwe               India  22701.0  Flex Money South Sudan
5092       Zimbabwe        South Africa  17959.0  Flex Money South Sudan
5093       Zimbabwe         Netherlands  13910.0  Flex Money South Sudan
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Flex Money South Sudan
13          Albania               Kenya  24127.0  Flex Money South Sudan
14          Albania              France  22272.0  Flex Money South Sudan
15          Albania               Spain  20066.0  Flex Money South Sudan
16          Albania            Portugal  15137.0  Flex Money South Sudan

[1193 rows x 4 columns]
Filtered top rows for Flex Money South Sudan:
      source_country destination_country        gsv          source_partner
4130    South Sudan              Uganda  1399169.0  Flex Money South Sudan
4131    South Sudan               Kenya   534021.0  Flex Money South Sudan
4132    South Sudan            Zimbabwe   190045.0  Flex Money South Sudan
4133    South Sudan               India   145465.0  Flex Money South Sudan

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Flex Money South Sudan:
            source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Flex Money South Sudan    South Sudan               India   145465.0    136142.0     EXISTING            Willie
1  Flex Money South Sudan    South Sudan               Kenya   534021.0        <NA>          NEW            Willie
2  Flex Money South Sudan    South Sudan              Uganda  1399169.0    279800.0     EXISTING            Willie
3  Flex Money South Sudan    South Sudan            Zimbabwe   190045.0    195911.0     EXISTING            Willie

Processing for Flocash Limited...
Top rows for Flocash Limited:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Flocash Limited
1     Åland Islands               Kenya  15868.0  Flocash Limited
5091       Zimbabwe               India  22701.0  Flocash Limited
5092       Zimbabwe        South Africa  17959.0  Flocash Limited
5093       Zimbabwe         Netherlands  13910.0  Flocash Limited
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Flocash Limited
13          Albania               Kenya  24127.0  Flocash Limited
14          Albania              France  22272.0  Flocash Limited
15          Albania               Spain  20066.0  Flocash Limited
16          Albania            Portugal  15137.0  Flocash Limited

[1193 rows x 4 columns]
Filtered top rows for Flocash Limited:
      source_country destination_country         gsv   source_partner
2279          Kenya              Uganda  82132823.0  Flocash Limited
2281          Kenya               India  27920861.0  Flocash Limited
2282          Kenya            Tanzania   8763261.0  Flocash Limited
2283          Kenya               Ghana   8032865.0  Flocash Limited
2284          Kenya              Rwanda   3729508.0  Flocash Limited
2285          Kenya               China   1299996.0  Flocash Limited
2286          Kenya            Pakistan    646102.0  Flocash Limited
2287          Kenya            Cameroon    338074.0  Flocash Limited
2288          Kenya          Madagascar    308498.0  Flocash Limited
2289          Kenya             Nigeria    264875.0  Flocash Limited
Updated Merged Results with Regional Director and Partner Gsv for Flocash Limited:
     source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Flocash Limited          Kenya            Cameroon    338074.0        <NA>          NEW            Viktor
1  Flocash Limited          Kenya               China   1299996.0        <NA>          NEW            Viktor
2  Flocash Limited          Kenya               Ghana   8032865.0        <NA>          NEW            Viktor
3  Flocash Limited          Kenya               India  27920861.0      1640.0     EXISTING            Viktor
4  Flocash Limited          Kenya          Madagascar    308498.0        <NA>          NEW            Viktor
5  Flocash Limited          Kenya             Nigeria    264875.0        <NA>          NEW            Viktor
6  Flocash Limited          Kenya            Pakistan    646102.0        <NA>          NEW            Viktor
7  Flocash Limited          Kenya              Rwanda   3729508.0        <NA>          NEW            Viktor
8  Flocash Limited          Kenya            Tanzania   8763261.0        <NA>          NEW            Viktor
9  Flocash Limited          Kenya              Uganda  82132823.0        <NA>          NEW            Viktor

Processing for FOMO Pay PTE LTD - Fomopay...
Top rows for FOMO Pay PTE LTD - Fomopay:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  FOMO Pay PTE LTD - Fomopay
1     Åland Islands               Kenya  15868.0  FOMO Pay PTE LTD - Fomopay
5091       Zimbabwe               India  22701.0  FOMO Pay PTE LTD - Fomopay
5092       Zimbabwe        South Africa  17959.0  FOMO Pay PTE LTD - Fomopay
5093       Zimbabwe         Netherlands  13910.0  FOMO Pay PTE LTD - Fomopay
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  FOMO Pay PTE LTD - Fomopay
13          Albania               Kenya  24127.0  FOMO Pay PTE LTD - Fomopay
14          Albania              France  22272.0  FOMO Pay PTE LTD - Fomopay
15          Albania               Spain  20066.0  FOMO Pay PTE LTD - Fomopay
16          Albania            Portugal  15137.0  FOMO Pay PTE LTD - Fomopay

[1193 rows x 4 columns]
Filtered top rows for FOMO Pay PTE LTD - Fomopay:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for FOMO Pay PTE LTD - Fomopay:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Fynte...
Top rows for Fynte:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Fynte
1     Åland Islands               Kenya  15868.0          Fynte
5091       Zimbabwe               India  22701.0          Fynte
5092       Zimbabwe        South Africa  17959.0          Fynte
5093       Zimbabwe         Netherlands  13910.0          Fynte
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Fynte
13          Albania               Kenya  24127.0          Fynte
14          Albania              France  22272.0          Fynte
15          Albania               Spain  20066.0          Fynte
16          Albania            Portugal  15137.0          Fynte

[1193 rows x 4 columns]
Filtered top rows for Fynte:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Fynte:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for GCC Exchange UK Limited...
Top rows for GCC Exchange UK Limited:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  GCC Exchange UK Limited
1     Åland Islands               Kenya  15868.0  GCC Exchange UK Limited
5091       Zimbabwe               India  22701.0  GCC Exchange UK Limited
5092       Zimbabwe        South Africa  17959.0  GCC Exchange UK Limited
5093       Zimbabwe         Netherlands  13910.0  GCC Exchange UK Limited
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  GCC Exchange UK Limited
13          Albania               Kenya  24127.0  GCC Exchange UK Limited
14          Albania              France  22272.0  GCC Exchange UK Limited
15          Albania               Spain  20066.0  GCC Exchange UK Limited
16          Albania            Portugal  15137.0  GCC Exchange UK Limited

[1193 rows x 4 columns]
Filtered top rows for GCC Exchange UK Limited:
       source_country destination_country          gsv           source_partner
4724  United Kingdom               India  722564261.0  GCC Exchange UK Limited
4725  United Kingdom               Kenya  372996239.0  GCC Exchange UK Limited
4726  United Kingdom          Bangladesh  222801157.0  GCC Exchange UK Limited
4727  United Kingdom               Ghana  184628486.0  GCC Exchange UK Limited
4729  United Kingdom              Uganda  151640757.0  GCC Exchange UK Limited
4730  United Kingdom            Viet Nam  130053730.0  GCC Exchange UK Limited
4731  United Kingdom         Philippines   57615497.0  GCC Exchange UK Limited
4732  United Kingdom            Tanzania   52293484.0  GCC Exchange UK Limited
4733  United Kingdom               Spain   36806984.0  GCC Exchange UK Limited
4734  United Kingdom            Pakistan   34877833.0  GCC Exchange UK Limited

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for GCC Exchange UK Limited:
             source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  GCC Exchange UK Limited  United Kingdom          Bangladesh  222801157.0        13.0     EXISTING            Bassem
1  GCC Exchange UK Limited  United Kingdom               Ghana  184628486.0        <NA>          NEW            Bassem
2  GCC Exchange UK Limited  United Kingdom               India  722564261.0        <NA>          NEW            Bassem
3  GCC Exchange UK Limited  United Kingdom               Kenya  372996239.0        <NA>          NEW            Bassem
4  GCC Exchange UK Limited  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Bassem
5  GCC Exchange UK Limited  United Kingdom         Philippines   57615497.0        <NA>          NEW            Bassem
6  GCC Exchange UK Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Bassem
7  GCC Exchange UK Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Bassem
8  GCC Exchange UK Limited  United Kingdom              Uganda  151640757.0        <NA>          NEW            Bassem
9  GCC Exchange UK Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Bassem

Processing for GEA Limited...
Top rows for GEA Limited:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    GEA Limited
1     Åland Islands               Kenya  15868.0    GEA Limited
5091       Zimbabwe               India  22701.0    GEA Limited
5092       Zimbabwe        South Africa  17959.0    GEA Limited
5093       Zimbabwe         Netherlands  13910.0    GEA Limited
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    GEA Limited
13          Albania               Kenya  24127.0    GEA Limited
14          Albania              France  22272.0    GEA Limited
15          Albania               Spain  20066.0    GEA Limited
16          Albania            Portugal  15137.0    GEA Limited

[1193 rows x 4 columns]
Filtered top rows for GEA Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for GEA Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for GIVEDIRECTLY INC...
Top rows for GIVEDIRECTLY INC:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  GIVEDIRECTLY INC
1     Åland Islands               Kenya  15868.0  GIVEDIRECTLY INC
5091       Zimbabwe               India  22701.0  GIVEDIRECTLY INC
5092       Zimbabwe        South Africa  17959.0  GIVEDIRECTLY INC
5093       Zimbabwe         Netherlands  13910.0  GIVEDIRECTLY INC
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  GIVEDIRECTLY INC
13          Albania               Kenya  24127.0  GIVEDIRECTLY INC
14          Albania              France  22272.0  GIVEDIRECTLY INC
15          Albania               Spain  20066.0  GIVEDIRECTLY INC
16          Albania            Portugal  15137.0  GIVEDIRECTLY INC

[1193 rows x 4 columns]
Filtered top rows for GIVEDIRECTLY INC:
                 source_country destination_country          gsv    source_partner
4845  United States of America         Philippines  855243500.0  GIVEDIRECTLY INC
4846  United States of America               Ghana  854031550.0  GIVEDIRECTLY INC
4847  United States of America             Liberia  423311206.0  GIVEDIRECTLY INC
4848  United States of America            Viet Nam  299709130.0  GIVEDIRECTLY INC
4849  United States of America               India  237645288.0  GIVEDIRECTLY INC
4850  United States of America            Tanzania  224628683.0  GIVEDIRECTLY INC
4851  United States of America          Bangladesh  207173742.0  GIVEDIRECTLY INC
4852  United States of America               Kenya  193169745.0  GIVEDIRECTLY INC
4853  United States of America            Cameroon  162051487.0  GIVEDIRECTLY INC
4854  United States of America              Uganda  160458035.0  GIVEDIRECTLY INC
Updated Merged Results with Regional Director and Partner Gsv for GIVEDIRECTLY INC:
      source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  GIVEDIRECTLY INC  United States of America          Bangladesh  207173742.0         1.0     EXISTING            Philip
1  GIVEDIRECTLY INC  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  GIVEDIRECTLY INC  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  GIVEDIRECTLY INC  United States of America               India  237645288.0        <NA>          NEW            Philip
4  GIVEDIRECTLY INC  United States of America               Kenya  193169745.0         7.0     EXISTING            Philip
5  GIVEDIRECTLY INC  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  GIVEDIRECTLY INC  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  GIVEDIRECTLY INC  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  GIVEDIRECTLY INC  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  GIVEDIRECTLY INC  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for GLOBAL REMIT CURRENCY SERVICES LTD...
Top rows for GLOBAL REMIT CURRENCY SERVICES LTD:
      source_country destination_country      gsv                      source_partner
0     Åland Islands            Viet Nam  85001.0  GLOBAL REMIT CURRENCY SERVICES LTD
1     Åland Islands               Kenya  15868.0  GLOBAL REMIT CURRENCY SERVICES LTD
5091       Zimbabwe               India  22701.0  GLOBAL REMIT CURRENCY SERVICES LTD
5092       Zimbabwe        South Africa  17959.0  GLOBAL REMIT CURRENCY SERVICES LTD
5093       Zimbabwe         Netherlands  13910.0  GLOBAL REMIT CURRENCY SERVICES LTD
...             ...                 ...      ...                                 ...
12          Albania            Viet Nam  40428.0  GLOBAL REMIT CURRENCY SERVICES LTD
13          Albania               Kenya  24127.0  GLOBAL REMIT CURRENCY SERVICES LTD
14          Albania              France  22272.0  GLOBAL REMIT CURRENCY SERVICES LTD
15          Albania               Spain  20066.0  GLOBAL REMIT CURRENCY SERVICES LTD
16          Albania            Portugal  15137.0  GLOBAL REMIT CURRENCY SERVICES LTD

[1193 rows x 4 columns]
Filtered top rows for GLOBAL REMIT CURRENCY SERVICES LTD:
      source_country destination_country          gsv                      source_partner
1990         Israel               India  262803942.0  GLOBAL REMIT CURRENCY SERVICES LTD
1991         Israel         Philippines   46488318.0  GLOBAL REMIT CURRENCY SERVICES LTD
1992         Israel            Thailand   43405347.0  GLOBAL REMIT CURRENCY SERVICES LTD
1993         Israel               China   32649449.0  GLOBAL REMIT CURRENCY SERVICES LTD
1994         Israel              Uganda   12875559.0  GLOBAL REMIT CURRENCY SERVICES LTD
1995         Israel            Tanzania    8675247.0  GLOBAL REMIT CURRENCY SERVICES LTD
1996         Israel             Nigeria    8363616.0  GLOBAL REMIT CURRENCY SERVICES LTD
1997         Israel               Kenya    7805566.0  GLOBAL REMIT CURRENCY SERVICES LTD
1998         Israel              Rwanda    5367315.0  GLOBAL REMIT CURRENCY SERVICES LTD
1999         Israel               Ghana    2988861.0  GLOBAL REMIT CURRENCY SERVICES LTD

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for GLOBAL REMIT CURRENCY SERVICES LTD:
                        source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  GLOBAL REMIT CURRENCY SERVICES LTD         Israel               China   32649449.0        40.0     EXISTING            Viktor
1  GLOBAL REMIT CURRENCY SERVICES LTD         Israel               Ghana    2988861.0        <NA>          NEW            Viktor
2  GLOBAL REMIT CURRENCY SERVICES LTD         Israel               India  262803942.0        <NA>          NEW            Viktor
3  GLOBAL REMIT CURRENCY SERVICES LTD         Israel               Kenya    7805566.0        <NA>          NEW            Viktor
4  GLOBAL REMIT CURRENCY SERVICES LTD         Israel             Nigeria    8363616.0        <NA>          NEW            Viktor
5  GLOBAL REMIT CURRENCY SERVICES LTD         Israel         Philippines   46488318.0        <NA>          NEW            Viktor
6  GLOBAL REMIT CURRENCY SERVICES LTD         Israel              Rwanda    5367315.0        <NA>          NEW            Viktor
7  GLOBAL REMIT CURRENCY SERVICES LTD         Israel            Tanzania    8675247.0        <NA>          NEW            Viktor
8  GLOBAL REMIT CURRENCY SERVICES LTD         Israel            Thailand   43405347.0   9919974.0     EXISTING            Viktor
9  GLOBAL REMIT CURRENCY SERVICES LTD         Israel              Uganda   12875559.0        <NA>          NEW            Viktor

Processing for GME...
Top rows for GME:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            GME
1     Åland Islands               Kenya  15868.0            GME
5091       Zimbabwe               India  22701.0            GME
5092       Zimbabwe        South Africa  17959.0            GME
5093       Zimbabwe         Netherlands  13910.0            GME
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            GME
13          Albania               Kenya  24127.0            GME
14          Albania              France  22272.0            GME
15          Albania               Spain  20066.0            GME
16          Albania            Portugal  15137.0            GME

[1193 rows x 4 columns]
Filtered top rows for GME:
      source_country destination_country         gsv source_partner
3249           Oman          Bangladesh  45339602.0            GME
3250           Oman            Tanzania  26059967.0            GME
3251           Oman         Philippines  24617019.0            GME
3252           Oman               Kenya  19852109.0            GME
3253           Oman              Uganda  16599432.0            GME
3254           Oman            Thailand   9905277.0            GME
3255           Oman               India   6657635.0            GME
3256           Oman           Indonesia   4841332.0            GME
3257           Oman               Ghana   4629902.0            GME
3258           Oman      United Kingdom   4368724.0            GME
Updated Merged Results with Regional Director and Partner Gsv for GME:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0            GME           Oman          Bangladesh  45339602.0  11870738.0     EXISTING            Bassem
1            GME           Oman               Ghana   4629902.0   1761195.0     EXISTING            Bassem
2            GME           Oman               India   6657635.0   1096492.0     EXISTING            Bassem
3            GME           Oman           Indonesia   4841332.0   4504234.0     EXISTING            Bassem
4            GME           Oman               Kenya  19852109.0  13431116.0     EXISTING            Bassem
5            GME           Oman         Philippines  24617019.0   1510647.0     EXISTING            Bassem
6            GME           Oman            Tanzania  26059967.0   8492592.0     EXISTING            Bassem
7            GME           Oman            Thailand   9905277.0   2199065.0     EXISTING            Bassem
8            GME           Oman              Uganda  16599432.0   5847789.0     EXISTING            Bassem
9            GME           Oman      United Kingdom   4368724.0   2772919.0     EXISTING            Bassem

Processing for GME_Korea...
Top rows for GME_Korea:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      GME_Korea
1     Åland Islands               Kenya  15868.0      GME_Korea
5091       Zimbabwe               India  22701.0      GME_Korea
5092       Zimbabwe        South Africa  17959.0      GME_Korea
5093       Zimbabwe         Netherlands  13910.0      GME_Korea
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      GME_Korea
13          Albania               Kenya  24127.0      GME_Korea
14          Albania              France  22272.0      GME_Korea
15          Albania               Spain  20066.0      GME_Korea
16          Albania            Portugal  15137.0      GME_Korea

[1193 rows x 4 columns]
Filtered top rows for GME_Korea:
           source_country destination_country           gsv source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0      GME_Korea
2336  Korea, Republic of            Thailand   288926158.0      GME_Korea
2337  Korea, Republic of               India   177194543.0      GME_Korea
2338  Korea, Republic of          Bangladesh   140079656.0      GME_Korea
2339  Korea, Republic of         Philippines    67784948.0      GME_Korea
2340  Korea, Republic of            Malaysia    24960937.0      GME_Korea
2341  Korea, Republic of           Indonesia    23490272.0      GME_Korea
2342  Korea, Republic of               Nepal    16072605.0      GME_Korea
2343  Korea, Republic of              Uganda    13095239.0      GME_Korea
2344  Korea, Republic of               China    11886460.0      GME_Korea
Updated Merged Results with Regional Director and Partner Gsv for GME_Korea:
   source_partner      source_country destination_country           gsv Partner_Gsv existing/new regional_director
0      GME_Korea  Korea, Republic of          Bangladesh   140079656.0  19523576.0     EXISTING            Sukesh
1      GME_Korea  Korea, Republic of               China    11886460.0        <NA>          NEW            Sukesh
2      GME_Korea  Korea, Republic of               India   177194543.0        <NA>          NEW            Sukesh
3      GME_Korea  Korea, Republic of           Indonesia    23490272.0   1095349.0     EXISTING            Sukesh
4      GME_Korea  Korea, Republic of            Malaysia    24960937.0        <NA>          NEW            Sukesh
5      GME_Korea  Korea, Republic of               Nepal    16072605.0        <NA>          NEW            Sukesh
6      GME_Korea  Korea, Republic of         Philippines    67784948.0   8037717.0     EXISTING            Sukesh
7      GME_Korea  Korea, Republic of            Thailand   288926158.0   7256729.0     EXISTING            Sukesh
8      GME_Korea  Korea, Republic of              Uganda    13095239.0   5819872.0     EXISTING            Sukesh
9      GME_Korea  Korea, Republic of            Viet Nam  1273265577.0     15415.0     EXISTING            Sukesh

Processing for GMoney...
Top rows for GMoney:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         GMoney
1     Åland Islands               Kenya  15868.0         GMoney
5091       Zimbabwe               India  22701.0         GMoney
5092       Zimbabwe        South Africa  17959.0         GMoney
5093       Zimbabwe         Netherlands  13910.0         GMoney
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         GMoney
13          Albania               Kenya  24127.0         GMoney
14          Albania              France  22272.0         GMoney
15          Albania               Spain  20066.0         GMoney
16          Albania            Portugal  15137.0         GMoney

[1193 rows x 4 columns]
Filtered top rows for GMoney:
           source_country destination_country           gsv source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0         GMoney
2336  Korea, Republic of            Thailand   288926158.0         GMoney
2337  Korea, Republic of               India   177194543.0         GMoney
2338  Korea, Republic of          Bangladesh   140079656.0         GMoney
2339  Korea, Republic of         Philippines    67784948.0         GMoney
2340  Korea, Republic of            Malaysia    24960937.0         GMoney
2341  Korea, Republic of           Indonesia    23490272.0         GMoney
2342  Korea, Republic of               Nepal    16072605.0         GMoney
2343  Korea, Republic of              Uganda    13095239.0         GMoney
2344  Korea, Republic of               China    11886460.0         GMoney

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for GMoney:
   source_partner      source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0         GMoney  Korea, Republic of          Bangladesh   140079656.0  105069511.0     EXISTING            Sukesh
1         GMoney  Korea, Republic of               China    11886460.0         <NA>          NEW            Sukesh
2         GMoney  Korea, Republic of               India   177194543.0   48311693.0     EXISTING            Sukesh
3         GMoney  Korea, Republic of           Indonesia    23490272.0         <NA>          NEW            Sukesh
4         GMoney  Korea, Republic of            Malaysia    24960937.0         <NA>          NEW            Sukesh
5         GMoney  Korea, Republic of               Nepal    16072605.0     104705.0     EXISTING            Sukesh
6         GMoney  Korea, Republic of         Philippines    67784948.0    8354984.0     EXISTING            Sukesh
7         GMoney  Korea, Republic of            Thailand   288926158.0     954995.0     EXISTING            Sukesh
8         GMoney  Korea, Republic of              Uganda    13095239.0    7279447.0     EXISTING            Sukesh
9         GMoney  Korea, Republic of            Viet Nam  1273265577.0     593501.0     EXISTING            Sukesh

Processing for Golden Money Transfer...
Top rows for Golden Money Transfer:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  Golden Money Transfer
1     Åland Islands               Kenya  15868.0  Golden Money Transfer
5091       Zimbabwe               India  22701.0  Golden Money Transfer
5092       Zimbabwe        South Africa  17959.0  Golden Money Transfer
5093       Zimbabwe         Netherlands  13910.0  Golden Money Transfer
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  Golden Money Transfer
13          Albania               Kenya  24127.0  Golden Money Transfer
14          Albania              France  22272.0  Golden Money Transfer
15          Albania               Spain  20066.0  Golden Money Transfer
16          Albania            Portugal  15137.0  Golden Money Transfer

[1193 rows x 4 columns]
Filtered top rows for Golden Money Transfer:
                 source_country destination_country          gsv         source_partner
4845  United States of America         Philippines  855243500.0  Golden Money Transfer
4846  United States of America               Ghana  854031550.0  Golden Money Transfer
4847  United States of America             Liberia  423311206.0  Golden Money Transfer
4848  United States of America            Viet Nam  299709130.0  Golden Money Transfer
4849  United States of America               India  237645288.0  Golden Money Transfer
4850  United States of America            Tanzania  224628683.0  Golden Money Transfer
4851  United States of America          Bangladesh  207173742.0  Golden Money Transfer
4852  United States of America               Kenya  193169745.0  Golden Money Transfer
4853  United States of America            Cameroon  162051487.0  Golden Money Transfer
4854  United States of America              Uganda  160458035.0  Golden Money Transfer
Updated Merged Results with Regional Director and Partner Gsv for Golden Money Transfer:
           source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Golden Money Transfer  United States of America          Bangladesh  207173742.0        98.0     EXISTING            Philip
1  Golden Money Transfer  United States of America            Cameroon  162051487.0      8002.0     EXISTING            Philip
2  Golden Money Transfer  United States of America               Ghana  854031550.0    280988.0     EXISTING            Philip
3  Golden Money Transfer  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Golden Money Transfer  United States of America               Kenya  193169745.0      6497.0     EXISTING            Philip
5  Golden Money Transfer  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Golden Money Transfer  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  Golden Money Transfer  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Golden Money Transfer  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Golden Money Transfer  United States of America            Viet Nam  299709130.0     17101.0     EXISTING            Philip

Processing for Golden Money Transfer Inc - Deal Based...
Top rows for Golden Money Transfer Inc - Deal Based:
      source_country destination_country      gsv                          source_partner
0     Åland Islands            Viet Nam  85001.0  Golden Money Transfer Inc - Deal Based
1     Åland Islands               Kenya  15868.0  Golden Money Transfer Inc - Deal Based
5091       Zimbabwe               India  22701.0  Golden Money Transfer Inc - Deal Based
5092       Zimbabwe        South Africa  17959.0  Golden Money Transfer Inc - Deal Based
5093       Zimbabwe         Netherlands  13910.0  Golden Money Transfer Inc - Deal Based
...             ...                 ...      ...                                     ...
12          Albania            Viet Nam  40428.0  Golden Money Transfer Inc - Deal Based
13          Albania               Kenya  24127.0  Golden Money Transfer Inc - Deal Based
14          Albania              France  22272.0  Golden Money Transfer Inc - Deal Based
15          Albania               Spain  20066.0  Golden Money Transfer Inc - Deal Based
16          Albania            Portugal  15137.0  Golden Money Transfer Inc - Deal Based

[1193 rows x 4 columns]
Filtered top rows for Golden Money Transfer Inc - Deal Based:
                 source_country destination_country          gsv                          source_partner
4845  United States of America         Philippines  855243500.0  Golden Money Transfer Inc - Deal Based
4846  United States of America               Ghana  854031550.0  Golden Money Transfer Inc - Deal Based
4847  United States of America             Liberia  423311206.0  Golden Money Transfer Inc - Deal Based
4848  United States of America            Viet Nam  299709130.0  Golden Money Transfer Inc - Deal Based
4849  United States of America               India  237645288.0  Golden Money Transfer Inc - Deal Based
4850  United States of America            Tanzania  224628683.0  Golden Money Transfer Inc - Deal Based
4851  United States of America          Bangladesh  207173742.0  Golden Money Transfer Inc - Deal Based
4852  United States of America               Kenya  193169745.0  Golden Money Transfer Inc - Deal Based
4853  United States of America            Cameroon  162051487.0  Golden Money Transfer Inc - Deal Based
4854  United States of America              Uganda  160458035.0  Golden Money Transfer Inc - Deal Based
Updated Merged Results with Regional Director and Partner Gsv for Golden Money Transfer Inc - Deal Based:
                            source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Golden Money Transfer Inc - Deal Based  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1  Golden Money Transfer Inc - Deal Based  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Golden Money Transfer Inc - Deal Based  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Golden Money Transfer Inc - Deal Based  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Golden Money Transfer Inc - Deal Based  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Golden Money Transfer Inc - Deal Based  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Golden Money Transfer Inc - Deal Based  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  Golden Money Transfer Inc - Deal Based  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Golden Money Transfer Inc - Deal Based  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Golden Money Transfer Inc - Deal Based  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Guavapay Limited...
Top rows for Guavapay Limited:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Guavapay Limited
1     Åland Islands               Kenya  15868.0  Guavapay Limited
5091       Zimbabwe               India  22701.0  Guavapay Limited
5092       Zimbabwe        South Africa  17959.0  Guavapay Limited
5093       Zimbabwe         Netherlands  13910.0  Guavapay Limited
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Guavapay Limited
13          Albania               Kenya  24127.0  Guavapay Limited
14          Albania              France  22272.0  Guavapay Limited
15          Albania               Spain  20066.0  Guavapay Limited
16          Albania            Portugal  15137.0  Guavapay Limited

[1193 rows x 4 columns]
Filtered top rows for Guavapay Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Guavapay Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Gulf Overseas Exchange Co. LLC...
Top rows for Gulf Overseas Exchange Co. LLC:
      source_country destination_country      gsv                  source_partner
0     Åland Islands            Viet Nam  85001.0  Gulf Overseas Exchange Co. LLC
1     Åland Islands               Kenya  15868.0  Gulf Overseas Exchange Co. LLC
5091       Zimbabwe               India  22701.0  Gulf Overseas Exchange Co. LLC
5092       Zimbabwe        South Africa  17959.0  Gulf Overseas Exchange Co. LLC
5093       Zimbabwe         Netherlands  13910.0  Gulf Overseas Exchange Co. LLC
...             ...                 ...      ...                             ...
12          Albania            Viet Nam  40428.0  Gulf Overseas Exchange Co. LLC
13          Albania               Kenya  24127.0  Gulf Overseas Exchange Co. LLC
14          Albania              France  22272.0  Gulf Overseas Exchange Co. LLC
15          Albania               Spain  20066.0  Gulf Overseas Exchange Co. LLC
16          Albania            Portugal  15137.0  Gulf Overseas Exchange Co. LLC

[1193 rows x 4 columns]
Filtered top rows for Gulf Overseas Exchange Co. LLC:
      source_country destination_country         gsv                  source_partner
3249           Oman          Bangladesh  45339602.0  Gulf Overseas Exchange Co. LLC
3250           Oman            Tanzania  26059967.0  Gulf Overseas Exchange Co. LLC
3251           Oman         Philippines  24617019.0  Gulf Overseas Exchange Co. LLC
3252           Oman               Kenya  19852109.0  Gulf Overseas Exchange Co. LLC
3253           Oman              Uganda  16599432.0  Gulf Overseas Exchange Co. LLC
3254           Oman            Thailand   9905277.0  Gulf Overseas Exchange Co. LLC
3255           Oman               India   6657635.0  Gulf Overseas Exchange Co. LLC
3256           Oman           Indonesia   4841332.0  Gulf Overseas Exchange Co. LLC
3257           Oman               Ghana   4629902.0  Gulf Overseas Exchange Co. LLC
3258           Oman      United Kingdom   4368724.0  Gulf Overseas Exchange Co. LLC
Updated Merged Results with Regional Director and Partner Gsv for Gulf Overseas Exchange Co. LLC:
                    source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Gulf Overseas Exchange Co. LLC           Oman          Bangladesh  45339602.0   9906393.0     EXISTING            Bassem
1  Gulf Overseas Exchange Co. LLC           Oman               Ghana   4629902.0        <NA>          NEW            Bassem
2  Gulf Overseas Exchange Co. LLC           Oman               India   6657635.0   3287524.0     EXISTING            Bassem
3  Gulf Overseas Exchange Co. LLC           Oman           Indonesia   4841332.0        <NA>          NEW            Bassem
4  Gulf Overseas Exchange Co. LLC           Oman               Kenya  19852109.0       664.0     EXISTING            Bassem
5  Gulf Overseas Exchange Co. LLC           Oman         Philippines  24617019.0    259364.0     EXISTING            Bassem
6  Gulf Overseas Exchange Co. LLC           Oman            Tanzania  26059967.0       100.0     EXISTING            Bassem
7  Gulf Overseas Exchange Co. LLC           Oman            Thailand   9905277.0        <NA>          NEW            Bassem
8  Gulf Overseas Exchange Co. LLC           Oman              Uganda  16599432.0     34778.0     EXISTING            Bassem
9  Gulf Overseas Exchange Co. LLC           Oman      United Kingdom   4368724.0        <NA>          NEW            Bassem

Processing for Habib Qatar Intl Exchange...
Top rows for Habib Qatar Intl Exchange:
      source_country destination_country      gsv             source_partner
0     Åland Islands            Viet Nam  85001.0  Habib Qatar Intl Exchange
1     Åland Islands               Kenya  15868.0  Habib Qatar Intl Exchange
5091       Zimbabwe               India  22701.0  Habib Qatar Intl Exchange
5092       Zimbabwe        South Africa  17959.0  Habib Qatar Intl Exchange
5093       Zimbabwe         Netherlands  13910.0  Habib Qatar Intl Exchange
...             ...                 ...      ...                        ...
12          Albania            Viet Nam  40428.0  Habib Qatar Intl Exchange
13          Albania               Kenya  24127.0  Habib Qatar Intl Exchange
14          Albania              France  22272.0  Habib Qatar Intl Exchange
15          Albania               Spain  20066.0  Habib Qatar Intl Exchange
16          Albania            Portugal  15137.0  Habib Qatar Intl Exchange

[1193 rows x 4 columns]
Filtered top rows for Habib Qatar Intl Exchange:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Habib Qatar Intl Exchange:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for HAMI...
Top rows for HAMI:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0           HAMI
1     Åland Islands               Kenya  15868.0           HAMI
5091       Zimbabwe               India  22701.0           HAMI
5092       Zimbabwe        South Africa  17959.0           HAMI
5093       Zimbabwe         Netherlands  13910.0           HAMI
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0           HAMI
13          Albania               Kenya  24127.0           HAMI
14          Albania              France  22272.0           HAMI
15          Albania               Spain  20066.0           HAMI
16          Albania            Portugal  15137.0           HAMI

[1193 rows x 4 columns]
Filtered top rows for HAMI:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0           HAMI
4846  United States of America               Ghana  854031550.0           HAMI
4847  United States of America             Liberia  423311206.0           HAMI
4848  United States of America            Viet Nam  299709130.0           HAMI
4849  United States of America               India  237645288.0           HAMI
4850  United States of America            Tanzania  224628683.0           HAMI
4851  United States of America          Bangladesh  207173742.0           HAMI
4852  United States of America               Kenya  193169745.0           HAMI
4853  United States of America            Cameroon  162051487.0           HAMI
4854  United States of America              Uganda  160458035.0           HAMI

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for HAMI:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0           HAMI  United States of America          Bangladesh  207173742.0         1.0     EXISTING            Viktor
1           HAMI  United States of America            Cameroon  162051487.0        <NA>          NEW            Viktor
2           HAMI  United States of America               Ghana  854031550.0        <NA>          NEW            Viktor
3           HAMI  United States of America               India  237645288.0        18.0     EXISTING            Viktor
4           HAMI  United States of America               Kenya  193169745.0    211310.0     EXISTING            Viktor
5           HAMI  United States of America             Liberia  423311206.0        <NA>          NEW            Viktor
6           HAMI  United States of America         Philippines  855243500.0        <NA>          NEW            Viktor
7           HAMI  United States of America            Tanzania  224628683.0        <NA>          NEW            Viktor
8           HAMI  United States of America              Uganda  160458035.0      2335.0     EXISTING            Viktor
9           HAMI  United States of America            Viet Nam  299709130.0        <NA>          NEW            Viktor

Processing for Hanpass Co. Ltd...
Top rows for Hanpass Co. Ltd:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Hanpass Co. Ltd
1     Åland Islands               Kenya  15868.0  Hanpass Co. Ltd
5091       Zimbabwe               India  22701.0  Hanpass Co. Ltd
5092       Zimbabwe        South Africa  17959.0  Hanpass Co. Ltd
5093       Zimbabwe         Netherlands  13910.0  Hanpass Co. Ltd
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Hanpass Co. Ltd
13          Albania               Kenya  24127.0  Hanpass Co. Ltd
14          Albania              France  22272.0  Hanpass Co. Ltd
15          Albania               Spain  20066.0  Hanpass Co. Ltd
16          Albania            Portugal  15137.0  Hanpass Co. Ltd

[1193 rows x 4 columns]
Filtered top rows for Hanpass Co. Ltd:
           source_country destination_country           gsv   source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0  Hanpass Co. Ltd
2336  Korea, Republic of            Thailand   288926158.0  Hanpass Co. Ltd
2337  Korea, Republic of               India   177194543.0  Hanpass Co. Ltd
2338  Korea, Republic of          Bangladesh   140079656.0  Hanpass Co. Ltd
2339  Korea, Republic of         Philippines    67784948.0  Hanpass Co. Ltd
2340  Korea, Republic of            Malaysia    24960937.0  Hanpass Co. Ltd
2341  Korea, Republic of           Indonesia    23490272.0  Hanpass Co. Ltd
2342  Korea, Republic of               Nepal    16072605.0  Hanpass Co. Ltd
2343  Korea, Republic of              Uganda    13095239.0  Hanpass Co. Ltd
2344  Korea, Republic of               China    11886460.0  Hanpass Co. Ltd
Updated Merged Results with Regional Director and Partner Gsv for Hanpass Co. Ltd:
     source_partner      source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0  Hanpass Co. Ltd  Korea, Republic of          Bangladesh   140079656.0    3357372.0     EXISTING            Sukesh
1  Hanpass Co. Ltd  Korea, Republic of               China    11886460.0         <NA>          NEW            Sukesh
2  Hanpass Co. Ltd  Korea, Republic of               India   177194543.0   10342437.0     EXISTING            Sukesh
3  Hanpass Co. Ltd  Korea, Republic of           Indonesia    23490272.0   18568349.0     EXISTING            Sukesh
4  Hanpass Co. Ltd  Korea, Republic of            Malaysia    24960937.0   23121776.0     EXISTING            Sukesh
5  Hanpass Co. Ltd  Korea, Republic of               Nepal    16072605.0         <NA>          NEW            Sukesh
6  Hanpass Co. Ltd  Korea, Republic of         Philippines    67784948.0         <NA>          NEW            Sukesh
7  Hanpass Co. Ltd  Korea, Republic of            Thailand   288926158.0  119615819.0     EXISTING            Sukesh
8  Hanpass Co. Ltd  Korea, Republic of              Uganda    13095239.0         <NA>          NEW            Sukesh
9  Hanpass Co. Ltd  Korea, Republic of            Viet Nam  1273265577.0    3750644.0     EXISTING            Sukesh

Processing for HHFSL...
Top rows for HHFSL:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          HHFSL
1     Åland Islands               Kenya  15868.0          HHFSL
5091       Zimbabwe               India  22701.0          HHFSL
5092       Zimbabwe        South Africa  17959.0          HHFSL
5093       Zimbabwe         Netherlands  13910.0          HHFSL
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          HHFSL
13          Albania               Kenya  24127.0          HHFSL
14          Albania              France  22272.0          HHFSL
15          Albania               Spain  20066.0          HHFSL
16          Albania            Portugal  15137.0          HHFSL

[1193 rows x 4 columns]
Filtered top rows for HHFSL:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for HHFSL:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Home Remitt Pty...
Top rows for Home Remitt Pty:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  Home Remitt Pty
1     Åland Islands               Kenya  15868.0  Home Remitt Pty
5091       Zimbabwe               India  22701.0  Home Remitt Pty
5092       Zimbabwe        South Africa  17959.0  Home Remitt Pty
5093       Zimbabwe         Netherlands  13910.0  Home Remitt Pty
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  Home Remitt Pty
13          Albania               Kenya  24127.0  Home Remitt Pty
14          Albania              France  22272.0  Home Remitt Pty
15          Albania               Spain  20066.0  Home Remitt Pty
16          Albania            Portugal  15137.0  Home Remitt Pty

[1193 rows x 4 columns]
Filtered top rows for Home Remitt Pty:
      source_country                destination_country         gsv   source_partner
4086   South Africa                         Mozambique  35501753.0  Home Remitt Pty
4087   South Africa                         Bangladesh  32584335.0  Home Remitt Pty
4088   South Africa                           Thailand  28222455.0  Home Remitt Pty
4089   South Africa                              Kenya  16703317.0  Home Remitt Pty
4090   South Africa                              India  16607487.0  Home Remitt Pty
4091   South Africa                           Pakistan  13833165.0  Home Remitt Pty
4092   South Africa                           Tanzania  12064506.0  Home Remitt Pty
4093   South Africa                              Nepal   7877228.0  Home Remitt Pty
4094   South Africa                             Uganda   3880250.0  Home Remitt Pty
4095   South Africa  Congo, Democratic Republic of the   3726225.0  Home Remitt Pty

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Home Remitt Pty:
     source_partner source_country                destination_country         gsv Partner_Gsv existing/new regional_director
0  Home Remitt Pty   South Africa                         Bangladesh  32584335.0        63.0     EXISTING            Willie
1  Home Remitt Pty   South Africa  Congo, Democratic Republic of the   3726225.0        67.0     EXISTING            Willie
2  Home Remitt Pty   South Africa                              India  16607487.0      6813.0     EXISTING            Willie
3  Home Remitt Pty   South Africa                              Kenya  16703317.0    126225.0     EXISTING            Willie
4  Home Remitt Pty   South Africa                         Mozambique  35501753.0     26506.0     EXISTING            Willie
5  Home Remitt Pty   South Africa                              Nepal   7877228.0        <NA>          NEW            Willie
6  Home Remitt Pty   South Africa                           Pakistan  13833165.0     15148.0     EXISTING            Willie
7  Home Remitt Pty   South Africa                           Tanzania  12064506.0      1960.0     EXISTING            Willie
8  Home Remitt Pty   South Africa                           Thailand  28222455.0      1398.0     EXISTING            Willie
9  Home Remitt Pty   South Africa                             Uganda   3880250.0      3191.0     EXISTING            Willie

Processing for IC...
Top rows for IC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0             IC
1     Åland Islands               Kenya  15868.0             IC
5091       Zimbabwe               India  22701.0             IC
5092       Zimbabwe        South Africa  17959.0             IC
5093       Zimbabwe         Netherlands  13910.0             IC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0             IC
13          Albania               Kenya  24127.0             IC
14          Albania              France  22272.0             IC
15          Albania               Spain  20066.0             IC
16          Albania            Portugal  15137.0             IC

[1193 rows x 4 columns]
Filtered top rows for IC:
      source_country destination_country         gsv source_partner
5060         Zambia         Philippines    708664.0             IC
5061         Zambia               Ghana    147786.0             IC
5062         Zambia               Kenya     87643.0             IC
5063         Zambia        South Africa     69158.0             IC
5064         Zambia         Netherlands     56097.0             IC
...             ...                 ...         ...            ...
301         Bahrain               Ghana  15374036.0             IC
302         Bahrain         Philippines   8465479.0             IC
303         Bahrain            Cameroon   4956559.0             IC
304         Bahrain            Pakistan   3662759.0             IC
305         Bahrain            Malaysia   2304540.0             IC

[102 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for IC:
     source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0               IC        Bahrain          Bangladesh  205631976.0    149599.0     EXISTING            Bassem
1               IC        Bahrain            Cameroon    4956559.0        <NA>          NEW            Bassem
2               IC        Bahrain               Ghana   15374036.0     88238.0     EXISTING            Bassem
3               IC        Bahrain               India   30113015.0        <NA>          NEW            Bassem
4               IC        Bahrain               Kenya   28674621.0   1817713.0     EXISTING            Bassem
..             ...            ...                 ...          ...         ...          ...               ...
97              IC         Zambia         Philippines     708664.0    694889.0     EXISTING            Bassem
98              IC         Zambia            Portugal      17654.0        <NA>          NEW            Bassem
99              IC         Zambia        South Africa      69158.0        <NA>          NEW            Bassem
100             IC         Zambia            Tanzania      46794.0        <NA>          NEW            Bassem
101             IC         Zambia            Thailand      24777.0      3232.0     EXISTING            Bassem

[102 rows x 7 columns]

Processing for iFAST Global Bank...
Top rows for iFAST Global Bank:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  iFAST Global Bank
1     Åland Islands               Kenya  15868.0  iFAST Global Bank
5091       Zimbabwe               India  22701.0  iFAST Global Bank
5092       Zimbabwe        South Africa  17959.0  iFAST Global Bank
5093       Zimbabwe         Netherlands  13910.0  iFAST Global Bank
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  iFAST Global Bank
13          Albania               Kenya  24127.0  iFAST Global Bank
14          Albania              France  22272.0  iFAST Global Bank
15          Albania               Spain  20066.0  iFAST Global Bank
16          Albania            Portugal  15137.0  iFAST Global Bank

[1193 rows x 4 columns]
Filtered top rows for iFAST Global Bank:
       source_country destination_country          gsv     source_partner
4724  United Kingdom               India  722564261.0  iFAST Global Bank
4725  United Kingdom               Kenya  372996239.0  iFAST Global Bank
4726  United Kingdom          Bangladesh  222801157.0  iFAST Global Bank
4727  United Kingdom               Ghana  184628486.0  iFAST Global Bank
4729  United Kingdom              Uganda  151640757.0  iFAST Global Bank
...              ...                 ...          ...                ...
301          Bahrain               Ghana   15374036.0  iFAST Global Bank
302          Bahrain         Philippines    8465479.0  iFAST Global Bank
303          Bahrain            Cameroon    4956559.0  iFAST Global Bank
304          Bahrain            Pakistan    3662759.0  iFAST Global Bank
305          Bahrain            Malaysia    2304540.0  iFAST Global Bank

[70 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for iFAST Global Bank:
        source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   iFAST Global Bank         Bahrain          Bangladesh  205631976.0  23634342.0     EXISTING            Bassem
1   iFAST Global Bank         Bahrain            Cameroon    4956559.0    202745.0     EXISTING            Bassem
2   iFAST Global Bank         Bahrain               Ghana   15374036.0   1608338.0     EXISTING            Bassem
3   iFAST Global Bank         Bahrain               India   30113015.0        <NA>          NEW            Bassem
4   iFAST Global Bank         Bahrain               Kenya   28674621.0    381149.0     EXISTING            Bassem
..                ...             ...                 ...          ...         ...          ...               ...
65  iFAST Global Bank  United Kingdom         Philippines   57615497.0      1678.0     EXISTING            Bassem
66  iFAST Global Bank  United Kingdom               Spain   36806984.0       220.0     EXISTING            Bassem
67  iFAST Global Bank  United Kingdom            Tanzania   52293484.0      6312.0     EXISTING            Bassem
68  iFAST Global Bank  United Kingdom              Uganda  151640757.0        <NA>          NEW            Bassem
69  iFAST Global Bank  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Bassem

[70 rows x 7 columns]

Processing for Ileero...
Top rows for Ileero:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         Ileero
1     Åland Islands               Kenya  15868.0         Ileero
5091       Zimbabwe               India  22701.0         Ileero
5092       Zimbabwe        South Africa  17959.0         Ileero
5093       Zimbabwe         Netherlands  13910.0         Ileero
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         Ileero
13          Albania               Kenya  24127.0         Ileero
14          Albania              France  22272.0         Ileero
15          Albania               Spain  20066.0         Ileero
16          Albania            Portugal  15137.0         Ileero

[1193 rows x 4 columns]
Filtered top rows for Ileero:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0         Ileero
4725  United Kingdom               Kenya  372996239.0         Ileero
4726  United Kingdom          Bangladesh  222801157.0         Ileero
4727  United Kingdom               Ghana  184628486.0         Ileero
4729  United Kingdom              Uganda  151640757.0         Ileero
4730  United Kingdom            Viet Nam  130053730.0         Ileero
4731  United Kingdom         Philippines   57615497.0         Ileero
4732  United Kingdom            Tanzania   52293484.0         Ileero
4733  United Kingdom               Spain   36806984.0         Ileero
4734  United Kingdom            Pakistan   34877833.0         Ileero
Updated Merged Results with Regional Director and Partner Gsv for Ileero:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0         Ileero  United Kingdom          Bangladesh  222801157.0         6.0     EXISTING            Viktor
1         Ileero  United Kingdom               Ghana  184628486.0     93203.0     EXISTING            Viktor
2         Ileero  United Kingdom               India  722564261.0    417162.0     EXISTING            Viktor
3         Ileero  United Kingdom               Kenya  372996239.0    186226.0     EXISTING            Viktor
4         Ileero  United Kingdom            Pakistan   34877833.0      2572.0     EXISTING            Viktor
5         Ileero  United Kingdom         Philippines   57615497.0         6.0     EXISTING            Viktor
6         Ileero  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7         Ileero  United Kingdom            Tanzania   52293484.0      8638.0     EXISTING            Viktor
8         Ileero  United Kingdom              Uganda  151640757.0    698503.0     EXISTING            Viktor
9         Ileero  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Ileero_ALR...
Top rows for Ileero_ALR:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Ileero_ALR
1     Åland Islands               Kenya  15868.0     Ileero_ALR
5091       Zimbabwe               India  22701.0     Ileero_ALR
5092       Zimbabwe        South Africa  17959.0     Ileero_ALR
5093       Zimbabwe         Netherlands  13910.0     Ileero_ALR
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Ileero_ALR
13          Albania               Kenya  24127.0     Ileero_ALR
14          Albania              France  22272.0     Ileero_ALR
15          Albania               Spain  20066.0     Ileero_ALR
16          Albania            Portugal  15137.0     Ileero_ALR

[1193 rows x 4 columns]
Filtered top rows for Ileero_ALR:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Ileero_ALR:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Intercambio Express INC...
Top rows for Intercambio Express INC:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  Intercambio Express INC
1     Åland Islands               Kenya  15868.0  Intercambio Express INC
5091       Zimbabwe               India  22701.0  Intercambio Express INC
5092       Zimbabwe        South Africa  17959.0  Intercambio Express INC
5093       Zimbabwe         Netherlands  13910.0  Intercambio Express INC
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  Intercambio Express INC
13          Albania               Kenya  24127.0  Intercambio Express INC
14          Albania              France  22272.0  Intercambio Express INC
15          Albania               Spain  20066.0  Intercambio Express INC
16          Albania            Portugal  15137.0  Intercambio Express INC

[1193 rows x 4 columns]
Filtered top rows for Intercambio Express INC:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Intercambio Express INC:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for INTERCASH...
Top rows for INTERCASH:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      INTERCASH
1     Åland Islands               Kenya  15868.0      INTERCASH
5091       Zimbabwe               India  22701.0      INTERCASH
5092       Zimbabwe        South Africa  17959.0      INTERCASH
5093       Zimbabwe         Netherlands  13910.0      INTERCASH
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      INTERCASH
13          Albania               Kenya  24127.0      INTERCASH
14          Albania              France  22272.0      INTERCASH
15          Albania               Spain  20066.0      INTERCASH
16          Albania            Portugal  15137.0      INTERCASH

[1193 rows x 4 columns]
Filtered top rows for INTERCASH:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0      INTERCASH
4725  United Kingdom               Kenya  372996239.0      INTERCASH
4726  United Kingdom          Bangladesh  222801157.0      INTERCASH
4727  United Kingdom               Ghana  184628486.0      INTERCASH
4729  United Kingdom              Uganda  151640757.0      INTERCASH
4730  United Kingdom            Viet Nam  130053730.0      INTERCASH
4731  United Kingdom         Philippines   57615497.0      INTERCASH
4732  United Kingdom            Tanzania   52293484.0      INTERCASH
4733  United Kingdom               Spain   36806984.0      INTERCASH
4734  United Kingdom            Pakistan   34877833.0      INTERCASH

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for INTERCASH:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0      INTERCASH  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1      INTERCASH  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2      INTERCASH  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
3      INTERCASH  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4      INTERCASH  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5      INTERCASH  United Kingdom         Philippines   57615497.0         9.0     EXISTING            Viktor
6      INTERCASH  United Kingdom               Spain   36806984.0    639253.0     EXISTING            Viktor
7      INTERCASH  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8      INTERCASH  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9      INTERCASH  United Kingdom            Viet Nam  130053730.0         8.0     EXISTING            Viktor

Processing for International Payout Systems Canada INC...
Top rows for International Payout Systems Canada INC:
      source_country destination_country      gsv                           source_partner
0     Åland Islands            Viet Nam  85001.0  International Payout Systems Canada INC
1     Åland Islands               Kenya  15868.0  International Payout Systems Canada INC
5091       Zimbabwe               India  22701.0  International Payout Systems Canada INC
5092       Zimbabwe        South Africa  17959.0  International Payout Systems Canada INC
5093       Zimbabwe         Netherlands  13910.0  International Payout Systems Canada INC
...             ...                 ...      ...                                      ...
12          Albania            Viet Nam  40428.0  International Payout Systems Canada INC
13          Albania               Kenya  24127.0  International Payout Systems Canada INC
14          Albania              France  22272.0  International Payout Systems Canada INC
15          Albania               Spain  20066.0  International Payout Systems Canada INC
16          Albania            Portugal  15137.0  International Payout Systems Canada INC

[1193 rows x 4 columns]
Filtered top rows for International Payout Systems Canada INC:
     source_country destination_country          gsv                           source_partner
748         Canada               India  211296069.0  International Payout Systems Canada INC
749         Canada         Philippines   57990615.0  International Payout Systems Canada INC
750         Canada               Ghana   57154456.0  International Payout Systems Canada INC
751         Canada            Viet Nam   37930649.0  International Payout Systems Canada INC
752         Canada               Kenya   29951383.0  International Payout Systems Canada INC
753         Canada              Uganda   27682200.0  International Payout Systems Canada INC
754         Canada               Benin   22477592.0  International Payout Systems Canada INC
755         Canada          Bangladesh   19317938.0  International Payout Systems Canada INC
756         Canada            Cameroon   18872246.0  International Payout Systems Canada INC
757         Canada            Tanzania   18091580.0  International Payout Systems Canada INC
Updated Merged Results with Regional Director and Partner Gsv for International Payout Systems Canada INC:
                             source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  International Payout Systems Canada INC         Canada          Bangladesh   19317938.0        <NA>          NEW            Philip
1  International Payout Systems Canada INC         Canada               Benin   22477592.0        <NA>          NEW            Philip
2  International Payout Systems Canada INC         Canada            Cameroon   18872246.0        <NA>          NEW            Philip
3  International Payout Systems Canada INC         Canada               Ghana   57154456.0         9.0     EXISTING            Philip
4  International Payout Systems Canada INC         Canada               India  211296069.0        <NA>          NEW            Philip
5  International Payout Systems Canada INC         Canada               Kenya   29951383.0        <NA>          NEW            Philip
6  International Payout Systems Canada INC         Canada         Philippines   57990615.0        <NA>          NEW            Philip
7  International Payout Systems Canada INC         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8  International Payout Systems Canada INC         Canada              Uganda   27682200.0         4.0     EXISTING            Philip
9  International Payout Systems Canada INC         Canada            Viet Nam   37930649.0        <NA>          NEW            Philip

Processing for INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same pf.py ccy...
Top rows for INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same pf.py ccy:
      source_country destination_country      gsv                                     source_partner
0     Åland Islands            Viet Nam  85001.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
1     Åland Islands               Kenya  15868.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
5091       Zimbabwe               India  22701.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
5092       Zimbabwe        South Africa  17959.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
5093       Zimbabwe         Netherlands  13910.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
...             ...                 ...      ...                                                ...
12          Albania            Viet Nam  40428.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
13          Albania               Kenya  24127.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
14          Albania              France  22272.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
15          Albania               Spain  20066.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...
16          Albania            Portugal  15137.0  INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same...

[1193 rows x 4 columns]
Filtered top rows for INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same pf.py ccy:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for INTERNATIONAL PAYOUT SYSTEMS CANADA INC - same pf.py ccy:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for ISEND...
Top rows for ISEND:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          ISEND
1     Åland Islands               Kenya  15868.0          ISEND
5091       Zimbabwe               India  22701.0          ISEND
5092       Zimbabwe        South Africa  17959.0          ISEND
5093       Zimbabwe         Netherlands  13910.0          ISEND
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          ISEND
13          Albania               Kenya  24127.0          ISEND
14          Albania              France  22272.0          ISEND
15          Albania               Spain  20066.0          ISEND
16          Albania            Portugal  15137.0          ISEND

[1193 rows x 4 columns]
Filtered top rows for ISEND:
      source_country destination_country         gsv source_partner
3937      Singapore            Viet Nam  93619361.0          ISEND
3938      Singapore            Malaysia  49493089.0          ISEND
3939      Singapore               India  47978336.0          ISEND
3940      Singapore      United Kingdom  41572026.0          ISEND
3941      Singapore          Bangladesh  31223283.0          ISEND
3942      Singapore               Kenya  11958315.0          ISEND
3943      Singapore               Ghana   7761475.0          ISEND
3944      Singapore              Uganda   3461737.0          ISEND
3945      Singapore         Philippines   2708549.0          ISEND
3946      Singapore            Thailand   2214517.0          ISEND

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for ISEND:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0          ISEND      Singapore          Bangladesh  31223283.0        <NA>          NEW            Sukesh
1          ISEND      Singapore               Ghana   7761475.0       562.0     EXISTING            Sukesh
2          ISEND      Singapore               India  47978336.0        <NA>          NEW            Sukesh
3          ISEND      Singapore               Kenya  11958315.0        <NA>          NEW            Sukesh
4          ISEND      Singapore            Malaysia  49493089.0        <NA>          NEW            Sukesh
5          ISEND      Singapore         Philippines   2708549.0        <NA>          NEW            Sukesh
6          ISEND      Singapore            Thailand   2214517.0        <NA>          NEW            Sukesh
7          ISEND      Singapore              Uganda   3461737.0           0     EXISTING            Sukesh
8          ISEND      Singapore      United Kingdom  41572026.0     49854.0     EXISTING            Sukesh
9          ISEND      Singapore            Viet Nam  93619361.0        <NA>          NEW            Sukesh

Processing for Istanbul Odeme ve Elektronil Para A.S...
Top rows for Istanbul Odeme ve Elektronil Para A.S:
      source_country destination_country      gsv                         source_partner
0     Åland Islands            Viet Nam  85001.0  Istanbul Odeme ve Elektronil Para A.S
1     Åland Islands               Kenya  15868.0  Istanbul Odeme ve Elektronil Para A.S
5091       Zimbabwe               India  22701.0  Istanbul Odeme ve Elektronil Para A.S
5092       Zimbabwe        South Africa  17959.0  Istanbul Odeme ve Elektronil Para A.S
5093       Zimbabwe         Netherlands  13910.0  Istanbul Odeme ve Elektronil Para A.S
...             ...                 ...      ...                                    ...
12          Albania            Viet Nam  40428.0  Istanbul Odeme ve Elektronil Para A.S
13          Albania               Kenya  24127.0  Istanbul Odeme ve Elektronil Para A.S
14          Albania              France  22272.0  Istanbul Odeme ve Elektronil Para A.S
15          Albania               Spain  20066.0  Istanbul Odeme ve Elektronil Para A.S
16          Albania            Portugal  15137.0  Istanbul Odeme ve Elektronil Para A.S

[1193 rows x 4 columns]
Filtered top rows for Istanbul Odeme ve Elektronil Para A.S:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Istanbul Odeme ve Elektronil Para A.S:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for I-Transfer Money Movers SA...
Top rows for I-Transfer Money Movers SA:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  I-Transfer Money Movers SA
1     Åland Islands               Kenya  15868.0  I-Transfer Money Movers SA
5091       Zimbabwe               India  22701.0  I-Transfer Money Movers SA
5092       Zimbabwe        South Africa  17959.0  I-Transfer Money Movers SA
5093       Zimbabwe         Netherlands  13910.0  I-Transfer Money Movers SA
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  I-Transfer Money Movers SA
13          Albania               Kenya  24127.0  I-Transfer Money Movers SA
14          Albania              France  22272.0  I-Transfer Money Movers SA
15          Albania               Spain  20066.0  I-Transfer Money Movers SA
16          Albania            Portugal  15137.0  I-Transfer Money Movers SA

[1193 rows x 4 columns]
Filtered top rows for I-Transfer Money Movers SA:
      source_country destination_country          gsv              source_partner
4145          Spain             Senegal  104224232.0  I-Transfer Money Movers SA
4146          Spain          Bangladesh   42522037.0  I-Transfer Money Movers SA
4147          Spain                Mali   30074554.0  I-Transfer Money Movers SA
4149          Spain             Belgium   22745695.0  I-Transfer Money Movers SA
4150          Spain               Ghana   19183911.0  I-Transfer Money Movers SA
4151          Spain           Lithuania   16068919.0  I-Transfer Money Movers SA
4152          Spain            Portugal   10602312.0  I-Transfer Money Movers SA
4153          Spain      United Kingdom    8372586.0  I-Transfer Money Movers SA
4154          Spain               Italy    8180951.0  I-Transfer Money Movers SA
4155          Spain               India    7944101.0  I-Transfer Money Movers SA
Updated Merged Results with Regional Director and Partner Gsv for I-Transfer Money Movers SA:
                source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  I-Transfer Money Movers SA          Spain          Bangladesh   42522037.0   3660892.0     EXISTING            Viktor
1  I-Transfer Money Movers SA          Spain             Belgium   22745695.0        <NA>          NEW            Viktor
2  I-Transfer Money Movers SA          Spain               Ghana   19183911.0        <NA>          NEW            Viktor
3  I-Transfer Money Movers SA          Spain               India    7944101.0        <NA>          NEW            Viktor
4  I-Transfer Money Movers SA          Spain               Italy    8180951.0        <NA>          NEW            Viktor
5  I-Transfer Money Movers SA          Spain           Lithuania   16068919.0        <NA>          NEW            Viktor
6  I-Transfer Money Movers SA          Spain                Mali   30074554.0   1013217.0     EXISTING            Viktor
7  I-Transfer Money Movers SA          Spain            Portugal   10602312.0        <NA>          NEW            Viktor
8  I-Transfer Money Movers SA          Spain             Senegal  104224232.0   1627197.0     EXISTING            Viktor
9  I-Transfer Money Movers SA          Spain      United Kingdom    8372586.0        <NA>          NEW            Viktor

Processing for Japan Remittance Finance co.ltd....
Top rows for Japan Remittance Finance co.ltd.:
      source_country destination_country      gsv                    source_partner
0     Åland Islands            Viet Nam  85001.0  Japan Remittance Finance co.ltd.
1     Åland Islands               Kenya  15868.0  Japan Remittance Finance co.ltd.
5091       Zimbabwe               India  22701.0  Japan Remittance Finance co.ltd.
5092       Zimbabwe        South Africa  17959.0  Japan Remittance Finance co.ltd.
5093       Zimbabwe         Netherlands  13910.0  Japan Remittance Finance co.ltd.
...             ...                 ...      ...                               ...
12          Albania            Viet Nam  40428.0  Japan Remittance Finance co.ltd.
13          Albania               Kenya  24127.0  Japan Remittance Finance co.ltd.
14          Albania              France  22272.0  Japan Remittance Finance co.ltd.
15          Albania               Spain  20066.0  Japan Remittance Finance co.ltd.
16          Albania            Portugal  15137.0  Japan Remittance Finance co.ltd.

[1193 rows x 4 columns]
Filtered top rows for Japan Remittance Finance co.ltd.:
           source_country destination_country           gsv                    source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0  Japan Remittance Finance co.ltd.
2336  Korea, Republic of            Thailand   288926158.0  Japan Remittance Finance co.ltd.
2337  Korea, Republic of               India   177194543.0  Japan Remittance Finance co.ltd.
2338  Korea, Republic of          Bangladesh   140079656.0  Japan Remittance Finance co.ltd.
2339  Korea, Republic of         Philippines    67784948.0  Japan Remittance Finance co.ltd.
2340  Korea, Republic of            Malaysia    24960937.0  Japan Remittance Finance co.ltd.
2341  Korea, Republic of           Indonesia    23490272.0  Japan Remittance Finance co.ltd.
2342  Korea, Republic of               Nepal    16072605.0  Japan Remittance Finance co.ltd.
2343  Korea, Republic of              Uganda    13095239.0  Japan Remittance Finance co.ltd.
2344  Korea, Republic of               China    11886460.0  Japan Remittance Finance co.ltd.
2148               Japan            Viet Nam    43416738.0  Japan Remittance Finance co.ltd.
2149               Japan          Bangladesh    36825789.0  Japan Remittance Finance co.ltd.
2150               Japan         Philippines    18179604.0  Japan Remittance Finance co.ltd.
2151               Japan               Kenya    14677546.0  Japan Remittance Finance co.ltd.
2152               Japan            Thailand     6381052.0  Japan Remittance Finance co.ltd.
2153               Japan            Tanzania     2593609.0  Japan Remittance Finance co.ltd.
2154               Japan               India     2013455.0  Japan Remittance Finance co.ltd.
2155               Japan              Uganda     1931119.0  Japan Remittance Finance co.ltd.
2156               Japan               Ghana     1883618.0  Japan Remittance Finance co.ltd.
2157               Japan              France      937155.0  Japan Remittance Finance co.ltd.

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Japan Remittance Finance co.ltd.:
                       source_partner      source_country destination_country           gsv Partner_Gsv existing/new regional_director
0   Japan Remittance Finance co.ltd.               Japan          Bangladesh    36825789.0   2381257.0     EXISTING            Sukesh
1   Japan Remittance Finance co.ltd.               Japan              France      937155.0        <NA>          NEW            Sukesh
2   Japan Remittance Finance co.ltd.               Japan               Ghana     1883618.0        <NA>          NEW            Sukesh
3   Japan Remittance Finance co.ltd.               Japan               India     2013455.0   1650380.0     EXISTING            Sukesh
4   Japan Remittance Finance co.ltd.               Japan               Kenya    14677546.0        <NA>          NEW            Sukesh
5   Japan Remittance Finance co.ltd.               Japan         Philippines    18179604.0  11536460.0     EXISTING            Sukesh
6   Japan Remittance Finance co.ltd.               Japan            Tanzania     2593609.0        <NA>          NEW            Sukesh
7   Japan Remittance Finance co.ltd.               Japan            Thailand     6381052.0     11131.0     EXISTING            Sukesh
8   Japan Remittance Finance co.ltd.               Japan              Uganda     1931119.0        <NA>          NEW            Sukesh
9   Japan Remittance Finance co.ltd.               Japan            Viet Nam    43416738.0   5313322.0     EXISTING            Sukesh
10  Japan Remittance Finance co.ltd.  Korea, Republic of          Bangladesh   140079656.0   9721880.0     EXISTING            Sukesh
11  Japan Remittance Finance co.ltd.  Korea, Republic of               China    11886460.0        <NA>          NEW            Sukesh
12  Japan Remittance Finance co.ltd.  Korea, Republic of               India   177194543.0       577.0     EXISTING            Sukesh
13  Japan Remittance Finance co.ltd.  Korea, Republic of           Indonesia    23490272.0        <NA>          NEW            Sukesh
14  Japan Remittance Finance co.ltd.  Korea, Republic of            Malaysia    24960937.0        <NA>          NEW            Sukesh
15  Japan Remittance Finance co.ltd.  Korea, Republic of               Nepal    16072605.0      6465.0     EXISTING            Sukesh
16  Japan Remittance Finance co.ltd.  Korea, Republic of         Philippines    67784948.0   4451488.0     EXISTING            Sukesh
17  Japan Remittance Finance co.ltd.  Korea, Republic of            Thailand   288926158.0   2504275.0     EXISTING            Sukesh
18  Japan Remittance Finance co.ltd.  Korea, Republic of              Uganda    13095239.0        <NA>          NEW            Sukesh
19  Japan Remittance Finance co.ltd.  Korea, Republic of            Viet Nam  1273265577.0  22153484.0     EXISTING            Sukesh

Processing for Kaah Express F. S. Inc...
Top rows for Kaah Express F. S. Inc:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Kaah Express F. S. Inc
1     Åland Islands               Kenya  15868.0  Kaah Express F. S. Inc
5091       Zimbabwe               India  22701.0  Kaah Express F. S. Inc
5092       Zimbabwe        South Africa  17959.0  Kaah Express F. S. Inc
5093       Zimbabwe         Netherlands  13910.0  Kaah Express F. S. Inc
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Kaah Express F. S. Inc
13          Albania               Kenya  24127.0  Kaah Express F. S. Inc
14          Albania              France  22272.0  Kaah Express F. S. Inc
15          Albania               Spain  20066.0  Kaah Express F. S. Inc
16          Albania            Portugal  15137.0  Kaah Express F. S. Inc

[1193 rows x 4 columns]
Filtered top rows for Kaah Express F. S. Inc:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Kaah Express F. S. Inc:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for KCB...
Top rows for KCB:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            KCB
1     Åland Islands               Kenya  15868.0            KCB
5091       Zimbabwe               India  22701.0            KCB
5092       Zimbabwe        South Africa  17959.0            KCB
5093       Zimbabwe         Netherlands  13910.0            KCB
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            KCB
13          Albania               Kenya  24127.0            KCB
14          Albania              France  22272.0            KCB
15          Albania               Spain  20066.0            KCB
16          Albania            Portugal  15137.0            KCB

[1193 rows x 4 columns]
Filtered top rows for KCB:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for KCB:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Klarpay AG...
Top rows for Klarpay AG:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Klarpay AG
1     Åland Islands               Kenya  15868.0     Klarpay AG
5091       Zimbabwe               India  22701.0     Klarpay AG
5092       Zimbabwe        South Africa  17959.0     Klarpay AG
5093       Zimbabwe         Netherlands  13910.0     Klarpay AG
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Klarpay AG
13          Albania               Kenya  24127.0     Klarpay AG
14          Albania              France  22272.0     Klarpay AG
15          Albania               Spain  20066.0     Klarpay AG
16          Albania            Portugal  15137.0     Klarpay AG

[1193 rows x 4 columns]
Filtered top rows for Klarpay AG:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Klarpay AG:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for KMB Money...
Top rows for KMB Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      KMB Money
1     Åland Islands               Kenya  15868.0      KMB Money
5091       Zimbabwe               India  22701.0      KMB Money
5092       Zimbabwe        South Africa  17959.0      KMB Money
5093       Zimbabwe         Netherlands  13910.0      KMB Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      KMB Money
13          Albania               Kenya  24127.0      KMB Money
14          Albania              France  22272.0      KMB Money
15          Albania               Spain  20066.0      KMB Money
16          Albania            Portugal  15137.0      KMB Money

[1193 rows x 4 columns]
Filtered top rows for KMB Money:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0      KMB Money
4725  United Kingdom               Kenya  372996239.0      KMB Money
4726  United Kingdom          Bangladesh  222801157.0      KMB Money
4727  United Kingdom               Ghana  184628486.0      KMB Money
4729  United Kingdom              Uganda  151640757.0      KMB Money
4730  United Kingdom            Viet Nam  130053730.0      KMB Money
4731  United Kingdom         Philippines   57615497.0      KMB Money
4732  United Kingdom            Tanzania   52293484.0      KMB Money
4733  United Kingdom               Spain   36806984.0      KMB Money
4734  United Kingdom            Pakistan   34877833.0      KMB Money

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for KMB Money:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0      KMB Money  United Kingdom          Bangladesh  222801157.0     10343.0     EXISTING            Philip
1      KMB Money  United Kingdom               Ghana  184628486.0        <NA>          NEW            Philip
2      KMB Money  United Kingdom               India  722564261.0      2279.0     EXISTING            Philip
3      KMB Money  United Kingdom               Kenya  372996239.0        <NA>          NEW            Philip
4      KMB Money  United Kingdom            Pakistan   34877833.0       227.0     EXISTING            Philip
5      KMB Money  United Kingdom         Philippines   57615497.0        <NA>          NEW            Philip
6      KMB Money  United Kingdom               Spain   36806984.0        <NA>          NEW            Philip
7      KMB Money  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Philip
8      KMB Money  United Kingdom              Uganda  151640757.0        <NA>          NEW            Philip
9      KMB Money  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Philip

Processing for Kuwait Bahrain International Exchange Company...
Top rows for Kuwait Bahrain International Exchange Company:
      source_country destination_country      gsv                                 source_partner
0     Åland Islands            Viet Nam  85001.0  Kuwait Bahrain International Exchange Company
1     Åland Islands               Kenya  15868.0  Kuwait Bahrain International Exchange Company
5091       Zimbabwe               India  22701.0  Kuwait Bahrain International Exchange Company
5092       Zimbabwe        South Africa  17959.0  Kuwait Bahrain International Exchange Company
5093       Zimbabwe         Netherlands  13910.0  Kuwait Bahrain International Exchange Company
...             ...                 ...      ...                                            ...
12          Albania            Viet Nam  40428.0  Kuwait Bahrain International Exchange Company
13          Albania               Kenya  24127.0  Kuwait Bahrain International Exchange Company
14          Albania              France  22272.0  Kuwait Bahrain International Exchange Company
15          Albania               Spain  20066.0  Kuwait Bahrain International Exchange Company
16          Albania            Portugal  15137.0  Kuwait Bahrain International Exchange Company

[1193 rows x 4 columns]
Filtered top rows for Kuwait Bahrain International Exchange Company:
      source_country destination_country         gsv                                 source_partner
2422         Kuwait          Bangladesh  60585189.0  Kuwait Bahrain International Exchange Company
2423         Kuwait               Ghana  37199718.0  Kuwait Bahrain International Exchange Company
2424         Kuwait         Philippines  37163503.0  Kuwait Bahrain International Exchange Company
2425         Kuwait               Benin  34784875.0  Kuwait Bahrain International Exchange Company
2426         Kuwait               Kenya  25964237.0  Kuwait Bahrain International Exchange Company
2427         Kuwait               India  21755223.0  Kuwait Bahrain International Exchange Company
2428         Kuwait              Uganda  12470721.0  Kuwait Bahrain International Exchange Company
2429         Kuwait            Thailand   6586277.0  Kuwait Bahrain International Exchange Company
2430         Kuwait            Pakistan   5999904.0  Kuwait Bahrain International Exchange Company
2431         Kuwait                Mali   5920978.0  Kuwait Bahrain International Exchange Company
Updated Merged Results with Regional Director and Partner Gsv for Kuwait Bahrain International Exchange Company:
                                   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Kuwait Bahrain International Exchange Company         Kuwait          Bangladesh  60585189.0         6.0     EXISTING            Bassem
1  Kuwait Bahrain International Exchange Company         Kuwait               Benin  34784875.0        <NA>          NEW            Bassem
2  Kuwait Bahrain International Exchange Company         Kuwait               Ghana  37199718.0        <NA>          NEW            Bassem
3  Kuwait Bahrain International Exchange Company         Kuwait               India  21755223.0       616.0     EXISTING            Bassem
4  Kuwait Bahrain International Exchange Company         Kuwait               Kenya  25964237.0         4.0     EXISTING            Bassem
5  Kuwait Bahrain International Exchange Company         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  Kuwait Bahrain International Exchange Company         Kuwait            Pakistan   5999904.0        <NA>          NEW            Bassem
7  Kuwait Bahrain International Exchange Company         Kuwait         Philippines  37163503.0       111.0     EXISTING            Bassem
8  Kuwait Bahrain International Exchange Company         Kuwait            Thailand   6586277.0        <NA>          NEW            Bassem
9  Kuwait Bahrain International Exchange Company         Kuwait              Uganda  12470721.0        <NA>          NEW            Bassem

Processing for Kuwait Bahrain International Exchange Company 1...
Top rows for Kuwait Bahrain International Exchange Company 1:
      source_country destination_country      gsv                                   source_partner
0     Åland Islands            Viet Nam  85001.0  Kuwait Bahrain International Exchange Company 1
1     Åland Islands               Kenya  15868.0  Kuwait Bahrain International Exchange Company 1
5091       Zimbabwe               India  22701.0  Kuwait Bahrain International Exchange Company 1
5092       Zimbabwe        South Africa  17959.0  Kuwait Bahrain International Exchange Company 1
5093       Zimbabwe         Netherlands  13910.0  Kuwait Bahrain International Exchange Company 1
...             ...                 ...      ...                                              ...
12          Albania            Viet Nam  40428.0  Kuwait Bahrain International Exchange Company 1
13          Albania               Kenya  24127.0  Kuwait Bahrain International Exchange Company 1
14          Albania              France  22272.0  Kuwait Bahrain International Exchange Company 1
15          Albania               Spain  20066.0  Kuwait Bahrain International Exchange Company 1
16          Albania            Portugal  15137.0  Kuwait Bahrain International Exchange Company 1

[1193 rows x 4 columns]
Filtered top rows for Kuwait Bahrain International Exchange Company 1:
      source_country destination_country         gsv                                   source_partner
2422         Kuwait          Bangladesh  60585189.0  Kuwait Bahrain International Exchange Company 1
2423         Kuwait               Ghana  37199718.0  Kuwait Bahrain International Exchange Company 1
2424         Kuwait         Philippines  37163503.0  Kuwait Bahrain International Exchange Company 1
2425         Kuwait               Benin  34784875.0  Kuwait Bahrain International Exchange Company 1
2426         Kuwait               Kenya  25964237.0  Kuwait Bahrain International Exchange Company 1
2427         Kuwait               India  21755223.0  Kuwait Bahrain International Exchange Company 1
2428         Kuwait              Uganda  12470721.0  Kuwait Bahrain International Exchange Company 1
2429         Kuwait            Thailand   6586277.0  Kuwait Bahrain International Exchange Company 1
2430         Kuwait            Pakistan   5999904.0  Kuwait Bahrain International Exchange Company 1
2431         Kuwait                Mali   5920978.0  Kuwait Bahrain International Exchange Company 1
Updated Merged Results with Regional Director and Partner Gsv for Kuwait Bahrain International Exchange Company 1:
                                     source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Kuwait Bahrain International Exchange Company 1         Kuwait          Bangladesh  60585189.0  19210718.0     EXISTING            Bassem
1  Kuwait Bahrain International Exchange Company 1         Kuwait               Benin  34784875.0        <NA>          NEW            Bassem
2  Kuwait Bahrain International Exchange Company 1         Kuwait               Ghana  37199718.0        <NA>          NEW            Bassem
3  Kuwait Bahrain International Exchange Company 1         Kuwait               India  21755223.0     16159.0     EXISTING            Bassem
4  Kuwait Bahrain International Exchange Company 1         Kuwait               Kenya  25964237.0        <NA>          NEW            Bassem
5  Kuwait Bahrain International Exchange Company 1         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  Kuwait Bahrain International Exchange Company 1         Kuwait            Pakistan   5999904.0   1625239.0     EXISTING            Bassem
7  Kuwait Bahrain International Exchange Company 1         Kuwait         Philippines  37163503.0      6929.0     EXISTING            Bassem
8  Kuwait Bahrain International Exchange Company 1         Kuwait            Thailand   6586277.0        <NA>          NEW            Bassem
9  Kuwait Bahrain International Exchange Company 1         Kuwait              Uganda  12470721.0        <NA>          NEW            Bassem

Processing for Kuwait Bahrain International Exchange Company deal...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for Kuwait Bahrain International Exchange Company deal:
      source_country destination_country      gsv                                     source_partner
0     Åland Islands            Viet Nam  85001.0  Kuwait Bahrain International Exchange Company ...
1     Åland Islands               Kenya  15868.0  Kuwait Bahrain International Exchange Company ...
5091       Zimbabwe               India  22701.0  Kuwait Bahrain International Exchange Company ...
5092       Zimbabwe        South Africa  17959.0  Kuwait Bahrain International Exchange Company ...
5093       Zimbabwe         Netherlands  13910.0  Kuwait Bahrain International Exchange Company ...
...             ...                 ...      ...                                                ...
12          Albania            Viet Nam  40428.0  Kuwait Bahrain International Exchange Company ...
13          Albania               Kenya  24127.0  Kuwait Bahrain International Exchange Company ...
14          Albania              France  22272.0  Kuwait Bahrain International Exchange Company ...
15          Albania               Spain  20066.0  Kuwait Bahrain International Exchange Company ...
16          Albania            Portugal  15137.0  Kuwait Bahrain International Exchange Company ...

[1193 rows x 4 columns]
Filtered top rows for Kuwait Bahrain International Exchange Company deal:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Kuwait Bahrain International Exchange Company deal:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Kuwait India International Exchange Co. WLL...
Top rows for Kuwait India International Exchange Co. WLL:
      source_country destination_country      gsv                               source_partner
0     Åland Islands            Viet Nam  85001.0  Kuwait India International Exchange Co. WLL
1     Åland Islands               Kenya  15868.0  Kuwait India International Exchange Co. WLL
5091       Zimbabwe               India  22701.0  Kuwait India International Exchange Co. WLL
5092       Zimbabwe        South Africa  17959.0  Kuwait India International Exchange Co. WLL
5093       Zimbabwe         Netherlands  13910.0  Kuwait India International Exchange Co. WLL
...             ...                 ...      ...                                          ...
12          Albania            Viet Nam  40428.0  Kuwait India International Exchange Co. WLL
13          Albania               Kenya  24127.0  Kuwait India International Exchange Co. WLL
14          Albania              France  22272.0  Kuwait India International Exchange Co. WLL
15          Albania               Spain  20066.0  Kuwait India International Exchange Co. WLL
16          Albania            Portugal  15137.0  Kuwait India International Exchange Co. WLL

[1193 rows x 4 columns]
Filtered top rows for Kuwait India International Exchange Co. WLL:
      source_country destination_country         gsv                               source_partner
2422         Kuwait          Bangladesh  60585189.0  Kuwait India International Exchange Co. WLL
2423         Kuwait               Ghana  37199718.0  Kuwait India International Exchange Co. WLL
2424         Kuwait         Philippines  37163503.0  Kuwait India International Exchange Co. WLL
2425         Kuwait               Benin  34784875.0  Kuwait India International Exchange Co. WLL
2426         Kuwait               Kenya  25964237.0  Kuwait India International Exchange Co. WLL
2427         Kuwait               India  21755223.0  Kuwait India International Exchange Co. WLL
2428         Kuwait              Uganda  12470721.0  Kuwait India International Exchange Co. WLL
2429         Kuwait            Thailand   6586277.0  Kuwait India International Exchange Co. WLL
2430         Kuwait            Pakistan   5999904.0  Kuwait India International Exchange Co. WLL
2431         Kuwait                Mali   5920978.0  Kuwait India International Exchange Co. WLL
Updated Merged Results with Regional Director and Partner Gsv for Kuwait India International Exchange Co. WLL:
                                 source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Kuwait India International Exchange Co. WLL         Kuwait          Bangladesh  60585189.0     16035.0     EXISTING            Bassem
1  Kuwait India International Exchange Co. WLL         Kuwait               Benin  34784875.0        <NA>          NEW            Bassem
2  Kuwait India International Exchange Co. WLL         Kuwait               Ghana  37199718.0         2.0     EXISTING            Bassem
3  Kuwait India International Exchange Co. WLL         Kuwait               India  21755223.0         3.0     EXISTING            Bassem
4  Kuwait India International Exchange Co. WLL         Kuwait               Kenya  25964237.0        <NA>          NEW            Bassem
5  Kuwait India International Exchange Co. WLL         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  Kuwait India International Exchange Co. WLL         Kuwait            Pakistan   5999904.0       103.0     EXISTING            Bassem
7  Kuwait India International Exchange Co. WLL         Kuwait         Philippines  37163503.0    317937.0     EXISTING            Bassem
8  Kuwait India International Exchange Co. WLL         Kuwait            Thailand   6586277.0      4245.0     EXISTING            Bassem
9  Kuwait India International Exchange Co. WLL         Kuwait              Uganda  12470721.0         2.0     EXISTING            Bassem

Processing for Kwattel...
Top rows for Kwattel:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        Kwattel
1     Åland Islands               Kenya  15868.0        Kwattel
5091       Zimbabwe               India  22701.0        Kwattel
5092       Zimbabwe        South Africa  17959.0        Kwattel
5093       Zimbabwe         Netherlands  13910.0        Kwattel
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        Kwattel
13          Albania               Kenya  24127.0        Kwattel
14          Albania              France  22272.0        Kwattel
15          Albania               Spain  20066.0        Kwattel
16          Albania            Portugal  15137.0        Kwattel

[1193 rows x 4 columns]
Filtered top rows for Kwattel:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Kwattel:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for La-Cederi Bureau De Change...
Top rows for La-Cederi Bureau De Change:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  La-Cederi Bureau De Change
1     Åland Islands               Kenya  15868.0  La-Cederi Bureau De Change
5091       Zimbabwe               India  22701.0  La-Cederi Bureau De Change
5092       Zimbabwe        South Africa  17959.0  La-Cederi Bureau De Change
5093       Zimbabwe         Netherlands  13910.0  La-Cederi Bureau De Change
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  La-Cederi Bureau De Change
13          Albania               Kenya  24127.0  La-Cederi Bureau De Change
14          Albania              France  22272.0  La-Cederi Bureau De Change
15          Albania               Spain  20066.0  La-Cederi Bureau De Change
16          Albania            Portugal  15137.0  La-Cederi Bureau De Change

[1193 rows x 4 columns]
Filtered top rows for La-Cederi Bureau De Change:
      source_country destination_country         gsv              source_partner
4583         Uganda               India  16981444.0  La-Cederi Bureau De Change
4585         Uganda               Kenya   3799189.0  La-Cederi Bureau De Change
4586         Uganda      United Kingdom    852862.0  La-Cederi Bureau De Change
4587         Uganda              Canada    103644.0  La-Cederi Bureau De Change
4588         Uganda          Bangladesh     97875.0  La-Cederi Bureau De Change
4589         Uganda             Belgium     96208.0  La-Cederi Bureau De Change
4590         Uganda            Tanzania     81093.0  La-Cederi Bureau De Change
4591         Uganda             Germany     75032.0  La-Cederi Bureau De Change
4592         Uganda               Spain     58319.0  La-Cederi Bureau De Change
4593         Uganda         Netherlands     44794.0  La-Cederi Bureau De Change

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for La-Cederi Bureau De Change:
                source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  La-Cederi Bureau De Change         Uganda          Bangladesh     97875.0        <NA>          NEW            Willie
1  La-Cederi Bureau De Change         Uganda             Belgium     96208.0     34995.0     EXISTING            Willie
2  La-Cederi Bureau De Change         Uganda              Canada    103644.0    112502.0     EXISTING            Willie
3  La-Cederi Bureau De Change         Uganda             Germany     75032.0     37575.0     EXISTING            Willie
4  La-Cederi Bureau De Change         Uganda               India  16981444.0      2373.0     EXISTING            Willie
5  La-Cederi Bureau De Change         Uganda               Kenya   3799189.0     32237.0     EXISTING            Willie
6  La-Cederi Bureau De Change         Uganda         Netherlands     44794.0     40879.0     EXISTING            Willie
7  La-Cederi Bureau De Change         Uganda               Spain     58319.0     58319.0     EXISTING            Willie
8  La-Cederi Bureau De Change         Uganda            Tanzania     81093.0        90.0     EXISTING            Willie
9  La-Cederi Bureau De Change         Uganda      United Kingdom    852862.0    861984.0     EXISTING            Willie

Processing for Lemonade...
Top rows for Lemonade:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Lemonade
1     Åland Islands               Kenya  15868.0       Lemonade
5091       Zimbabwe               India  22701.0       Lemonade
5092       Zimbabwe        South Africa  17959.0       Lemonade
5093       Zimbabwe         Netherlands  13910.0       Lemonade
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Lemonade
13          Albania               Kenya  24127.0       Lemonade
14          Albania              France  22272.0       Lemonade
15          Albania               Spain  20066.0       Lemonade
16          Albania            Portugal  15137.0       Lemonade

[1193 rows x 4 columns]
Filtered top rows for Lemonade:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0       Lemonade
4846  United States of America               Ghana  854031550.0       Lemonade
4847  United States of America             Liberia  423311206.0       Lemonade
4848  United States of America            Viet Nam  299709130.0       Lemonade
4849  United States of America               India  237645288.0       Lemonade
4850  United States of America            Tanzania  224628683.0       Lemonade
4851  United States of America          Bangladesh  207173742.0       Lemonade
4852  United States of America               Kenya  193169745.0       Lemonade
4853  United States of America            Cameroon  162051487.0       Lemonade
4854  United States of America              Uganda  160458035.0       Lemonade
4724            United Kingdom               India  722564261.0       Lemonade
4725            United Kingdom               Kenya  372996239.0       Lemonade
4726            United Kingdom          Bangladesh  222801157.0       Lemonade
4727            United Kingdom               Ghana  184628486.0       Lemonade
4729            United Kingdom              Uganda  151640757.0       Lemonade
4730            United Kingdom            Viet Nam  130053730.0       Lemonade
4731            United Kingdom         Philippines   57615497.0       Lemonade
4732            United Kingdom            Tanzania   52293484.0       Lemonade
4733            United Kingdom               Spain   36806984.0       Lemonade
4734            United Kingdom            Pakistan   34877833.0       Lemonade
748                     Canada               India  211296069.0       Lemonade
749                     Canada         Philippines   57990615.0       Lemonade
750                     Canada               Ghana   57154456.0       Lemonade
751                     Canada            Viet Nam   37930649.0       Lemonade
752                     Canada               Kenya   29951383.0       Lemonade
753                     Canada              Uganda   27682200.0       Lemonade
754                     Canada               Benin   22477592.0       Lemonade
755                     Canada          Bangladesh   19317938.0       Lemonade
756                     Canada            Cameroon   18872246.0       Lemonade
757                     Canada            Tanzania   18091580.0       Lemonade

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Lemonade:
    source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0        Lemonade                    Canada          Bangladesh   19317938.0        <NA>          NEW            Philip
1        Lemonade                    Canada               Benin   22477592.0   3230663.0     EXISTING            Philip
2        Lemonade                    Canada            Cameroon   18872246.0   6925146.0     EXISTING            Philip
3        Lemonade                    Canada               Ghana   57154456.0  25484362.0     EXISTING            Philip
4        Lemonade                    Canada               India  211296069.0  23989667.0     EXISTING            Philip
5        Lemonade                    Canada               Kenya   29951383.0  11859656.0     EXISTING            Philip
6        Lemonade                    Canada         Philippines   57990615.0        <NA>          NEW            Philip
7        Lemonade                    Canada            Tanzania   18091580.0   4419116.0     EXISTING            Philip
8        Lemonade                    Canada              Uganda   27682200.0  14970054.0     EXISTING            Philip
9        Lemonade                    Canada            Viet Nam   37930649.0        <NA>          NEW            Philip
10       Lemonade            United Kingdom          Bangladesh  222801157.0         9.0     EXISTING            Philip
11       Lemonade            United Kingdom               Ghana  184628486.0   6660053.0     EXISTING            Philip
12       Lemonade            United Kingdom               India  722564261.0  51657795.0     EXISTING            Philip
13       Lemonade            United Kingdom               Kenya  372996239.0  16492736.0     EXISTING            Philip
14       Lemonade            United Kingdom            Pakistan   34877833.0  35603751.0     EXISTING            Philip
15       Lemonade            United Kingdom         Philippines   57615497.0         9.0     EXISTING            Philip
16       Lemonade            United Kingdom               Spain   36806984.0    205574.0     EXISTING            Philip
17       Lemonade            United Kingdom            Tanzania   52293484.0   8891104.0     EXISTING            Philip
18       Lemonade            United Kingdom              Uganda  151640757.0  19732839.0     EXISTING            Philip
19       Lemonade            United Kingdom            Viet Nam  130053730.0         6.0     EXISTING            Philip
20       Lemonade  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
21       Lemonade  United States of America            Cameroon  162051487.0   6902849.0     EXISTING            Philip
22       Lemonade  United States of America               Ghana  854031550.0   1751119.0     EXISTING            Philip
23       Lemonade  United States of America               India  237645288.0   6140453.0     EXISTING            Philip
24       Lemonade  United States of America               Kenya  193169745.0    833661.0     EXISTING            Philip
25       Lemonade  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
26       Lemonade  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
27       Lemonade  United States of America            Tanzania  224628683.0   3215095.0     EXISTING            Philip
28       Lemonade  United States of America              Uganda  160458035.0   2795656.0     EXISTING            Philip
29       Lemonade  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Lemonade Technology Limited - Deal Based...
Top rows for Lemonade Technology Limited - Deal Based:
      source_country destination_country      gsv                            source_partner
0     Åland Islands            Viet Nam  85001.0  Lemonade Technology Limited - Deal Based
1     Åland Islands               Kenya  15868.0  Lemonade Technology Limited - Deal Based
5091       Zimbabwe               India  22701.0  Lemonade Technology Limited - Deal Based
5092       Zimbabwe        South Africa  17959.0  Lemonade Technology Limited - Deal Based
5093       Zimbabwe         Netherlands  13910.0  Lemonade Technology Limited - Deal Based
...             ...                 ...      ...                                       ...
12          Albania            Viet Nam  40428.0  Lemonade Technology Limited - Deal Based
13          Albania               Kenya  24127.0  Lemonade Technology Limited - Deal Based
14          Albania              France  22272.0  Lemonade Technology Limited - Deal Based
15          Albania               Spain  20066.0  Lemonade Technology Limited - Deal Based
16          Albania            Portugal  15137.0  Lemonade Technology Limited - Deal Based

[1193 rows x 4 columns]
Filtered top rows for Lemonade Technology Limited - Deal Based:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Lemonade Technology Limited - Deal Based:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Lulu Exchange AE...
Top rows for Lulu Exchange AE:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Lulu Exchange AE
1     Åland Islands               Kenya  15868.0  Lulu Exchange AE
5091       Zimbabwe               India  22701.0  Lulu Exchange AE
5092       Zimbabwe        South Africa  17959.0  Lulu Exchange AE
5093       Zimbabwe         Netherlands  13910.0  Lulu Exchange AE
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Lulu Exchange AE
13          Albania               Kenya  24127.0  Lulu Exchange AE
14          Albania              France  22272.0  Lulu Exchange AE
15          Albania               Spain  20066.0  Lulu Exchange AE
16          Albania            Portugal  15137.0  Lulu Exchange AE

[1193 rows x 4 columns]
Filtered top rows for Lulu Exchange AE:
             source_country destination_country          gsv    source_partner
4639  United Arab Emirates               India  248146952.0  Lulu Exchange AE
4640  United Arab Emirates              Uganda  201261045.0  Lulu Exchange AE
4641  United Arab Emirates         Philippines  107484030.0  Lulu Exchange AE
4642  United Arab Emirates      United Kingdom   83094300.0  Lulu Exchange AE
4643  United Arab Emirates               Kenya   78653029.0  Lulu Exchange AE
4644  United Arab Emirates               Ghana   74563964.0  Lulu Exchange AE
4645  United Arab Emirates          Bangladesh   39836052.0  Lulu Exchange AE
4646  United Arab Emirates            Malaysia   28856080.0  Lulu Exchange AE
4647  United Arab Emirates             Germany   16482871.0  Lulu Exchange AE
4648  United Arab Emirates              France   15635606.0  Lulu Exchange AE
Updated Merged Results with Regional Director and Partner Gsv for Lulu Exchange AE:
      source_partner        source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Lulu Exchange AE  United Arab Emirates          Bangladesh   39836052.0     50939.0     EXISTING            Bassem
1  Lulu Exchange AE  United Arab Emirates              France   15635606.0        <NA>          NEW            Bassem
2  Lulu Exchange AE  United Arab Emirates             Germany   16482871.0        <NA>          NEW            Bassem
3  Lulu Exchange AE  United Arab Emirates               Ghana   74563964.0  13256674.0     EXISTING            Bassem
4  Lulu Exchange AE  United Arab Emirates               India  248146952.0  10763180.0     EXISTING            Bassem
5  Lulu Exchange AE  United Arab Emirates               Kenya   78653029.0   6232705.0     EXISTING            Bassem
6  Lulu Exchange AE  United Arab Emirates            Malaysia   28856080.0      3199.0     EXISTING            Bassem
7  Lulu Exchange AE  United Arab Emirates         Philippines  107484030.0   5966535.0     EXISTING            Bassem
8  Lulu Exchange AE  United Arab Emirates              Uganda  201261045.0  21731210.0     EXISTING            Bassem
9  Lulu Exchange AE  United Arab Emirates      United Kingdom   83094300.0        <NA>          NEW            Bassem

Processing for Lulu Exchange Company WLL Deal...
Top rows for Lulu Exchange Company WLL Deal:
      source_country destination_country      gsv                  source_partner
0     Åland Islands            Viet Nam  85001.0  Lulu Exchange Company WLL Deal
1     Åland Islands               Kenya  15868.0  Lulu Exchange Company WLL Deal
5091       Zimbabwe               India  22701.0  Lulu Exchange Company WLL Deal
5092       Zimbabwe        South Africa  17959.0  Lulu Exchange Company WLL Deal
5093       Zimbabwe         Netherlands  13910.0  Lulu Exchange Company WLL Deal
...             ...                 ...      ...                             ...
12          Albania            Viet Nam  40428.0  Lulu Exchange Company WLL Deal
13          Albania               Kenya  24127.0  Lulu Exchange Company WLL Deal
14          Albania              France  22272.0  Lulu Exchange Company WLL Deal
15          Albania               Spain  20066.0  Lulu Exchange Company WLL Deal
16          Albania            Portugal  15137.0  Lulu Exchange Company WLL Deal

[1193 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Filtered top rows for Lulu Exchange Company WLL Deal:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Lulu Exchange Company WLL Deal:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Lulu Exchange Company WLL- Kuwait...
Top rows for Lulu Exchange Company WLL- Kuwait:
      source_country destination_country      gsv                     source_partner
0     Åland Islands            Viet Nam  85001.0  Lulu Exchange Company WLL- Kuwait
1     Åland Islands               Kenya  15868.0  Lulu Exchange Company WLL- Kuwait
5091       Zimbabwe               India  22701.0  Lulu Exchange Company WLL- Kuwait
5092       Zimbabwe        South Africa  17959.0  Lulu Exchange Company WLL- Kuwait
5093       Zimbabwe         Netherlands  13910.0  Lulu Exchange Company WLL- Kuwait
...             ...                 ...      ...                                ...
12          Albania            Viet Nam  40428.0  Lulu Exchange Company WLL- Kuwait
13          Albania               Kenya  24127.0  Lulu Exchange Company WLL- Kuwait
14          Albania              France  22272.0  Lulu Exchange Company WLL- Kuwait
15          Albania               Spain  20066.0  Lulu Exchange Company WLL- Kuwait
16          Albania            Portugal  15137.0  Lulu Exchange Company WLL- Kuwait

[1193 rows x 4 columns]
Filtered top rows for Lulu Exchange Company WLL- Kuwait:
      source_country destination_country         gsv                     source_partner
2422         Kuwait          Bangladesh  60585189.0  Lulu Exchange Company WLL- Kuwait
2423         Kuwait               Ghana  37199718.0  Lulu Exchange Company WLL- Kuwait
2424         Kuwait         Philippines  37163503.0  Lulu Exchange Company WLL- Kuwait
2425         Kuwait               Benin  34784875.0  Lulu Exchange Company WLL- Kuwait
2426         Kuwait               Kenya  25964237.0  Lulu Exchange Company WLL- Kuwait
2427         Kuwait               India  21755223.0  Lulu Exchange Company WLL- Kuwait
2428         Kuwait              Uganda  12470721.0  Lulu Exchange Company WLL- Kuwait
2429         Kuwait            Thailand   6586277.0  Lulu Exchange Company WLL- Kuwait
2430         Kuwait            Pakistan   5999904.0  Lulu Exchange Company WLL- Kuwait
2431         Kuwait                Mali   5920978.0  Lulu Exchange Company WLL- Kuwait
Updated Merged Results with Regional Director and Partner Gsv for Lulu Exchange Company WLL- Kuwait:
                       source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Lulu Exchange Company WLL- Kuwait         Kuwait          Bangladesh  60585189.0   2293988.0     EXISTING            Bassem
1  Lulu Exchange Company WLL- Kuwait         Kuwait               Benin  34784875.0    457296.0     EXISTING            Bassem
2  Lulu Exchange Company WLL- Kuwait         Kuwait               Ghana  37199718.0    148542.0     EXISTING            Bassem
3  Lulu Exchange Company WLL- Kuwait         Kuwait               India  21755223.0     13434.0     EXISTING            Bassem
4  Lulu Exchange Company WLL- Kuwait         Kuwait               Kenya  25964237.0     30394.0     EXISTING            Bassem
5  Lulu Exchange Company WLL- Kuwait         Kuwait                Mali   5920978.0    855584.0     EXISTING            Bassem
6  Lulu Exchange Company WLL- Kuwait         Kuwait            Pakistan   5999904.0      7429.0     EXISTING            Bassem
7  Lulu Exchange Company WLL- Kuwait         Kuwait         Philippines  37163503.0   5260175.0     EXISTING            Bassem
8  Lulu Exchange Company WLL- Kuwait         Kuwait            Thailand   6586277.0    511057.0     EXISTING            Bassem
9  Lulu Exchange Company WLL- Kuwait         Kuwait              Uganda  12470721.0     46244.0     EXISTING            Bassem

Processing for Lulu Exchange OM...
Top rows for Lulu Exchange OM:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Lulu Exchange OM
1     Åland Islands               Kenya  15868.0  Lulu Exchange OM
5091       Zimbabwe               India  22701.0  Lulu Exchange OM
5092       Zimbabwe        South Africa  17959.0  Lulu Exchange OM
5093       Zimbabwe         Netherlands  13910.0  Lulu Exchange OM
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Lulu Exchange OM
13          Albania               Kenya  24127.0  Lulu Exchange OM
14          Albania              France  22272.0  Lulu Exchange OM
15          Albania               Spain  20066.0  Lulu Exchange OM
16          Albania            Portugal  15137.0  Lulu Exchange OM

[1193 rows x 4 columns]
Filtered top rows for Lulu Exchange OM:
      source_country destination_country         gsv    source_partner
3249           Oman          Bangladesh  45339602.0  Lulu Exchange OM
3250           Oman            Tanzania  26059967.0  Lulu Exchange OM
3251           Oman         Philippines  24617019.0  Lulu Exchange OM
3252           Oman               Kenya  19852109.0  Lulu Exchange OM
3253           Oman              Uganda  16599432.0  Lulu Exchange OM
3254           Oman            Thailand   9905277.0  Lulu Exchange OM
3255           Oman               India   6657635.0  Lulu Exchange OM
3256           Oman           Indonesia   4841332.0  Lulu Exchange OM
3257           Oman               Ghana   4629902.0  Lulu Exchange OM
3258           Oman      United Kingdom   4368724.0  Lulu Exchange OM

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Lulu Exchange OM:
      source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Lulu Exchange OM           Oman          Bangladesh  45339602.0    385179.0     EXISTING            Bassem
1  Lulu Exchange OM           Oman               Ghana   4629902.0    353024.0     EXISTING            Bassem
2  Lulu Exchange OM           Oman               India   6657635.0     14604.0     EXISTING            Bassem
3  Lulu Exchange OM           Oman           Indonesia   4841332.0     26742.0     EXISTING            Bassem
4  Lulu Exchange OM           Oman               Kenya  19852109.0   1082460.0     EXISTING            Bassem
5  Lulu Exchange OM           Oman         Philippines  24617019.0   6810426.0     EXISTING            Bassem
6  Lulu Exchange OM           Oman            Tanzania  26059967.0    689342.0     EXISTING            Bassem
7  Lulu Exchange OM           Oman            Thailand   9905277.0   5542556.0     EXISTING            Bassem
8  Lulu Exchange OM           Oman              Uganda  16599432.0   1171330.0     EXISTING            Bassem
9  Lulu Exchange OM           Oman      United Kingdom   4368724.0    502070.0     EXISTING            Bassem

Processing for Lulu Money Singapore PTE LTD...
Top rows for Lulu Money Singapore PTE LTD:
      source_country destination_country      gsv                source_partner
0     Åland Islands            Viet Nam  85001.0  Lulu Money Singapore PTE LTD
1     Åland Islands               Kenya  15868.0  Lulu Money Singapore PTE LTD
5091       Zimbabwe               India  22701.0  Lulu Money Singapore PTE LTD
5092       Zimbabwe        South Africa  17959.0  Lulu Money Singapore PTE LTD
5093       Zimbabwe         Netherlands  13910.0  Lulu Money Singapore PTE LTD
...             ...                 ...      ...                           ...
12          Albania            Viet Nam  40428.0  Lulu Money Singapore PTE LTD
13          Albania               Kenya  24127.0  Lulu Money Singapore PTE LTD
14          Albania              France  22272.0  Lulu Money Singapore PTE LTD
15          Albania               Spain  20066.0  Lulu Money Singapore PTE LTD
16          Albania            Portugal  15137.0  Lulu Money Singapore PTE LTD

[1193 rows x 4 columns]
Filtered top rows for Lulu Money Singapore PTE LTD:
      source_country destination_country         gsv                source_partner
3937      Singapore            Viet Nam  93619361.0  Lulu Money Singapore PTE LTD
3938      Singapore            Malaysia  49493089.0  Lulu Money Singapore PTE LTD
3939      Singapore               India  47978336.0  Lulu Money Singapore PTE LTD
3940      Singapore      United Kingdom  41572026.0  Lulu Money Singapore PTE LTD
3941      Singapore          Bangladesh  31223283.0  Lulu Money Singapore PTE LTD
3942      Singapore               Kenya  11958315.0  Lulu Money Singapore PTE LTD
3943      Singapore               Ghana   7761475.0  Lulu Money Singapore PTE LTD
3944      Singapore              Uganda   3461737.0  Lulu Money Singapore PTE LTD
3945      Singapore         Philippines   2708549.0  Lulu Money Singapore PTE LTD
3946      Singapore            Thailand   2214517.0  Lulu Money Singapore PTE LTD
Updated Merged Results with Regional Director and Partner Gsv for Lulu Money Singapore PTE LTD:
                  source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Lulu Money Singapore PTE LTD      Singapore          Bangladesh  31223283.0  29755975.0     EXISTING            Bassem
1  Lulu Money Singapore PTE LTD      Singapore               Ghana   7761475.0   7390745.0     EXISTING            Bassem
2  Lulu Money Singapore PTE LTD      Singapore               India  47978336.0  13042286.0     EXISTING            Bassem
3  Lulu Money Singapore PTE LTD      Singapore               Kenya  11958315.0   9332540.0     EXISTING            Bassem
4  Lulu Money Singapore PTE LTD      Singapore            Malaysia  49493089.0   1698756.0     EXISTING            Bassem
5  Lulu Money Singapore PTE LTD      Singapore         Philippines   2708549.0   2051132.0     EXISTING            Bassem
6  Lulu Money Singapore PTE LTD      Singapore            Thailand   2214517.0   2255054.0     EXISTING            Bassem
7  Lulu Money Singapore PTE LTD      Singapore              Uganda   3461737.0   2403581.0     EXISTING            Bassem
8  Lulu Money Singapore PTE LTD      Singapore      United Kingdom  41572026.0  43201761.0     EXISTING            Bassem
9  Lulu Money Singapore PTE LTD      Singapore            Viet Nam  93619361.0        <NA>          NEW            Bassem

Processing for MAGNAJAY MONEY REMITTANCE...
Top rows for MAGNAJAY MONEY REMITTANCE:
      source_country destination_country      gsv             source_partner
0     Åland Islands            Viet Nam  85001.0  MAGNAJAY MONEY REMITTANCE
1     Åland Islands               Kenya  15868.0  MAGNAJAY MONEY REMITTANCE
5091       Zimbabwe               India  22701.0  MAGNAJAY MONEY REMITTANCE
5092       Zimbabwe        South Africa  17959.0  MAGNAJAY MONEY REMITTANCE
5093       Zimbabwe         Netherlands  13910.0  MAGNAJAY MONEY REMITTANCE
...             ...                 ...      ...                        ...
12          Albania            Viet Nam  40428.0  MAGNAJAY MONEY REMITTANCE
13          Albania               Kenya  24127.0  MAGNAJAY MONEY REMITTANCE
14          Albania              France  22272.0  MAGNAJAY MONEY REMITTANCE
15          Albania               Spain  20066.0  MAGNAJAY MONEY REMITTANCE
16          Albania            Portugal  15137.0  MAGNAJAY MONEY REMITTANCE

[1193 rows x 4 columns]
Filtered top rows for MAGNAJAY MONEY REMITTANCE:
         source_country destination_country         gsv             source_partner
579  Brunei Darussalam            Malaysia  16310709.0  MAGNAJAY MONEY REMITTANCE
580  Brunei Darussalam          Bangladesh   3972216.0  MAGNAJAY MONEY REMITTANCE
581  Brunei Darussalam               India   1425307.0  MAGNAJAY MONEY REMITTANCE
582  Brunei Darussalam         Philippines   1090208.0  MAGNAJAY MONEY REMITTANCE
583  Brunei Darussalam            Thailand    621813.0  MAGNAJAY MONEY REMITTANCE
584  Brunei Darussalam            Viet Nam    110027.0  MAGNAJAY MONEY REMITTANCE

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for MAGNAJAY MONEY REMITTANCE:
               source_partner     source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam          Bangladesh   3972216.0   4040717.0     EXISTING            Sukesh
1  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam               India   1425307.0   1424299.0     EXISTING            Sukesh
2  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam            Malaysia  16310709.0   1489355.0     EXISTING            Sukesh
3  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam         Philippines   1090208.0    814280.0     EXISTING            Sukesh
4  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam            Thailand    621813.0    637065.0     EXISTING            Sukesh
5  MAGNAJAY MONEY REMITTANCE  Brunei Darussalam            Viet Nam    110027.0      6664.0     EXISTING            Sukesh

Processing for Mama_Money...
Top rows for Mama_Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Mama_Money
1     Åland Islands               Kenya  15868.0     Mama_Money
5091       Zimbabwe               India  22701.0     Mama_Money
5092       Zimbabwe        South Africa  17959.0     Mama_Money
5093       Zimbabwe         Netherlands  13910.0     Mama_Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Mama_Money
13          Albania               Kenya  24127.0     Mama_Money
14          Albania              France  22272.0     Mama_Money
15          Albania               Spain  20066.0     Mama_Money
16          Albania            Portugal  15137.0     Mama_Money

[1193 rows x 4 columns]
Filtered top rows for Mama_Money:
                          source_country                destination_country         gsv source_partner
4086                       South Africa                         Mozambique  35501753.0     Mama_Money
4087                       South Africa                         Bangladesh  32584335.0     Mama_Money
4088                       South Africa                           Thailand  28222455.0     Mama_Money
4089                       South Africa                              Kenya  16703317.0     Mama_Money
4090                       South Africa                              India  16607487.0     Mama_Money
4091                       South Africa                           Pakistan  13833165.0     Mama_Money
4092                       South Africa                           Tanzania  12064506.0     Mama_Money
4093                       South Africa                              Nepal   7877228.0     Mama_Money
4094                       South Africa                             Uganda   3880250.0     Mama_Money
4095                       South Africa  Congo, Democratic Republic of the   3726225.0     Mama_Money
3327                           Pakistan                           Malaysia    210343.0     Mama_Money
3328                           Pakistan                            Germany    160107.0     Mama_Money
3329                           Pakistan                           Viet Nam    132000.0     Mama_Money
3330                           Pakistan                             France     88695.0     Mama_Money
3331                           Pakistan                              Kenya     85970.0     Mama_Money
3332                           Pakistan                              Italy     61551.0     Mama_Money
3333                           Pakistan                        Netherlands     48704.0     Mama_Money
3334                           Pakistan                            Belgium     47156.0     Mama_Money
3335                           Pakistan                           Portugal     47059.0     Mama_Money
3336                           Pakistan                              Egypt     38089.0     Mama_Money
3033                         Mozambique                           Tanzania    283386.0     Mama_Money
3034                         Mozambique                              Kenya    133196.0     Mama_Money
3035                         Mozambique                             Uganda     18851.0     Mama_Money
3036                         Mozambique                              India     16570.0     Mama_Money
3038                         Mozambique                       South Africa     11556.0     Mama_Money
3039                         Mozambique                           Viet Nam     10765.0     Mama_Money
971   Congo, Democratic Republic of the                             France    457124.0     Mama_Money
972   Congo, Democratic Republic of the                            Belgium    413328.0     Mama_Money
973   Congo, Democratic Republic of the                          Lithuania     83002.0     Mama_Money
974   Congo, Democratic Republic of the                            Germany     75845.0     Mama_Money
975   Congo, Democratic Republic of the                              India     53116.0     Mama_Money
976   Congo, Democratic Republic of the                     United Kingdom     47520.0     Mama_Money
977   Congo, Democratic Republic of the           United States of America     35927.0     Mama_Money
978   Congo, Democratic Republic of the                              Kenya     30918.0     Mama_Money
979   Congo, Democratic Republic of the                             Poland     19785.0     Mama_Money
980   Congo, Democratic Republic of the                           Portugal     19006.0     Mama_Money

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Mama_Money:
    source_partner                     source_country                destination_country         gsv Partner_Gsv existing/new regional_director
0      Mama_Money  Congo, Democratic Republic of the                            Belgium    413328.0        <NA>          NEW            Willie
1      Mama_Money  Congo, Democratic Republic of the                             France    457124.0        <NA>          NEW            Willie
2      Mama_Money  Congo, Democratic Republic of the                            Germany     75845.0        <NA>          NEW            Willie
3      Mama_Money  Congo, Democratic Republic of the                              India     53116.0        <NA>          NEW            Willie
4      Mama_Money  Congo, Democratic Republic of the                              Kenya     30918.0        <NA>          NEW            Willie
5      Mama_Money  Congo, Democratic Republic of the                          Lithuania     83002.0        <NA>          NEW            Willie
6      Mama_Money  Congo, Democratic Republic of the                             Poland     19785.0        <NA>          NEW            Willie
7      Mama_Money  Congo, Democratic Republic of the                           Portugal     19006.0        <NA>          NEW            Willie
8      Mama_Money  Congo, Democratic Republic of the                     United Kingdom     47520.0        <NA>          NEW            Willie
9      Mama_Money  Congo, Democratic Republic of the           United States of America     35927.0        <NA>          NEW            Willie
10     Mama_Money                         Mozambique                              India     16570.0        <NA>          NEW            Willie
11     Mama_Money                         Mozambique                              Kenya    133196.0        <NA>          NEW            Willie
12     Mama_Money                         Mozambique                       South Africa     11556.0        <NA>          NEW            Willie
13     Mama_Money                         Mozambique                           Tanzania    283386.0        <NA>          NEW            Willie
14     Mama_Money                         Mozambique                             Uganda     18851.0        <NA>          NEW            Willie
15     Mama_Money                         Mozambique                           Viet Nam     10765.0        <NA>          NEW            Willie
16     Mama_Money                           Pakistan                            Belgium     47156.0        <NA>          NEW            Willie
17     Mama_Money                           Pakistan                              Egypt     38089.0        <NA>          NEW            Willie
18     Mama_Money                           Pakistan                             France     88695.0        <NA>          NEW            Willie
19     Mama_Money                           Pakistan                            Germany    160107.0        <NA>          NEW            Willie
20     Mama_Money                           Pakistan                              Italy     61551.0        <NA>          NEW            Willie
21     Mama_Money                           Pakistan                              Kenya     85970.0        <NA>          NEW            Willie
22     Mama_Money                           Pakistan                           Malaysia    210343.0        <NA>          NEW            Willie
23     Mama_Money                           Pakistan                        Netherlands     48704.0        <NA>          NEW            Willie
24     Mama_Money                           Pakistan                           Portugal     47059.0        <NA>          NEW            Willie
25     Mama_Money                           Pakistan                           Viet Nam    132000.0        <NA>          NEW            Willie
26     Mama_Money                       South Africa                         Bangladesh  32584335.0  30071454.0     EXISTING            Willie
27     Mama_Money                       South Africa  Congo, Democratic Republic of the   3726225.0   1509223.0     EXISTING            Willie
28     Mama_Money                       South Africa                              India  16607487.0    678751.0     EXISTING            Willie
29     Mama_Money                       South Africa                              Kenya  16703317.0   1249973.0     EXISTING            Willie
30     Mama_Money                       South Africa                         Mozambique  35501753.0   4404876.0     EXISTING            Willie
31     Mama_Money                       South Africa                              Nepal   7877228.0        <NA>          NEW            Willie
32     Mama_Money                       South Africa                           Pakistan  13833165.0  14153575.0     EXISTING            Willie
33     Mama_Money                       South Africa                           Tanzania  12064506.0        <NA>          NEW            Willie
34     Mama_Money                       South Africa                           Thailand  28222455.0        <NA>          NEW            Willie
35     Mama_Money                       South Africa                             Uganda   3880250.0        <NA>          NEW            Willie

Processing for MasterCard...
Top rows for MasterCard:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     MasterCard
1     Åland Islands               Kenya  15868.0     MasterCard
5091       Zimbabwe               India  22701.0     MasterCard
5092       Zimbabwe        South Africa  17959.0     MasterCard
5093       Zimbabwe         Netherlands  13910.0     MasterCard
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     MasterCard
13          Albania               Kenya  24127.0     MasterCard
14          Albania              France  22272.0     MasterCard
15          Albania               Spain  20066.0     MasterCard
16          Albania            Portugal  15137.0     MasterCard

[1193 rows x 4 columns]
Filtered top rows for MasterCard:
             source_country destination_country           gsv source_partner
4639  United Arab Emirates               India   248146952.0     MasterCard
4640  United Arab Emirates              Uganda   201261045.0     MasterCard
4641  United Arab Emirates         Philippines   107484030.0     MasterCard
4642  United Arab Emirates      United Kingdom    83094300.0     MasterCard
4643  United Arab Emirates               Kenya    78653029.0     MasterCard
4644  United Arab Emirates               Ghana    74563964.0     MasterCard
4645  United Arab Emirates          Bangladesh    39836052.0     MasterCard
4646  United Arab Emirates            Malaysia    28856080.0     MasterCard
4647  United Arab Emirates             Germany    16482871.0     MasterCard
4648  United Arab Emirates              France    15635606.0     MasterCard
3570                 Qatar               India  1364429345.0     MasterCard
3571                 Qatar               Kenya   199406963.0     MasterCard
3572                 Qatar          Bangladesh   191208238.0     MasterCard
3573                 Qatar              Uganda   100836860.0     MasterCard
3574                 Qatar            Malaysia    80500570.0     MasterCard
3575                 Qatar               Ghana    74195942.0     MasterCard
3576                 Qatar         Philippines    45528278.0     MasterCard
3577                 Qatar            Thailand    17414674.0     MasterCard
3578                 Qatar             Nigeria     8543471.0     MasterCard
3579                 Qatar               Nepal     7123914.0     MasterCard
3249                  Oman          Bangladesh    45339602.0     MasterCard
3250                  Oman            Tanzania    26059967.0     MasterCard
3251                  Oman         Philippines    24617019.0     MasterCard
3252                  Oman               Kenya    19852109.0     MasterCard
3253                  Oman              Uganda    16599432.0     MasterCard
3254                  Oman            Thailand     9905277.0     MasterCard
3255                  Oman               India     6657635.0     MasterCard
3256                  Oman           Indonesia     4841332.0     MasterCard
3257                  Oman               Ghana     4629902.0     MasterCard
3258                  Oman      United Kingdom     4368724.0     MasterCard
2422                Kuwait          Bangladesh    60585189.0     MasterCard
2423                Kuwait               Ghana    37199718.0     MasterCard
2424                Kuwait         Philippines    37163503.0     MasterCard
2425                Kuwait               Benin    34784875.0     MasterCard
2426                Kuwait               Kenya    25964237.0     MasterCard
2427                Kuwait               India    21755223.0     MasterCard
2428                Kuwait              Uganda    12470721.0     MasterCard
2429                Kuwait            Thailand     6586277.0     MasterCard
2430                Kuwait            Pakistan     5999904.0     MasterCard
2431                Kuwait                Mali     5920978.0     MasterCard
296                Bahrain          Bangladesh   205631976.0     MasterCard
297                Bahrain            Thailand    67533964.0     MasterCard
298                Bahrain               India    30113015.0     MasterCard
299                Bahrain               Kenya    28674621.0     MasterCard
300                Bahrain              Uganda    26873683.0     MasterCard
301                Bahrain               Ghana    15374036.0     MasterCard
302                Bahrain         Philippines     8465479.0     MasterCard
303                Bahrain            Cameroon     4956559.0     MasterCard
304                Bahrain            Pakistan     3662759.0     MasterCard
305                Bahrain            Malaysia     2304540.0     MasterCard

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for MasterCard:
    source_partner        source_country destination_country           gsv Partner_Gsv existing/new regional_director
0      MasterCard               Bahrain          Bangladesh   205631976.0        <NA>          NEW            Bassem
1      MasterCard               Bahrain            Cameroon     4956559.0        <NA>          NEW            Bassem
2      MasterCard               Bahrain               Ghana    15374036.0        <NA>          NEW            Bassem
3      MasterCard               Bahrain               India    30113015.0        <NA>          NEW            Bassem
4      MasterCard               Bahrain               Kenya    28674621.0        <NA>          NEW            Bassem
5      MasterCard               Bahrain            Malaysia     2304540.0        <NA>          NEW            Bassem
6      MasterCard               Bahrain            Pakistan     3662759.0        <NA>          NEW            Bassem
7      MasterCard               Bahrain         Philippines     8465479.0        <NA>          NEW            Bassem
8      MasterCard               Bahrain            Thailand    67533964.0        <NA>          NEW            Bassem
9      MasterCard               Bahrain              Uganda    26873683.0     89356.0     EXISTING            Bassem
10     MasterCard                Kuwait          Bangladesh    60585189.0        <NA>          NEW            Bassem
11     MasterCard                Kuwait               Benin    34784875.0        <NA>          NEW            Bassem
12     MasterCard                Kuwait               Ghana    37199718.0        <NA>          NEW            Bassem
13     MasterCard                Kuwait               India    21755223.0        <NA>          NEW            Bassem
14     MasterCard                Kuwait               Kenya    25964237.0     19475.0     EXISTING            Bassem
15     MasterCard                Kuwait                Mali     5920978.0        <NA>          NEW            Bassem
16     MasterCard                Kuwait            Pakistan     5999904.0        <NA>          NEW            Bassem
17     MasterCard                Kuwait         Philippines    37163503.0        <NA>          NEW            Bassem
18     MasterCard                Kuwait            Thailand     6586277.0        <NA>          NEW            Bassem
19     MasterCard                Kuwait              Uganda    12470721.0     24657.0     EXISTING            Bassem
20     MasterCard                  Oman          Bangladesh    45339602.0        <NA>          NEW            Bassem
21     MasterCard                  Oman               Ghana     4629902.0        <NA>          NEW            Bassem
22     MasterCard                  Oman               India     6657635.0        <NA>          NEW            Bassem
23     MasterCard                  Oman           Indonesia     4841332.0        <NA>          NEW            Bassem
24     MasterCard                  Oman               Kenya    19852109.0     38238.0     EXISTING            Bassem
25     MasterCard                  Oman         Philippines    24617019.0        <NA>          NEW            Bassem
26     MasterCard                  Oman            Tanzania    26059967.0     18738.0     EXISTING            Bassem
27     MasterCard                  Oman            Thailand     9905277.0        <NA>          NEW            Bassem
28     MasterCard                  Oman              Uganda    16599432.0    106207.0     EXISTING            Bassem
29     MasterCard                  Oman      United Kingdom     4368724.0        <NA>          NEW            Bassem
30     MasterCard                 Qatar          Bangladesh   191208238.0        <NA>          NEW            Bassem
31     MasterCard                 Qatar               Ghana    74195942.0        <NA>          NEW            Bassem
32     MasterCard                 Qatar               India  1364429345.0        <NA>          NEW            Bassem
33     MasterCard                 Qatar               Kenya   199406963.0      1403.0     EXISTING            Bassem
34     MasterCard                 Qatar            Malaysia    80500570.0        <NA>          NEW            Bassem
35     MasterCard                 Qatar               Nepal     7123914.0        <NA>          NEW            Bassem
36     MasterCard                 Qatar             Nigeria     8543471.0        <NA>          NEW            Bassem
37     MasterCard                 Qatar         Philippines    45528278.0        <NA>          NEW            Bassem
38     MasterCard                 Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
39     MasterCard                 Qatar              Uganda   100836860.0     10580.0     EXISTING            Bassem
40     MasterCard  United Arab Emirates          Bangladesh    39836052.0        <NA>          NEW            Bassem
41     MasterCard  United Arab Emirates              France    15635606.0        <NA>          NEW            Bassem
42     MasterCard  United Arab Emirates             Germany    16482871.0        <NA>          NEW            Bassem
43     MasterCard  United Arab Emirates               Ghana    74563964.0        <NA>          NEW            Bassem
44     MasterCard  United Arab Emirates               India   248146952.0        <NA>          NEW            Bassem
45     MasterCard  United Arab Emirates               Kenya    78653029.0     80261.0     EXISTING            Bassem
46     MasterCard  United Arab Emirates            Malaysia    28856080.0        <NA>          NEW            Bassem
47     MasterCard  United Arab Emirates         Philippines   107484030.0        <NA>          NEW            Bassem
48     MasterCard  United Arab Emirates              Uganda   201261045.0    162140.0     EXISTING            Bassem
49     MasterCard  United Arab Emirates      United Kingdom    83094300.0        <NA>          NEW            Bassem

Processing for Master Remit...
Top rows for Master Remit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   Master Remit
1     Åland Islands               Kenya  15868.0   Master Remit
5091       Zimbabwe               India  22701.0   Master Remit
5092       Zimbabwe        South Africa  17959.0   Master Remit
5093       Zimbabwe         Netherlands  13910.0   Master Remit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   Master Remit
13          Albania               Kenya  24127.0   Master Remit
14          Albania              France  22272.0   Master Remit
15          Albania               Spain  20066.0   Master Remit
16          Albania            Portugal  15137.0   Master Remit

[1193 rows x 4 columns]
Filtered top rows for Master Remit:
     source_country destination_country           gsv source_partner
138      Australia               India  1271119070.0   Master Remit
139      Australia               Kenya   100661663.0   Master Remit
140      Australia            Viet Nam    86869347.0   Master Remit
141      Australia         Philippines    51386339.0   Master Remit
142      Australia      United Kingdom    46499428.0   Master Remit
143      Australia            Malaysia    45569162.0   Master Remit
144      Australia          Bangladesh    40785924.0   Master Remit
145      Australia               Ghana    14536937.0   Master Remit
146      Australia              Uganda    10896328.0   Master Remit
147      Australia             Germany     9418964.0   Master Remit
Updated Merged Results with Regional Director and Partner Gsv for Master Remit:
   source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0   Master Remit      Australia          Bangladesh    40785924.0      9725.0     EXISTING            Sukesh
1   Master Remit      Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2   Master Remit      Australia               Ghana    14536937.0       152.0     EXISTING            Sukesh
3   Master Remit      Australia               India  1271119070.0    137151.0     EXISTING            Sukesh
4   Master Remit      Australia               Kenya   100661663.0         2.0     EXISTING            Sukesh
5   Master Remit      Australia            Malaysia    45569162.0         1.0     EXISTING            Sukesh
6   Master Remit      Australia         Philippines    51386339.0    486551.0     EXISTING            Sukesh
7   Master Remit      Australia              Uganda    10896328.0    161819.0     EXISTING            Sukesh
8   Master Remit      Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9   Master Remit      Australia            Viet Nam    86869347.0    420352.0     EXISTING            Sukesh

Processing for Maxitransfers LLC...
Top rows for Maxitransfers LLC:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Maxitransfers LLC
1     Åland Islands               Kenya  15868.0  Maxitransfers LLC
5091       Zimbabwe               India  22701.0  Maxitransfers LLC
5092       Zimbabwe        South Africa  17959.0  Maxitransfers LLC
5093       Zimbabwe         Netherlands  13910.0  Maxitransfers LLC
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Maxitransfers LLC
13          Albania               Kenya  24127.0  Maxitransfers LLC
14          Albania              France  22272.0  Maxitransfers LLC
15          Albania               Spain  20066.0  Maxitransfers LLC
16          Albania            Portugal  15137.0  Maxitransfers LLC

[1193 rows x 4 columns]
Filtered top rows for Maxitransfers LLC:
                 source_country destination_country          gsv     source_partner
4845  United States of America         Philippines  855243500.0  Maxitransfers LLC
4846  United States of America               Ghana  854031550.0  Maxitransfers LLC
4847  United States of America             Liberia  423311206.0  Maxitransfers LLC
4848  United States of America            Viet Nam  299709130.0  Maxitransfers LLC
4849  United States of America               India  237645288.0  Maxitransfers LLC
4850  United States of America            Tanzania  224628683.0  Maxitransfers LLC
4851  United States of America          Bangladesh  207173742.0  Maxitransfers LLC
4852  United States of America               Kenya  193169745.0  Maxitransfers LLC
4853  United States of America            Cameroon  162051487.0  Maxitransfers LLC
4854  United States of America              Uganda  160458035.0  Maxitransfers LLC
Updated Merged Results with Regional Director and Partner Gsv for Maxitransfers LLC:
       source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Maxitransfers LLC  United States of America          Bangladesh  207173742.0   2438204.0     EXISTING            Philip
1  Maxitransfers LLC  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Maxitransfers LLC  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Maxitransfers LLC  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Maxitransfers LLC  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Maxitransfers LLC  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Maxitransfers LLC  United States of America         Philippines  855243500.0     24385.0     EXISTING            Philip
7  Maxitransfers LLC  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Maxitransfers LLC  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Maxitransfers LLC  United States of America            Viet Nam  299709130.0     84049.0     EXISTING            Philip

Processing for Merchant_Trade...
Top rows for Merchant_Trade:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  Merchant_Trade
1     Åland Islands               Kenya  15868.0  Merchant_Trade
5091       Zimbabwe               India  22701.0  Merchant_Trade
5092       Zimbabwe        South Africa  17959.0  Merchant_Trade
5093       Zimbabwe         Netherlands  13910.0  Merchant_Trade
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  Merchant_Trade
13          Albania               Kenya  24127.0  Merchant_Trade
14          Albania              France  22272.0  Merchant_Trade
15          Albania               Spain  20066.0  Merchant_Trade
16          Albania            Portugal  15137.0  Merchant_Trade

[1193 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Filtered top rows for Merchant_Trade:
      source_country destination_country          gsv  source_partner
2747       Malaysia          Bangladesh  127020237.0  Merchant_Trade
2748       Malaysia               India   18147705.0  Merchant_Trade
2749       Malaysia            Viet Nam   17636102.0  Merchant_Trade
2750       Malaysia         Philippines   13187307.0  Merchant_Trade
2751       Malaysia           Indonesia    7123704.0  Merchant_Trade
2752       Malaysia               Kenya    2381057.0  Merchant_Trade
2753       Malaysia               Ghana    1126550.0  Merchant_Trade
2754       Malaysia              Uganda     896036.0  Merchant_Trade
2755       Malaysia      United Kingdom     654328.0  Merchant_Trade
2756       Malaysia             Germany     523692.0  Merchant_Trade
Updated Merged Results with Regional Director and Partner Gsv for Merchant_Trade:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Merchant_Trade       Malaysia          Bangladesh  127020237.0        <NA>          NEW            Sukesh
1  Merchant_Trade       Malaysia             Germany     523692.0        <NA>          NEW            Sukesh
2  Merchant_Trade       Malaysia               Ghana    1126550.0        <NA>          NEW            Sukesh
3  Merchant_Trade       Malaysia               India   18147705.0        <NA>          NEW            Sukesh
4  Merchant_Trade       Malaysia           Indonesia    7123704.0        <NA>          NEW            Sukesh
5  Merchant_Trade       Malaysia               Kenya    2381057.0        <NA>          NEW            Sukesh
6  Merchant_Trade       Malaysia         Philippines   13187307.0        <NA>          NEW            Sukesh
7  Merchant_Trade       Malaysia              Uganda     896036.0        <NA>          NEW            Sukesh
8  Merchant_Trade       Malaysia      United Kingdom     654328.0         3.0     EXISTING            Sukesh
9  Merchant_Trade       Malaysia            Viet Nam   17636102.0        <NA>          NEW            Sukesh

Processing for MOBEX...
Top rows for MOBEX:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          MOBEX
1     Åland Islands               Kenya  15868.0          MOBEX
5091       Zimbabwe               India  22701.0          MOBEX
5092       Zimbabwe        South Africa  17959.0          MOBEX
5093       Zimbabwe         Netherlands  13910.0          MOBEX
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          MOBEX
13          Albania               Kenya  24127.0          MOBEX
14          Albania              France  22272.0          MOBEX
15          Albania               Spain  20066.0          MOBEX
16          Albania            Portugal  15137.0          MOBEX

[1193 rows x 4 columns]
Filtered top rows for MOBEX:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for MOBEX:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Modern Exchange co LLC...
Top rows for Modern Exchange co LLC:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Modern Exchange co LLC
1     Åland Islands               Kenya  15868.0  Modern Exchange co LLC
5091       Zimbabwe               India  22701.0  Modern Exchange co LLC
5092       Zimbabwe        South Africa  17959.0  Modern Exchange co LLC
5093       Zimbabwe         Netherlands  13910.0  Modern Exchange co LLC
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Modern Exchange co LLC
13          Albania               Kenya  24127.0  Modern Exchange co LLC
14          Albania              France  22272.0  Modern Exchange co LLC
15          Albania               Spain  20066.0  Modern Exchange co LLC
16          Albania            Portugal  15137.0  Modern Exchange co LLC

[1193 rows x 4 columns]
Filtered top rows for Modern Exchange co LLC:
      source_country destination_country         gsv          source_partner
3249           Oman          Bangladesh  45339602.0  Modern Exchange co LLC
3250           Oman            Tanzania  26059967.0  Modern Exchange co LLC
3251           Oman         Philippines  24617019.0  Modern Exchange co LLC
3252           Oman               Kenya  19852109.0  Modern Exchange co LLC
3253           Oman              Uganda  16599432.0  Modern Exchange co LLC
3254           Oman            Thailand   9905277.0  Modern Exchange co LLC
3255           Oman               India   6657635.0  Modern Exchange co LLC
3256           Oman           Indonesia   4841332.0  Modern Exchange co LLC
3257           Oman               Ghana   4629902.0  Modern Exchange co LLC
3258           Oman      United Kingdom   4368724.0  Modern Exchange co LLC
Updated Merged Results with Regional Director and Partner Gsv for Modern Exchange co LLC:
            source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Modern Exchange co LLC           Oman          Bangladesh  45339602.0     79028.0     EXISTING            Bassem
1  Modern Exchange co LLC           Oman               Ghana   4629902.0    247880.0     EXISTING            Bassem
2  Modern Exchange co LLC           Oman               India   6657635.0        <NA>          NEW            Bassem
3  Modern Exchange co LLC           Oman           Indonesia   4841332.0    143560.0     EXISTING            Bassem
4  Modern Exchange co LLC           Oman               Kenya  19852109.0    782418.0     EXISTING            Bassem
5  Modern Exchange co LLC           Oman         Philippines  24617019.0   3751386.0     EXISTING            Bassem
6  Modern Exchange co LLC           Oman            Tanzania  26059967.0    534272.0     EXISTING            Bassem
7  Modern Exchange co LLC           Oman            Thailand   9905277.0     45758.0     EXISTING            Bassem
8  Modern Exchange co LLC           Oman              Uganda  16599432.0    310425.0     EXISTING            Bassem
9  Modern Exchange co LLC           Oman      United Kingdom   4368724.0        <NA>          NEW            Bassem

Processing for Money Ex...
Top rows for Money Ex:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Money Ex
1     Åland Islands               Kenya  15868.0       Money Ex
5091       Zimbabwe               India  22701.0       Money Ex
5092       Zimbabwe        South Africa  17959.0       Money Ex
5093       Zimbabwe         Netherlands  13910.0       Money Ex
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Money Ex
13          Albania               Kenya  24127.0       Money Ex
14          Albania              France  22272.0       Money Ex
15          Albania               Spain  20066.0       Money Ex
16          Albania            Portugal  15137.0       Money Ex

[1193 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Filtered top rows for Money Ex:
      source_country destination_country          gsv source_partner
4285    Switzerland            Viet Nam   32268605.0       Money Ex
4286    Switzerland            Portugal   14612570.0       Money Ex
4287    Switzerland               Spain   10695099.0       Money Ex
4288    Switzerland               Kenya    9216213.0       Money Ex
4289    Switzerland            Cameroon    6294586.0       Money Ex
4290    Switzerland             Senegal    6058142.0       Money Ex
4291    Switzerland               Italy    5495875.0       Money Ex
4292    Switzerland               Ghana    5431586.0       Money Ex
4293    Switzerland             Germany    4667303.0       Money Ex
4294    Switzerland              France    3965994.0       Money Ex
4145          Spain             Senegal  104224232.0       Money Ex
4146          Spain          Bangladesh   42522037.0       Money Ex
4147          Spain                Mali   30074554.0       Money Ex
4149          Spain             Belgium   22745695.0       Money Ex
4150          Spain               Ghana   19183911.0       Money Ex
4151          Spain           Lithuania   16068919.0       Money Ex
4152          Spain            Portugal   10602312.0       Money Ex
4153          Spain      United Kingdom    8372586.0       Money Ex
4154          Spain               Italy    8180951.0       Money Ex
4155          Spain               India    7944101.0       Money Ex
1541        Germany            Viet Nam  196201152.0       Money Ex
1543        Germany               Kenya   53744055.0       Money Ex
1544        Germany               Ghana   31083381.0       Money Ex
1545        Germany          Bangladesh   28415599.0       Money Ex
1546        Germany             Belgium   23851252.0       Money Ex
1547        Germany           Lithuania   22385522.0       Money Ex
1548        Germany               India   21816642.0       Money Ex
1549        Germany            Cameroon   19613391.0       Money Ex
1550        Germany               Spain   16203785.0       Money Ex
1551        Germany              Uganda   11697389.0       Money Ex
396         Belgium               Kenya  161955084.0       Money Ex
398         Belgium               Ghana   29171096.0       Money Ex
399         Belgium              Uganda   19534811.0       Money Ex
400         Belgium            Tanzania   15670037.0       Money Ex
401         Belgium            Portugal   10621106.0       Money Ex
402         Belgium            Cameroon   10109659.0       Money Ex
403         Belgium            Viet Nam    9999327.0       Money Ex
404         Belgium               Spain    9814611.0       Money Ex
405         Belgium             Senegal    8884827.0       Money Ex
406         Belgium        South Africa    6868936.0       Money Ex
Updated Merged Results with Regional Director and Partner Gsv for Money Ex:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0        Money Ex        Belgium            Cameroon   10109659.0     27087.0     EXISTING            Viktor
1        Money Ex        Belgium               Ghana   29171096.0    427889.0     EXISTING            Viktor
2        Money Ex        Belgium               Kenya  161955084.0     29496.0     EXISTING            Viktor
3        Money Ex        Belgium            Portugal   10621106.0        <NA>          NEW            Viktor
4        Money Ex        Belgium             Senegal    8884827.0     13252.0     EXISTING            Viktor
5        Money Ex        Belgium        South Africa    6868936.0        <NA>          NEW            Viktor
6        Money Ex        Belgium               Spain    9814611.0        <NA>          NEW            Viktor
7        Money Ex        Belgium            Tanzania   15670037.0      1400.0     EXISTING            Viktor
8        Money Ex        Belgium              Uganda   19534811.0     37499.0     EXISTING            Viktor
9        Money Ex        Belgium            Viet Nam    9999327.0        <NA>          NEW            Viktor
10       Money Ex        Germany          Bangladesh   28415599.0        <NA>          NEW            Viktor
11       Money Ex        Germany             Belgium   23851252.0        <NA>          NEW            Viktor
12       Money Ex        Germany            Cameroon   19613391.0    166805.0     EXISTING            Viktor
13       Money Ex        Germany               Ghana   31083381.0   6096924.0     EXISTING            Viktor
14       Money Ex        Germany               India   21816642.0      9123.0     EXISTING            Viktor
15       Money Ex        Germany               Kenya   53744055.0   1285375.0     EXISTING            Viktor
16       Money Ex        Germany           Lithuania   22385522.0        <NA>          NEW            Viktor
17       Money Ex        Germany               Spain   16203785.0        <NA>          NEW            Viktor
18       Money Ex        Germany              Uganda   11697389.0    538576.0     EXISTING            Viktor
19       Money Ex        Germany            Viet Nam  196201152.0      3572.0     EXISTING            Viktor
20       Money Ex          Spain          Bangladesh   42522037.0        63.0     EXISTING            Viktor
21       Money Ex          Spain             Belgium   22745695.0        <NA>          NEW            Viktor
22       Money Ex          Spain               Ghana   19183911.0   8392989.0     EXISTING            Viktor
23       Money Ex          Spain               India    7944101.0     49513.0     EXISTING            Viktor
24       Money Ex          Spain               Italy    8180951.0        <NA>          NEW            Viktor
25       Money Ex          Spain           Lithuania   16068919.0        <NA>          NEW            Viktor
26       Money Ex          Spain                Mali   30074554.0    703415.0     EXISTING            Viktor
27       Money Ex          Spain            Portugal   10602312.0        <NA>          NEW            Viktor
28       Money Ex          Spain             Senegal  104224232.0    836745.0     EXISTING            Viktor
29       Money Ex          Spain      United Kingdom    8372586.0        <NA>          NEW            Viktor
30       Money Ex    Switzerland            Cameroon    6294586.0     47721.0     EXISTING            Viktor
31       Money Ex    Switzerland              France    3965994.0        <NA>          NEW            Viktor
32       Money Ex    Switzerland             Germany    4667303.0        <NA>          NEW            Viktor
33       Money Ex    Switzerland               Ghana    5431586.0    304644.0     EXISTING            Viktor
34       Money Ex    Switzerland               Italy    5495875.0        <NA>          NEW            Viktor
35       Money Ex    Switzerland               Kenya    9216213.0    100652.0     EXISTING            Viktor
36       Money Ex    Switzerland            Portugal   14612570.0        <NA>          NEW            Viktor
37       Money Ex    Switzerland             Senegal    6058142.0     23071.0     EXISTING            Viktor
38       Money Ex    Switzerland               Spain   10695099.0        <NA>          NEW            Viktor
39       Money Ex    Switzerland            Viet Nam   32268605.0      6128.0     EXISTING            Viktor

Processing for Money Gram Payment systems...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for Money Gram Payment systems:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Money Gram Payment systems
1     Åland Islands               Kenya  15868.0  Money Gram Payment systems
5091       Zimbabwe               India  22701.0  Money Gram Payment systems
5092       Zimbabwe        South Africa  17959.0  Money Gram Payment systems
5093       Zimbabwe         Netherlands  13910.0  Money Gram Payment systems
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Money Gram Payment systems
13          Albania               Kenya  24127.0  Money Gram Payment systems
14          Albania              France  22272.0  Money Gram Payment systems
15          Albania               Spain  20066.0  Money Gram Payment systems
16          Albania            Portugal  15137.0  Money Gram Payment systems

[1193 rows x 4 columns]
Filtered top rows for Money Gram Payment systems:
      source_country destination_country       gsv              source_partner
5008     Uzbekistan               India  725279.0  Money Gram Payment systems
5009     Uzbekistan               Kenya  421997.0  Money Gram Payment systems
5010     Uzbekistan            Viet Nam  303231.0  Money Gram Payment systems
5011     Uzbekistan               Benin  165429.0  Money Gram Payment systems
5012     Uzbekistan             Germany  128977.0  Money Gram Payment systems
...             ...                 ...       ...                         ...
12          Albania            Viet Nam   40428.0  Money Gram Payment systems
13          Albania               Kenya   24127.0  Money Gram Payment systems
14          Albania              France   22272.0  Money Gram Payment systems
15          Albania               Spain   20066.0  Money Gram Payment systems
16          Albania            Portugal   15137.0  Money Gram Payment systems

[649 rows x 4 columns]
Updated Merged Results with Regional Director and Partner Gsv for Money Gram Payment systems:
                  source_partner source_country destination_country       gsv Partner_Gsv existing/new regional_director
0    Money Gram Payment systems        Albania             Austria   48564.0        <NA>          NEW            Bassem
1    Money Gram Payment systems        Albania             Belgium   87582.0        <NA>          NEW            Bassem
2    Money Gram Payment systems        Albania              France   22272.0      2018.0     EXISTING            Bassem
3    Money Gram Payment systems        Albania             Germany   80383.0     19794.0     EXISTING            Bassem
4    Money Gram Payment systems        Albania               Ghana   59511.0        <NA>          NEW            Bassem
..                          ...            ...                 ...       ...         ...          ...               ...
644  Money Gram Payment systems     Uzbekistan               Kenya  421997.0        <NA>          NEW            Bassem
645  Money Gram Payment systems     Uzbekistan           Lithuania   22430.0        <NA>          NEW            Bassem
646  Money Gram Payment systems     Uzbekistan         Netherlands   26475.0        <NA>          NEW            Bassem
647  Money Gram Payment systems     Uzbekistan               Spain   15762.0        <NA>          NEW            Bassem
648  Money Gram Payment systems     Uzbekistan            Viet Nam  303231.0        <NA>          NEW            Bassem

[649 rows x 7 columns]

Processing for Moneygram South Africa...
Top rows for Moneygram South Africa:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Moneygram South Africa
1     Åland Islands               Kenya  15868.0  Moneygram South Africa
5091       Zimbabwe               India  22701.0  Moneygram South Africa
5092       Zimbabwe        South Africa  17959.0  Moneygram South Africa
5093       Zimbabwe         Netherlands  13910.0  Moneygram South Africa
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Moneygram South Africa
13          Albania               Kenya  24127.0  Moneygram South Africa
14          Albania              France  22272.0  Moneygram South Africa
15          Albania               Spain  20066.0  Moneygram South Africa
16          Albania            Portugal  15137.0  Moneygram South Africa

[1193 rows x 4 columns]
Filtered top rows for Moneygram South Africa:
      source_country                destination_country         gsv          source_partner
4086   South Africa                         Mozambique  35501753.0  Moneygram South Africa
4087   South Africa                         Bangladesh  32584335.0  Moneygram South Africa
4088   South Africa                           Thailand  28222455.0  Moneygram South Africa
4089   South Africa                              Kenya  16703317.0  Moneygram South Africa
4090   South Africa                              India  16607487.0  Moneygram South Africa
4091   South Africa                           Pakistan  13833165.0  Moneygram South Africa
4092   South Africa                           Tanzania  12064506.0  Moneygram South Africa
4093   South Africa                              Nepal   7877228.0  Moneygram South Africa
4094   South Africa                             Uganda   3880250.0  Moneygram South Africa
4095   South Africa  Congo, Democratic Republic of the   3726225.0  Moneygram South Africa
Updated Merged Results with Regional Director and Partner Gsv for Moneygram South Africa:
            source_partner source_country                destination_country         gsv Partner_Gsv existing/new regional_director
0  Moneygram South Africa   South Africa                         Bangladesh  32584335.0        <NA>          NEW               NaN
1  Moneygram South Africa   South Africa  Congo, Democratic Republic of the   3726225.0        <NA>          NEW               NaN
2  Moneygram South Africa   South Africa                              India  16607487.0        <NA>          NEW               NaN
3  Moneygram South Africa   South Africa                              Kenya  16703317.0        <NA>          NEW               NaN
4  Moneygram South Africa   South Africa                         Mozambique  35501753.0        <NA>          NEW               NaN
5  Moneygram South Africa   South Africa                              Nepal   7877228.0        <NA>          NEW               NaN
6  Moneygram South Africa   South Africa                           Pakistan  13833165.0        <NA>          NEW               NaN
7  Moneygram South Africa   South Africa                           Tanzania  12064506.0        <NA>          NEW               NaN
8  Moneygram South Africa   South Africa                           Thailand  28222455.0        <NA>          NEW               NaN
9  Moneygram South Africa   South Africa                             Uganda   3880250.0        <NA>          NEW               NaN

Processing for MONEYMATCH SDN BHD...
Top rows for MONEYMATCH SDN BHD:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  MONEYMATCH SDN BHD
1     Åland Islands               Kenya  15868.0  MONEYMATCH SDN BHD
5091       Zimbabwe               India  22701.0  MONEYMATCH SDN BHD
5092       Zimbabwe        South Africa  17959.0  MONEYMATCH SDN BHD
5093       Zimbabwe         Netherlands  13910.0  MONEYMATCH SDN BHD
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  MONEYMATCH SDN BHD
13          Albania               Kenya  24127.0  MONEYMATCH SDN BHD
14          Albania              France  22272.0  MONEYMATCH SDN BHD
15          Albania               Spain  20066.0  MONEYMATCH SDN BHD
16          Albania            Portugal  15137.0  MONEYMATCH SDN BHD

[1193 rows x 4 columns]
Filtered top rows for MONEYMATCH SDN BHD:
      source_country destination_country          gsv      source_partner
2747       Malaysia          Bangladesh  127020237.0  MONEYMATCH SDN BHD
2748       Malaysia               India   18147705.0  MONEYMATCH SDN BHD
2749       Malaysia            Viet Nam   17636102.0  MONEYMATCH SDN BHD
2750       Malaysia         Philippines   13187307.0  MONEYMATCH SDN BHD
2751       Malaysia           Indonesia    7123704.0  MONEYMATCH SDN BHD
2752       Malaysia               Kenya    2381057.0  MONEYMATCH SDN BHD
2753       Malaysia               Ghana    1126550.0  MONEYMATCH SDN BHD
2754       Malaysia              Uganda     896036.0  MONEYMATCH SDN BHD
2755       Malaysia      United Kingdom     654328.0  MONEYMATCH SDN BHD
2756       Malaysia             Germany     523692.0  MONEYMATCH SDN BHD
Updated Merged Results with Regional Director and Partner Gsv for MONEYMATCH SDN BHD:
        source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  MONEYMATCH SDN BHD       Malaysia          Bangladesh  127020237.0     53157.0     EXISTING            Sukesh
1  MONEYMATCH SDN BHD       Malaysia             Germany     523692.0    178938.0     EXISTING            Sukesh
2  MONEYMATCH SDN BHD       Malaysia               Ghana    1126550.0        <NA>          NEW            Sukesh
3  MONEYMATCH SDN BHD       Malaysia               India   18147705.0     11520.0     EXISTING            Sukesh
4  MONEYMATCH SDN BHD       Malaysia           Indonesia    7123704.0     33471.0     EXISTING            Sukesh
5  MONEYMATCH SDN BHD       Malaysia               Kenya    2381057.0        <NA>          NEW            Sukesh
6  MONEYMATCH SDN BHD       Malaysia         Philippines   13187307.0      8134.0     EXISTING            Sukesh
7  MONEYMATCH SDN BHD       Malaysia              Uganda     896036.0        <NA>          NEW            Sukesh
8  MONEYMATCH SDN BHD       Malaysia      United Kingdom     654328.0    654538.0     EXISTING            Sukesh
9  MONEYMATCH SDN BHD       Malaysia            Viet Nam   17636102.0        13.0     EXISTING            Sukesh

Processing for MoneyNet...
Top rows for MoneyNet:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       MoneyNet
1     Åland Islands               Kenya  15868.0       MoneyNet
5091       Zimbabwe               India  22701.0       MoneyNet
5092       Zimbabwe        South Africa  17959.0       MoneyNet
5093       Zimbabwe         Netherlands  13910.0       MoneyNet
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       MoneyNet
13          Albania               Kenya  24127.0       MoneyNet
14          Albania              France  22272.0       MoneyNet
15          Albania               Spain  20066.0       MoneyNet
16          Albania            Portugal  15137.0       MoneyNet

[1193 rows x 4 columns]
Filtered top rows for MoneyNet:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0       MoneyNet
4725  United Kingdom               Kenya  372996239.0       MoneyNet
4726  United Kingdom          Bangladesh  222801157.0       MoneyNet
4727  United Kingdom               Ghana  184628486.0       MoneyNet
4729  United Kingdom              Uganda  151640757.0       MoneyNet
4730  United Kingdom            Viet Nam  130053730.0       MoneyNet
4731  United Kingdom         Philippines   57615497.0       MoneyNet
4732  United Kingdom            Tanzania   52293484.0       MoneyNet
4733  United Kingdom               Spain   36806984.0       MoneyNet
4734  United Kingdom            Pakistan   34877833.0       MoneyNet
1990          Israel               India  262803942.0       MoneyNet
1991          Israel         Philippines   46488318.0       MoneyNet
1992          Israel            Thailand   43405347.0       MoneyNet
1993          Israel               China   32649449.0       MoneyNet
1994          Israel              Uganda   12875559.0       MoneyNet
1995          Israel            Tanzania    8675247.0       MoneyNet
1996          Israel             Nigeria    8363616.0       MoneyNet
1997          Israel               Kenya    7805566.0       MoneyNet
1998          Israel              Rwanda    5367315.0       MoneyNet
1999          Israel               Ghana    2988861.0       MoneyNet

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for MoneyNet:
    source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0        MoneyNet          Israel               China   32649449.0        <NA>          NEW            Viktor
1        MoneyNet          Israel               Ghana    2988861.0        <NA>          NEW            Viktor
2        MoneyNet          Israel               India  262803942.0   1082587.0     EXISTING            Viktor
3        MoneyNet          Israel               Kenya    7805566.0        <NA>          NEW            Viktor
4        MoneyNet          Israel             Nigeria    8363616.0        <NA>          NEW            Viktor
5        MoneyNet          Israel         Philippines   46488318.0        <NA>          NEW            Viktor
6        MoneyNet          Israel              Rwanda    5367315.0        <NA>          NEW            Viktor
7        MoneyNet          Israel            Tanzania    8675247.0        <NA>          NEW            Viktor
8        MoneyNet          Israel            Thailand   43405347.0        <NA>          NEW            Viktor
9        MoneyNet          Israel              Uganda   12875559.0        <NA>          NEW            Viktor
10       MoneyNet  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
11       MoneyNet  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
12       MoneyNet  United Kingdom               India  722564261.0    265219.0     EXISTING            Viktor
13       MoneyNet  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
14       MoneyNet  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
15       MoneyNet  United Kingdom         Philippines   57615497.0         2.0     EXISTING            Viktor
16       MoneyNet  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
17       MoneyNet  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
18       MoneyNet  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
19       MoneyNet  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Moneytrans...
Top rows for Moneytrans:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Moneytrans
1     Åland Islands               Kenya  15868.0     Moneytrans
5091       Zimbabwe               India  22701.0     Moneytrans
5092       Zimbabwe        South Africa  17959.0     Moneytrans
5093       Zimbabwe         Netherlands  13910.0     Moneytrans
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Moneytrans
13          Albania               Kenya  24127.0     Moneytrans
14          Albania              France  22272.0     Moneytrans
15          Albania               Spain  20066.0     Moneytrans
16          Albania            Portugal  15137.0     Moneytrans

[1193 rows x 4 columns]
Filtered top rows for Moneytrans:
      source_country destination_country          gsv source_partner
4145          Spain             Senegal  104224232.0     Moneytrans
4146          Spain          Bangladesh   42522037.0     Moneytrans
4147          Spain                Mali   30074554.0     Moneytrans
4149          Spain             Belgium   22745695.0     Moneytrans
4150          Spain               Ghana   19183911.0     Moneytrans
4151          Spain           Lithuania   16068919.0     Moneytrans
4152          Spain            Portugal   10602312.0     Moneytrans
4153          Spain      United Kingdom    8372586.0     Moneytrans
4154          Spain               Italy    8180951.0     Moneytrans
4155          Spain               India    7944101.0     Moneytrans
2053          Italy             Senegal  107568081.0     Moneytrans
2054          Italy               India   59836231.0     Moneytrans
2055          Italy          Bangladesh   52000519.0     Moneytrans
2056          Italy               Ghana   49485082.0     Moneytrans
2058          Italy         Philippines   41476786.0     Moneytrans
2059          Italy                Mali   29144401.0     Moneytrans
2060          Italy           Lithuania   19508894.0     Moneytrans
2061          Italy             Belgium   19369638.0     Moneytrans
2062          Italy       Côte d'Ivoire   17442241.0     Moneytrans
2063          Italy               Spain   16227818.0     Moneytrans
1365         France             Belgium  124768513.0     Moneytrans
1366         France            Cameroon  117370792.0     Moneytrans
1367         France          Bangladesh  111531105.0     Moneytrans
1368         France               Benin  104948556.0     Moneytrans
1369         France             Senegal  102909946.0     Moneytrans
1370         France       Côte d'Ivoire   89041027.0     Moneytrans
1371         France               Spain   55577069.0     Moneytrans
1372         France            Viet Nam   50313113.0     Moneytrans
1373         France            Portugal   34615255.0     Moneytrans
1374         France                Mali   33372052.0     Moneytrans
Updated Merged Results with Regional Director and Partner Gsv for Moneytrans:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0      Moneytrans         France          Bangladesh  111531105.0     57732.0     EXISTING            Viktor
1      Moneytrans         France             Belgium  124768513.0        <NA>          NEW            Viktor
2      Moneytrans         France               Benin  104948556.0      1090.0     EXISTING            Viktor
3      Moneytrans         France            Cameroon  117370792.0      3855.0     EXISTING            Viktor
4      Moneytrans         France       Côte d'Ivoire   89041027.0        50.0     EXISTING            Viktor
5      Moneytrans         France                Mali   33372052.0      1494.0     EXISTING            Viktor
6      Moneytrans         France            Portugal   34615255.0        <NA>          NEW            Viktor
7      Moneytrans         France             Senegal  102909946.0     22816.0     EXISTING            Viktor
8      Moneytrans         France               Spain   55577069.0        <NA>          NEW            Viktor
9      Moneytrans         France            Viet Nam   50313113.0        <NA>          NEW            Viktor
10     Moneytrans          Italy          Bangladesh   52000519.0      1974.0     EXISTING            Viktor
11     Moneytrans          Italy             Belgium   19369638.0        <NA>          NEW            Viktor
12     Moneytrans          Italy       Côte d'Ivoire   17442241.0        <NA>          NEW            Viktor
13     Moneytrans          Italy               Ghana   49485082.0        <NA>          NEW            Viktor
14     Moneytrans          Italy               India   59836231.0        <NA>          NEW            Viktor
15     Moneytrans          Italy           Lithuania   19508894.0        <NA>          NEW            Viktor
16     Moneytrans          Italy                Mali   29144401.0       137.0     EXISTING            Viktor
17     Moneytrans          Italy         Philippines   41476786.0      3495.0     EXISTING            Viktor
18     Moneytrans          Italy             Senegal  107568081.0     22160.0     EXISTING            Viktor
19     Moneytrans          Italy               Spain   16227818.0        <NA>          NEW            Viktor
20     Moneytrans          Spain          Bangladesh   42522037.0        <NA>          NEW            Viktor
21     Moneytrans          Spain             Belgium   22745695.0        <NA>          NEW            Viktor
22     Moneytrans          Spain               Ghana   19183911.0        <NA>          NEW            Viktor
23     Moneytrans          Spain               India    7944101.0        <NA>          NEW            Viktor
24     Moneytrans          Spain               Italy    8180951.0        <NA>          NEW            Viktor
25     Moneytrans          Spain           Lithuania   16068919.0        <NA>          NEW            Viktor
26     Moneytrans          Spain                Mali   30074554.0      3312.0     EXISTING            Viktor
27     Moneytrans          Spain            Portugal   10602312.0        <NA>          NEW            Viktor
28     Moneytrans          Spain             Senegal  104224232.0    254640.0     EXISTING            Viktor
29     Moneytrans          Spain      United Kingdom    8372586.0        <NA>          NEW            Viktor

Processing for MONISNAP...
Top rows for MONISNAP:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       MONISNAP
1     Åland Islands               Kenya  15868.0       MONISNAP
5091       Zimbabwe               India  22701.0       MONISNAP
5092       Zimbabwe        South Africa  17959.0       MONISNAP
5093       Zimbabwe         Netherlands  13910.0       MONISNAP
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       MONISNAP
13          Albania               Kenya  24127.0       MONISNAP
14          Albania              France  22272.0       MONISNAP
15          Albania               Spain  20066.0       MONISNAP
16          Albania            Portugal  15137.0       MONISNAP

[1193 rows x 4 columns]
Filtered top rows for MONISNAP:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0       MONISNAP
4725  United Kingdom               Kenya  372996239.0       MONISNAP
4726  United Kingdom          Bangladesh  222801157.0       MONISNAP
4727  United Kingdom               Ghana  184628486.0       MONISNAP
4729  United Kingdom              Uganda  151640757.0       MONISNAP
4730  United Kingdom            Viet Nam  130053730.0       MONISNAP
4731  United Kingdom         Philippines   57615497.0       MONISNAP
4732  United Kingdom            Tanzania   52293484.0       MONISNAP
4733  United Kingdom               Spain   36806984.0       MONISNAP
4734  United Kingdom            Pakistan   34877833.0       MONISNAP

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for MONISNAP:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       MONISNAP  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1       MONISNAP  United Kingdom               Ghana  184628486.0     16864.0     EXISTING            Viktor
2       MONISNAP  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
3       MONISNAP  United Kingdom               Kenya  372996239.0      9487.0     EXISTING            Viktor
4       MONISNAP  United Kingdom            Pakistan   34877833.0      7949.0     EXISTING            Viktor
5       MONISNAP  United Kingdom         Philippines   57615497.0     10044.0     EXISTING            Viktor
6       MONISNAP  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7       MONISNAP  United Kingdom            Tanzania   52293484.0       462.0     EXISTING            Viktor
8       MONISNAP  United Kingdom              Uganda  151640757.0      6046.0     EXISTING            Viktor
9       MONISNAP  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Monty...
Top rows for Monty:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Monty
1     Åland Islands               Kenya  15868.0          Monty
5091       Zimbabwe               India  22701.0          Monty
5092       Zimbabwe        South Africa  17959.0          Monty
5093       Zimbabwe         Netherlands  13910.0          Monty
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Monty
13          Albania               Kenya  24127.0          Monty
14          Albania              France  22272.0          Monty
15          Albania               Spain  20066.0          Monty
16          Albania            Portugal  15137.0          Monty

[1193 rows x 4 columns]
Filtered top rows for Monty:
      source_country destination_country          gsv source_partner
4145          Spain             Senegal  104224232.0          Monty
4146          Spain          Bangladesh   42522037.0          Monty
4147          Spain                Mali   30074554.0          Monty
4149          Spain             Belgium   22745695.0          Monty
4150          Spain               Ghana   19183911.0          Monty
4151          Spain           Lithuania   16068919.0          Monty
4152          Spain            Portugal   10602312.0          Monty
4153          Spain      United Kingdom    8372586.0          Monty
4154          Spain               Italy    8180951.0          Monty
4155          Spain               India    7944101.0          Monty
3508       Portugal          Mozambique   32980202.0          Monty
3509       Portugal          Bangladesh   15087639.0          Monty
3510       Portugal              Brazil   13996672.0          Monty
3511       Portugal               India   13024829.0          Monty
3513       Portugal             Belgium    8462025.0          Monty
3514       Portugal      United Kingdom    4216036.0          Monty
3515       Portugal             Senegal    3313841.0          Monty
3516       Portugal               Spain    3242966.0          Monty
3517       Portugal           Lithuania    2423875.0          Monty
3518       Portugal             Germany    1962195.0          Monty
2053          Italy             Senegal  107568081.0          Monty
2054          Italy               India   59836231.0          Monty
2055          Italy          Bangladesh   52000519.0          Monty
2056          Italy               Ghana   49485082.0          Monty
2058          Italy         Philippines   41476786.0          Monty
2059          Italy                Mali   29144401.0          Monty
2060          Italy           Lithuania   19508894.0          Monty
2061          Italy             Belgium   19369638.0          Monty
2062          Italy       Côte d'Ivoire   17442241.0          Monty
2063          Italy               Spain   16227818.0          Monty
1365         France             Belgium  124768513.0          Monty
1366         France            Cameroon  117370792.0          Monty
1367         France          Bangladesh  111531105.0          Monty
1368         France               Benin  104948556.0          Monty
1369         France             Senegal  102909946.0          Monty
1370         France       Côte d'Ivoire   89041027.0          Monty
1371         France               Spain   55577069.0          Monty
1372         France            Viet Nam   50313113.0          Monty
1373         France            Portugal   34615255.0          Monty
1374         France                Mali   33372052.0          Monty

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Monty:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0           Monty         France          Bangladesh  111531105.0  14588668.0     EXISTING            Viktor
1           Monty         France             Belgium  124768513.0        <NA>          NEW            Viktor
2           Monty         France               Benin  104948556.0       471.0     EXISTING            Viktor
3           Monty         France            Cameroon  117370792.0      3994.0     EXISTING            Viktor
4           Monty         France       Côte d'Ivoire   89041027.0      3247.0     EXISTING            Viktor
5           Monty         France                Mali   33372052.0     36301.0     EXISTING            Viktor
6           Monty         France            Portugal   34615255.0        <NA>          NEW            Viktor
7           Monty         France             Senegal  102909946.0     62951.0     EXISTING            Viktor
8           Monty         France               Spain   55577069.0        <NA>          NEW            Viktor
9           Monty         France            Viet Nam   50313113.0       155.0     EXISTING            Viktor
10          Monty          Italy          Bangladesh   52000519.0  15474756.0     EXISTING            Viktor
11          Monty          Italy             Belgium   19369638.0        <NA>          NEW            Viktor
12          Monty          Italy       Côte d'Ivoire   17442241.0     30706.0     EXISTING            Viktor
13          Monty          Italy               Ghana   49485082.0  11121573.0     EXISTING            Viktor
14          Monty          Italy               India   59836231.0   8956442.0     EXISTING            Viktor
15          Monty          Italy           Lithuania   19508894.0        <NA>          NEW            Viktor
16          Monty          Italy                Mali   29144401.0   1102590.0     EXISTING            Viktor
17          Monty          Italy         Philippines   41476786.0  11604477.0     EXISTING            Viktor
18          Monty          Italy             Senegal  107568081.0   4001553.0     EXISTING            Viktor
19          Monty          Italy               Spain   16227818.0        <NA>          NEW            Viktor
20          Monty       Portugal          Bangladesh   15087639.0    371872.0     EXISTING            Viktor
21          Monty       Portugal             Belgium    8462025.0        <NA>          NEW            Viktor
22          Monty       Portugal              Brazil   13996672.0        <NA>          NEW            Viktor
23          Monty       Portugal             Germany    1962195.0        <NA>          NEW            Viktor
24          Monty       Portugal               India   13024829.0     20011.0     EXISTING            Viktor
25          Monty       Portugal           Lithuania    2423875.0        <NA>          NEW            Viktor
26          Monty       Portugal          Mozambique   32980202.0     15985.0     EXISTING            Viktor
27          Monty       Portugal             Senegal    3313841.0    111777.0     EXISTING            Viktor
28          Monty       Portugal               Spain    3242966.0        <NA>          NEW            Viktor
29          Monty       Portugal      United Kingdom    4216036.0        <NA>          NEW            Viktor
30          Monty          Spain          Bangladesh   42522037.0   3970379.0     EXISTING            Viktor
31          Monty          Spain             Belgium   22745695.0        <NA>          NEW            Viktor
32          Monty          Spain               Ghana   19183911.0   4893519.0     EXISTING            Viktor
33          Monty          Spain               India    7944101.0   2247870.0     EXISTING            Viktor
34          Monty          Spain               Italy    8180951.0        <NA>          NEW            Viktor
35          Monty          Spain           Lithuania   16068919.0        <NA>          NEW            Viktor
36          Monty          Spain                Mali   30074554.0   2659782.0     EXISTING            Viktor
37          Monty          Spain            Portugal   10602312.0        <NA>          NEW            Viktor
38          Monty          Spain             Senegal  104224232.0  10992059.0     EXISTING            Viktor
39          Monty          Spain      United Kingdom    8372586.0        <NA>          NEW            Viktor

Processing for Monyglob...
Top rows for Monyglob:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Monyglob
1     Åland Islands               Kenya  15868.0       Monyglob
5091       Zimbabwe               India  22701.0       Monyglob
5092       Zimbabwe        South Africa  17959.0       Monyglob
5093       Zimbabwe         Netherlands  13910.0       Monyglob
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Monyglob
13          Albania               Kenya  24127.0       Monyglob
14          Albania              France  22272.0       Monyglob
15          Albania               Spain  20066.0       Monyglob
16          Albania            Portugal  15137.0       Monyglob

[1193 rows x 4 columns]
Filtered top rows for Monyglob:
     source_country destination_country        gsv source_partner
516       Botswana               India  7977245.0       Monyglob
517       Botswana          Bangladesh  3612331.0       Monyglob
518       Botswana            Pakistan  2638309.0       Monyglob
519       Botswana         Philippines  1000707.0       Monyglob
520       Botswana           Sri Lanka   639244.0       Monyglob
521       Botswana               Kenya   178074.0       Monyglob
522       Botswana              Zambia   124099.0       Monyglob
523       Botswana            Zimbabwe   122584.0       Monyglob
524       Botswana          Mozambique    26217.0       Monyglob
525       Botswana               Ghana    19889.0       Monyglob
Updated Merged Results with Regional Director and Partner Gsv for Monyglob:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0       Monyglob       Botswana          Bangladesh  3612331.0   3513956.0     EXISTING            Willie
1       Monyglob       Botswana               Ghana    19889.0        <NA>          NEW            Willie
2       Monyglob       Botswana               India  7977245.0   7956457.0     EXISTING            Willie
3       Monyglob       Botswana               Kenya   178074.0     14606.0     EXISTING            Willie
4       Monyglob       Botswana          Mozambique    26217.0        24.0     EXISTING            Willie
5       Monyglob       Botswana            Pakistan  2638309.0   2628688.0     EXISTING            Willie
6       Monyglob       Botswana         Philippines  1000707.0    995329.0     EXISTING            Willie
7       Monyglob       Botswana           Sri Lanka   639244.0    640674.0     EXISTING            Willie
8       Monyglob       Botswana              Zambia   124099.0       436.0     EXISTING            Willie
9       Monyglob       Botswana            Zimbabwe   122584.0       100.0     EXISTING            Willie

Processing for More Money Transfers S.A....
Top rows for More Money Transfers S.A.:
      source_country destination_country      gsv             source_partner
0     Åland Islands            Viet Nam  85001.0  More Money Transfers S.A.
1     Åland Islands               Kenya  15868.0  More Money Transfers S.A.
5091       Zimbabwe               India  22701.0  More Money Transfers S.A.
5092       Zimbabwe        South Africa  17959.0  More Money Transfers S.A.
5093       Zimbabwe         Netherlands  13910.0  More Money Transfers S.A.
...             ...                 ...      ...                        ...
12          Albania            Viet Nam  40428.0  More Money Transfers S.A.
13          Albania               Kenya  24127.0  More Money Transfers S.A.
14          Albania              France  22272.0  More Money Transfers S.A.
15          Albania               Spain  20066.0  More Money Transfers S.A.
16          Albania            Portugal  15137.0  More Money Transfers S.A.

[1193 rows x 4 columns]
Filtered top rows for More Money Transfers S.A.:
                         source_country       destination_country          gsv             source_partner
4845          United States of America               Philippines  855243500.0  More Money Transfers S.A.
4846          United States of America                     Ghana  854031550.0  More Money Transfers S.A.
4847          United States of America                   Liberia  423311206.0  More Money Transfers S.A.
4848          United States of America                  Viet Nam  299709130.0  More Money Transfers S.A.
4849          United States of America                     India  237645288.0  More Money Transfers S.A.
4850          United States of America                  Tanzania  224628683.0  More Money Transfers S.A.
4851          United States of America                Bangladesh  207173742.0  More Money Transfers S.A.
4852          United States of America                     Kenya  193169745.0  More Money Transfers S.A.
4853          United States of America                  Cameroon  162051487.0  More Money Transfers S.A.
4854          United States of America                    Uganda  160458035.0  More Money Transfers S.A.
855                              Chile                     Spain    8343013.0  More Money Transfers S.A.
856                              Chile                  Colombia    1541021.0  More Money Transfers S.A.
857                              Chile                   Germany    1148057.0  More Money Transfers S.A.
858                              Chile                    France     811178.0  More Money Transfers S.A.
859                              Chile                   Belgium     483562.0  More Money Transfers S.A.
860                              Chile                     Italy     440334.0  More Money Transfers S.A.
861                              Chile                  Portugal     400889.0  More Money Transfers S.A.
862                              Chile                     India     335217.0  More Money Transfers S.A.
863                              Chile               Netherlands     239617.0  More Money Transfers S.A.
864                              Chile               Philippines     195318.0  More Money Transfers S.A.
535                             Brazil                  Portugal   48885983.0  More Money Transfers S.A.
536                             Brazil                     Spain   10310856.0  More Money Transfers S.A.
537                             Brazil                     Italy    5929647.0  More Money Transfers S.A.
538                             Brazil                   Germany    5553531.0  More Money Transfers S.A.
539                             Brazil                    France    4993348.0  More Money Transfers S.A.
540                             Brazil            United Kingdom    3052563.0  More Money Transfers S.A.
541                             Brazil                   Belgium    1920149.0  More Money Transfers S.A.
542                             Brazil                     Ghana    1564917.0  More Money Transfers S.A.
543                             Brazil                     Kenya    1530010.0  More Money Transfers S.A.
544                             Brazil               Philippines    1342060.0  More Money Transfers S.A.
496   Bolivia (Plurinational State of)                     Spain     455200.0  More Money Transfers S.A.
497   Bolivia (Plurinational State of)  United States of America     423868.0  More Money Transfers S.A.
498   Bolivia (Plurinational State of)                   Belgium     215292.0  More Money Transfers S.A.
499   Bolivia (Plurinational State of)                    France      92651.0  More Money Transfers S.A.
500   Bolivia (Plurinational State of)                   Germany      81163.0  More Money Transfers S.A.
501   Bolivia (Plurinational State of)               Netherlands      81088.0  More Money Transfers S.A.
502   Bolivia (Plurinational State of)                     Italy      32409.0  More Money Transfers S.A.

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for More Money Transfers S.A.:
                source_partner                    source_country       destination_country          gsv Partner_Gsv existing/new regional_director
0   More Money Transfers S.A.  Bolivia (Plurinational State of)                   Belgium     215292.0        <NA>          NEW            Philip
1   More Money Transfers S.A.  Bolivia (Plurinational State of)                    France      92651.0       996.0     EXISTING            Philip
2   More Money Transfers S.A.  Bolivia (Plurinational State of)                   Germany      81163.0        <NA>          NEW            Philip
3   More Money Transfers S.A.  Bolivia (Plurinational State of)                     Italy      32409.0        <NA>          NEW            Philip
4   More Money Transfers S.A.  Bolivia (Plurinational State of)               Netherlands      81088.0        <NA>          NEW            Philip
5   More Money Transfers S.A.  Bolivia (Plurinational State of)                     Spain     455200.0        <NA>          NEW            Philip
6   More Money Transfers S.A.  Bolivia (Plurinational State of)  United States of America     423868.0    423868.0     EXISTING            Philip
7   More Money Transfers S.A.                            Brazil                   Belgium    1920149.0        <NA>          NEW            Philip
8   More Money Transfers S.A.                            Brazil                    France    4993348.0        <NA>          NEW            Philip
9   More Money Transfers S.A.                            Brazil                   Germany    5553531.0        <NA>          NEW            Philip
10  More Money Transfers S.A.                            Brazil                     Ghana    1564917.0        <NA>          NEW            Philip
11  More Money Transfers S.A.                            Brazil                     Italy    5929647.0        <NA>          NEW            Philip
12  More Money Transfers S.A.                            Brazil                     Kenya    1530010.0        <NA>          NEW            Philip
13  More Money Transfers S.A.                            Brazil               Philippines    1342060.0        <NA>          NEW            Philip
14  More Money Transfers S.A.                            Brazil                  Portugal   48885983.0        <NA>          NEW            Philip
15  More Money Transfers S.A.                            Brazil                     Spain   10310856.0        <NA>          NEW            Philip
16  More Money Transfers S.A.                            Brazil            United Kingdom    3052563.0        <NA>          NEW            Philip
17  More Money Transfers S.A.                             Chile                   Belgium     483562.0        <NA>          NEW            Philip
18  More Money Transfers S.A.                             Chile                  Colombia    1541021.0        <NA>          NEW            Philip
19  More Money Transfers S.A.                             Chile                    France     811178.0        <NA>          NEW            Philip
20  More Money Transfers S.A.                             Chile                   Germany    1148057.0        <NA>          NEW            Philip
21  More Money Transfers S.A.                             Chile                     India     335217.0        <NA>          NEW            Philip
22  More Money Transfers S.A.                             Chile                     Italy     440334.0        <NA>          NEW            Philip
23  More Money Transfers S.A.                             Chile               Netherlands     239617.0        <NA>          NEW            Philip
24  More Money Transfers S.A.                             Chile               Philippines     195318.0        <NA>          NEW            Philip
25  More Money Transfers S.A.                             Chile                  Portugal     400889.0        <NA>          NEW            Philip
26  More Money Transfers S.A.                             Chile                     Spain    8343013.0        <NA>          NEW            Philip
27  More Money Transfers S.A.          United States of America                Bangladesh  207173742.0         1.0     EXISTING            Philip
28  More Money Transfers S.A.          United States of America                  Cameroon  162051487.0       608.0     EXISTING            Philip
29  More Money Transfers S.A.          United States of America                     Ghana  854031550.0       593.0     EXISTING            Philip
30  More Money Transfers S.A.          United States of America                     India  237645288.0         2.0     EXISTING            Philip
31  More Money Transfers S.A.          United States of America                     Kenya  193169745.0        <NA>          NEW            Philip
32  More Money Transfers S.A.          United States of America                   Liberia  423311206.0         2.0     EXISTING            Philip
33  More Money Transfers S.A.          United States of America               Philippines  855243500.0         2.0     EXISTING            Philip
34  More Money Transfers S.A.          United States of America                  Tanzania  224628683.0        <NA>          NEW            Philip
35  More Money Transfers S.A.          United States of America                    Uganda  160458035.0         2.0     EXISTING            Philip
36  More Money Transfers S.A.          United States of America                  Viet Nam  299709130.0    387324.0     EXISTING            Philip

Processing for MTN South Sudan...
Top rows for MTN South Sudan:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  MTN South Sudan
1     Åland Islands               Kenya  15868.0  MTN South Sudan
5091       Zimbabwe               India  22701.0  MTN South Sudan
5092       Zimbabwe        South Africa  17959.0  MTN South Sudan
5093       Zimbabwe         Netherlands  13910.0  MTN South Sudan
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  MTN South Sudan
13          Albania               Kenya  24127.0  MTN South Sudan
14          Albania              France  22272.0  MTN South Sudan
15          Albania               Spain  20066.0  MTN South Sudan
16          Albania            Portugal  15137.0  MTN South Sudan

[1193 rows x 4 columns]
Filtered top rows for MTN South Sudan:
      source_country destination_country        gsv   source_partner
4130    South Sudan              Uganda  1399169.0  MTN South Sudan
4131    South Sudan               Kenya   534021.0  MTN South Sudan
4132    South Sudan            Zimbabwe   190045.0  MTN South Sudan
4133    South Sudan               India   145465.0  MTN South Sudan
Updated Merged Results with Regional Director and Partner Gsv for MTN South Sudan:
     source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  MTN South Sudan    South Sudan               India   145465.0        <NA>          NEW            Willie
1  MTN South Sudan    South Sudan               Kenya   534021.0    482850.0     EXISTING            Willie
2  MTN South Sudan    South Sudan              Uganda  1399169.0   1094931.0     EXISTING            Willie
3  MTN South Sudan    South Sudan            Zimbabwe   190045.0        <NA>          NEW            Willie

Processing for MTN South Sudan Test...
Top rows for MTN South Sudan Test:
      source_country destination_country      gsv        source_partner
0     Åland Islands            Viet Nam  85001.0  MTN South Sudan Test
1     Åland Islands               Kenya  15868.0  MTN South Sudan Test
5091       Zimbabwe               India  22701.0  MTN South Sudan Test
5092       Zimbabwe        South Africa  17959.0  MTN South Sudan Test
5093       Zimbabwe         Netherlands  13910.0  MTN South Sudan Test
...             ...                 ...      ...                   ...
12          Albania            Viet Nam  40428.0  MTN South Sudan Test
13          Albania               Kenya  24127.0  MTN South Sudan Test
14          Albania              France  22272.0  MTN South Sudan Test
15          Albania               Spain  20066.0  MTN South Sudan Test
16          Albania            Portugal  15137.0  MTN South Sudan Test

[1193 rows x 4 columns]
Filtered top rows for MTN South Sudan Test:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for MTN South Sudan Test:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for MTN UG...
Top rows for MTN UG:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         MTN UG
1     Åland Islands               Kenya  15868.0         MTN UG
5091       Zimbabwe               India  22701.0         MTN UG
5092       Zimbabwe        South Africa  17959.0         MTN UG
5093       Zimbabwe         Netherlands  13910.0         MTN UG
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         MTN UG
13          Albania               Kenya  24127.0         MTN UG
14          Albania              France  22272.0         MTN UG
15          Albania               Spain  20066.0         MTN UG
16          Albania            Portugal  15137.0         MTN UG

[1193 rows x 4 columns]
Filtered top rows for MTN UG:
      source_country destination_country         gsv source_partner
4583         Uganda               India  16981444.0         MTN UG
4585         Uganda               Kenya   3799189.0         MTN UG
4586         Uganda      United Kingdom    852862.0         MTN UG
4587         Uganda              Canada    103644.0         MTN UG
4588         Uganda          Bangladesh     97875.0         MTN UG
4589         Uganda             Belgium     96208.0         MTN UG
4590         Uganda            Tanzania     81093.0         MTN UG
4591         Uganda             Germany     75032.0         MTN UG
4592         Uganda               Spain     58319.0         MTN UG
4593         Uganda         Netherlands     44794.0         MTN UG
Updated Merged Results with Regional Director and Partner Gsv for MTN UG:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0         MTN UG         Uganda          Bangladesh     97875.0        <NA>          NEW            Willie
1         MTN UG         Uganda             Belgium     96208.0       684.0     EXISTING            Willie
2         MTN UG         Uganda              Canada    103644.0         4.0     EXISTING            Willie
3         MTN UG         Uganda             Germany     75032.0        <NA>          NEW            Willie
4         MTN UG         Uganda               India  16981444.0    226396.0     EXISTING            Willie
5         MTN UG         Uganda               Kenya   3799189.0        <NA>          NEW            Willie
6         MTN UG         Uganda         Netherlands     44794.0        <NA>          NEW            Willie
7         MTN UG         Uganda               Spain     58319.0        <NA>          NEW            Willie
8         MTN UG         Uganda            Tanzania     81093.0        <NA>          NEW            Willie
9         MTN UG         Uganda      United Kingdom    852862.0        <NA>          NEW            Willie

Processing for Muhammad Musa Abu Zaid and Partner Exchange Compan...
Top rows for Muhammad Musa Abu Zaid and Partner Exchange Compan:
      source_country destination_country      gsv                                     source_partner
0     Åland Islands            Viet Nam  85001.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
1     Åland Islands               Kenya  15868.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
5091       Zimbabwe               India  22701.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
5092       Zimbabwe        South Africa  17959.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
5093       Zimbabwe         Netherlands  13910.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
...             ...                 ...      ...                                                ...
12          Albania            Viet Nam  40428.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
13          Albania               Kenya  24127.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
14          Albania              France  22272.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
15          Albania               Spain  20066.0  Muhammad Musa Abu Zaid and Partner Exchange Co...
16          Albania            Portugal  15137.0  Muhammad Musa Abu Zaid and Partner Exchange Co...

[1193 rows x 4 columns]
Filtered top rows for Muhammad Musa Abu Zaid and Partner Exchange Compan:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Muhammad Musa Abu Zaid and Partner Exchange Compan:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Nairagram - Send...
Top rows for Nairagram - Send:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Nairagram - Send
1     Åland Islands               Kenya  15868.0  Nairagram - Send
5091       Zimbabwe               India  22701.0  Nairagram - Send
5092       Zimbabwe        South Africa  17959.0  Nairagram - Send
5093       Zimbabwe         Netherlands  13910.0  Nairagram - Send
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Nairagram - Send
13          Albania               Kenya  24127.0  Nairagram - Send
14          Albania              France  22272.0  Nairagram - Send
15          Albania               Spain  20066.0  Nairagram - Send
16          Albania            Portugal  15137.0  Nairagram - Send

[1193 rows x 4 columns]
Filtered top rows for Nairagram - Send:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Nairagram - Send:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Nala Payments Canada Inc...
Top rows for Nala Payments Canada Inc:
      source_country destination_country      gsv            source_partner
0     Åland Islands            Viet Nam  85001.0  Nala Payments Canada Inc
1     Åland Islands               Kenya  15868.0  Nala Payments Canada Inc
5091       Zimbabwe               India  22701.0  Nala Payments Canada Inc
5092       Zimbabwe        South Africa  17959.0  Nala Payments Canada Inc
5093       Zimbabwe         Netherlands  13910.0  Nala Payments Canada Inc
...             ...                 ...      ...                       ...
12          Albania            Viet Nam  40428.0  Nala Payments Canada Inc
13          Albania               Kenya  24127.0  Nala Payments Canada Inc
14          Albania              France  22272.0  Nala Payments Canada Inc
15          Albania               Spain  20066.0  Nala Payments Canada Inc
16          Albania            Portugal  15137.0  Nala Payments Canada Inc

[1193 rows x 4 columns]
Filtered top rows for Nala Payments Canada Inc:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Nala Payments Canada Inc:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for NationalEx...
Top rows for NationalEx:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     NationalEx
1     Åland Islands               Kenya  15868.0     NationalEx
5091       Zimbabwe               India  22701.0     NationalEx
5092       Zimbabwe        South Africa  17959.0     NationalEx
5093       Zimbabwe         Netherlands  13910.0     NationalEx
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     NationalEx
13          Albania               Kenya  24127.0     NationalEx
14          Albania              France  22272.0     NationalEx
15          Albania               Spain  20066.0     NationalEx
16          Albania            Portugal  15137.0     NationalEx

[1193 rows x 4 columns]
Filtered top rows for NationalEx:
      source_country destination_country          gsv source_partner
2053          Italy             Senegal  107568081.0     NationalEx
2054          Italy               India   59836231.0     NationalEx
2055          Italy          Bangladesh   52000519.0     NationalEx
2056          Italy               Ghana   49485082.0     NationalEx
2058          Italy         Philippines   41476786.0     NationalEx
2059          Italy                Mali   29144401.0     NationalEx
2060          Italy           Lithuania   19508894.0     NationalEx
2061          Italy             Belgium   19369638.0     NationalEx
2062          Italy       Côte d'Ivoire   17442241.0     NationalEx
2063          Italy               Spain   16227818.0     NationalEx
Updated Merged Results with Regional Director and Partner Gsv for NationalEx:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0     NationalEx          Italy          Bangladesh   52000519.0        <NA>          NEW            Viktor
1     NationalEx          Italy             Belgium   19369638.0     13726.0     EXISTING            Viktor
2     NationalEx          Italy       Côte d'Ivoire   17442241.0   2295238.0     EXISTING            Viktor
3     NationalEx          Italy               Ghana   49485082.0  11582354.0     EXISTING            Viktor
4     NationalEx          Italy               India   59836231.0  10492955.0     EXISTING            Viktor
5     NationalEx          Italy           Lithuania   19508894.0      3144.0     EXISTING            Viktor
6     NationalEx          Italy                Mali   29144401.0   1565936.0     EXISTING            Viktor
7     NationalEx          Italy         Philippines   41476786.0    472535.0     EXISTING            Viktor
8     NationalEx          Italy             Senegal  107568081.0   1069848.0     EXISTING            Viktor
9     NationalEx          Italy               Spain   16227818.0     24871.0     EXISTING            Viktor

Processing for NEC...
Top rows for NEC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            NEC
1     Åland Islands               Kenya  15868.0            NEC
5091       Zimbabwe               India  22701.0            NEC
5092       Zimbabwe        South Africa  17959.0            NEC
5093       Zimbabwe         Netherlands  13910.0            NEC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            NEC
13          Albania               Kenya  24127.0            NEC
14          Albania              France  22272.0            NEC
15          Albania               Spain  20066.0            NEC
16          Albania            Portugal  15137.0            NEC

[1193 rows x 4 columns]
Filtered top rows for NEC:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0            NEC
4725  United Kingdom               Kenya  372996239.0            NEC
4726  United Kingdom          Bangladesh  222801157.0            NEC
4727  United Kingdom               Ghana  184628486.0            NEC
4729  United Kingdom              Uganda  151640757.0            NEC
4730  United Kingdom            Viet Nam  130053730.0            NEC
4731  United Kingdom         Philippines   57615497.0            NEC
4732  United Kingdom            Tanzania   52293484.0            NEC
4733  United Kingdom               Spain   36806984.0            NEC
4734  United Kingdom            Pakistan   34877833.0            NEC

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for NEC:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0            NEC  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1            NEC  United Kingdom               Ghana  184628486.0         1.0     EXISTING            Viktor
2            NEC  United Kingdom               India  722564261.0     17657.0     EXISTING            Viktor
3            NEC  United Kingdom               Kenya  372996239.0      8274.0     EXISTING            Viktor
4            NEC  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5            NEC  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
6            NEC  United Kingdom               Spain   36806984.0       579.0     EXISTING            Viktor
7            NEC  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8            NEC  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9            NEC  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for NEC Remit...
Top rows for NEC Remit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      NEC Remit
1     Åland Islands               Kenya  15868.0      NEC Remit
5091       Zimbabwe               India  22701.0      NEC Remit
5092       Zimbabwe        South Africa  17959.0      NEC Remit
5093       Zimbabwe         Netherlands  13910.0      NEC Remit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      NEC Remit
13          Albania               Kenya  24127.0      NEC Remit
14          Albania              France  22272.0      NEC Remit
15          Albania               Spain  20066.0      NEC Remit
16          Albania            Portugal  15137.0      NEC Remit

[1193 rows x 4 columns]
Filtered top rows for NEC Remit:
     source_country destination_country          gsv source_partner
296        Bahrain          Bangladesh  205631976.0      NEC Remit
297        Bahrain            Thailand   67533964.0      NEC Remit
298        Bahrain               India   30113015.0      NEC Remit
299        Bahrain               Kenya   28674621.0      NEC Remit
300        Bahrain              Uganda   26873683.0      NEC Remit
301        Bahrain               Ghana   15374036.0      NEC Remit
302        Bahrain         Philippines    8465479.0      NEC Remit
303        Bahrain            Cameroon    4956559.0      NEC Remit
304        Bahrain            Pakistan    3662759.0      NEC Remit
305        Bahrain            Malaysia    2304540.0      NEC Remit
Updated Merged Results with Regional Director and Partner Gsv for NEC Remit:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0      NEC Remit        Bahrain          Bangladesh  205631976.0  24235449.0     EXISTING            Bassem
1      NEC Remit        Bahrain            Cameroon    4956559.0     84139.0     EXISTING            Bassem
2      NEC Remit        Bahrain               Ghana   15374036.0    929890.0     EXISTING            Bassem
3      NEC Remit        Bahrain               India   30113015.0       370.0     EXISTING            Bassem
4      NEC Remit        Bahrain               Kenya   28674621.0    970849.0     EXISTING            Bassem
5      NEC Remit        Bahrain            Malaysia    2304540.0        <NA>          NEW            Bassem
6      NEC Remit        Bahrain            Pakistan    3662759.0    296289.0     EXISTING            Bassem
7      NEC Remit        Bahrain         Philippines    8465479.0     36688.0     EXISTING            Bassem
8      NEC Remit        Bahrain            Thailand   67533964.0   5260685.0     EXISTING            Bassem
9      NEC Remit        Bahrain              Uganda   26873683.0   3033118.0     EXISTING            Bassem

Processing for Neema Services...
Top rows for Neema Services:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  Neema Services
1     Åland Islands               Kenya  15868.0  Neema Services
5091       Zimbabwe               India  22701.0  Neema Services
5092       Zimbabwe        South Africa  17959.0  Neema Services
5093       Zimbabwe         Netherlands  13910.0  Neema Services
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  Neema Services
13          Albania               Kenya  24127.0  Neema Services
14          Albania              France  22272.0  Neema Services
15          Albania               Spain  20066.0  Neema Services
16          Albania            Portugal  15137.0  Neema Services

[1193 rows x 4 columns]
Filtered top rows for Neema Services:
                         source_country       destination_country           gsv  source_partner
4845          United States of America               Philippines   855243500.0  Neema Services
4846          United States of America                     Ghana   854031550.0  Neema Services
4847          United States of America                   Liberia   423311206.0  Neema Services
4848          United States of America                  Viet Nam   299709130.0  Neema Services
4849          United States of America                     India   237645288.0  Neema Services
4850          United States of America                  Tanzania   224628683.0  Neema Services
4851          United States of America                Bangladesh   207173742.0  Neema Services
4852          United States of America                     Kenya   193169745.0  Neema Services
4853          United States of America                  Cameroon   162051487.0  Neema Services
4854          United States of America                    Uganda   160458035.0  Neema Services
3778                      Saudi Arabia                     India  2478180376.0  Neema Services
3779                      Saudi Arabia                Bangladesh   505853212.0  Neema Services
3780                      Saudi Arabia               Philippines   407864778.0  Neema Services
3781                      Saudi Arabia                  Malaysia   202175964.0  Neema Services
3782                      Saudi Arabia                    Uganda   184657372.0  Neema Services
3783                      Saudi Arabia            United Kingdom   150021245.0  Neema Services
3784                      Saudi Arabia                     Egypt    73553370.0  Neema Services
3785                      Saudi Arabia                     Ghana    26200926.0  Neema Services
3786                      Saudi Arabia                     Kenya    26022010.0  Neema Services
3787                      Saudi Arabia                  Pakistan    16087300.0  Neema Services
1990                            Israel                     India   262803942.0  Neema Services
1991                            Israel               Philippines    46488318.0  Neema Services
1992                            Israel                  Thailand    43405347.0  Neema Services
1993                            Israel                     China    32649449.0  Neema Services
1994                            Israel                    Uganda    12875559.0  Neema Services
1995                            Israel                  Tanzania     8675247.0  Neema Services
1996                            Israel                   Nigeria     8363616.0  Neema Services
1997                            Israel                     Kenya     7805566.0  Neema Services
1998                            Israel                    Rwanda     5367315.0  Neema Services
1999                            Israel                     Ghana     2988861.0  Neema Services
1051                            Cyprus                Bangladesh    21581700.0  Neema Services
1052                            Cyprus                     India     5446731.0  Neema Services
1053                            Cyprus               Philippines      682565.0  Neema Services
1054                            Cyprus                 Lithuania      632317.0  Neema Services
1055                            Cyprus                   Liberia      494641.0  Neema Services
1056                            Cyprus                   Belgium      477001.0  Neema Services
1057                            Cyprus                     Kenya      308854.0  Neema Services
1058                            Cyprus                  Viet Nam      259083.0  Neema Services
1059                            Cyprus                    Uganda      234702.0  Neema Services
1060                            Cyprus                     Ghana      180382.0  Neema Services
496   Bolivia (Plurinational State of)                     Spain      455200.0  Neema Services
497   Bolivia (Plurinational State of)  United States of America      423868.0  Neema Services
498   Bolivia (Plurinational State of)                   Belgium      215292.0  Neema Services
499   Bolivia (Plurinational State of)                    France       92651.0  Neema Services
500   Bolivia (Plurinational State of)                   Germany       81163.0  Neema Services
501   Bolivia (Plurinational State of)               Netherlands       81088.0  Neema Services
502   Bolivia (Plurinational State of)                     Italy       32409.0  Neema Services

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Neema Services:
     source_partner                    source_country       destination_country           gsv  Partner_Gsv existing/new regional_director
0   Neema Services  Bolivia (Plurinational State of)                   Belgium      215292.0     172159.0     EXISTING            Viktor
1   Neema Services  Bolivia (Plurinational State of)                    France       92651.0         <NA>          NEW            Viktor
2   Neema Services  Bolivia (Plurinational State of)                   Germany       81163.0         <NA>          NEW            Viktor
3   Neema Services  Bolivia (Plurinational State of)                     Italy       32409.0         <NA>          NEW            Viktor
4   Neema Services  Bolivia (Plurinational State of)               Netherlands       81088.0         <NA>          NEW            Viktor
5   Neema Services  Bolivia (Plurinational State of)                     Spain      455200.0         <NA>          NEW            Viktor
6   Neema Services  Bolivia (Plurinational State of)  United States of America      423868.0         <NA>          NEW            Viktor
7   Neema Services                            Cyprus                Bangladesh    21581700.0         <NA>          NEW            Viktor
8   Neema Services                            Cyprus                   Belgium      477001.0      27807.0     EXISTING            Viktor
9   Neema Services                            Cyprus                     Ghana      180382.0         <NA>          NEW            Viktor
10  Neema Services                            Cyprus                     India     5446731.0         <NA>          NEW            Viktor
11  Neema Services                            Cyprus                     Kenya      308854.0        408.0     EXISTING            Viktor
12  Neema Services                            Cyprus                   Liberia      494641.0         <NA>          NEW            Viktor
13  Neema Services                            Cyprus                 Lithuania      632317.0       7948.0     EXISTING            Viktor
14  Neema Services                            Cyprus               Philippines      682565.0         <NA>          NEW            Viktor
15  Neema Services                            Cyprus                    Uganda      234702.0        230.0     EXISTING            Viktor
16  Neema Services                            Cyprus                  Viet Nam      259083.0         <NA>          NEW            Viktor
17  Neema Services                            Israel                     China    32649449.0   33211537.0     EXISTING            Viktor
18  Neema Services                            Israel                     Ghana     2988861.0    2977659.0     EXISTING            Viktor
19  Neema Services                            Israel                     India   262803942.0  264622813.0     EXISTING            Viktor
20  Neema Services                            Israel                     Kenya     7805566.0    7356536.0     EXISTING            Viktor
21  Neema Services                            Israel                   Nigeria     8363616.0    8447379.0     EXISTING            Viktor
22  Neema Services                            Israel               Philippines    46488318.0   46988927.0     EXISTING            Viktor
23  Neema Services                            Israel                    Rwanda     5367315.0    3021159.0     EXISTING            Viktor
24  Neema Services                            Israel                  Tanzania     8675247.0     149837.0     EXISTING            Viktor
25  Neema Services                            Israel                  Thailand    43405347.0   32835419.0     EXISTING            Viktor
26  Neema Services                            Israel                    Uganda    12875559.0   12444052.0     EXISTING            Viktor
27  Neema Services                      Saudi Arabia                Bangladesh   505853212.0         <NA>          NEW            Viktor
28  Neema Services                      Saudi Arabia                     Egypt    73553370.0     179398.0     EXISTING            Viktor
29  Neema Services                      Saudi Arabia                     Ghana    26200926.0         <NA>          NEW            Viktor
30  Neema Services                      Saudi Arabia                     India  2478180376.0         <NA>          NEW            Viktor
31  Neema Services                      Saudi Arabia                     Kenya    26022010.0         <NA>          NEW            Viktor
32  Neema Services                      Saudi Arabia                  Malaysia   202175964.0         <NA>          NEW            Viktor
33  Neema Services                      Saudi Arabia                  Pakistan    16087300.0         <NA>          NEW            Viktor
34  Neema Services                      Saudi Arabia               Philippines   407864778.0         <NA>          NEW            Viktor
35  Neema Services                      Saudi Arabia                    Uganda   184657372.0         <NA>          NEW            Viktor
36  Neema Services                      Saudi Arabia            United Kingdom   150021245.0         <NA>          NEW            Viktor
37  Neema Services          United States of America                Bangladesh   207173742.0         <NA>          NEW            Viktor
38  Neema Services          United States of America                  Cameroon   162051487.0         <NA>          NEW            Viktor
39  Neema Services          United States of America                     Ghana   854031550.0         <NA>          NEW            Viktor
40  Neema Services          United States of America                     India   237645288.0       5410.0     EXISTING            Viktor
41  Neema Services          United States of America                     Kenya   193169745.0         <NA>          NEW            Viktor
42  Neema Services          United States of America                   Liberia   423311206.0         <NA>          NEW            Viktor
43  Neema Services          United States of America               Philippines   855243500.0       1423.0     EXISTING            Viktor
44  Neema Services          United States of America                  Tanzania   224628683.0         <NA>          NEW            Viktor
45  Neema Services          United States of America                    Uganda   160458035.0          6.0     EXISTING            Viktor
46  Neema Services          United States of America                  Viet Nam   299709130.0         <NA>          NEW            Viktor

Processing for Neutronpay Inc...
Top rows for Neutronpay Inc:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  Neutronpay Inc
1     Åland Islands               Kenya  15868.0  Neutronpay Inc
5091       Zimbabwe               India  22701.0  Neutronpay Inc
5092       Zimbabwe        South Africa  17959.0  Neutronpay Inc
5093       Zimbabwe         Netherlands  13910.0  Neutronpay Inc
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  Neutronpay Inc
13          Albania               Kenya  24127.0  Neutronpay Inc
14          Albania              France  22272.0  Neutronpay Inc
15          Albania               Spain  20066.0  Neutronpay Inc
16          Albania            Portugal  15137.0  Neutronpay Inc

[1193 rows x 4 columns]
Filtered top rows for Neutronpay Inc:
     source_country destination_country          gsv  source_partner
748         Canada               India  211296069.0  Neutronpay Inc
749         Canada         Philippines   57990615.0  Neutronpay Inc
750         Canada               Ghana   57154456.0  Neutronpay Inc
751         Canada            Viet Nam   37930649.0  Neutronpay Inc
752         Canada               Kenya   29951383.0  Neutronpay Inc
753         Canada              Uganda   27682200.0  Neutronpay Inc
754         Canada               Benin   22477592.0  Neutronpay Inc
755         Canada          Bangladesh   19317938.0  Neutronpay Inc
756         Canada            Cameroon   18872246.0  Neutronpay Inc
757         Canada            Tanzania   18091580.0  Neutronpay Inc
Updated Merged Results with Regional Director and Partner Gsv for Neutronpay Inc:
    source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Neutronpay Inc         Canada          Bangladesh   19317938.0        <NA>          NEW     Koert & Maria
1  Neutronpay Inc         Canada               Benin   22477592.0        <NA>          NEW     Koert & Maria
2  Neutronpay Inc         Canada            Cameroon   18872246.0        <NA>          NEW     Koert & Maria
3  Neutronpay Inc         Canada               Ghana   57154456.0        <NA>          NEW     Koert & Maria
4  Neutronpay Inc         Canada               India  211296069.0        94.0     EXISTING     Koert & Maria
5  Neutronpay Inc         Canada               Kenya   29951383.0        <NA>          NEW     Koert & Maria
6  Neutronpay Inc         Canada         Philippines   57990615.0     12505.0     EXISTING     Koert & Maria
7  Neutronpay Inc         Canada            Tanzania   18091580.0        <NA>          NEW     Koert & Maria
8  Neutronpay Inc         Canada              Uganda   27682200.0        <NA>          NEW     Koert & Maria
9  Neutronpay Inc         Canada            Viet Nam   37930649.0        <NA>          NEW     Koert & Maria

Processing for NFE...
Top rows for NFE:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            NFE
1     Åland Islands               Kenya  15868.0            NFE
5091       Zimbabwe               India  22701.0            NFE
5092       Zimbabwe        South Africa  17959.0            NFE
5093       Zimbabwe         Netherlands  13910.0            NFE
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            NFE
13          Albania               Kenya  24127.0            NFE
14          Albania              France  22272.0            NFE
15          Albania               Spain  20066.0            NFE
16          Albania            Portugal  15137.0            NFE

[1193 rows x 4 columns]
Filtered top rows for NFE:
     source_country destination_country          gsv source_partner
296        Bahrain          Bangladesh  205631976.0            NFE
297        Bahrain            Thailand   67533964.0            NFE
298        Bahrain               India   30113015.0            NFE
299        Bahrain               Kenya   28674621.0            NFE
300        Bahrain              Uganda   26873683.0            NFE
301        Bahrain               Ghana   15374036.0            NFE
302        Bahrain         Philippines    8465479.0            NFE
303        Bahrain            Cameroon    4956559.0            NFE
304        Bahrain            Pakistan    3662759.0            NFE
305        Bahrain            Malaysia    2304540.0            NFE
Updated Merged Results with Regional Director and Partner Gsv for NFE:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0            NFE        Bahrain          Bangladesh  205631976.0  17131762.0     EXISTING            Bassem
1            NFE        Bahrain            Cameroon    4956559.0   3967295.0     EXISTING            Bassem
2            NFE        Bahrain               Ghana   15374036.0   8905437.0     EXISTING            Bassem
3            NFE        Bahrain               India   30113015.0        <NA>          NEW            Bassem
4            NFE        Bahrain               Kenya   28674621.0  12925537.0     EXISTING            Bassem
5            NFE        Bahrain            Malaysia    2304540.0   2279478.0     EXISTING            Bassem
6            NFE        Bahrain            Pakistan    3662759.0   1159225.0     EXISTING            Bassem
7            NFE        Bahrain         Philippines    8465479.0        13.0     EXISTING            Bassem
8            NFE        Bahrain            Thailand   67533964.0  61506442.0     EXISTING            Bassem
9            NFE        Bahrain              Uganda   26873683.0  13523982.0     EXISTING            Bassem

Processing for Nilos Financial Services LTD...
Top rows for Nilos Financial Services LTD:
      source_country destination_country      gsv                source_partner
0     Åland Islands            Viet Nam  85001.0  Nilos Financial Services LTD
1     Åland Islands               Kenya  15868.0  Nilos Financial Services LTD
5091       Zimbabwe               India  22701.0  Nilos Financial Services LTD
5092       Zimbabwe        South Africa  17959.0  Nilos Financial Services LTD
5093       Zimbabwe         Netherlands  13910.0  Nilos Financial Services LTD
...             ...                 ...      ...                           ...
12          Albania            Viet Nam  40428.0  Nilos Financial Services LTD
13          Albania               Kenya  24127.0  Nilos Financial Services LTD
14          Albania              France  22272.0  Nilos Financial Services LTD
15          Albania               Spain  20066.0  Nilos Financial Services LTD
16          Albania            Portugal  15137.0  Nilos Financial Services LTD

[1193 rows x 4 columns]
Filtered top rows for Nilos Financial Services LTD:
      source_country destination_country        gsv                source_partner
2605      Lithuania             Belgium  1374990.0  Nilos Financial Services LTD
2606      Lithuania      United Kingdom  1143509.0  Nilos Financial Services LTD
2607      Lithuania               Ghana  1112769.0  Nilos Financial Services LTD
2608      Lithuania               Spain   960844.0  Nilos Financial Services LTD
2609      Lithuania             Germany   678636.0  Nilos Financial Services LTD
2610      Lithuania            Viet Nam   400188.0  Nilos Financial Services LTD
2611      Lithuania          Bangladesh   359957.0  Nilos Financial Services LTD
2612      Lithuania               India   317185.0  Nilos Financial Services LTD
2613      Lithuania               Benin   253347.0  Nilos Financial Services LTD
2614      Lithuania               Kenya   226938.0  Nilos Financial Services LTD

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Nilos Financial Services LTD:
                  source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Nilos Financial Services LTD      Lithuania          Bangladesh   359957.0        <NA>          NEW            Viktor
1  Nilos Financial Services LTD      Lithuania             Belgium  1374990.0        <NA>          NEW            Viktor
2  Nilos Financial Services LTD      Lithuania               Benin   253347.0        <NA>          NEW            Viktor
3  Nilos Financial Services LTD      Lithuania             Germany   678636.0        <NA>          NEW            Viktor
4  Nilos Financial Services LTD      Lithuania               Ghana  1112769.0        <NA>          NEW            Viktor
5  Nilos Financial Services LTD      Lithuania               India   317185.0        <NA>          NEW            Viktor
6  Nilos Financial Services LTD      Lithuania               Kenya   226938.0        <NA>          NEW            Viktor
7  Nilos Financial Services LTD      Lithuania               Spain   960844.0        <NA>          NEW            Viktor
8  Nilos Financial Services LTD      Lithuania      United Kingdom  1143509.0     47021.0     EXISTING            Viktor
9  Nilos Financial Services LTD      Lithuania            Viet Nam   400188.0        <NA>          NEW            Viktor

Processing for NobelFin...
Top rows for NobelFin:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       NobelFin
1     Åland Islands               Kenya  15868.0       NobelFin
5091       Zimbabwe               India  22701.0       NobelFin
5092       Zimbabwe        South Africa  17959.0       NobelFin
5093       Zimbabwe         Netherlands  13910.0       NobelFin
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       NobelFin
13          Albania               Kenya  24127.0       NobelFin
14          Albania              France  22272.0       NobelFin
15          Albania               Spain  20066.0       NobelFin
16          Albania            Portugal  15137.0       NobelFin

[1193 rows x 4 columns]
Filtered top rows for NobelFin:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0       NobelFin
4846  United States of America               Ghana  854031550.0       NobelFin
4847  United States of America             Liberia  423311206.0       NobelFin
4848  United States of America            Viet Nam  299709130.0       NobelFin
4849  United States of America               India  237645288.0       NobelFin
4850  United States of America            Tanzania  224628683.0       NobelFin
4851  United States of America          Bangladesh  207173742.0       NobelFin
4852  United States of America               Kenya  193169745.0       NobelFin
4853  United States of America            Cameroon  162051487.0       NobelFin
4854  United States of America              Uganda  160458035.0       NobelFin
Updated Merged Results with Regional Director and Partner Gsv for NobelFin:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       NobelFin  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1       NobelFin  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2       NobelFin  United States of America               Ghana  854031550.0    756649.0     EXISTING            Philip
3       NobelFin  United States of America               India  237645288.0      1075.0     EXISTING            Philip
4       NobelFin  United States of America               Kenya  193169745.0      2966.0     EXISTING            Philip
5       NobelFin  United States of America             Liberia  423311206.0    197280.0     EXISTING            Philip
6       NobelFin  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7       NobelFin  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8       NobelFin  United States of America              Uganda  160458035.0      5180.0     EXISTING            Philip
9       NobelFin  United States of America            Viet Nam  299709130.0      3940.0     EXISTING            Philip

Processing for Nuvei Limited...
Top rows for Nuvei Limited:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  Nuvei Limited
1     Åland Islands               Kenya  15868.0  Nuvei Limited
5091       Zimbabwe               India  22701.0  Nuvei Limited
5092       Zimbabwe        South Africa  17959.0  Nuvei Limited
5093       Zimbabwe         Netherlands  13910.0  Nuvei Limited
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  Nuvei Limited
13          Albania               Kenya  24127.0  Nuvei Limited
14          Albania              France  22272.0  Nuvei Limited
15          Albania               Spain  20066.0  Nuvei Limited
16          Albania            Portugal  15137.0  Nuvei Limited

[1193 rows x 4 columns]
Filtered top rows for Nuvei Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Nuvei Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Omnex...
Top rows for Omnex:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Omnex
1     Åland Islands               Kenya  15868.0          Omnex
5091       Zimbabwe               India  22701.0          Omnex
5092       Zimbabwe        South Africa  17959.0          Omnex
5093       Zimbabwe         Netherlands  13910.0          Omnex
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Omnex
13          Albania               Kenya  24127.0          Omnex
14          Albania              France  22272.0          Omnex
15          Albania               Spain  20066.0          Omnex
16          Albania            Portugal  15137.0          Omnex

[1193 rows x 4 columns]
Filtered top rows for Omnex:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0          Omnex
4846  United States of America               Ghana  854031550.0          Omnex
4847  United States of America             Liberia  423311206.0          Omnex
4848  United States of America            Viet Nam  299709130.0          Omnex
4849  United States of America               India  237645288.0          Omnex
4850  United States of America            Tanzania  224628683.0          Omnex
4851  United States of America          Bangladesh  207173742.0          Omnex
4852  United States of America               Kenya  193169745.0          Omnex
4853  United States of America            Cameroon  162051487.0          Omnex
4854  United States of America              Uganda  160458035.0          Omnex

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Omnex:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0          Omnex  United States of America          Bangladesh  207173742.0      7963.0     EXISTING            Philip
1          Omnex  United States of America            Cameroon  162051487.0    513091.0     EXISTING            Philip
2          Omnex  United States of America               Ghana  854031550.0  10223256.0     EXISTING            Philip
3          Omnex  United States of America               India  237645288.0    254443.0     EXISTING            Philip
4          Omnex  United States of America               Kenya  193169745.0    212715.0     EXISTING            Philip
5          Omnex  United States of America             Liberia  423311206.0         3.0     EXISTING            Philip
6          Omnex  United States of America         Philippines  855243500.0         4.0     EXISTING            Philip
7          Omnex  United States of America            Tanzania  224628683.0         0.0     EXISTING            Philip
8          Omnex  United States of America              Uganda  160458035.0     27622.0     EXISTING            Philip
9          Omnex  United States of America            Viet Nam  299709130.0        10.0     EXISTING            Philip

Processing for Omnex INC - DEAL BASED...
Top rows for Omnex INC - DEAL BASED:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Omnex INC - DEAL BASED
1     Åland Islands               Kenya  15868.0  Omnex INC - DEAL BASED
5091       Zimbabwe               India  22701.0  Omnex INC - DEAL BASED
5092       Zimbabwe        South Africa  17959.0  Omnex INC - DEAL BASED
5093       Zimbabwe         Netherlands  13910.0  Omnex INC - DEAL BASED
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Omnex INC - DEAL BASED
13          Albania               Kenya  24127.0  Omnex INC - DEAL BASED
14          Albania              France  22272.0  Omnex INC - DEAL BASED
15          Albania               Spain  20066.0  Omnex INC - DEAL BASED
16          Albania            Portugal  15137.0  Omnex INC - DEAL BASED

[1193 rows x 4 columns]
Filtered top rows for Omnex INC - DEAL BASED:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Omnex INC - DEAL BASED:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Optiswift Technologies Limited...
Top rows for Optiswift Technologies Limited:
      source_country destination_country      gsv                  source_partner
0     Åland Islands            Viet Nam  85001.0  Optiswift Technologies Limited
1     Åland Islands               Kenya  15868.0  Optiswift Technologies Limited
5091       Zimbabwe               India  22701.0  Optiswift Technologies Limited
5092       Zimbabwe        South Africa  17959.0  Optiswift Technologies Limited
5093       Zimbabwe         Netherlands  13910.0  Optiswift Technologies Limited
...             ...                 ...      ...                             ...
12          Albania            Viet Nam  40428.0  Optiswift Technologies Limited
13          Albania               Kenya  24127.0  Optiswift Technologies Limited
14          Albania              France  22272.0  Optiswift Technologies Limited
15          Albania               Spain  20066.0  Optiswift Technologies Limited
16          Albania            Portugal  15137.0  Optiswift Technologies Limited

[1193 rows x 4 columns]
Filtered top rows for Optiswift Technologies Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Optiswift Technologies Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Orokii Inc...
Top rows for Orokii Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Orokii Inc
1     Åland Islands               Kenya  15868.0     Orokii Inc
5091       Zimbabwe               India  22701.0     Orokii Inc
5092       Zimbabwe        South Africa  17959.0     Orokii Inc
5093       Zimbabwe         Netherlands  13910.0     Orokii Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Orokii Inc
13          Albania               Kenya  24127.0     Orokii Inc
14          Albania              France  22272.0     Orokii Inc
15          Albania               Spain  20066.0     Orokii Inc
16          Albania            Portugal  15137.0     Orokii Inc

[1193 rows x 4 columns]
Filtered top rows for Orokii Inc:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0     Orokii Inc
4846  United States of America               Ghana  854031550.0     Orokii Inc
4847  United States of America             Liberia  423311206.0     Orokii Inc
4848  United States of America            Viet Nam  299709130.0     Orokii Inc
4849  United States of America               India  237645288.0     Orokii Inc
4850  United States of America            Tanzania  224628683.0     Orokii Inc
4851  United States of America          Bangladesh  207173742.0     Orokii Inc
4852  United States of America               Kenya  193169745.0     Orokii Inc
4853  United States of America            Cameroon  162051487.0     Orokii Inc
4854  United States of America              Uganda  160458035.0     Orokii Inc
Updated Merged Results with Regional Director and Partner Gsv for Orokii Inc:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0     Orokii Inc  United States of America          Bangladesh  207173742.0         2.0     EXISTING            Philip
1     Orokii Inc  United States of America            Cameroon  162051487.0       150.0     EXISTING            Philip
2     Orokii Inc  United States of America               Ghana  854031550.0        98.0     EXISTING            Philip
3     Orokii Inc  United States of America               India  237645288.0     72799.0     EXISTING            Philip
4     Orokii Inc  United States of America               Kenya  193169745.0         2.0     EXISTING            Philip
5     Orokii Inc  United States of America             Liberia  423311206.0         1.0     EXISTING            Philip
6     Orokii Inc  United States of America         Philippines  855243500.0      7813.0     EXISTING            Philip
7     Orokii Inc  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8     Orokii Inc  United States of America              Uganda  160458035.0         2.0     EXISTING            Philip
9     Orokii Inc  United States of America            Viet Nam  299709130.0         1.0     EXISTING            Philip

Processing for Panda Remit...
Top rows for Panda Remit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    Panda Remit
1     Åland Islands               Kenya  15868.0    Panda Remit
5091       Zimbabwe               India  22701.0    Panda Remit
5092       Zimbabwe        South Africa  17959.0    Panda Remit
5093       Zimbabwe         Netherlands  13910.0    Panda Remit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    Panda Remit
13          Albania               Kenya  24127.0    Panda Remit
14          Albania              France  22272.0    Panda Remit
15          Albania               Spain  20066.0    Panda Remit
16          Albania            Portugal  15137.0    Panda Remit

[1193 rows x 4 columns]
Filtered top rows for Panda Remit:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0    Panda Remit
4846  United States of America               Ghana  854031550.0    Panda Remit
4847  United States of America             Liberia  423311206.0    Panda Remit
4848  United States of America            Viet Nam  299709130.0    Panda Remit
4849  United States of America               India  237645288.0    Panda Remit
4850  United States of America            Tanzania  224628683.0    Panda Remit
4851  United States of America          Bangladesh  207173742.0    Panda Remit
4852  United States of America               Kenya  193169745.0    Panda Remit
4853  United States of America            Cameroon  162051487.0    Panda Remit
4854  United States of America              Uganda  160458035.0    Panda Remit

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Panda Remit:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    Panda Remit  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1    Panda Remit  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2    Panda Remit  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3    Panda Remit  United States of America               India  237645288.0  35495308.0     EXISTING            Philip
4    Panda Remit  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5    Panda Remit  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6    Panda Remit  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7    Panda Remit  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8    Panda Remit  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9    Panda Remit  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Papara Elektronik...
Top rows for Papara Elektronik:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Papara Elektronik
1     Åland Islands               Kenya  15868.0  Papara Elektronik
5091       Zimbabwe               India  22701.0  Papara Elektronik
5092       Zimbabwe        South Africa  17959.0  Papara Elektronik
5093       Zimbabwe         Netherlands  13910.0  Papara Elektronik
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Papara Elektronik
13          Albania               Kenya  24127.0  Papara Elektronik
14          Albania              France  22272.0  Papara Elektronik
15          Albania               Spain  20066.0  Papara Elektronik
16          Albania            Portugal  15137.0  Papara Elektronik

[1193 rows x 4 columns]
Filtered top rows for Papara Elektronik:
      source_country destination_country         gsv     source_partner
4486         Turkey         Philippines  12817398.0  Papara Elektronik
4487         Turkey             Germany   9571438.0  Papara Elektronik
4488         Turkey      United Kingdom   4450829.0  Papara Elektronik
4489         Turkey         Netherlands   2974129.0  Papara Elektronik
4490         Turkey           Lithuania   2004598.0  Papara Elektronik
4491         Turkey              Uganda   1854568.0  Papara Elektronik
4492         Turkey              France   1775130.0  Papara Elektronik
4493         Turkey             Belgium   1671173.0  Papara Elektronik
4494         Turkey               Spain   1562720.0  Papara Elektronik
4495         Turkey             Austria   1433311.0  Papara Elektronik
Updated Merged Results with Regional Director and Partner Gsv for Papara Elektronik:
       source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Papara Elektronik         Turkey             Austria   1433311.0    563433.0     EXISTING            Viktor
1  Papara Elektronik         Turkey             Belgium   1671173.0   1172194.0     EXISTING            Viktor
2  Papara Elektronik         Turkey              France   1775130.0    918607.0     EXISTING            Viktor
3  Papara Elektronik         Turkey             Germany   9571438.0   4627827.0     EXISTING            Viktor
4  Papara Elektronik         Turkey           Lithuania   2004598.0   1851888.0     EXISTING            Viktor
5  Papara Elektronik         Turkey         Netherlands   2974129.0   2205590.0     EXISTING            Viktor
6  Papara Elektronik         Turkey         Philippines  12817398.0    592403.0     EXISTING            Viktor
7  Papara Elektronik         Turkey               Spain   1562720.0   1386663.0     EXISTING            Viktor
8  Papara Elektronik         Turkey              Uganda   1854568.0    326750.0     EXISTING            Viktor
9  Papara Elektronik         Turkey      United Kingdom   4450829.0   4530161.0     EXISTING            Viktor

Processing for Paragram Odeme Hizmetleri A.S Turkey...
Top rows for Paragram Odeme Hizmetleri A.S Turkey:
      source_country destination_country      gsv                        source_partner
0     Åland Islands            Viet Nam  85001.0  Paragram Odeme Hizmetleri A.S Turkey
1     Åland Islands               Kenya  15868.0  Paragram Odeme Hizmetleri A.S Turkey
5091       Zimbabwe               India  22701.0  Paragram Odeme Hizmetleri A.S Turkey
5092       Zimbabwe        South Africa  17959.0  Paragram Odeme Hizmetleri A.S Turkey
5093       Zimbabwe         Netherlands  13910.0  Paragram Odeme Hizmetleri A.S Turkey
...             ...                 ...      ...                                   ...
12          Albania            Viet Nam  40428.0  Paragram Odeme Hizmetleri A.S Turkey
13          Albania               Kenya  24127.0  Paragram Odeme Hizmetleri A.S Turkey
14          Albania              France  22272.0  Paragram Odeme Hizmetleri A.S Turkey
15          Albania               Spain  20066.0  Paragram Odeme Hizmetleri A.S Turkey
16          Albania            Portugal  15137.0  Paragram Odeme Hizmetleri A.S Turkey

[1193 rows x 4 columns]
Filtered top rows for Paragram Odeme Hizmetleri A.S Turkey:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Paragram Odeme Hizmetleri A.S Turkey:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Payhada Co.LTD...
Top rows for Payhada Co.LTD:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  Payhada Co.LTD
1     Åland Islands               Kenya  15868.0  Payhada Co.LTD
5091       Zimbabwe               India  22701.0  Payhada Co.LTD
5092       Zimbabwe        South Africa  17959.0  Payhada Co.LTD
5093       Zimbabwe         Netherlands  13910.0  Payhada Co.LTD
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  Payhada Co.LTD
13          Albania               Kenya  24127.0  Payhada Co.LTD
14          Albania              France  22272.0  Payhada Co.LTD
15          Albania               Spain  20066.0  Payhada Co.LTD
16          Albania            Portugal  15137.0  Payhada Co.LTD

[1193 rows x 4 columns]
Filtered top rows for Payhada Co.LTD:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Payhada Co.LTD:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for PayInc Group Limited...
Top rows for PayInc Group Limited:
      source_country destination_country      gsv        source_partner
0     Åland Islands            Viet Nam  85001.0  PayInc Group Limited
1     Åland Islands               Kenya  15868.0  PayInc Group Limited
5091       Zimbabwe               India  22701.0  PayInc Group Limited
5092       Zimbabwe        South Africa  17959.0  PayInc Group Limited
5093       Zimbabwe         Netherlands  13910.0  PayInc Group Limited
...             ...                 ...      ...                   ...
12          Albania            Viet Nam  40428.0  PayInc Group Limited
13          Albania               Kenya  24127.0  PayInc Group Limited
14          Albania              France  22272.0  PayInc Group Limited
15          Albania               Spain  20066.0  PayInc Group Limited
16          Albania            Portugal  15137.0  PayInc Group Limited

[1193 rows x 4 columns]
Filtered top rows for PayInc Group Limited:
                 source_country destination_country          gsv        source_partner
4845  United States of America         Philippines  855243500.0  PayInc Group Limited
4846  United States of America               Ghana  854031550.0  PayInc Group Limited
4847  United States of America             Liberia  423311206.0  PayInc Group Limited
4848  United States of America            Viet Nam  299709130.0  PayInc Group Limited
4849  United States of America               India  237645288.0  PayInc Group Limited
4850  United States of America            Tanzania  224628683.0  PayInc Group Limited
4851  United States of America          Bangladesh  207173742.0  PayInc Group Limited
4852  United States of America               Kenya  193169745.0  PayInc Group Limited
4853  United States of America            Cameroon  162051487.0  PayInc Group Limited
4854  United States of America              Uganda  160458035.0  PayInc Group Limited
4724            United Kingdom               India  722564261.0  PayInc Group Limited
4725            United Kingdom               Kenya  372996239.0  PayInc Group Limited
4726            United Kingdom          Bangladesh  222801157.0  PayInc Group Limited
4727            United Kingdom               Ghana  184628486.0  PayInc Group Limited
4729            United Kingdom              Uganda  151640757.0  PayInc Group Limited
4730            United Kingdom            Viet Nam  130053730.0  PayInc Group Limited
4731            United Kingdom         Philippines   57615497.0  PayInc Group Limited
4732            United Kingdom            Tanzania   52293484.0  PayInc Group Limited
4733            United Kingdom               Spain   36806984.0  PayInc Group Limited
4734            United Kingdom            Pakistan   34877833.0  PayInc Group Limited

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for PayInc Group Limited:
           source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   PayInc Group Limited            United Kingdom          Bangladesh  222801157.0     14273.0     EXISTING           Mamadou
1   PayInc Group Limited            United Kingdom               Ghana  184628486.0   1366539.0     EXISTING           Mamadou
2   PayInc Group Limited            United Kingdom               India  722564261.0    134335.0     EXISTING           Mamadou
3   PayInc Group Limited            United Kingdom               Kenya  372996239.0   1598175.0     EXISTING           Mamadou
4   PayInc Group Limited            United Kingdom            Pakistan   34877833.0        <NA>          NEW           Mamadou
5   PayInc Group Limited            United Kingdom         Philippines   57615497.0        <NA>          NEW           Mamadou
6   PayInc Group Limited            United Kingdom               Spain   36806984.0        <NA>          NEW           Mamadou
7   PayInc Group Limited            United Kingdom            Tanzania   52293484.0    126671.0     EXISTING           Mamadou
8   PayInc Group Limited            United Kingdom              Uganda  151640757.0    829825.0     EXISTING           Mamadou
9   PayInc Group Limited            United Kingdom            Viet Nam  130053730.0        <NA>          NEW           Mamadou
10  PayInc Group Limited  United States of America          Bangladesh  207173742.0      4542.0     EXISTING           Mamadou
11  PayInc Group Limited  United States of America            Cameroon  162051487.0    278996.0     EXISTING           Mamadou
12  PayInc Group Limited  United States of America               Ghana  854031550.0    108172.0     EXISTING           Mamadou
13  PayInc Group Limited  United States of America               India  237645288.0     15557.0     EXISTING           Mamadou
14  PayInc Group Limited  United States of America               Kenya  193169745.0   1620984.0     EXISTING           Mamadou
15  PayInc Group Limited  United States of America             Liberia  423311206.0        <NA>          NEW           Mamadou
16  PayInc Group Limited  United States of America         Philippines  855243500.0        <NA>          NEW           Mamadou
17  PayInc Group Limited  United States of America            Tanzania  224628683.0      2984.0     EXISTING           Mamadou
18  PayInc Group Limited  United States of America              Uganda  160458035.0    626924.0     EXISTING           Mamadou
19  PayInc Group Limited  United States of America            Viet Nam  299709130.0        <NA>          NEW           Mamadou

Processing for Paypoint...
Top rows for Paypoint:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Paypoint
1     Åland Islands               Kenya  15868.0       Paypoint
5091       Zimbabwe               India  22701.0       Paypoint
5092       Zimbabwe        South Africa  17959.0       Paypoint
5093       Zimbabwe         Netherlands  13910.0       Paypoint
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Paypoint
13          Albania               Kenya  24127.0       Paypoint
14          Albania              France  22272.0       Paypoint
15          Albania               Spain  20066.0       Paypoint
16          Albania            Portugal  15137.0       Paypoint

[1193 rows x 4 columns]
Filtered top rows for Paypoint:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Paypoint:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Payporter...
Top rows for Payporter:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Payporter
1     Åland Islands               Kenya  15868.0      Payporter
5091       Zimbabwe               India  22701.0      Payporter
5092       Zimbabwe        South Africa  17959.0      Payporter
5093       Zimbabwe         Netherlands  13910.0      Payporter
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Payporter
13          Albania               Kenya  24127.0      Payporter
14          Albania              France  22272.0      Payporter
15          Albania               Spain  20066.0      Payporter
16          Albania            Portugal  15137.0      Payporter

[1193 rows x 4 columns]
Filtered top rows for Payporter:
      source_country destination_country         gsv source_partner
4486         Turkey         Philippines  12817398.0      Payporter
4487         Turkey             Germany   9571438.0      Payporter
4488         Turkey      United Kingdom   4450829.0      Payporter
4489         Turkey         Netherlands   2974129.0      Payporter
4490         Turkey           Lithuania   2004598.0      Payporter
4491         Turkey              Uganda   1854568.0      Payporter
4492         Turkey              France   1775130.0      Payporter
4493         Turkey             Belgium   1671173.0      Payporter
4494         Turkey               Spain   1562720.0      Payporter
4495         Turkey             Austria   1433311.0      Payporter
Updated Merged Results with Regional Director and Partner Gsv for Payporter:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0      Payporter         Turkey             Austria   1433311.0        <NA>          NEW            Viktor
1      Payporter         Turkey             Belgium   1671173.0        <NA>          NEW            Viktor
2      Payporter         Turkey              France   1775130.0        <NA>          NEW            Viktor
3      Payporter         Turkey             Germany   9571438.0        <NA>          NEW            Viktor
4      Payporter         Turkey           Lithuania   2004598.0        <NA>          NEW            Viktor
5      Payporter         Turkey         Netherlands   2974129.0        36.0     EXISTING            Viktor
6      Payporter         Turkey         Philippines  12817398.0  10499762.0     EXISTING            Viktor
7      Payporter         Turkey               Spain   1562720.0        <NA>          NEW            Viktor
8      Payporter         Turkey              Uganda   1854568.0       685.0     EXISTING            Viktor
9      Payporter         Turkey      United Kingdom   4450829.0        <NA>          NEW            Viktor

Processing for PAYSEND...
Top rows for PAYSEND:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0        PAYSEND
1     Åland Islands               Kenya  15868.0        PAYSEND
5091       Zimbabwe               India  22701.0        PAYSEND
5092       Zimbabwe        South Africa  17959.0        PAYSEND
5093       Zimbabwe         Netherlands  13910.0        PAYSEND
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0        PAYSEND
13          Albania               Kenya  24127.0        PAYSEND
14          Albania              France  22272.0        PAYSEND
15          Albania               Spain  20066.0        PAYSEND
16          Albania            Portugal  15137.0        PAYSEND

[1193 rows x 4 columns]
Filtered top rows for PAYSEND:
      source_country destination_country         gsv source_partner
5008     Uzbekistan               India    725279.0        PAYSEND
5009     Uzbekistan               Kenya    421997.0        PAYSEND
5010     Uzbekistan            Viet Nam    303231.0        PAYSEND
5011     Uzbekistan               Benin    165429.0        PAYSEND
5012     Uzbekistan             Germany    128977.0        PAYSEND
...             ...                 ...         ...            ...
143       Australia            Malaysia  45569162.0        PAYSEND
144       Australia          Bangladesh  40785924.0        PAYSEND
145       Australia               Ghana  14536937.0        PAYSEND
146       Australia              Uganda  10896328.0        PAYSEND
147       Australia             Germany   9418964.0        PAYSEND

[422 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for PAYSEND:
     source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0          PAYSEND      Australia          Bangladesh    40785924.0     14867.0     EXISTING            Viktor
1          PAYSEND      Australia             Germany     9418964.0        <NA>          NEW            Viktor
2          PAYSEND      Australia               Ghana    14536937.0        <NA>          NEW            Viktor
3          PAYSEND      Australia               India  1271119070.0    191582.0     EXISTING            Viktor
4          PAYSEND      Australia               Kenya   100661663.0    233988.0     EXISTING            Viktor
..             ...            ...                 ...           ...         ...          ...               ...
417        PAYSEND     Uzbekistan               Kenya      421997.0    427836.0     EXISTING            Viktor
418        PAYSEND     Uzbekistan           Lithuania       22430.0        <NA>          NEW            Viktor
419        PAYSEND     Uzbekistan         Netherlands       26475.0        <NA>          NEW            Viktor
420        PAYSEND     Uzbekistan               Spain       15762.0        <NA>          NEW            Viktor
421        PAYSEND     Uzbekistan            Viet Nam      303231.0        <NA>          NEW            Viktor

[422 rows x 7 columns]

Processing for PAYWISER_IMT...
Top rows for PAYWISER_IMT:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   PAYWISER_IMT
1     Åland Islands               Kenya  15868.0   PAYWISER_IMT
5091       Zimbabwe               India  22701.0   PAYWISER_IMT
5092       Zimbabwe        South Africa  17959.0   PAYWISER_IMT
5093       Zimbabwe         Netherlands  13910.0   PAYWISER_IMT
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   PAYWISER_IMT
13          Albania               Kenya  24127.0   PAYWISER_IMT
14          Albania              France  22272.0   PAYWISER_IMT
15          Albania               Spain  20066.0   PAYWISER_IMT
16          Albania            Portugal  15137.0   PAYWISER_IMT

[1193 rows x 4 columns]
Filtered top rows for PAYWISER_IMT:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0   PAYWISER_IMT
4725  United Kingdom               Kenya  372996239.0   PAYWISER_IMT
4726  United Kingdom          Bangladesh  222801157.0   PAYWISER_IMT
4727  United Kingdom               Ghana  184628486.0   PAYWISER_IMT
4729  United Kingdom              Uganda  151640757.0   PAYWISER_IMT
4730  United Kingdom            Viet Nam  130053730.0   PAYWISER_IMT
4731  United Kingdom         Philippines   57615497.0   PAYWISER_IMT
4732  United Kingdom            Tanzania   52293484.0   PAYWISER_IMT
4733  United Kingdom               Spain   36806984.0   PAYWISER_IMT
4734  United Kingdom            Pakistan   34877833.0   PAYWISER_IMT
Updated Merged Results with Regional Director and Partner Gsv for PAYWISER_IMT:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   PAYWISER_IMT  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1   PAYWISER_IMT  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2   PAYWISER_IMT  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
3   PAYWISER_IMT  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4   PAYWISER_IMT  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5   PAYWISER_IMT  United Kingdom         Philippines   57615497.0     21565.0     EXISTING            Viktor
6   PAYWISER_IMT  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7   PAYWISER_IMT  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8   PAYWISER_IMT  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9   PAYWISER_IMT  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Paywiser Ltd...
Top rows for Paywiser Ltd:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   Paywiser Ltd
1     Åland Islands               Kenya  15868.0   Paywiser Ltd
5091       Zimbabwe               India  22701.0   Paywiser Ltd
5092       Zimbabwe        South Africa  17959.0   Paywiser Ltd
5093       Zimbabwe         Netherlands  13910.0   Paywiser Ltd
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   Paywiser Ltd
13          Albania               Kenya  24127.0   Paywiser Ltd
14          Albania              France  22272.0   Paywiser Ltd
15          Albania               Spain  20066.0   Paywiser Ltd
16          Albania            Portugal  15137.0   Paywiser Ltd

[1193 rows x 4 columns]
Filtered top rows for Paywiser Ltd:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0   Paywiser Ltd
4725  United Kingdom               Kenya  372996239.0   Paywiser Ltd
4726  United Kingdom          Bangladesh  222801157.0   Paywiser Ltd
4727  United Kingdom               Ghana  184628486.0   Paywiser Ltd
4729  United Kingdom              Uganda  151640757.0   Paywiser Ltd
4730  United Kingdom            Viet Nam  130053730.0   Paywiser Ltd
4731  United Kingdom         Philippines   57615497.0   Paywiser Ltd
4732  United Kingdom            Tanzania   52293484.0   Paywiser Ltd
4733  United Kingdom               Spain   36806984.0   Paywiser Ltd
4734  United Kingdom            Pakistan   34877833.0   Paywiser Ltd
Updated Merged Results with Regional Director and Partner Gsv for Paywiser Ltd:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0   Paywiser Ltd  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1   Paywiser Ltd  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2   Paywiser Ltd  United Kingdom               India  722564261.0        <NA>          NEW            Viktor
3   Paywiser Ltd  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4   Paywiser Ltd  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5   Paywiser Ltd  United Kingdom         Philippines   57615497.0     21843.0     EXISTING            Viktor
6   Paywiser Ltd  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7   Paywiser Ltd  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8   Paywiser Ltd  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9   Paywiser Ltd  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for PEEXIT...
Top rows for PEEXIT:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         PEEXIT
1     Åland Islands               Kenya  15868.0         PEEXIT
5091       Zimbabwe               India  22701.0         PEEXIT
5092       Zimbabwe        South Africa  17959.0         PEEXIT
5093       Zimbabwe         Netherlands  13910.0         PEEXIT
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         PEEXIT
13          Albania               Kenya  24127.0         PEEXIT
14          Albania              France  22272.0         PEEXIT
15          Albania               Spain  20066.0         PEEXIT
16          Albania            Portugal  15137.0         PEEXIT

[1193 rows x 4 columns]
Filtered top rows for PEEXIT:
     source_country       destination_country         gsv source_partner
706       Cameroon                   Belgium  57913726.0         PEEXIT
707       Cameroon                      Mali   2902030.0         PEEXIT
708       Cameroon               Netherlands   2887263.0         PEEXIT
709       Cameroon                     Benin   2680518.0         PEEXIT
710       Cameroon                    France   2384431.0         PEEXIT
711       Cameroon             Côte d'Ivoire   1629509.0         PEEXIT
712       Cameroon                   Germany    742687.0         PEEXIT
713       Cameroon                     Italy    583218.0         PEEXIT
714       Cameroon                 Lithuania    255345.0         PEEXIT
715       Cameroon  United States of America    173314.0         PEEXIT

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for PEEXIT:
   source_partner source_country       destination_country         gsv Partner_Gsv existing/new regional_director
0         PEEXIT       Cameroon                   Belgium  57913726.0    686145.0     EXISTING           Mamadou
1         PEEXIT       Cameroon                     Benin   2680518.0   1626327.0     EXISTING           Mamadou
2         PEEXIT       Cameroon             Côte d'Ivoire   1629509.0   1593514.0     EXISTING           Mamadou
3         PEEXIT       Cameroon                    France   2384431.0   1513085.0     EXISTING           Mamadou
4         PEEXIT       Cameroon                   Germany    742687.0    366859.0     EXISTING           Mamadou
5         PEEXIT       Cameroon                     Italy    583218.0    551987.0     EXISTING           Mamadou
6         PEEXIT       Cameroon                 Lithuania    255345.0        <NA>          NEW           Mamadou
7         PEEXIT       Cameroon                      Mali   2902030.0   2872444.0     EXISTING           Mamadou
8         PEEXIT       Cameroon               Netherlands   2887263.0     65156.0     EXISTING           Mamadou
9         PEEXIT       Cameroon  United States of America    173314.0    111679.0     EXISTING           Mamadou

Processing for Pesapeer Incorporated...
Top rows for Pesapeer Incorporated:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  Pesapeer Incorporated
1     Åland Islands               Kenya  15868.0  Pesapeer Incorporated
5091       Zimbabwe               India  22701.0  Pesapeer Incorporated
5092       Zimbabwe        South Africa  17959.0  Pesapeer Incorporated
5093       Zimbabwe         Netherlands  13910.0  Pesapeer Incorporated
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  Pesapeer Incorporated
13          Albania               Kenya  24127.0  Pesapeer Incorporated
14          Albania              France  22272.0  Pesapeer Incorporated
15          Albania               Spain  20066.0  Pesapeer Incorporated
16          Albania            Portugal  15137.0  Pesapeer Incorporated

[1193 rows x 4 columns]
Filtered top rows for Pesapeer Incorporated:
     source_country destination_country          gsv         source_partner
748         Canada               India  211296069.0  Pesapeer Incorporated
749         Canada         Philippines   57990615.0  Pesapeer Incorporated
750         Canada               Ghana   57154456.0  Pesapeer Incorporated
751         Canada            Viet Nam   37930649.0  Pesapeer Incorporated
752         Canada               Kenya   29951383.0  Pesapeer Incorporated
753         Canada              Uganda   27682200.0  Pesapeer Incorporated
754         Canada               Benin   22477592.0  Pesapeer Incorporated
755         Canada          Bangladesh   19317938.0  Pesapeer Incorporated
756         Canada            Cameroon   18872246.0  Pesapeer Incorporated
757         Canada            Tanzania   18091580.0  Pesapeer Incorporated
Updated Merged Results with Regional Director and Partner Gsv for Pesapeer Incorporated:
           source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Pesapeer Incorporated         Canada          Bangladesh   19317938.0        <NA>          NEW            Philip
1  Pesapeer Incorporated         Canada               Benin   22477592.0        <NA>          NEW            Philip
2  Pesapeer Incorporated         Canada            Cameroon   18872246.0         2.0     EXISTING            Philip
3  Pesapeer Incorporated         Canada               Ghana   57154456.0      7453.0     EXISTING            Philip
4  Pesapeer Incorporated         Canada               India  211296069.0   1318899.0     EXISTING            Philip
5  Pesapeer Incorporated         Canada               Kenya   29951383.0         0.0     EXISTING            Philip
6  Pesapeer Incorporated         Canada         Philippines   57990615.0     13956.0     EXISTING            Philip
7  Pesapeer Incorporated         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8  Pesapeer Incorporated         Canada              Uganda   27682200.0      1135.0     EXISTING            Philip
9  Pesapeer Incorporated         Canada            Viet Nam   37930649.0        <NA>          NEW            Philip

Processing for Placid_Express...
Top rows for Placid_Express:
      source_country destination_country      gsv  source_partner
0     Åland Islands            Viet Nam  85001.0  Placid_Express
1     Åland Islands               Kenya  15868.0  Placid_Express
5091       Zimbabwe               India  22701.0  Placid_Express
5092       Zimbabwe        South Africa  17959.0  Placid_Express
5093       Zimbabwe         Netherlands  13910.0  Placid_Express
...             ...                 ...      ...             ...
12          Albania            Viet Nam  40428.0  Placid_Express
13          Albania               Kenya  24127.0  Placid_Express
14          Albania              France  22272.0  Placid_Express
15          Albania               Spain  20066.0  Placid_Express
16          Albania            Portugal  15137.0  Placid_Express

[1193 rows x 4 columns]
Filtered top rows for Placid_Express:
                 source_country destination_country          gsv  source_partner
4845  United States of America         Philippines  855243500.0  Placid_Express
4846  United States of America               Ghana  854031550.0  Placid_Express
4847  United States of America             Liberia  423311206.0  Placid_Express
4848  United States of America            Viet Nam  299709130.0  Placid_Express
4849  United States of America               India  237645288.0  Placid_Express
4850  United States of America            Tanzania  224628683.0  Placid_Express
4851  United States of America          Bangladesh  207173742.0  Placid_Express
4852  United States of America               Kenya  193169745.0  Placid_Express
4853  United States of America            Cameroon  162051487.0  Placid_Express
4854  United States of America              Uganda  160458035.0  Placid_Express
Updated Merged Results with Regional Director and Partner Gsv for Placid_Express:
    source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Placid_Express  United States of America          Bangladesh  207173742.0     52303.0     EXISTING            Philip
1  Placid_Express  United States of America            Cameroon  162051487.0         1.0     EXISTING            Philip
2  Placid_Express  United States of America               Ghana  854031550.0     59163.0     EXISTING            Philip
3  Placid_Express  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Placid_Express  United States of America               Kenya  193169745.0         3.0     EXISTING            Philip
5  Placid_Express  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Placid_Express  United States of America         Philippines  855243500.0     27876.0     EXISTING            Philip
7  Placid_Express  United States of America            Tanzania  224628683.0         2.0     EXISTING            Philip
8  Placid_Express  United States of America              Uganda  160458035.0         1.0     EXISTING            Philip
9  Placid_Express  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for PNC Global Transfers Inc...
Top rows for PNC Global Transfers Inc:
      source_country destination_country      gsv            source_partner
0     Åland Islands            Viet Nam  85001.0  PNC Global Transfers Inc
1     Åland Islands               Kenya  15868.0  PNC Global Transfers Inc
5091       Zimbabwe               India  22701.0  PNC Global Transfers Inc
5092       Zimbabwe        South Africa  17959.0  PNC Global Transfers Inc
5093       Zimbabwe         Netherlands  13910.0  PNC Global Transfers Inc
...             ...                 ...      ...                       ...
12          Albania            Viet Nam  40428.0  PNC Global Transfers Inc
13          Albania               Kenya  24127.0  PNC Global Transfers Inc
14          Albania              France  22272.0  PNC Global Transfers Inc
15          Albania               Spain  20066.0  PNC Global Transfers Inc
16          Albania            Portugal  15137.0  PNC Global Transfers Inc

[1193 rows x 4 columns]
Filtered top rows for PNC Global Transfers Inc:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for PNC Global Transfers Inc:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Pre Pay Electronics Payments Ltd...
Top rows for Pre Pay Electronics Payments Ltd:
      source_country destination_country      gsv                    source_partner
0     Åland Islands            Viet Nam  85001.0  Pre Pay Electronics Payments Ltd
1     Åland Islands               Kenya  15868.0  Pre Pay Electronics Payments Ltd
5091       Zimbabwe               India  22701.0  Pre Pay Electronics Payments Ltd
5092       Zimbabwe        South Africa  17959.0  Pre Pay Electronics Payments Ltd
5093       Zimbabwe         Netherlands  13910.0  Pre Pay Electronics Payments Ltd
...             ...                 ...      ...                               ...
12          Albania            Viet Nam  40428.0  Pre Pay Electronics Payments Ltd
13          Albania               Kenya  24127.0  Pre Pay Electronics Payments Ltd
14          Albania              France  22272.0  Pre Pay Electronics Payments Ltd
15          Albania               Spain  20066.0  Pre Pay Electronics Payments Ltd
16          Albania            Portugal  15137.0  Pre Pay Electronics Payments Ltd

[1193 rows x 4 columns]
Filtered top rows for Pre Pay Electronics Payments Ltd:
      source_country destination_country          gsv                    source_partner
1990         Israel               India  262803942.0  Pre Pay Electronics Payments Ltd
1991         Israel         Philippines   46488318.0  Pre Pay Electronics Payments Ltd
1992         Israel            Thailand   43405347.0  Pre Pay Electronics Payments Ltd
1993         Israel               China   32649449.0  Pre Pay Electronics Payments Ltd
1994         Israel              Uganda   12875559.0  Pre Pay Electronics Payments Ltd
1995         Israel            Tanzania    8675247.0  Pre Pay Electronics Payments Ltd
1996         Israel             Nigeria    8363616.0  Pre Pay Electronics Payments Ltd
1997         Israel               Kenya    7805566.0  Pre Pay Electronics Payments Ltd
1998         Israel              Rwanda    5367315.0  Pre Pay Electronics Payments Ltd
1999         Israel               Ghana    2988861.0  Pre Pay Electronics Payments Ltd
Updated Merged Results with Regional Director and Partner Gsv for Pre Pay Electronics Payments Ltd:
                      source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Pre Pay Electronics Payments Ltd         Israel               China   32649449.0        <NA>          NEW            Viktor
1  Pre Pay Electronics Payments Ltd         Israel               Ghana    2988861.0        <NA>          NEW            Viktor
2  Pre Pay Electronics Payments Ltd         Israel               India  262803942.0    160917.0     EXISTING            Viktor
3  Pre Pay Electronics Payments Ltd         Israel               Kenya    7805566.0         0.0     EXISTING            Viktor
4  Pre Pay Electronics Payments Ltd         Israel             Nigeria    8363616.0        <NA>          NEW            Viktor
5  Pre Pay Electronics Payments Ltd         Israel         Philippines   46488318.0     90154.0     EXISTING            Viktor
6  Pre Pay Electronics Payments Ltd         Israel              Rwanda    5367315.0        <NA>          NEW            Viktor
7  Pre Pay Electronics Payments Ltd         Israel            Tanzania    8675247.0        <NA>          NEW            Viktor
8  Pre Pay Electronics Payments Ltd         Israel            Thailand   43405347.0   1488138.0     EXISTING            Viktor
9  Pre Pay Electronics Payments Ltd         Israel              Uganda   12875559.0        <NA>          NEW            Viktor

Processing for Prime Bank Limited...
Top rows for Prime Bank Limited:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Prime Bank Limited
1     Åland Islands               Kenya  15868.0  Prime Bank Limited
5091       Zimbabwe               India  22701.0  Prime Bank Limited
5092       Zimbabwe        South Africa  17959.0  Prime Bank Limited
5093       Zimbabwe         Netherlands  13910.0  Prime Bank Limited
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Prime Bank Limited
13          Albania               Kenya  24127.0  Prime Bank Limited
14          Albania              France  22272.0  Prime Bank Limited
15          Albania               Spain  20066.0  Prime Bank Limited
16          Albania            Portugal  15137.0  Prime Bank Limited

[1193 rows x 4 columns]
Filtered top rows for Prime Bank Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Prime Bank Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Pronto...
Top rows for Pronto:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         Pronto
1     Åland Islands               Kenya  15868.0         Pronto
5091       Zimbabwe               India  22701.0         Pronto
5092       Zimbabwe        South Africa  17959.0         Pronto
5093       Zimbabwe         Netherlands  13910.0         Pronto
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         Pronto
13          Albania               Kenya  24127.0         Pronto
14          Albania              France  22272.0         Pronto
15          Albania               Spain  20066.0         Pronto
16          Albania            Portugal  15137.0         Pronto

[1193 rows x 4 columns]
Filtered top rows for Pronto:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Pronto:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for PT REYHAN PUTRA MANDIRI - Remitpro...
Top rows for PT REYHAN PUTRA MANDIRI - Remitpro:
      source_country destination_country      gsv                      source_partner
0     Åland Islands            Viet Nam  85001.0  PT REYHAN PUTRA MANDIRI - Remitpro
1     Åland Islands               Kenya  15868.0  PT REYHAN PUTRA MANDIRI - Remitpro
5091       Zimbabwe               India  22701.0  PT REYHAN PUTRA MANDIRI - Remitpro
5092       Zimbabwe        South Africa  17959.0  PT REYHAN PUTRA MANDIRI - Remitpro
5093       Zimbabwe         Netherlands  13910.0  PT REYHAN PUTRA MANDIRI - Remitpro
...             ...                 ...      ...                                 ...
12          Albania            Viet Nam  40428.0  PT REYHAN PUTRA MANDIRI - Remitpro
13          Albania               Kenya  24127.0  PT REYHAN PUTRA MANDIRI - Remitpro
14          Albania              France  22272.0  PT REYHAN PUTRA MANDIRI - Remitpro
15          Albania               Spain  20066.0  PT REYHAN PUTRA MANDIRI - Remitpro
16          Albania            Portugal  15137.0  PT REYHAN PUTRA MANDIRI - Remitpro

[1193 rows x 4 columns]
Filtered top rows for PT REYHAN PUTRA MANDIRI - Remitpro:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for PT REYHAN PUTRA MANDIRI - Remitpro:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Pula Advisors AG...
Top rows for Pula Advisors AG:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Pula Advisors AG
1     Åland Islands               Kenya  15868.0  Pula Advisors AG
5091       Zimbabwe               India  22701.0  Pula Advisors AG
5092       Zimbabwe        South Africa  17959.0  Pula Advisors AG
5093       Zimbabwe         Netherlands  13910.0  Pula Advisors AG
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Pula Advisors AG
13          Albania               Kenya  24127.0  Pula Advisors AG
14          Albania              France  22272.0  Pula Advisors AG
15          Albania               Spain  20066.0  Pula Advisors AG
16          Albania            Portugal  15137.0  Pula Advisors AG

[1193 rows x 4 columns]
Filtered top rows for Pula Advisors AG:
      source_country destination_country         gsv    source_partner
4285    Switzerland            Viet Nam  32268605.0  Pula Advisors AG
4286    Switzerland            Portugal  14612570.0  Pula Advisors AG
4287    Switzerland               Spain  10695099.0  Pula Advisors AG
4288    Switzerland               Kenya   9216213.0  Pula Advisors AG
4289    Switzerland            Cameroon   6294586.0  Pula Advisors AG
4290    Switzerland             Senegal   6058142.0  Pula Advisors AG
4291    Switzerland               Italy   5495875.0  Pula Advisors AG
4292    Switzerland               Ghana   5431586.0  Pula Advisors AG
4293    Switzerland             Germany   4667303.0  Pula Advisors AG
4294    Switzerland              France   3965994.0  Pula Advisors AG
Updated Merged Results with Regional Director and Partner Gsv for Pula Advisors AG:
      source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Pula Advisors AG    Switzerland            Cameroon   6294586.0        <NA>          NEW            Viktor
1  Pula Advisors AG    Switzerland              France   3965994.0        <NA>          NEW            Viktor
2  Pula Advisors AG    Switzerland             Germany   4667303.0        <NA>          NEW            Viktor
3  Pula Advisors AG    Switzerland               Ghana   5431586.0     18077.0     EXISTING            Viktor
4  Pula Advisors AG    Switzerland               Italy   5495875.0        <NA>          NEW            Viktor
5  Pula Advisors AG    Switzerland               Kenya   9216213.0      1170.0     EXISTING            Viktor
6  Pula Advisors AG    Switzerland            Portugal  14612570.0        <NA>          NEW            Viktor
7  Pula Advisors AG    Switzerland             Senegal   6058142.0      3766.0     EXISTING            Viktor
8  Pula Advisors AG    Switzerland               Spain  10695099.0        <NA>          NEW            Viktor
9  Pula Advisors AG    Switzerland            Viet Nam  32268605.0        <NA>          NEW            Viktor

Processing for PyWave Network Technology Limited...
Top rows for PyWave Network Technology Limited:
      source_country destination_country      gsv                     source_partner
0     Åland Islands            Viet Nam  85001.0  PyWave Network Technology Limited
1     Åland Islands               Kenya  15868.0  PyWave Network Technology Limited
5091       Zimbabwe               India  22701.0  PyWave Network Technology Limited
5092       Zimbabwe        South Africa  17959.0  PyWave Network Technology Limited
5093       Zimbabwe         Netherlands  13910.0  PyWave Network Technology Limited
...             ...                 ...      ...                                ...
12          Albania            Viet Nam  40428.0  PyWave Network Technology Limited
13          Albania               Kenya  24127.0  PyWave Network Technology Limited
14          Albania              France  22272.0  PyWave Network Technology Limited
15          Albania               Spain  20066.0  PyWave Network Technology Limited
16          Albania            Portugal  15137.0  PyWave Network Technology Limited

[1193 rows x 4 columns]
Filtered top rows for PyWave Network Technology Limited:
      source_country destination_country           gsv                     source_partner
1736      Hong Kong         Philippines  1722181320.0  PyWave Network Technology Limited
1737      Hong Kong            Viet Nam     9110518.0  PyWave Network Technology Limited
1738      Hong Kong      United Kingdom     8249574.0  PyWave Network Technology Limited
1739      Hong Kong            Malaysia     3940931.0  PyWave Network Technology Limited
1740      Hong Kong               Kenya     2887925.0  PyWave Network Technology Limited
1741      Hong Kong               Ghana     2215950.0  PyWave Network Technology Limited
1742      Hong Kong              Uganda      703818.0  PyWave Network Technology Limited
1743      Hong Kong              France      582306.0  PyWave Network Technology Limited
1744      Hong Kong               India      450505.0  PyWave Network Technology Limited
1745      Hong Kong            Tanzania      439808.0  PyWave Network Technology Limited
Updated Merged Results with Regional Director and Partner Gsv for PyWave Network Technology Limited:
                       source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  PyWave Network Technology Limited      Hong Kong              France      582306.0        <NA>          NEW            Sukesh
1  PyWave Network Technology Limited      Hong Kong               Ghana     2215950.0        <NA>          NEW            Sukesh
2  PyWave Network Technology Limited      Hong Kong               India      450505.0        <NA>          NEW            Sukesh
3  PyWave Network Technology Limited      Hong Kong               Kenya     2887925.0        <NA>          NEW            Sukesh
4  PyWave Network Technology Limited      Hong Kong            Malaysia     3940931.0        <NA>          NEW            Sukesh
5  PyWave Network Technology Limited      Hong Kong         Philippines  1722181320.0        <NA>          NEW            Sukesh
6  PyWave Network Technology Limited      Hong Kong            Tanzania      439808.0        <NA>          NEW            Sukesh
7  PyWave Network Technology Limited      Hong Kong              Uganda      703818.0        <NA>          NEW            Sukesh
8  PyWave Network Technology Limited      Hong Kong      United Kingdom     8249574.0        <NA>          NEW            Sukesh
9  PyWave Network Technology Limited      Hong Kong            Viet Nam     9110518.0        <NA>          NEW            Sukesh

Processing for Queen Bee Capital...
Top rows for Queen Bee Capital:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Queen Bee Capital
1     Åland Islands               Kenya  15868.0  Queen Bee Capital
5091       Zimbabwe               India  22701.0  Queen Bee Capital
5092       Zimbabwe        South Africa  17959.0  Queen Bee Capital
5093       Zimbabwe         Netherlands  13910.0  Queen Bee Capital
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Queen Bee Capital
13          Albania               Kenya  24127.0  Queen Bee Capital
14          Albania              France  22272.0  Queen Bee Capital
15          Albania               Spain  20066.0  Queen Bee Capital
16          Albania            Portugal  15137.0  Queen Bee Capital

[1193 rows x 4 columns]
Filtered top rows for Queen Bee Capital:
      source_country destination_country         gsv     source_partner
2148          Japan            Viet Nam  43416738.0  Queen Bee Capital
2149          Japan          Bangladesh  36825789.0  Queen Bee Capital
2150          Japan         Philippines  18179604.0  Queen Bee Capital
2151          Japan               Kenya  14677546.0  Queen Bee Capital
2152          Japan            Thailand   6381052.0  Queen Bee Capital
2153          Japan            Tanzania   2593609.0  Queen Bee Capital
2154          Japan               India   2013455.0  Queen Bee Capital
2155          Japan              Uganda   1931119.0  Queen Bee Capital
2156          Japan               Ghana   1883618.0  Queen Bee Capital
2157          Japan              France    937155.0  Queen Bee Capital

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Queen Bee Capital:
       source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Queen Bee Capital          Japan          Bangladesh  36825789.0   5683498.0     EXISTING            Sukesh
1  Queen Bee Capital          Japan              France    937155.0        <NA>          NEW            Sukesh
2  Queen Bee Capital          Japan               Ghana   1883618.0        <NA>          NEW            Sukesh
3  Queen Bee Capital          Japan               India   2013455.0    171841.0     EXISTING            Sukesh
4  Queen Bee Capital          Japan               Kenya  14677546.0        <NA>          NEW            Sukesh
5  Queen Bee Capital          Japan         Philippines  18179604.0   5022090.0     EXISTING            Sukesh
6  Queen Bee Capital          Japan            Tanzania   2593609.0        <NA>          NEW            Sukesh
7  Queen Bee Capital          Japan            Thailand   6381052.0   6401820.0     EXISTING            Sukesh
8  Queen Bee Capital          Japan              Uganda   1931119.0        <NA>          NEW            Sukesh
9  Queen Bee Capital          Japan            Viet Nam  43416738.0      6557.0     EXISTING            Sukesh

Processing for RAA Express...
Top rows for RAA Express:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    RAA Express
1     Åland Islands               Kenya  15868.0    RAA Express
5091       Zimbabwe               India  22701.0    RAA Express
5092       Zimbabwe        South Africa  17959.0    RAA Express
5093       Zimbabwe         Netherlands  13910.0    RAA Express
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    RAA Express
13          Albania               Kenya  24127.0    RAA Express
14          Albania              France  22272.0    RAA Express
15          Albania               Spain  20066.0    RAA Express
16          Albania            Portugal  15137.0    RAA Express

[1193 rows x 4 columns]
Filtered top rows for RAA Express:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for RAA Express:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Raenest Inc...
Top rows for Raenest Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    Raenest Inc
1     Åland Islands               Kenya  15868.0    Raenest Inc
5091       Zimbabwe               India  22701.0    Raenest Inc
5092       Zimbabwe        South Africa  17959.0    Raenest Inc
5093       Zimbabwe         Netherlands  13910.0    Raenest Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    Raenest Inc
13          Albania               Kenya  24127.0    Raenest Inc
14          Albania              France  22272.0    Raenest Inc
15          Albania               Spain  20066.0    Raenest Inc
16          Albania            Portugal  15137.0    Raenest Inc

[1193 rows x 4 columns]
Filtered top rows for Raenest Inc:
     source_country destination_country          gsv source_partner
748         Canada               India  211296069.0    Raenest Inc
749         Canada         Philippines   57990615.0    Raenest Inc
750         Canada               Ghana   57154456.0    Raenest Inc
751         Canada            Viet Nam   37930649.0    Raenest Inc
752         Canada               Kenya   29951383.0    Raenest Inc
753         Canada              Uganda   27682200.0    Raenest Inc
754         Canada               Benin   22477592.0    Raenest Inc
755         Canada          Bangladesh   19317938.0    Raenest Inc
756         Canada            Cameroon   18872246.0    Raenest Inc
757         Canada            Tanzania   18091580.0    Raenest Inc
Updated Merged Results with Regional Director and Partner Gsv for Raenest Inc:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    Raenest Inc         Canada          Bangladesh   19317938.0        <NA>          NEW            Philip
1    Raenest Inc         Canada               Benin   22477592.0        <NA>          NEW            Philip
2    Raenest Inc         Canada            Cameroon   18872246.0     18937.0     EXISTING            Philip
3    Raenest Inc         Canada               Ghana   57154456.0        <NA>          NEW            Philip
4    Raenest Inc         Canada               India  211296069.0        <NA>          NEW            Philip
5    Raenest Inc         Canada               Kenya   29951383.0    263291.0     EXISTING            Philip
6    Raenest Inc         Canada         Philippines   57990615.0        <NA>          NEW            Philip
7    Raenest Inc         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8    Raenest Inc         Canada              Uganda   27682200.0        <NA>          NEW            Philip
9    Raenest Inc         Canada            Viet Nam   37930649.0        <NA>          NEW            Philip

Processing for Rana Financial INC...
Top rows for Rana Financial INC:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Rana Financial INC
1     Åland Islands               Kenya  15868.0  Rana Financial INC
5091       Zimbabwe               India  22701.0  Rana Financial INC
5092       Zimbabwe        South Africa  17959.0  Rana Financial INC
5093       Zimbabwe         Netherlands  13910.0  Rana Financial INC
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Rana Financial INC
13          Albania               Kenya  24127.0  Rana Financial INC
14          Albania              France  22272.0  Rana Financial INC
15          Albania               Spain  20066.0  Rana Financial INC
16          Albania            Portugal  15137.0  Rana Financial INC

[1193 rows x 4 columns]
Filtered top rows for Rana Financial INC:
                 source_country destination_country          gsv      source_partner
4845  United States of America         Philippines  855243500.0  Rana Financial INC
4846  United States of America               Ghana  854031550.0  Rana Financial INC
4847  United States of America             Liberia  423311206.0  Rana Financial INC
4848  United States of America            Viet Nam  299709130.0  Rana Financial INC
4849  United States of America               India  237645288.0  Rana Financial INC
4850  United States of America            Tanzania  224628683.0  Rana Financial INC
4851  United States of America          Bangladesh  207173742.0  Rana Financial INC
4852  United States of America               Kenya  193169745.0  Rana Financial INC
4853  United States of America            Cameroon  162051487.0  Rana Financial INC
4854  United States of America              Uganda  160458035.0  Rana Financial INC
Updated Merged Results with Regional Director and Partner Gsv for Rana Financial INC:
        source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Rana Financial INC  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1  Rana Financial INC  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Rana Financial INC  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Rana Financial INC  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Rana Financial INC  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Rana Financial INC  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Rana Financial INC  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  Rana Financial INC  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Rana Financial INC  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Rana Financial INC  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Red Chapina Sociedad Anonima...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for Red Chapina Sociedad Anonima:
      source_country destination_country      gsv                source_partner
0     Åland Islands            Viet Nam  85001.0  Red Chapina Sociedad Anonima
1     Åland Islands               Kenya  15868.0  Red Chapina Sociedad Anonima
5091       Zimbabwe               India  22701.0  Red Chapina Sociedad Anonima
5092       Zimbabwe        South Africa  17959.0  Red Chapina Sociedad Anonima
5093       Zimbabwe         Netherlands  13910.0  Red Chapina Sociedad Anonima
...             ...                 ...      ...                           ...
12          Albania            Viet Nam  40428.0  Red Chapina Sociedad Anonima
13          Albania               Kenya  24127.0  Red Chapina Sociedad Anonima
14          Albania              France  22272.0  Red Chapina Sociedad Anonima
15          Albania               Spain  20066.0  Red Chapina Sociedad Anonima
16          Albania            Portugal  15137.0  Red Chapina Sociedad Anonima

[1193 rows x 4 columns]
Filtered top rows for Red Chapina Sociedad Anonima:
      source_country       destination_country       gsv                source_partner
1684      Guatemala                    Mexico  210869.0  Red Chapina Sociedad Anonima
1685      Guatemala                     Spain  149730.0  Red Chapina Sociedad Anonima
1686      Guatemala               Netherlands   54508.0  Red Chapina Sociedad Anonima
1687      Guatemala                  Viet Nam   29074.0  Red Chapina Sociedad Anonima
1688      Guatemala  United States of America   10447.0  Red Chapina Sociedad Anonima
1689      Guatemala                     Kenya   10254.0  Red Chapina Sociedad Anonima
Updated Merged Results with Regional Director and Partner Gsv for Red Chapina Sociedad Anonima:
                  source_partner source_country       destination_country       gsv Partner_Gsv existing/new regional_director
0  Red Chapina Sociedad Anonima      Guatemala                     Kenya   10254.0        <NA>          NEW            Philip
1  Red Chapina Sociedad Anonima      Guatemala                    Mexico  210869.0    215870.0     EXISTING            Philip
2  Red Chapina Sociedad Anonima      Guatemala               Netherlands   54508.0     54508.0     EXISTING            Philip
3  Red Chapina Sociedad Anonima      Guatemala                     Spain  149730.0    154831.0     EXISTING            Philip
4  Red Chapina Sociedad Anonima      Guatemala  United States of America   10447.0     10447.0     EXISTING            Philip
5  Red Chapina Sociedad Anonima      Guatemala                  Viet Nam   29074.0        <NA>          NEW            Philip

Processing for Remitly Inc...
Top rows for Remitly Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    Remitly Inc
1     Åland Islands               Kenya  15868.0    Remitly Inc
5091       Zimbabwe               India  22701.0    Remitly Inc
5092       Zimbabwe        South Africa  17959.0    Remitly Inc
5093       Zimbabwe         Netherlands  13910.0    Remitly Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    Remitly Inc
13          Albania               Kenya  24127.0    Remitly Inc
14          Albania              France  22272.0    Remitly Inc
15          Albania               Spain  20066.0    Remitly Inc
16          Albania            Portugal  15137.0    Remitly Inc

[1193 rows x 4 columns]
Filtered top rows for Remitly Inc:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0    Remitly Inc
4846  United States of America               Ghana  854031550.0    Remitly Inc
4847  United States of America             Liberia  423311206.0    Remitly Inc
4848  United States of America            Viet Nam  299709130.0    Remitly Inc
4849  United States of America               India  237645288.0    Remitly Inc
4850  United States of America            Tanzania  224628683.0    Remitly Inc
4851  United States of America          Bangladesh  207173742.0    Remitly Inc
4852  United States of America               Kenya  193169745.0    Remitly Inc
4853  United States of America            Cameroon  162051487.0    Remitly Inc
4854  United States of America              Uganda  160458035.0    Remitly Inc
4145                     Spain             Senegal  104224232.0    Remitly Inc
4146                     Spain          Bangladesh   42522037.0    Remitly Inc
4147                     Spain                Mali   30074554.0    Remitly Inc
4149                     Spain             Belgium   22745695.0    Remitly Inc
4150                     Spain               Ghana   19183911.0    Remitly Inc
4151                     Spain           Lithuania   16068919.0    Remitly Inc
4152                     Spain            Portugal   10602312.0    Remitly Inc
4153                     Spain      United Kingdom    8372586.0    Remitly Inc
4154                     Spain               Italy    8180951.0    Remitly Inc
4155                     Spain               India    7944101.0    Remitly Inc
Updated Merged Results with Regional Director and Partner Gsv for Remitly Inc:
    source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0     Remitly Inc                     Spain          Bangladesh   42522037.0        <NA>          NEW            Philip
1     Remitly Inc                     Spain             Belgium   22745695.0        <NA>          NEW            Philip
2     Remitly Inc                     Spain               Ghana   19183911.0        <NA>          NEW            Philip
3     Remitly Inc                     Spain               India    7944101.0        <NA>          NEW            Philip
4     Remitly Inc                     Spain               Italy    8180951.0        <NA>          NEW            Philip
5     Remitly Inc                     Spain           Lithuania   16068919.0        <NA>          NEW            Philip
6     Remitly Inc                     Spain                Mali   30074554.0        <NA>          NEW            Philip
7     Remitly Inc                     Spain            Portugal   10602312.0        <NA>          NEW            Philip
8     Remitly Inc                     Spain             Senegal  104224232.0        <NA>          NEW            Philip
9     Remitly Inc                     Spain      United Kingdom    8372586.0        <NA>          NEW            Philip
10    Remitly Inc  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
11    Remitly Inc  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
12    Remitly Inc  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
13    Remitly Inc  United States of America               India  237645288.0        <NA>          NEW            Philip
14    Remitly Inc  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
15    Remitly Inc  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
16    Remitly Inc  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
17    Remitly Inc  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
18    Remitly Inc  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
19    Remitly Inc  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for Remitly inc - Deal Based...
Top rows for Remitly inc - Deal Based:
      source_country destination_country      gsv            source_partner
0     Åland Islands            Viet Nam  85001.0  Remitly inc - Deal Based
1     Åland Islands               Kenya  15868.0  Remitly inc - Deal Based
5091       Zimbabwe               India  22701.0  Remitly inc - Deal Based
5092       Zimbabwe        South Africa  17959.0  Remitly inc - Deal Based
5093       Zimbabwe         Netherlands  13910.0  Remitly inc - Deal Based
...             ...                 ...      ...                       ...
12          Albania            Viet Nam  40428.0  Remitly inc - Deal Based
13          Albania               Kenya  24127.0  Remitly inc - Deal Based
14          Albania              France  22272.0  Remitly inc - Deal Based
15          Albania               Spain  20066.0  Remitly inc - Deal Based
16          Albania            Portugal  15137.0  Remitly inc - Deal Based

[1193 rows x 4 columns]
Filtered top rows for Remitly inc - Deal Based:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Remitly inc - Deal Based:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for REMITTANCES HUB ENTERPRISES CANADA LTD....
Top rows for REMITTANCES HUB ENTERPRISES CANADA LTD.:
      source_country destination_country      gsv                           source_partner
0     Åland Islands            Viet Nam  85001.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
1     Åland Islands               Kenya  15868.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
5091       Zimbabwe               India  22701.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
5092       Zimbabwe        South Africa  17959.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
5093       Zimbabwe         Netherlands  13910.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
...             ...                 ...      ...                                      ...
12          Albania            Viet Nam  40428.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
13          Albania               Kenya  24127.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
14          Albania              France  22272.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
15          Albania               Spain  20066.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
16          Albania            Portugal  15137.0  REMITTANCES HUB ENTERPRISES CANADA LTD.

[1193 rows x 4 columns]
Filtered top rows for REMITTANCES HUB ENTERPRISES CANADA LTD.:
     source_country destination_country          gsv                           source_partner
748         Canada               India  211296069.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
749         Canada         Philippines   57990615.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
750         Canada               Ghana   57154456.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
751         Canada            Viet Nam   37930649.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
752         Canada               Kenya   29951383.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
753         Canada              Uganda   27682200.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
754         Canada               Benin   22477592.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
755         Canada          Bangladesh   19317938.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
756         Canada            Cameroon   18872246.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
757         Canada            Tanzania   18091580.0  REMITTANCES HUB ENTERPRISES CANADA LTD.
Updated Merged Results with Regional Director and Partner Gsv for REMITTANCES HUB ENTERPRISES CANADA LTD.:
                             source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada          Bangladesh   19317938.0      2245.0     EXISTING            Bassem
1  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada               Benin   22477592.0        17.0     EXISTING            Bassem
2  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada            Cameroon   18872246.0         2.0     EXISTING            Bassem
3  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada               Ghana   57154456.0         2.0     EXISTING            Bassem
4  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada               India  211296069.0     12956.0     EXISTING            Bassem
5  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada               Kenya   29951383.0        <NA>          NEW            Bassem
6  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada         Philippines   57990615.0         4.0     EXISTING            Bassem
7  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada            Tanzania   18091580.0         3.0     EXISTING            Bassem
8  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada              Uganda   27682200.0        <NA>          NEW            Bassem
9  REMITTANCES HUB ENTERPRISES CANADA LTD.         Canada            Viet Nam   37930649.0        <NA>          NEW            Bassem

Processing for RIA...
Top rows for RIA:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            RIA
1     Åland Islands               Kenya  15868.0            RIA
5091       Zimbabwe               India  22701.0            RIA
5092       Zimbabwe        South Africa  17959.0            RIA
5093       Zimbabwe         Netherlands  13910.0            RIA
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            RIA
13          Albania               Kenya  24127.0            RIA
14          Albania              France  22272.0            RIA
15          Albania               Spain  20066.0            RIA
16          Albania            Portugal  15137.0            RIA

[1193 rows x 4 columns]
Filtered top rows for RIA:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0            RIA
4846  United States of America               Ghana  854031550.0            RIA
4847  United States of America             Liberia  423311206.0            RIA
4848  United States of America            Viet Nam  299709130.0            RIA
4849  United States of America               India  237645288.0            RIA
...                        ...                 ...          ...            ...
96                   Argentina            Portugal     546387.0            RIA
97                   Argentina             Belgium     445365.0            RIA
98                   Argentina           Lithuania     229483.0            RIA
99                   Argentina         Netherlands     146402.0            RIA
100                  Argentina             Austria      59770.0            RIA

[357 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for RIA:
     source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0              RIA                 Argentina             Austria      59770.0        <NA>          NEW            Viktor
1              RIA                 Argentina             Belgium     445365.0        <NA>          NEW            Viktor
2              RIA                 Argentina              France     608327.0        <NA>          NEW            Viktor
3              RIA                 Argentina             Germany    1158204.0        <NA>          NEW            Viktor
4              RIA                 Argentina               Italy    3264381.0        <NA>          NEW            Viktor
..             ...                       ...                 ...          ...         ...          ...               ...
352            RIA  United States of America             Liberia  423311206.0        <NA>          NEW            Viktor
353            RIA  United States of America         Philippines  855243500.0   9095798.0     EXISTING            Viktor
354            RIA  United States of America            Tanzania  224628683.0        <NA>          NEW            Viktor
355            RIA  United States of America              Uganda  160458035.0        <NA>          NEW            Viktor
356            RIA  United States of America            Viet Nam  299709130.0        <NA>          NEW            Viktor

[357 rows x 7 columns]

Processing for Rightqode INC...
Top rows for Rightqode INC:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0  Rightqode INC
1     Åland Islands               Kenya  15868.0  Rightqode INC
5091       Zimbabwe               India  22701.0  Rightqode INC
5092       Zimbabwe        South Africa  17959.0  Rightqode INC
5093       Zimbabwe         Netherlands  13910.0  Rightqode INC
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0  Rightqode INC
13          Albania               Kenya  24127.0  Rightqode INC
14          Albania              France  22272.0  Rightqode INC
15          Albania               Spain  20066.0  Rightqode INC
16          Albania            Portugal  15137.0  Rightqode INC

[1193 rows x 4 columns]
Filtered top rows for Rightqode INC:
     source_country destination_country          gsv source_partner
748         Canada               India  211296069.0  Rightqode INC
749         Canada         Philippines   57990615.0  Rightqode INC
750         Canada               Ghana   57154456.0  Rightqode INC
751         Canada            Viet Nam   37930649.0  Rightqode INC
752         Canada               Kenya   29951383.0  Rightqode INC
753         Canada              Uganda   27682200.0  Rightqode INC
754         Canada               Benin   22477592.0  Rightqode INC
755         Canada          Bangladesh   19317938.0  Rightqode INC
756         Canada            Cameroon   18872246.0  Rightqode INC
757         Canada            Tanzania   18091580.0  Rightqode INC
Updated Merged Results with Regional Director and Partner Gsv for Rightqode INC:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Rightqode INC         Canada          Bangladesh   19317938.0        15.0     EXISTING            Philip
1  Rightqode INC         Canada               Benin   22477592.0        <NA>          NEW            Philip
2  Rightqode INC         Canada            Cameroon   18872246.0        <NA>          NEW            Philip
3  Rightqode INC         Canada               Ghana   57154456.0        <NA>          NEW            Philip
4  Rightqode INC         Canada               India  211296069.0         1.0     EXISTING            Philip
5  Rightqode INC         Canada               Kenya   29951383.0       161.0     EXISTING            Philip
6  Rightqode INC         Canada         Philippines   57990615.0         5.0     EXISTING            Philip
7  Rightqode INC         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8  Rightqode INC         Canada              Uganda   27682200.0     78028.0     EXISTING            Philip
9  Rightqode INC         Canada            Viet Nam   37930649.0         1.0     EXISTING            Philip

Processing for RocketRemit...
Top rows for RocketRemit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    RocketRemit
1     Åland Islands               Kenya  15868.0    RocketRemit
5091       Zimbabwe               India  22701.0    RocketRemit
5092       Zimbabwe        South Africa  17959.0    RocketRemit
5093       Zimbabwe         Netherlands  13910.0    RocketRemit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    RocketRemit
13          Albania               Kenya  24127.0    RocketRemit
14          Albania              France  22272.0    RocketRemit
15          Albania               Spain  20066.0    RocketRemit
16          Albania            Portugal  15137.0    RocketRemit

[1193 rows x 4 columns]
Filtered top rows for RocketRemit:
     source_country destination_country           gsv source_partner
138      Australia               India  1271119070.0    RocketRemit
139      Australia               Kenya   100661663.0    RocketRemit
140      Australia            Viet Nam    86869347.0    RocketRemit
141      Australia         Philippines    51386339.0    RocketRemit
142      Australia      United Kingdom    46499428.0    RocketRemit
143      Australia            Malaysia    45569162.0    RocketRemit
144      Australia          Bangladesh    40785924.0    RocketRemit
145      Australia               Ghana    14536937.0    RocketRemit
146      Australia              Uganda    10896328.0    RocketRemit
147      Australia             Germany     9418964.0    RocketRemit
Updated Merged Results with Regional Director and Partner Gsv for RocketRemit:
   source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0    RocketRemit      Australia          Bangladesh    40785924.0    185468.0     EXISTING            Sukesh
1    RocketRemit      Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2    RocketRemit      Australia               Ghana    14536937.0    687964.0     EXISTING            Sukesh
3    RocketRemit      Australia               India  1271119070.0    239011.0     EXISTING            Sukesh
4    RocketRemit      Australia               Kenya   100661663.0    176644.0     EXISTING            Sukesh
5    RocketRemit      Australia            Malaysia    45569162.0        <NA>          NEW            Sukesh
6    RocketRemit      Australia         Philippines    51386339.0   5867444.0     EXISTING            Sukesh
7    RocketRemit      Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8    RocketRemit      Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9    RocketRemit      Australia            Viet Nam    86869347.0        <NA>          NEW            Sukesh

Processing for Roxe...
Top rows for Roxe:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0           Roxe
1     Åland Islands               Kenya  15868.0           Roxe
5091       Zimbabwe               India  22701.0           Roxe
5092       Zimbabwe        South Africa  17959.0           Roxe
5093       Zimbabwe         Netherlands  13910.0           Roxe
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0           Roxe
13          Albania               Kenya  24127.0           Roxe
14          Albania              France  22272.0           Roxe
15          Albania               Spain  20066.0           Roxe
16          Albania            Portugal  15137.0           Roxe

[1193 rows x 4 columns]
Filtered top rows for Roxe:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0           Roxe
4846  United States of America               Ghana  854031550.0           Roxe
4847  United States of America             Liberia  423311206.0           Roxe
4848  United States of America            Viet Nam  299709130.0           Roxe
4849  United States of America               India  237645288.0           Roxe
4850  United States of America            Tanzania  224628683.0           Roxe
4851  United States of America          Bangladesh  207173742.0           Roxe
4852  United States of America               Kenya  193169745.0           Roxe
4853  United States of America            Cameroon  162051487.0           Roxe
4854  United States of America              Uganda  160458035.0           Roxe

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Roxe:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0           Roxe  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1           Roxe  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2           Roxe  United States of America               Ghana  854031550.0         1.0     EXISTING            Philip
3           Roxe  United States of America               India  237645288.0    121974.0     EXISTING            Philip
4           Roxe  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5           Roxe  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6           Roxe  United States of America         Philippines  855243500.0         2.0     EXISTING            Philip
7           Roxe  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8           Roxe  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9           Roxe  United States of America            Viet Nam  299709130.0      1736.0     EXISTING            Philip

Processing for Safaricom...
Top rows for Safaricom:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Safaricom
1     Åland Islands               Kenya  15868.0      Safaricom
5091       Zimbabwe               India  22701.0      Safaricom
5092       Zimbabwe        South Africa  17959.0      Safaricom
5093       Zimbabwe         Netherlands  13910.0      Safaricom
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Safaricom
13          Albania               Kenya  24127.0      Safaricom
14          Albania              France  22272.0      Safaricom
15          Albania               Spain  20066.0      Safaricom
16          Albania            Portugal  15137.0      Safaricom

[1193 rows x 4 columns]
Filtered top rows for Safaricom:
      source_country destination_country         gsv source_partner
2279          Kenya              Uganda  82132823.0      Safaricom
2281          Kenya               India  27920861.0      Safaricom
2282          Kenya            Tanzania   8763261.0      Safaricom
2283          Kenya               Ghana   8032865.0      Safaricom
2284          Kenya              Rwanda   3729508.0      Safaricom
2285          Kenya               China   1299996.0      Safaricom
2286          Kenya            Pakistan    646102.0      Safaricom
2287          Kenya            Cameroon    338074.0      Safaricom
2288          Kenya          Madagascar    308498.0      Safaricom
2289          Kenya             Nigeria    264875.0      Safaricom
Updated Merged Results with Regional Director and Partner Gsv for Safaricom:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0      Safaricom          Kenya            Cameroon    338074.0        <NA>          NEW            Willie
1      Safaricom          Kenya               China   1299996.0        <NA>          NEW            Willie
2      Safaricom          Kenya               Ghana   8032865.0        <NA>          NEW            Willie
3      Safaricom          Kenya               India  27920861.0        <NA>          NEW            Willie
4      Safaricom          Kenya          Madagascar    308498.0        <NA>          NEW            Willie
5      Safaricom          Kenya             Nigeria    264875.0        <NA>          NEW            Willie
6      Safaricom          Kenya            Pakistan    646102.0     12634.0     EXISTING            Willie
7      Safaricom          Kenya              Rwanda   3729508.0        <NA>          NEW            Willie
8      Safaricom          Kenya            Tanzania   8763261.0        <NA>          NEW            Willie
9      Safaricom          Kenya              Uganda  82132823.0        <NA>          NEW            Willie

Processing for SafariRemit...
Top rows for SafariRemit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    SafariRemit
1     Åland Islands               Kenya  15868.0    SafariRemit
5091       Zimbabwe               India  22701.0    SafariRemit
5092       Zimbabwe        South Africa  17959.0    SafariRemit
5093       Zimbabwe         Netherlands  13910.0    SafariRemit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    SafariRemit
13          Albania               Kenya  24127.0    SafariRemit
14          Albania              France  22272.0    SafariRemit
15          Albania               Spain  20066.0    SafariRemit
16          Albania            Portugal  15137.0    SafariRemit

[1193 rows x 4 columns]
Filtered top rows for SafariRemit:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0    SafariRemit
4725  United Kingdom               Kenya  372996239.0    SafariRemit
4726  United Kingdom          Bangladesh  222801157.0    SafariRemit
4727  United Kingdom               Ghana  184628486.0    SafariRemit
4729  United Kingdom              Uganda  151640757.0    SafariRemit
4730  United Kingdom            Viet Nam  130053730.0    SafariRemit
4731  United Kingdom         Philippines   57615497.0    SafariRemit
4732  United Kingdom            Tanzania   52293484.0    SafariRemit
4733  United Kingdom               Spain   36806984.0    SafariRemit
4734  United Kingdom            Pakistan   34877833.0    SafariRemit
Updated Merged Results with Regional Director and Partner Gsv for SafariRemit:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    SafariRemit  United Kingdom          Bangladesh  222801157.0         2.0     EXISTING            Viktor
1    SafariRemit  United Kingdom               Ghana  184628486.0     13363.0     EXISTING            Viktor
2    SafariRemit  United Kingdom               India  722564261.0         2.0     EXISTING            Viktor
3    SafariRemit  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4    SafariRemit  United Kingdom            Pakistan   34877833.0         6.0     EXISTING            Viktor
5    SafariRemit  United Kingdom         Philippines   57615497.0         5.0     EXISTING            Viktor
6    SafariRemit  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7    SafariRemit  United Kingdom            Tanzania   52293484.0       431.0     EXISTING            Viktor
8    SafariRemit  United Kingdom              Uganda  151640757.0     19890.0     EXISTING            Viktor
9    SafariRemit  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for SAVE MONEY TRANSFER INC...
Top rows for SAVE MONEY TRANSFER INC:
      source_country destination_country      gsv           source_partner
0     Åland Islands            Viet Nam  85001.0  SAVE MONEY TRANSFER INC
1     Åland Islands               Kenya  15868.0  SAVE MONEY TRANSFER INC
5091       Zimbabwe               India  22701.0  SAVE MONEY TRANSFER INC
5092       Zimbabwe        South Africa  17959.0  SAVE MONEY TRANSFER INC
5093       Zimbabwe         Netherlands  13910.0  SAVE MONEY TRANSFER INC
...             ...                 ...      ...                      ...
12          Albania            Viet Nam  40428.0  SAVE MONEY TRANSFER INC
13          Albania               Kenya  24127.0  SAVE MONEY TRANSFER INC
14          Albania              France  22272.0  SAVE MONEY TRANSFER INC
15          Albania               Spain  20066.0  SAVE MONEY TRANSFER INC
16          Albania            Portugal  15137.0  SAVE MONEY TRANSFER INC

[1193 rows x 4 columns]
Filtered top rows for SAVE MONEY TRANSFER INC:
     source_country destination_country          gsv           source_partner
748         Canada               India  211296069.0  SAVE MONEY TRANSFER INC
749         Canada         Philippines   57990615.0  SAVE MONEY TRANSFER INC
750         Canada               Ghana   57154456.0  SAVE MONEY TRANSFER INC
751         Canada            Viet Nam   37930649.0  SAVE MONEY TRANSFER INC
752         Canada               Kenya   29951383.0  SAVE MONEY TRANSFER INC
753         Canada              Uganda   27682200.0  SAVE MONEY TRANSFER INC
754         Canada               Benin   22477592.0  SAVE MONEY TRANSFER INC
755         Canada          Bangladesh   19317938.0  SAVE MONEY TRANSFER INC
756         Canada            Cameroon   18872246.0  SAVE MONEY TRANSFER INC
757         Canada            Tanzania   18091580.0  SAVE MONEY TRANSFER INC

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for SAVE MONEY TRANSFER INC:
             source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  SAVE MONEY TRANSFER INC         Canada          Bangladesh   19317938.0        <NA>          NEW            Philip
1  SAVE MONEY TRANSFER INC         Canada               Benin   22477592.0      1697.0     EXISTING            Philip
2  SAVE MONEY TRANSFER INC         Canada            Cameroon   18872246.0      7296.0     EXISTING            Philip
3  SAVE MONEY TRANSFER INC         Canada               Ghana   57154456.0        33.0     EXISTING            Philip
4  SAVE MONEY TRANSFER INC         Canada               India  211296069.0        <NA>          NEW            Philip
5  SAVE MONEY TRANSFER INC         Canada               Kenya   29951383.0        <NA>          NEW            Philip
6  SAVE MONEY TRANSFER INC         Canada         Philippines   57990615.0        <NA>          NEW            Philip
7  SAVE MONEY TRANSFER INC         Canada            Tanzania   18091580.0        <NA>          NEW            Philip
8  SAVE MONEY TRANSFER INC         Canada              Uganda   27682200.0         1.0     EXISTING            Philip
9  SAVE MONEY TRANSFER INC         Canada            Viet Nam   37930649.0        <NA>          NEW            Philip

Processing for SBI Cosmoney Co. Ltd....
Top rows for SBI Cosmoney Co. Ltd.:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  SBI Cosmoney Co. Ltd.
1     Åland Islands               Kenya  15868.0  SBI Cosmoney Co. Ltd.
5091       Zimbabwe               India  22701.0  SBI Cosmoney Co. Ltd.
5092       Zimbabwe        South Africa  17959.0  SBI Cosmoney Co. Ltd.
5093       Zimbabwe         Netherlands  13910.0  SBI Cosmoney Co. Ltd.
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  SBI Cosmoney Co. Ltd.
13          Albania               Kenya  24127.0  SBI Cosmoney Co. Ltd.
14          Albania              France  22272.0  SBI Cosmoney Co. Ltd.
15          Albania               Spain  20066.0  SBI Cosmoney Co. Ltd.
16          Albania            Portugal  15137.0  SBI Cosmoney Co. Ltd.

[1193 rows x 4 columns]
Filtered top rows for SBI Cosmoney Co. Ltd.:
           source_country destination_country           gsv         source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0  SBI Cosmoney Co. Ltd.
2336  Korea, Republic of            Thailand   288926158.0  SBI Cosmoney Co. Ltd.
2337  Korea, Republic of               India   177194543.0  SBI Cosmoney Co. Ltd.
2338  Korea, Republic of          Bangladesh   140079656.0  SBI Cosmoney Co. Ltd.
2339  Korea, Republic of         Philippines    67784948.0  SBI Cosmoney Co. Ltd.
2340  Korea, Republic of            Malaysia    24960937.0  SBI Cosmoney Co. Ltd.
2341  Korea, Republic of           Indonesia    23490272.0  SBI Cosmoney Co. Ltd.
2342  Korea, Republic of               Nepal    16072605.0  SBI Cosmoney Co. Ltd.
2343  Korea, Republic of              Uganda    13095239.0  SBI Cosmoney Co. Ltd.
2344  Korea, Republic of               China    11886460.0  SBI Cosmoney Co. Ltd.
Updated Merged Results with Regional Director and Partner Gsv for SBI Cosmoney Co. Ltd.:
           source_partner      source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0  SBI Cosmoney Co. Ltd.  Korea, Republic of          Bangladesh   140079656.0         <NA>          NEW            Sukesh
1  SBI Cosmoney Co. Ltd.  Korea, Republic of               China    11886460.0         <NA>          NEW            Sukesh
2  SBI Cosmoney Co. Ltd.  Korea, Republic of               India   177194543.0         <NA>          NEW            Sukesh
3  SBI Cosmoney Co. Ltd.  Korea, Republic of           Indonesia    23490272.0         <NA>          NEW            Sukesh
4  SBI Cosmoney Co. Ltd.  Korea, Republic of            Malaysia    24960937.0         <NA>          NEW            Sukesh
5  SBI Cosmoney Co. Ltd.  Korea, Republic of               Nepal    16072605.0    9872521.0     EXISTING            Sukesh
6  SBI Cosmoney Co. Ltd.  Korea, Republic of         Philippines    67784948.0    8324880.0     EXISTING            Sukesh
7  SBI Cosmoney Co. Ltd.  Korea, Republic of            Thailand   288926158.0         <NA>          NEW            Sukesh
8  SBI Cosmoney Co. Ltd.  Korea, Republic of              Uganda    13095239.0         <NA>          NEW            Sukesh
9  SBI Cosmoney Co. Ltd.  Korea, Republic of            Viet Nam  1273265577.0  192834478.0     EXISTING            Sukesh

Processing for Sefremit Pty Ltd...
Top rows for Sefremit Pty Ltd:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Sefremit Pty Ltd
1     Åland Islands               Kenya  15868.0  Sefremit Pty Ltd
5091       Zimbabwe               India  22701.0  Sefremit Pty Ltd
5092       Zimbabwe        South Africa  17959.0  Sefremit Pty Ltd
5093       Zimbabwe         Netherlands  13910.0  Sefremit Pty Ltd
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Sefremit Pty Ltd
13          Albania               Kenya  24127.0  Sefremit Pty Ltd
14          Albania              France  22272.0  Sefremit Pty Ltd
15          Albania               Spain  20066.0  Sefremit Pty Ltd
16          Albania            Portugal  15137.0  Sefremit Pty Ltd

[1193 rows x 4 columns]
Filtered top rows for Sefremit Pty Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Sefremit Pty Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Seif Money...
Top rows for Seif Money:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Seif Money
1     Åland Islands               Kenya  15868.0     Seif Money
5091       Zimbabwe               India  22701.0     Seif Money
5092       Zimbabwe        South Africa  17959.0     Seif Money
5093       Zimbabwe         Netherlands  13910.0     Seif Money
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Seif Money
13          Albania               Kenya  24127.0     Seif Money
14          Albania              France  22272.0     Seif Money
15          Albania               Spain  20066.0     Seif Money
16          Albania            Portugal  15137.0     Seif Money

[1193 rows x 4 columns]
Filtered top rows for Seif Money:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Seif Money:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Sender Odeme Hizmetleri AS...
Top rows for Sender Odeme Hizmetleri AS:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Sender Odeme Hizmetleri AS
1     Åland Islands               Kenya  15868.0  Sender Odeme Hizmetleri AS
5091       Zimbabwe               India  22701.0  Sender Odeme Hizmetleri AS
5092       Zimbabwe        South Africa  17959.0  Sender Odeme Hizmetleri AS
5093       Zimbabwe         Netherlands  13910.0  Sender Odeme Hizmetleri AS
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Sender Odeme Hizmetleri AS
13          Albania               Kenya  24127.0  Sender Odeme Hizmetleri AS
14          Albania              France  22272.0  Sender Odeme Hizmetleri AS
15          Albania               Spain  20066.0  Sender Odeme Hizmetleri AS
16          Albania            Portugal  15137.0  Sender Odeme Hizmetleri AS

[1193 rows x 4 columns]
Filtered top rows for Sender Odeme Hizmetleri AS:
      source_country destination_country         gsv              source_partner
4486         Turkey         Philippines  12817398.0  Sender Odeme Hizmetleri AS
4487         Turkey             Germany   9571438.0  Sender Odeme Hizmetleri AS
4488         Turkey      United Kingdom   4450829.0  Sender Odeme Hizmetleri AS
4489         Turkey         Netherlands   2974129.0  Sender Odeme Hizmetleri AS
4490         Turkey           Lithuania   2004598.0  Sender Odeme Hizmetleri AS
4491         Turkey              Uganda   1854568.0  Sender Odeme Hizmetleri AS
4492         Turkey              France   1775130.0  Sender Odeme Hizmetleri AS
4493         Turkey             Belgium   1671173.0  Sender Odeme Hizmetleri AS
4494         Turkey               Spain   1562720.0  Sender Odeme Hizmetleri AS
4495         Turkey             Austria   1433311.0  Sender Odeme Hizmetleri AS

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Sender Odeme Hizmetleri AS:
                source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  Sender Odeme Hizmetleri AS         Turkey             Austria   1433311.0        <NA>          NEW            Viktor
1  Sender Odeme Hizmetleri AS         Turkey             Belgium   1671173.0        <NA>          NEW            Viktor
2  Sender Odeme Hizmetleri AS         Turkey              France   1775130.0      1100.0     EXISTING            Viktor
3  Sender Odeme Hizmetleri AS         Turkey             Germany   9571438.0        <NA>          NEW            Viktor
4  Sender Odeme Hizmetleri AS         Turkey           Lithuania   2004598.0        <NA>          NEW            Viktor
5  Sender Odeme Hizmetleri AS         Turkey         Netherlands   2974129.0        <NA>          NEW            Viktor
6  Sender Odeme Hizmetleri AS         Turkey         Philippines  12817398.0    393098.0     EXISTING            Viktor
7  Sender Odeme Hizmetleri AS         Turkey               Spain   1562720.0        <NA>          NEW            Viktor
8  Sender Odeme Hizmetleri AS         Turkey              Uganda   1854568.0        <NA>          NEW            Viktor
9  Sender Odeme Hizmetleri AS         Turkey      United Kingdom   4450829.0        <NA>          NEW            Viktor

Processing for SendMN...
Top rows for SendMN:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         SendMN
1     Åland Islands               Kenya  15868.0         SendMN
5091       Zimbabwe               India  22701.0         SendMN
5092       Zimbabwe        South Africa  17959.0         SendMN
5093       Zimbabwe         Netherlands  13910.0         SendMN
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         SendMN
13          Albania               Kenya  24127.0         SendMN
14          Albania              France  22272.0         SendMN
15          Albania               Spain  20066.0         SendMN
16          Albania            Portugal  15137.0         SendMN

[1193 rows x 4 columns]
Filtered top rows for SendMN:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for SendMN:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Send Money India...
Top rows for Send Money India:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  Send Money India
1     Åland Islands               Kenya  15868.0  Send Money India
5091       Zimbabwe               India  22701.0  Send Money India
5092       Zimbabwe        South Africa  17959.0  Send Money India
5093       Zimbabwe         Netherlands  13910.0  Send Money India
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  Send Money India
13          Albania               Kenya  24127.0  Send Money India
14          Albania              France  22272.0  Send Money India
15          Albania               Spain  20066.0  Send Money India
16          Albania            Portugal  15137.0  Send Money India

[1193 rows x 4 columns]
Filtered top rows for Send Money India:
       source_country destination_country          gsv    source_partner
4724  United Kingdom               India  722564261.0  Send Money India
4725  United Kingdom               Kenya  372996239.0  Send Money India
4726  United Kingdom          Bangladesh  222801157.0  Send Money India
4727  United Kingdom               Ghana  184628486.0  Send Money India
4729  United Kingdom              Uganda  151640757.0  Send Money India
4730  United Kingdom            Viet Nam  130053730.0  Send Money India
4731  United Kingdom         Philippines   57615497.0  Send Money India
4732  United Kingdom            Tanzania   52293484.0  Send Money India
4733  United Kingdom               Spain   36806984.0  Send Money India
4734  United Kingdom            Pakistan   34877833.0  Send Money India
Updated Merged Results with Regional Director and Partner Gsv for Send Money India:
      source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Send Money India  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1  Send Money India  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2  Send Money India  United Kingdom               India  722564261.0   6652666.0     EXISTING            Viktor
3  Send Money India  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4  Send Money India  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5  Send Money India  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
6  Send Money India  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7  Send Money India  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8  Send Money India  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
9  Send Money India  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for Send Wave...
Top rows for Send Wave:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Send Wave
1     Åland Islands               Kenya  15868.0      Send Wave
5091       Zimbabwe               India  22701.0      Send Wave
5092       Zimbabwe        South Africa  17959.0      Send Wave
5093       Zimbabwe         Netherlands  13910.0      Send Wave
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Send Wave
13          Albania               Kenya  24127.0      Send Wave
14          Albania              France  22272.0      Send Wave
15          Albania               Spain  20066.0      Send Wave
16          Albania            Portugal  15137.0      Send Wave

[1193 rows x 4 columns]
Filtered top rows for Send Wave:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0      Send Wave
4846  United States of America               Ghana  854031550.0      Send Wave
4847  United States of America             Liberia  423311206.0      Send Wave
4848  United States of America            Viet Nam  299709130.0      Send Wave
4849  United States of America               India  237645288.0      Send Wave
...                        ...                 ...          ...            ...
402                    Belgium            Cameroon   10109659.0      Send Wave
403                    Belgium            Viet Nam    9999327.0      Send Wave
404                    Belgium               Spain    9814611.0      Send Wave
405                    Belgium             Senegal    8884827.0      Send Wave
406                    Belgium        South Africa    6868936.0      Send Wave

[90 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Send Wave:
    source_partner            source_country destination_country          gsv  Partner_Gsv existing/new regional_director
0       Send Wave                   Belgium            Cameroon   10109659.0     782819.0     EXISTING           Praveen
1       Send Wave                   Belgium               Ghana   29171096.0      13953.0     EXISTING           Praveen
2       Send Wave                   Belgium               Kenya  161955084.0         <NA>          NEW           Praveen
3       Send Wave                   Belgium            Portugal   10621106.0         <NA>          NEW           Praveen
4       Send Wave                   Belgium             Senegal    8884827.0         <NA>          NEW           Praveen
..            ...                       ...                 ...          ...          ...          ...               ...
85      Send Wave  United States of America             Liberia  423311206.0  422521939.0     EXISTING           Praveen
86      Send Wave  United States of America         Philippines  855243500.0  652511592.0     EXISTING           Praveen
87      Send Wave  United States of America            Tanzania  224628683.0  186794246.0     EXISTING           Praveen
88      Send Wave  United States of America              Uganda  160458035.0  105107785.0     EXISTING           Praveen
89      Send Wave  United States of America            Viet Nam  299709130.0  189933958.0     EXISTING           Praveen

[90 rows x 7 columns]

Processing for SentBe...
Top rows for SentBe:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         SentBe
1     Åland Islands               Kenya  15868.0         SentBe
5091       Zimbabwe               India  22701.0         SentBe
5092       Zimbabwe        South Africa  17959.0         SentBe
5093       Zimbabwe         Netherlands  13910.0         SentBe
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         SentBe
13          Albania               Kenya  24127.0         SentBe
14          Albania              France  22272.0         SentBe
15          Albania               Spain  20066.0         SentBe
16          Albania            Portugal  15137.0         SentBe

[1193 rows x 4 columns]
Filtered top rows for SentBe:
           source_country destination_country           gsv source_partner
2335  Korea, Republic of            Viet Nam  1273265577.0         SentBe
2336  Korea, Republic of            Thailand   288926158.0         SentBe
2337  Korea, Republic of               India   177194543.0         SentBe
2338  Korea, Republic of          Bangladesh   140079656.0         SentBe
2339  Korea, Republic of         Philippines    67784948.0         SentBe
2340  Korea, Republic of            Malaysia    24960937.0         SentBe
2341  Korea, Republic of           Indonesia    23490272.0         SentBe
2342  Korea, Republic of               Nepal    16072605.0         SentBe
2343  Korea, Republic of              Uganda    13095239.0         SentBe
2344  Korea, Republic of               China    11886460.0         SentBe
Updated Merged Results with Regional Director and Partner Gsv for SentBe:
   source_partner      source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0         SentBe  Korea, Republic of          Bangladesh   140079656.0    2749366.0     EXISTING            Sukesh
1         SentBe  Korea, Republic of               China    11886460.0   11886440.0     EXISTING            Sukesh
2         SentBe  Korea, Republic of               India   177194543.0   83244409.0     EXISTING            Sukesh
3         SentBe  Korea, Republic of           Indonesia    23490272.0    4119401.0     EXISTING            Sukesh
4         SentBe  Korea, Republic of            Malaysia    24960937.0     271135.0     EXISTING            Sukesh
5         SentBe  Korea, Republic of               Nepal    16072605.0    6138200.0     EXISTING            Sukesh
6         SentBe  Korea, Republic of         Philippines    67784948.0   36952141.0     EXISTING            Sukesh
7         SentBe  Korea, Republic of            Thailand   288926158.0  159244840.0     EXISTING            Sukesh
8         SentBe  Korea, Republic of              Uganda    13095239.0         <NA>          NEW            Sukesh
9         SentBe  Korea, Republic of            Viet Nam  1273265577.0  811584935.0     EXISTING            Sukesh

Processing for Shanawani Exchange Company...
Top rows for Shanawani Exchange Company:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Shanawani Exchange Company
1     Åland Islands               Kenya  15868.0  Shanawani Exchange Company
5091       Zimbabwe               India  22701.0  Shanawani Exchange Company
5092       Zimbabwe        South Africa  17959.0  Shanawani Exchange Company
5093       Zimbabwe         Netherlands  13910.0  Shanawani Exchange Company
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Shanawani Exchange Company
13          Albania               Kenya  24127.0  Shanawani Exchange Company
14          Albania              France  22272.0  Shanawani Exchange Company
15          Albania               Spain  20066.0  Shanawani Exchange Company
16          Albania            Portugal  15137.0  Shanawani Exchange Company

[1193 rows x 4 columns]
Filtered top rows for Shanawani Exchange Company:
      source_country destination_country        gsv              source_partner
2198         Jordan          Bangladesh  7347374.0  Shanawani Exchange Company
2199         Jordan         Philippines  7252997.0  Shanawani Exchange Company
2200         Jordan      United Kingdom   310273.0  Shanawani Exchange Company
2201         Jordan              Uganda   294838.0  Shanawani Exchange Company
2202         Jordan            Malaysia   202859.0  Shanawani Exchange Company
2203         Jordan               Ghana   175038.0  Shanawani Exchange Company
2204         Jordan               Egypt   135745.0  Shanawani Exchange Company
2205         Jordan             Germany   133658.0  Shanawani Exchange Company
2206         Jordan            Thailand   132574.0  Shanawani Exchange Company
2207         Jordan               India   102340.0  Shanawani Exchange Company
Updated Merged Results with Regional Director and Partner Gsv for Shanawani Exchange Company:
                source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Shanawani Exchange Company         Jordan          Bangladesh  7347374.0        <NA>          NEW            Bassem
1  Shanawani Exchange Company         Jordan               Egypt   135745.0        <NA>          NEW            Bassem
2  Shanawani Exchange Company         Jordan             Germany   133658.0      2723.0     EXISTING            Bassem
3  Shanawani Exchange Company         Jordan               Ghana   175038.0        <NA>          NEW            Bassem
4  Shanawani Exchange Company         Jordan               India   102340.0        <NA>          NEW            Bassem
5  Shanawani Exchange Company         Jordan            Malaysia   202859.0        <NA>          NEW            Bassem
6  Shanawani Exchange Company         Jordan         Philippines  7252997.0        <NA>          NEW            Bassem
7  Shanawani Exchange Company         Jordan            Thailand   132574.0        <NA>          NEW            Bassem
8  Shanawani Exchange Company         Jordan              Uganda   294838.0        <NA>          NEW            Bassem
9  Shanawani Exchange Company         Jordan      United Kingdom   310273.0     61395.0     EXISTING            Bassem

Processing for SHIFT...
Top rows for SHIFT:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          SHIFT
1     Åland Islands               Kenya  15868.0          SHIFT
5091       Zimbabwe               India  22701.0          SHIFT
5092       Zimbabwe        South Africa  17959.0          SHIFT
5093       Zimbabwe         Netherlands  13910.0          SHIFT
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          SHIFT
13          Albania               Kenya  24127.0          SHIFT
14          Albania              France  22272.0          SHIFT
15          Albania               Spain  20066.0          SHIFT
16          Albania            Portugal  15137.0          SHIFT

[1193 rows x 4 columns]
Filtered top rows for SHIFT:
                 source_country destination_country           gsv source_partner
4845  United States of America         Philippines   855243500.0          SHIFT
4846  United States of America               Ghana   854031550.0          SHIFT
4847  United States of America             Liberia   423311206.0          SHIFT
4848  United States of America            Viet Nam   299709130.0          SHIFT
4849  United States of America               India   237645288.0          SHIFT
4850  United States of America            Tanzania   224628683.0          SHIFT
4851  United States of America          Bangladesh   207173742.0          SHIFT
4852  United States of America               Kenya   193169745.0          SHIFT
4853  United States of America            Cameroon   162051487.0          SHIFT
4854  United States of America              Uganda   160458035.0          SHIFT
3570                     Qatar               India  1364429345.0          SHIFT
3571                     Qatar               Kenya   199406963.0          SHIFT
3572                     Qatar          Bangladesh   191208238.0          SHIFT
3573                     Qatar              Uganda   100836860.0          SHIFT
3574                     Qatar            Malaysia    80500570.0          SHIFT
3575                     Qatar               Ghana    74195942.0          SHIFT
3576                     Qatar         Philippines    45528278.0          SHIFT
3577                     Qatar            Thailand    17414674.0          SHIFT
3578                     Qatar             Nigeria     8543471.0          SHIFT
3579                     Qatar               Nepal     7123914.0          SHIFT
2528                   Lebanon               Kenya    15300663.0          SHIFT
2529                   Lebanon         Philippines     9217523.0          SHIFT
2530                   Lebanon              France     4946048.0          SHIFT
2531                   Lebanon      United Kingdom      881680.0          SHIFT
2532                   Lebanon               Spain      707234.0          SHIFT
2533                   Lebanon             Germany      397753.0          SHIFT
2534                   Lebanon             Belgium      384934.0          SHIFT
2535                   Lebanon            Cameroon      291827.0          SHIFT
2536                   Lebanon               Ghana      261974.0          SHIFT
2537                   Lebanon           Lithuania      194737.0          SHIFT
2422                    Kuwait          Bangladesh    60585189.0          SHIFT
2423                    Kuwait               Ghana    37199718.0          SHIFT
2424                    Kuwait         Philippines    37163503.0          SHIFT
2425                    Kuwait               Benin    34784875.0          SHIFT
2426                    Kuwait               Kenya    25964237.0          SHIFT
2427                    Kuwait               India    21755223.0          SHIFT
2428                    Kuwait              Uganda    12470721.0          SHIFT
2429                    Kuwait            Thailand     6586277.0          SHIFT
2430                    Kuwait            Pakistan     5999904.0          SHIFT
2431                    Kuwait                Mali     5920978.0          SHIFT
296                    Bahrain          Bangladesh   205631976.0          SHIFT
297                    Bahrain            Thailand    67533964.0          SHIFT
298                    Bahrain               India    30113015.0          SHIFT
299                    Bahrain               Kenya    28674621.0          SHIFT
300                    Bahrain              Uganda    26873683.0          SHIFT
301                    Bahrain               Ghana    15374036.0          SHIFT
302                    Bahrain         Philippines     8465479.0          SHIFT
303                    Bahrain            Cameroon     4956559.0          SHIFT
304                    Bahrain            Pakistan     3662759.0          SHIFT
305                    Bahrain            Malaysia     2304540.0          SHIFT

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for SHIFT:
    source_partner            source_country destination_country           gsv Partner_Gsv existing/new regional_director
0           SHIFT                   Bahrain          Bangladesh   205631976.0     59323.0     EXISTING            Bassem
1           SHIFT                   Bahrain            Cameroon     4956559.0        <NA>          NEW            Bassem
2           SHIFT                   Bahrain               Ghana    15374036.0        <NA>          NEW            Bassem
3           SHIFT                   Bahrain               India    30113015.0        <NA>          NEW            Bassem
4           SHIFT                   Bahrain               Kenya    28674621.0     21798.0     EXISTING            Bassem
5           SHIFT                   Bahrain            Malaysia     2304540.0        <NA>          NEW            Bassem
6           SHIFT                   Bahrain            Pakistan     3662759.0        <NA>          NEW            Bassem
7           SHIFT                   Bahrain         Philippines     8465479.0        <NA>          NEW            Bassem
8           SHIFT                   Bahrain            Thailand    67533964.0        <NA>          NEW            Bassem
9           SHIFT                   Bahrain              Uganda    26873683.0        <NA>          NEW            Bassem
10          SHIFT                    Kuwait          Bangladesh    60585189.0    239732.0     EXISTING            Bassem
11          SHIFT                    Kuwait               Benin    34784875.0        <NA>          NEW            Bassem
12          SHIFT                    Kuwait               Ghana    37199718.0     24351.0     EXISTING            Bassem
13          SHIFT                    Kuwait               India    21755223.0        <NA>          NEW            Bassem
14          SHIFT                    Kuwait               Kenya    25964237.0      3252.0     EXISTING            Bassem
15          SHIFT                    Kuwait                Mali     5920978.0        <NA>          NEW            Bassem
16          SHIFT                    Kuwait            Pakistan     5999904.0        <NA>          NEW            Bassem
17          SHIFT                    Kuwait         Philippines    37163503.0       681.0     EXISTING            Bassem
18          SHIFT                    Kuwait            Thailand     6586277.0        <NA>          NEW            Bassem
19          SHIFT                    Kuwait              Uganda    12470721.0       461.0     EXISTING            Bassem
20          SHIFT                   Lebanon             Belgium      384934.0        <NA>          NEW            Bassem
21          SHIFT                   Lebanon            Cameroon      291827.0       366.0     EXISTING            Bassem
22          SHIFT                   Lebanon              France     4946048.0        <NA>          NEW            Bassem
23          SHIFT                   Lebanon             Germany      397753.0        <NA>          NEW            Bassem
24          SHIFT                   Lebanon               Ghana      261974.0       424.0     EXISTING            Bassem
25          SHIFT                   Lebanon               Kenya    15300663.0    140818.0     EXISTING            Bassem
26          SHIFT                   Lebanon           Lithuania      194737.0        <NA>          NEW            Bassem
27          SHIFT                   Lebanon         Philippines     9217523.0      8983.0     EXISTING            Bassem
28          SHIFT                   Lebanon               Spain      707234.0        <NA>          NEW            Bassem
29          SHIFT                   Lebanon      United Kingdom      881680.0      5473.0     EXISTING            Bassem
30          SHIFT                     Qatar          Bangladesh   191208238.0   3962451.0     EXISTING            Bassem
31          SHIFT                     Qatar               Ghana    74195942.0    470788.0     EXISTING            Bassem
32          SHIFT                     Qatar               India  1364429345.0        <NA>          NEW            Bassem
33          SHIFT                     Qatar               Kenya   199406963.0    557169.0     EXISTING            Bassem
34          SHIFT                     Qatar            Malaysia    80500570.0        <NA>          NEW            Bassem
35          SHIFT                     Qatar               Nepal     7123914.0        <NA>          NEW            Bassem
36          SHIFT                     Qatar             Nigeria     8543471.0        <NA>          NEW            Bassem
37          SHIFT                     Qatar         Philippines    45528278.0        <NA>          NEW            Bassem
38          SHIFT                     Qatar            Thailand    17414674.0        <NA>          NEW            Bassem
39          SHIFT                     Qatar              Uganda   100836860.0    248281.0     EXISTING            Bassem
40          SHIFT  United States of America          Bangladesh   207173742.0    313086.0     EXISTING            Bassem
41          SHIFT  United States of America            Cameroon   162051487.0        <NA>          NEW            Bassem
42          SHIFT  United States of America               Ghana   854031550.0        <NA>          NEW            Bassem
43          SHIFT  United States of America               India   237645288.0        <NA>          NEW            Bassem
44          SHIFT  United States of America               Kenya   193169745.0        <NA>          NEW            Bassem
45          SHIFT  United States of America             Liberia   423311206.0        <NA>          NEW            Bassem
46          SHIFT  United States of America         Philippines   855243500.0        <NA>          NEW            Bassem
47          SHIFT  United States of America            Tanzania   224628683.0        <NA>          NEW            Bassem
48          SHIFT  United States of America              Uganda   160458035.0        <NA>          NEW            Bassem
49          SHIFT  United States of America            Viet Nam   299709130.0        <NA>          NEW            Bassem

Processing for Sibilla Solutions Limited...
Top rows for Sibilla Solutions Limited:
      source_country destination_country      gsv             source_partner
0     Åland Islands            Viet Nam  85001.0  Sibilla Solutions Limited
1     Åland Islands               Kenya  15868.0  Sibilla Solutions Limited
5091       Zimbabwe               India  22701.0  Sibilla Solutions Limited
5092       Zimbabwe        South Africa  17959.0  Sibilla Solutions Limited
5093       Zimbabwe         Netherlands  13910.0  Sibilla Solutions Limited
...             ...                 ...      ...                        ...
12          Albania            Viet Nam  40428.0  Sibilla Solutions Limited
13          Albania               Kenya  24127.0  Sibilla Solutions Limited
14          Albania              France  22272.0  Sibilla Solutions Limited
15          Albania               Spain  20066.0  Sibilla Solutions Limited
16          Albania            Portugal  15137.0  Sibilla Solutions Limited

[1193 rows x 4 columns]
Filtered top rows for Sibilla Solutions Limited:
       source_country destination_country          gsv             source_partner
4724  United Kingdom               India  722564261.0  Sibilla Solutions Limited
4725  United Kingdom               Kenya  372996239.0  Sibilla Solutions Limited
4726  United Kingdom          Bangladesh  222801157.0  Sibilla Solutions Limited
4727  United Kingdom               Ghana  184628486.0  Sibilla Solutions Limited
4729  United Kingdom              Uganda  151640757.0  Sibilla Solutions Limited
...              ...                 ...          ...                        ...
216          Austria             Germany    1531128.0  Sibilla Solutions Limited
217          Austria             Belgium    1279334.0  Sibilla Solutions Limited
218          Austria              Uganda    1192442.0  Sibilla Solutions Limited
219          Austria           Lithuania    1188993.0  Sibilla Solutions Limited
220          Austria               Spain    1181866.0  Sibilla Solutions Limited

[230 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Sibilla Solutions Limited:
                 source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0    Sibilla Solutions Limited         Austria             Belgium    1279334.0        <NA>          NEW            Viktor
1    Sibilla Solutions Limited         Austria             Germany    1531128.0        <NA>          NEW            Viktor
2    Sibilla Solutions Limited         Austria               Ghana    1537127.0        <NA>          NEW            Viktor
3    Sibilla Solutions Limited         Austria               India    2376041.0     34379.0     EXISTING            Viktor
4    Sibilla Solutions Limited         Austria               Kenya    3481210.0        <NA>          NEW            Viktor
..                         ...             ...                 ...          ...         ...          ...               ...
225  Sibilla Solutions Limited  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
226  Sibilla Solutions Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
227  Sibilla Solutions Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
228  Sibilla Solutions Limited  United Kingdom              Uganda  151640757.0        <NA>          NEW            Viktor
229  Sibilla Solutions Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

[230 rows x 7 columns]

Processing for Sigue...
Top rows for Sigue:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          Sigue
1     Åland Islands               Kenya  15868.0          Sigue
5091       Zimbabwe               India  22701.0          Sigue
5092       Zimbabwe        South Africa  17959.0          Sigue
5093       Zimbabwe         Netherlands  13910.0          Sigue
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          Sigue
13          Albania               Kenya  24127.0          Sigue
14          Albania              France  22272.0          Sigue
15          Albania               Spain  20066.0          Sigue
16          Albania            Portugal  15137.0          Sigue

[1193 rows x 4 columns]
Filtered top rows for Sigue:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0          Sigue
4846  United States of America               Ghana  854031550.0          Sigue
4847  United States of America             Liberia  423311206.0          Sigue
4848  United States of America            Viet Nam  299709130.0          Sigue
4849  United States of America               India  237645288.0          Sigue
4850  United States of America            Tanzania  224628683.0          Sigue
4851  United States of America          Bangladesh  207173742.0          Sigue
4852  United States of America               Kenya  193169745.0          Sigue
4853  United States of America            Cameroon  162051487.0          Sigue
4854  United States of America              Uganda  160458035.0          Sigue
Updated Merged Results with Regional Director and Partner Gsv for Sigue:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0          Sigue  United States of America          Bangladesh  207173742.0         1.0     EXISTING            Philip
1          Sigue  United States of America            Cameroon  162051487.0         4.0     EXISTING            Philip
2          Sigue  United States of America               Ghana  854031550.0      1657.0     EXISTING            Philip
3          Sigue  United States of America               India  237645288.0         1.0     EXISTING            Philip
4          Sigue  United States of America               Kenya  193169745.0        33.0     EXISTING            Philip
5          Sigue  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6          Sigue  United States of America         Philippines  855243500.0     25827.0     EXISTING            Philip
7          Sigue  United States of America            Tanzania  224628683.0        21.0     EXISTING            Philip
8          Sigue  United States of America              Uganda  160458035.0         2.0     EXISTING            Philip
9          Sigue  United States of America            Viet Nam  299709130.0      1011.0     EXISTING            Philip

Processing for Silent Roar Media...
Top rows for Silent Roar Media:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Silent Roar Media
1     Åland Islands               Kenya  15868.0  Silent Roar Media
5091       Zimbabwe               India  22701.0  Silent Roar Media
5092       Zimbabwe        South Africa  17959.0  Silent Roar Media
5093       Zimbabwe         Netherlands  13910.0  Silent Roar Media
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Silent Roar Media
13          Albania               Kenya  24127.0  Silent Roar Media
14          Albania              France  22272.0  Silent Roar Media
15          Albania               Spain  20066.0  Silent Roar Media
16          Albania            Portugal  15137.0  Silent Roar Media

[1193 rows x 4 columns]
Filtered top rows for Silent Roar Media:
             source_country destination_country          gsv     source_partner
4639  United Arab Emirates               India  248146952.0  Silent Roar Media
4640  United Arab Emirates              Uganda  201261045.0  Silent Roar Media
4641  United Arab Emirates         Philippines  107484030.0  Silent Roar Media
4642  United Arab Emirates      United Kingdom   83094300.0  Silent Roar Media
4643  United Arab Emirates               Kenya   78653029.0  Silent Roar Media
4644  United Arab Emirates               Ghana   74563964.0  Silent Roar Media
4645  United Arab Emirates          Bangladesh   39836052.0  Silent Roar Media
4646  United Arab Emirates            Malaysia   28856080.0  Silent Roar Media
4647  United Arab Emirates             Germany   16482871.0  Silent Roar Media
4648  United Arab Emirates              France   15635606.0  Silent Roar Media
Updated Merged Results with Regional Director and Partner Gsv for Silent Roar Media:
       source_partner        source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Silent Roar Media  United Arab Emirates          Bangladesh   39836052.0      1800.0     EXISTING            Viktor
1  Silent Roar Media  United Arab Emirates              France   15635606.0        <NA>          NEW            Viktor
2  Silent Roar Media  United Arab Emirates             Germany   16482871.0        <NA>          NEW            Viktor
3  Silent Roar Media  United Arab Emirates               Ghana   74563964.0        <NA>          NEW            Viktor
4  Silent Roar Media  United Arab Emirates               India  248146952.0     63165.0     EXISTING            Viktor
5  Silent Roar Media  United Arab Emirates               Kenya   78653029.0        <NA>          NEW            Viktor
6  Silent Roar Media  United Arab Emirates            Malaysia   28856080.0        <NA>          NEW            Viktor
7  Silent Roar Media  United Arab Emirates         Philippines  107484030.0        <NA>          NEW            Viktor
8  Silent Roar Media  United Arab Emirates              Uganda  201261045.0        <NA>          NEW            Viktor
9  Silent Roar Media  United Arab Emirates      United Kingdom   83094300.0      1500.0     EXISTING            Viktor

Processing for SIMBA MONEY LIMITED...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for SIMBA MONEY LIMITED:
      source_country destination_country      gsv       source_partner
0     Åland Islands            Viet Nam  85001.0  SIMBA MONEY LIMITED
1     Åland Islands               Kenya  15868.0  SIMBA MONEY LIMITED
5091       Zimbabwe               India  22701.0  SIMBA MONEY LIMITED
5092       Zimbabwe        South Africa  17959.0  SIMBA MONEY LIMITED
5093       Zimbabwe         Netherlands  13910.0  SIMBA MONEY LIMITED
...             ...                 ...      ...                  ...
12          Albania            Viet Nam  40428.0  SIMBA MONEY LIMITED
13          Albania               Kenya  24127.0  SIMBA MONEY LIMITED
14          Albania              France  22272.0  SIMBA MONEY LIMITED
15          Albania               Spain  20066.0  SIMBA MONEY LIMITED
16          Albania            Portugal  15137.0  SIMBA MONEY LIMITED

[1193 rows x 4 columns]
Filtered top rows for SIMBA MONEY LIMITED:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for SIMBA MONEY LIMITED:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for SimbaPay...
Top rows for SimbaPay:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       SimbaPay
1     Åland Islands               Kenya  15868.0       SimbaPay
5091       Zimbabwe               India  22701.0       SimbaPay
5092       Zimbabwe        South Africa  17959.0       SimbaPay
5093       Zimbabwe         Netherlands  13910.0       SimbaPay
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       SimbaPay
13          Albania               Kenya  24127.0       SimbaPay
14          Albania              France  22272.0       SimbaPay
15          Albania               Spain  20066.0       SimbaPay
16          Albania            Portugal  15137.0       SimbaPay

[1193 rows x 4 columns]
Filtered top rows for SimbaPay:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0       SimbaPay
4725  United Kingdom               Kenya  372996239.0       SimbaPay
4726  United Kingdom          Bangladesh  222801157.0       SimbaPay
4727  United Kingdom               Ghana  184628486.0       SimbaPay
4729  United Kingdom              Uganda  151640757.0       SimbaPay
4730  United Kingdom            Viet Nam  130053730.0       SimbaPay
4731  United Kingdom         Philippines   57615497.0       SimbaPay
4732  United Kingdom            Tanzania   52293484.0       SimbaPay
4733  United Kingdom               Spain   36806984.0       SimbaPay
4734  United Kingdom            Pakistan   34877833.0       SimbaPay
3738          Rwanda              Uganda     126912.0       SimbaPay
3739          Rwanda               India      92441.0       SimbaPay
3740          Rwanda               Kenya      85883.0       SimbaPay
3741          Rwanda               Benin      39428.0       SimbaPay
3742          Rwanda              France      11585.0       SimbaPay
2279           Kenya              Uganda   82132823.0       SimbaPay
2281           Kenya               India   27920861.0       SimbaPay
2282           Kenya            Tanzania    8763261.0       SimbaPay
2283           Kenya               Ghana    8032865.0       SimbaPay
2284           Kenya              Rwanda    3729508.0       SimbaPay
2285           Kenya               China    1299996.0       SimbaPay
2286           Kenya            Pakistan     646102.0       SimbaPay
2287           Kenya            Cameroon     338074.0       SimbaPay
2288           Kenya          Madagascar     308498.0       SimbaPay
2289           Kenya             Nigeria     264875.0       SimbaPay
Updated Merged Results with Regional Director and Partner Gsv for SimbaPay:
    source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0        SimbaPay           Kenya            Cameroon     338074.0     96059.0     EXISTING            Willie
1        SimbaPay           Kenya               China    1299996.0        <NA>          NEW            Willie
2        SimbaPay           Kenya               Ghana    8032865.0     44702.0     EXISTING            Willie
3        SimbaPay           Kenya               India   27920861.0   2850253.0     EXISTING            Willie
4        SimbaPay           Kenya          Madagascar     308498.0        <NA>          NEW            Willie
5        SimbaPay           Kenya             Nigeria     264875.0     43533.0     EXISTING            Willie
6        SimbaPay           Kenya            Pakistan     646102.0      2285.0     EXISTING            Willie
7        SimbaPay           Kenya              Rwanda    3729508.0      1498.0     EXISTING            Willie
8        SimbaPay           Kenya            Tanzania    8763261.0     61004.0     EXISTING            Willie
9        SimbaPay           Kenya              Uganda   82132823.0     27366.0     EXISTING            Willie
10       SimbaPay          Rwanda               Benin      39428.0        <NA>          NEW            Willie
11       SimbaPay          Rwanda              France      11585.0        <NA>          NEW            Willie
12       SimbaPay          Rwanda               India      92441.0     18575.0     EXISTING            Willie
13       SimbaPay          Rwanda               Kenya      85883.0        <NA>          NEW            Willie
14       SimbaPay          Rwanda              Uganda     126912.0    119976.0     EXISTING            Willie
15       SimbaPay  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Willie
16       SimbaPay  United Kingdom               Ghana  184628486.0     10660.0     EXISTING            Willie
17       SimbaPay  United Kingdom               India  722564261.0     65227.0     EXISTING            Willie
18       SimbaPay  United Kingdom               Kenya  372996239.0    299591.0     EXISTING            Willie
19       SimbaPay  United Kingdom            Pakistan   34877833.0    300054.0     EXISTING            Willie
20       SimbaPay  United Kingdom         Philippines   57615497.0        <NA>          NEW            Willie
21       SimbaPay  United Kingdom               Spain   36806984.0        <NA>          NEW            Willie
22       SimbaPay  United Kingdom            Tanzania   52293484.0      6245.0     EXISTING            Willie
23       SimbaPay  United Kingdom              Uganda  151640757.0      2147.0     EXISTING            Willie
24       SimbaPay  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Willie

Processing for SingX.co...
Top rows for SingX.co:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       SingX.co
1     Åland Islands               Kenya  15868.0       SingX.co
5091       Zimbabwe               India  22701.0       SingX.co
5092       Zimbabwe        South Africa  17959.0       SingX.co
5093       Zimbabwe         Netherlands  13910.0       SingX.co
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       SingX.co
13          Albania               Kenya  24127.0       SingX.co
14          Albania              France  22272.0       SingX.co
15          Albania               Spain  20066.0       SingX.co
16          Albania            Portugal  15137.0       SingX.co

[1193 rows x 4 columns]
Filtered top rows for SingX.co:
      source_country destination_country         gsv source_partner
3937      Singapore            Viet Nam  93619361.0       SingX.co
3938      Singapore            Malaysia  49493089.0       SingX.co
3939      Singapore               India  47978336.0       SingX.co
3940      Singapore      United Kingdom  41572026.0       SingX.co
3941      Singapore          Bangladesh  31223283.0       SingX.co
3942      Singapore               Kenya  11958315.0       SingX.co
3943      Singapore               Ghana   7761475.0       SingX.co
3944      Singapore              Uganda   3461737.0       SingX.co
3945      Singapore         Philippines   2708549.0       SingX.co
3946      Singapore            Thailand   2214517.0       SingX.co

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for SingX.co:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0       SingX.co      Singapore          Bangladesh  31223283.0        <NA>          NEW            Sukesh
1       SingX.co      Singapore               Ghana   7761475.0        <NA>          NEW            Sukesh
2       SingX.co      Singapore               India  47978336.0        <NA>          NEW            Sukesh
3       SingX.co      Singapore               Kenya  11958315.0         0.0     EXISTING            Sukesh
4       SingX.co      Singapore            Malaysia  49493089.0        <NA>          NEW            Sukesh
5       SingX.co      Singapore         Philippines   2708549.0        <NA>          NEW            Sukesh
6       SingX.co      Singapore            Thailand   2214517.0        <NA>          NEW            Sukesh
7       SingX.co      Singapore              Uganda   3461737.0         2.0     EXISTING            Sukesh
8       SingX.co      Singapore      United Kingdom  41572026.0     37698.0     EXISTING            Sukesh
9       SingX.co      Singapore            Viet Nam  93619361.0        <NA>          NEW            Sukesh

Processing for SMALL WORLD...
Top rows for SMALL WORLD:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    SMALL WORLD
1     Åland Islands               Kenya  15868.0    SMALL WORLD
5091       Zimbabwe               India  22701.0    SMALL WORLD
5092       Zimbabwe        South Africa  17959.0    SMALL WORLD
5093       Zimbabwe         Netherlands  13910.0    SMALL WORLD
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    SMALL WORLD
13          Albania               Kenya  24127.0    SMALL WORLD
14          Albania              France  22272.0    SMALL WORLD
15          Albania               Spain  20066.0    SMALL WORLD
16          Albania            Portugal  15137.0    SMALL WORLD

[1193 rows x 4 columns]
Filtered top rows for SMALL WORLD:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0    SMALL WORLD
4846  United States of America               Ghana  854031550.0    SMALL WORLD
4847  United States of America             Liberia  423311206.0    SMALL WORLD
4848  United States of America            Viet Nam  299709130.0    SMALL WORLD
4849  United States of America               India  237645288.0    SMALL WORLD
...                        ...                 ...          ...            ...
402                    Belgium            Cameroon   10109659.0    SMALL WORLD
403                    Belgium            Viet Nam    9999327.0    SMALL WORLD
404                    Belgium               Spain    9814611.0    SMALL WORLD
405                    Belgium             Senegal    8884827.0    SMALL WORLD
406                    Belgium        South Africa    6868936.0    SMALL WORLD

[83 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for SMALL WORLD:
    source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0     SMALL WORLD                   Belgium            Cameroon   10109659.0        <NA>          NEW            Viktor
1     SMALL WORLD                   Belgium               Ghana   29171096.0        <NA>          NEW            Viktor
2     SMALL WORLD                   Belgium               Kenya  161955084.0        <NA>          NEW            Viktor
3     SMALL WORLD                   Belgium            Portugal   10621106.0        <NA>          NEW            Viktor
4     SMALL WORLD                   Belgium             Senegal    8884827.0     14568.0     EXISTING            Viktor
..            ...                       ...                 ...          ...         ...          ...               ...
78    SMALL WORLD  United States of America             Liberia  423311206.0        <NA>          NEW            Viktor
79    SMALL WORLD  United States of America         Philippines  855243500.0        <NA>          NEW            Viktor
80    SMALL WORLD  United States of America            Tanzania  224628683.0        <NA>          NEW            Viktor
81    SMALL WORLD  United States of America              Uganda  160458035.0        <NA>          NEW            Viktor
82    SMALL WORLD  United States of America            Viet Nam  299709130.0        <NA>          NEW            Viktor

[83 rows x 7 columns]

Processing for Speedy...
Top rows for Speedy:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         Speedy
1     Åland Islands               Kenya  15868.0         Speedy
5091       Zimbabwe               India  22701.0         Speedy
5092       Zimbabwe        South Africa  17959.0         Speedy
5093       Zimbabwe         Netherlands  13910.0         Speedy
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         Speedy
13          Albania               Kenya  24127.0         Speedy
14          Albania              France  22272.0         Speedy
15          Albania               Spain  20066.0         Speedy
16          Albania            Portugal  15137.0         Speedy

[1193 rows x 4 columns]
Filtered top rows for Speedy:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Speedy:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for SPOTON...
Top rows for SPOTON:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         SPOTON
1     Åland Islands               Kenya  15868.0         SPOTON
5091       Zimbabwe               India  22701.0         SPOTON
5092       Zimbabwe        South Africa  17959.0         SPOTON
5093       Zimbabwe         Netherlands  13910.0         SPOTON
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         SPOTON
13          Albania               Kenya  24127.0         SPOTON
14          Albania              France  22272.0         SPOTON
15          Albania               Spain  20066.0         SPOTON
16          Albania            Portugal  15137.0         SPOTON

[1193 rows x 4 columns]
Filtered top rows for SPOTON:
       source_country destination_country          gsv source_partner
4724  United Kingdom               India  722564261.0         SPOTON
4725  United Kingdom               Kenya  372996239.0         SPOTON
4726  United Kingdom          Bangladesh  222801157.0         SPOTON
4727  United Kingdom               Ghana  184628486.0         SPOTON
4729  United Kingdom              Uganda  151640757.0         SPOTON
4730  United Kingdom            Viet Nam  130053730.0         SPOTON
4731  United Kingdom         Philippines   57615497.0         SPOTON
4732  United Kingdom            Tanzania   52293484.0         SPOTON
4733  United Kingdom               Spain   36806984.0         SPOTON
4734  United Kingdom            Pakistan   34877833.0         SPOTON
Updated Merged Results with Regional Director and Partner Gsv for SPOTON:
   source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0         SPOTON  United Kingdom          Bangladesh  222801157.0        <NA>          NEW            Viktor
1         SPOTON  United Kingdom               Ghana  184628486.0        <NA>          NEW            Viktor
2         SPOTON  United Kingdom               India  722564261.0    941941.0     EXISTING            Viktor
3         SPOTON  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4         SPOTON  United Kingdom            Pakistan   34877833.0         4.0     EXISTING            Viktor
5         SPOTON  United Kingdom         Philippines   57615497.0        <NA>          NEW            Viktor
6         SPOTON  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7         SPOTON  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8         SPOTON  United Kingdom              Uganda  151640757.0      4375.0     EXISTING            Viktor
9         SPOTON  United Kingdom            Viet Nam  130053730.0         1.0     EXISTING            Viktor

Processing for Sterling Exchange...
Top rows for Sterling Exchange:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Sterling Exchange
1     Åland Islands               Kenya  15868.0  Sterling Exchange
5091       Zimbabwe               India  22701.0  Sterling Exchange
5092       Zimbabwe        South Africa  17959.0  Sterling Exchange
5093       Zimbabwe         Netherlands  13910.0  Sterling Exchange
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Sterling Exchange
13          Albania               Kenya  24127.0  Sterling Exchange
14          Albania              France  22272.0  Sterling Exchange
15          Albania               Spain  20066.0  Sterling Exchange
16          Albania            Portugal  15137.0  Sterling Exchange

[1193 rows x 4 columns]
Filtered top rows for Sterling Exchange:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Sterling Exchange:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for SUNWAY...
Top rows for SUNWAY:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         SUNWAY
1     Åland Islands               Kenya  15868.0         SUNWAY
5091       Zimbabwe               India  22701.0         SUNWAY
5092       Zimbabwe        South Africa  17959.0         SUNWAY
5093       Zimbabwe         Netherlands  13910.0         SUNWAY
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         SUNWAY
13          Albania               Kenya  24127.0         SUNWAY
14          Albania              France  22272.0         SUNWAY
15          Albania               Spain  20066.0         SUNWAY
16          Albania            Portugal  15137.0         SUNWAY

[1193 rows x 4 columns]
Filtered top rows for SUNWAY:
      source_country destination_country          gsv source_partner
2747       Malaysia          Bangladesh  127020237.0         SUNWAY
2748       Malaysia               India   18147705.0         SUNWAY
2749       Malaysia            Viet Nam   17636102.0         SUNWAY
2750       Malaysia         Philippines   13187307.0         SUNWAY
2751       Malaysia           Indonesia    7123704.0         SUNWAY
2752       Malaysia               Kenya    2381057.0         SUNWAY
2753       Malaysia               Ghana    1126550.0         SUNWAY
2754       Malaysia              Uganda     896036.0         SUNWAY
2755       Malaysia      United Kingdom     654328.0         SUNWAY
2756       Malaysia             Germany     523692.0         SUNWAY

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for SUNWAY:
   source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0         SUNWAY       Malaysia          Bangladesh  127020237.0        <NA>          NEW            Sukesh
1         SUNWAY       Malaysia             Germany     523692.0        <NA>          NEW            Sukesh
2         SUNWAY       Malaysia               Ghana    1126550.0        <NA>          NEW            Sukesh
3         SUNWAY       Malaysia               India   18147705.0  14889985.0     EXISTING            Sukesh
4         SUNWAY       Malaysia           Indonesia    7123704.0        <NA>          NEW            Sukesh
5         SUNWAY       Malaysia               Kenya    2381057.0        <NA>          NEW            Sukesh
6         SUNWAY       Malaysia         Philippines   13187307.0        <NA>          NEW            Sukesh
7         SUNWAY       Malaysia              Uganda     896036.0        <NA>          NEW            Sukesh
8         SUNWAY       Malaysia      United Kingdom     654328.0         2.0     EXISTING            Sukesh
9         SUNWAY       Malaysia            Viet Nam   17636102.0        <NA>          NEW            Sukesh

Processing for SUPERSONICZ Ltd...
Top rows for SUPERSONICZ Ltd:
      source_country destination_country      gsv   source_partner
0     Åland Islands            Viet Nam  85001.0  SUPERSONICZ Ltd
1     Åland Islands               Kenya  15868.0  SUPERSONICZ Ltd
5091       Zimbabwe               India  22701.0  SUPERSONICZ Ltd
5092       Zimbabwe        South Africa  17959.0  SUPERSONICZ Ltd
5093       Zimbabwe         Netherlands  13910.0  SUPERSONICZ Ltd
...             ...                 ...      ...              ...
12          Albania            Viet Nam  40428.0  SUPERSONICZ Ltd
13          Albania               Kenya  24127.0  SUPERSONICZ Ltd
14          Albania              France  22272.0  SUPERSONICZ Ltd
15          Albania               Spain  20066.0  SUPERSONICZ Ltd
16          Albania            Portugal  15137.0  SUPERSONICZ Ltd

[1193 rows x 4 columns]
Filtered top rows for SUPERSONICZ Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for SUPERSONICZ Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Suvi Inc...
Top rows for Suvi Inc:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Suvi Inc
1     Åland Islands               Kenya  15868.0       Suvi Inc
5091       Zimbabwe               India  22701.0       Suvi Inc
5092       Zimbabwe        South Africa  17959.0       Suvi Inc
5093       Zimbabwe         Netherlands  13910.0       Suvi Inc
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Suvi Inc
13          Albania               Kenya  24127.0       Suvi Inc
14          Albania              France  22272.0       Suvi Inc
15          Albania               Spain  20066.0       Suvi Inc
16          Albania            Portugal  15137.0       Suvi Inc

[1193 rows x 4 columns]
Filtered top rows for Suvi Inc:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0       Suvi Inc
4846  United States of America               Ghana  854031550.0       Suvi Inc
4847  United States of America             Liberia  423311206.0       Suvi Inc
4848  United States of America            Viet Nam  299709130.0       Suvi Inc
4849  United States of America               India  237645288.0       Suvi Inc
4850  United States of America            Tanzania  224628683.0       Suvi Inc
4851  United States of America          Bangladesh  207173742.0       Suvi Inc
4852  United States of America               Kenya  193169745.0       Suvi Inc
4853  United States of America            Cameroon  162051487.0       Suvi Inc
4854  United States of America              Uganda  160458035.0       Suvi Inc
Updated Merged Results with Regional Director and Partner Gsv for Suvi Inc:
   source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       Suvi Inc  United States of America          Bangladesh  207173742.0         1.0     EXISTING            Philip
1       Suvi Inc  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2       Suvi Inc  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3       Suvi Inc  United States of America               India  237645288.0     27998.0     EXISTING            Philip
4       Suvi Inc  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5       Suvi Inc  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6       Suvi Inc  United States of America         Philippines  855243500.0         2.0     EXISTING            Philip
7       Suvi Inc  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8       Suvi Inc  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9       Suvi Inc  United States of America            Viet Nam  299709130.0         1.0     EXISTING            Philip

Processing for Suyool SAL...
Top rows for Suyool SAL:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Suyool SAL
1     Åland Islands               Kenya  15868.0     Suyool SAL
5091       Zimbabwe               India  22701.0     Suyool SAL
5092       Zimbabwe        South Africa  17959.0     Suyool SAL
5093       Zimbabwe         Netherlands  13910.0     Suyool SAL
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Suyool SAL
13          Albania               Kenya  24127.0     Suyool SAL
14          Albania              France  22272.0     Suyool SAL
15          Albania               Spain  20066.0     Suyool SAL
16          Albania            Portugal  15137.0     Suyool SAL

[1193 rows x 4 columns]
Filtered top rows for Suyool SAL:
      source_country destination_country         gsv source_partner
2528        Lebanon               Kenya  15300663.0     Suyool SAL
2529        Lebanon         Philippines   9217523.0     Suyool SAL
2530        Lebanon              France   4946048.0     Suyool SAL
2531        Lebanon      United Kingdom    881680.0     Suyool SAL
2532        Lebanon               Spain    707234.0     Suyool SAL
2533        Lebanon             Germany    397753.0     Suyool SAL
2534        Lebanon             Belgium    384934.0     Suyool SAL
2535        Lebanon            Cameroon    291827.0     Suyool SAL
2536        Lebanon               Ghana    261974.0     Suyool SAL
2537        Lebanon           Lithuania    194737.0     Suyool SAL

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Suyool SAL:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0     Suyool SAL        Lebanon             Belgium    384934.0        <NA>          NEW            Bassem
1     Suyool SAL        Lebanon            Cameroon    291827.0        <NA>          NEW            Bassem
2     Suyool SAL        Lebanon              France   4946048.0       582.0     EXISTING            Bassem
3     Suyool SAL        Lebanon             Germany    397753.0        <NA>          NEW            Bassem
4     Suyool SAL        Lebanon               Ghana    261974.0        <NA>          NEW            Bassem
5     Suyool SAL        Lebanon               Kenya  15300663.0        <NA>          NEW            Bassem
6     Suyool SAL        Lebanon           Lithuania    194737.0     11968.0     EXISTING            Bassem
7     Suyool SAL        Lebanon         Philippines   9217523.0         1.0     EXISTING            Bassem
8     Suyool SAL        Lebanon               Spain    707234.0         8.0     EXISTING            Bassem
9     Suyool SAL        Lebanon      United Kingdom    881680.0       145.0     EXISTING            Bassem

Processing for Swiss Exchange LLC...
Top rows for Swiss Exchange LLC:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  Swiss Exchange LLC
1     Åland Islands               Kenya  15868.0  Swiss Exchange LLC
5091       Zimbabwe               India  22701.0  Swiss Exchange LLC
5092       Zimbabwe        South Africa  17959.0  Swiss Exchange LLC
5093       Zimbabwe         Netherlands  13910.0  Swiss Exchange LLC
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  Swiss Exchange LLC
13          Albania               Kenya  24127.0  Swiss Exchange LLC
14          Albania              France  22272.0  Swiss Exchange LLC
15          Albania               Spain  20066.0  Swiss Exchange LLC
16          Albania            Portugal  15137.0  Swiss Exchange LLC

[1193 rows x 4 columns]
Filtered top rows for Swiss Exchange LLC:
      source_country destination_country        gsv      source_partner
2198         Jordan          Bangladesh  7347374.0  Swiss Exchange LLC
2199         Jordan         Philippines  7252997.0  Swiss Exchange LLC
2200         Jordan      United Kingdom   310273.0  Swiss Exchange LLC
2201         Jordan              Uganda   294838.0  Swiss Exchange LLC
2202         Jordan            Malaysia   202859.0  Swiss Exchange LLC
2203         Jordan               Ghana   175038.0  Swiss Exchange LLC
2204         Jordan               Egypt   135745.0  Swiss Exchange LLC
2205         Jordan             Germany   133658.0  Swiss Exchange LLC
2206         Jordan            Thailand   132574.0  Swiss Exchange LLC
2207         Jordan               India   102340.0  Swiss Exchange LLC
Updated Merged Results with Regional Director and Partner Gsv for Swiss Exchange LLC:
        source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Swiss Exchange LLC         Jordan          Bangladesh  7347374.0     32378.0     EXISTING            Bassem
1  Swiss Exchange LLC         Jordan               Egypt   135745.0        <NA>          NEW            Bassem
2  Swiss Exchange LLC         Jordan             Germany   133658.0     18423.0     EXISTING            Bassem
3  Swiss Exchange LLC         Jordan               Ghana   175038.0        <NA>          NEW            Bassem
4  Swiss Exchange LLC         Jordan               India   102340.0     16303.0     EXISTING            Bassem
5  Swiss Exchange LLC         Jordan            Malaysia   202859.0        <NA>          NEW            Bassem
6  Swiss Exchange LLC         Jordan         Philippines  7252997.0        <NA>          NEW            Bassem
7  Swiss Exchange LLC         Jordan            Thailand   132574.0        <NA>          NEW            Bassem
8  Swiss Exchange LLC         Jordan              Uganda   294838.0       250.0     EXISTING            Bassem
9  Swiss Exchange LLC         Jordan      United Kingdom   310273.0     39992.0     EXISTING            Bassem

Processing for Syion Private Limited...
Top rows for Syion Private Limited:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  Syion Private Limited
1     Åland Islands               Kenya  15868.0  Syion Private Limited
5091       Zimbabwe               India  22701.0  Syion Private Limited
5092       Zimbabwe        South Africa  17959.0  Syion Private Limited
5093       Zimbabwe         Netherlands  13910.0  Syion Private Limited
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  Syion Private Limited
13          Albania               Kenya  24127.0  Syion Private Limited
14          Albania              France  22272.0  Syion Private Limited
15          Albania               Spain  20066.0  Syion Private Limited
16          Albania            Portugal  15137.0  Syion Private Limited

[1193 rows x 4 columns]
Filtered top rows for Syion Private Limited:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Syion Private Limited:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for TaptapSend...
Top rows for TaptapSend:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     TaptapSend
1     Åland Islands               Kenya  15868.0     TaptapSend
5091       Zimbabwe               India  22701.0     TaptapSend
5092       Zimbabwe        South Africa  17959.0     TaptapSend
5093       Zimbabwe         Netherlands  13910.0     TaptapSend
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     TaptapSend
13          Albania               Kenya  24127.0     TaptapSend
14          Albania              France  22272.0     TaptapSend
15          Albania               Spain  20066.0     TaptapSend
16          Albania            Portugal  15137.0     TaptapSend

[1193 rows x 4 columns]
Filtered top rows for TaptapSend:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0     TaptapSend
4846  United States of America               Ghana  854031550.0     TaptapSend
4847  United States of America             Liberia  423311206.0     TaptapSend
4848  United States of America            Viet Nam  299709130.0     TaptapSend
4849  United States of America               India  237645288.0     TaptapSend
...                        ...                 ...          ...            ...
216                    Austria             Germany    1531128.0     TaptapSend
217                    Austria             Belgium    1279334.0     TaptapSend
218                    Austria              Uganda    1192442.0     TaptapSend
219                    Austria           Lithuania    1188993.0     TaptapSend
220                    Austria               Spain    1181866.0     TaptapSend

[141 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for TaptapSend:
     source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0       TaptapSend                   Austria             Belgium    1279334.0        <NA>          NEW           Praveen
1       TaptapSend                   Austria             Germany    1531128.0        <NA>          NEW           Praveen
2       TaptapSend                   Austria               Ghana    1537127.0       149.0     EXISTING           Praveen
3       TaptapSend                   Austria               India    2376041.0     61275.0     EXISTING           Praveen
4       TaptapSend                   Austria               Kenya    3481210.0     60048.0     EXISTING           Praveen
..             ...                       ...                 ...          ...         ...          ...               ...
136     TaptapSend  United States of America             Liberia  423311206.0   1080480.0     EXISTING           Praveen
137     TaptapSend  United States of America         Philippines  855243500.0  35790740.0     EXISTING           Praveen
138     TaptapSend  United States of America            Tanzania  224628683.0  14889674.0     EXISTING           Praveen
139     TaptapSend  United States of America              Uganda  160458035.0   2569933.0     EXISTING           Praveen
140     TaptapSend  United States of America            Viet Nam  299709130.0        12.0     EXISTING           Praveen

[141 rows x 7 columns]

Processing for TECHWEST PTY LTD...
Top rows for TECHWEST PTY LTD:
      source_country destination_country      gsv    source_partner
0     Åland Islands            Viet Nam  85001.0  TECHWEST PTY LTD
1     Åland Islands               Kenya  15868.0  TECHWEST PTY LTD
5091       Zimbabwe               India  22701.0  TECHWEST PTY LTD
5092       Zimbabwe        South Africa  17959.0  TECHWEST PTY LTD
5093       Zimbabwe         Netherlands  13910.0  TECHWEST PTY LTD
...             ...                 ...      ...               ...
12          Albania            Viet Nam  40428.0  TECHWEST PTY LTD
13          Albania               Kenya  24127.0  TECHWEST PTY LTD
14          Albania              France  22272.0  TECHWEST PTY LTD
15          Albania               Spain  20066.0  TECHWEST PTY LTD
16          Albania            Portugal  15137.0  TECHWEST PTY LTD

[1193 rows x 4 columns]
Filtered top rows for TECHWEST PTY LTD:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for TECHWEST PTY LTD:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Terra Payment Services Italy...
Top rows for Terra Payment Services Italy:
      source_country destination_country      gsv                source_partner
0     Åland Islands            Viet Nam  85001.0  Terra Payment Services Italy
1     Åland Islands               Kenya  15868.0  Terra Payment Services Italy
5091       Zimbabwe               India  22701.0  Terra Payment Services Italy
5092       Zimbabwe        South Africa  17959.0  Terra Payment Services Italy
5093       Zimbabwe         Netherlands  13910.0  Terra Payment Services Italy
...             ...                 ...      ...                           ...
12          Albania            Viet Nam  40428.0  Terra Payment Services Italy
13          Albania               Kenya  24127.0  Terra Payment Services Italy
14          Albania              France  22272.0  Terra Payment Services Italy
15          Albania               Spain  20066.0  Terra Payment Services Italy
16          Albania            Portugal  15137.0  Terra Payment Services Italy

[1193 rows x 4 columns]
Filtered top rows for Terra Payment Services Italy:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Terra Payment Services Italy:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Titanes Money Transfer...
Top rows for Titanes Money Transfer:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Titanes Money Transfer
1     Åland Islands               Kenya  15868.0  Titanes Money Transfer
5091       Zimbabwe               India  22701.0  Titanes Money Transfer
5092       Zimbabwe        South Africa  17959.0  Titanes Money Transfer
5093       Zimbabwe         Netherlands  13910.0  Titanes Money Transfer
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Titanes Money Transfer
13          Albania               Kenya  24127.0  Titanes Money Transfer
14          Albania              France  22272.0  Titanes Money Transfer
15          Albania               Spain  20066.0  Titanes Money Transfer
16          Albania            Portugal  15137.0  Titanes Money Transfer

[1193 rows x 4 columns]
Filtered top rows for Titanes Money Transfer:
      source_country destination_country          gsv          source_partner
4145          Spain             Senegal  104224232.0  Titanes Money Transfer
4146          Spain          Bangladesh   42522037.0  Titanes Money Transfer
4147          Spain                Mali   30074554.0  Titanes Money Transfer
4149          Spain             Belgium   22745695.0  Titanes Money Transfer
4150          Spain               Ghana   19183911.0  Titanes Money Transfer
4151          Spain           Lithuania   16068919.0  Titanes Money Transfer
4152          Spain            Portugal   10602312.0  Titanes Money Transfer
4153          Spain      United Kingdom    8372586.0  Titanes Money Transfer
4154          Spain               Italy    8180951.0  Titanes Money Transfer
4155          Spain               India    7944101.0  Titanes Money Transfer
Updated Merged Results with Regional Director and Partner Gsv for Titanes Money Transfer:
            source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Titanes Money Transfer          Spain          Bangladesh   42522037.0     43189.0     EXISTING            Viktor
1  Titanes Money Transfer          Spain             Belgium   22745695.0        <NA>          NEW            Viktor
2  Titanes Money Transfer          Spain               Ghana   19183911.0     61657.0     EXISTING            Viktor
3  Titanes Money Transfer          Spain               India    7944101.0    128321.0     EXISTING            Viktor
4  Titanes Money Transfer          Spain               Italy    8180951.0        <NA>          NEW            Viktor
5  Titanes Money Transfer          Spain           Lithuania   16068919.0        <NA>          NEW            Viktor
6  Titanes Money Transfer          Spain                Mali   30074554.0        <NA>          NEW            Viktor
7  Titanes Money Transfer          Spain            Portugal   10602312.0        <NA>          NEW            Viktor
8  Titanes Money Transfer          Spain             Senegal  104224232.0    842211.0     EXISTING            Viktor
9  Titanes Money Transfer          Spain      United Kingdom    8372586.0        <NA>          NEW            Viktor

Processing for TP Pilot...
Top rows for TP Pilot:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       TP Pilot
1     Åland Islands               Kenya  15868.0       TP Pilot
5091       Zimbabwe               India  22701.0       TP Pilot
5092       Zimbabwe        South Africa  17959.0       TP Pilot
5093       Zimbabwe         Netherlands  13910.0       TP Pilot
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       TP Pilot
13          Albania               Kenya  24127.0       TP Pilot
14          Albania              France  22272.0       TP Pilot
15          Albania               Spain  20066.0       TP Pilot
16          Albania            Portugal  15137.0       TP Pilot

[1193 rows x 4 columns]
Filtered top rows for TP Pilot:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for TP Pilot:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for TP TZ...
Top rows for TP TZ:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          TP TZ
1     Åland Islands               Kenya  15868.0          TP TZ
5091       Zimbabwe               India  22701.0          TP TZ
5092       Zimbabwe        South Africa  17959.0          TP TZ
5093       Zimbabwe         Netherlands  13910.0          TP TZ
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          TP TZ
13          Albania               Kenya  24127.0          TP TZ
14          Albania              France  22272.0          TP TZ
15          Albania               Spain  20066.0          TP TZ
16          Albania            Portugal  15137.0          TP TZ

[1193 rows x 4 columns]
Filtered top rows for TP TZ:
      source_country destination_country        gsv source_partner
4367       Tanzania               India  5896513.0          TP TZ
4369       Tanzania               Kenya  1032743.0          TP TZ
4370       Tanzania              Uganda   313018.0          TP TZ
4371       Tanzania             Germany    20309.0          TP TZ
4372       Tanzania               Egypt    13200.0          TP TZ
4373       Tanzania               Spain    11500.0          TP TZ
Updated Merged Results with Regional Director and Partner Gsv for TP TZ:
   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0          TP TZ       Tanzania               Egypt    13200.0        <NA>          NEW               Ani
1          TP TZ       Tanzania             Germany    20309.0        <NA>          NEW               Ani
2          TP TZ       Tanzania               India  5896513.0        <NA>          NEW               Ani
3          TP TZ       Tanzania               Kenya  1032743.0    631878.0     EXISTING               Ani
4          TP TZ       Tanzania               Spain    11500.0        <NA>          NEW               Ani
5          TP TZ       Tanzania              Uganda   313018.0      4441.0     EXISTING               Ani

Processing for TPTZ Airtel KE Onnet...
Top rows for TPTZ Airtel KE Onnet:
      source_country destination_country      gsv        source_partner
0     Åland Islands            Viet Nam  85001.0  TPTZ Airtel KE Onnet
1     Åland Islands               Kenya  15868.0  TPTZ Airtel KE Onnet
5091       Zimbabwe               India  22701.0  TPTZ Airtel KE Onnet
5092       Zimbabwe        South Africa  17959.0  TPTZ Airtel KE Onnet
5093       Zimbabwe         Netherlands  13910.0  TPTZ Airtel KE Onnet
...             ...                 ...      ...                   ...
12          Albania            Viet Nam  40428.0  TPTZ Airtel KE Onnet
13          Albania               Kenya  24127.0  TPTZ Airtel KE Onnet
14          Albania              France  22272.0  TPTZ Airtel KE Onnet
15          Albania               Spain  20066.0  TPTZ Airtel KE Onnet
16          Albania            Portugal  15137.0  TPTZ Airtel KE Onnet

[1193 rows x 4 columns]
Filtered top rows for TPTZ Airtel KE Onnet:
      source_country destination_country        gsv        source_partner
4367       Tanzania               India  5896513.0  TPTZ Airtel KE Onnet
4369       Tanzania               Kenya  1032743.0  TPTZ Airtel KE Onnet
4370       Tanzania              Uganda   313018.0  TPTZ Airtel KE Onnet
4371       Tanzania             Germany    20309.0  TPTZ Airtel KE Onnet
4372       Tanzania               Egypt    13200.0  TPTZ Airtel KE Onnet
4373       Tanzania               Spain    11500.0  TPTZ Airtel KE Onnet
Updated Merged Results with Regional Director and Partner Gsv for TPTZ Airtel KE Onnet:
          source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  TPTZ Airtel KE Onnet       Tanzania               Egypt    13200.0        <NA>          NEW            Willie
1  TPTZ Airtel KE Onnet       Tanzania             Germany    20309.0        <NA>          NEW            Willie
2  TPTZ Airtel KE Onnet       Tanzania               India  5896513.0        <NA>          NEW            Willie
3  TPTZ Airtel KE Onnet       Tanzania               Kenya  1032743.0    333743.0     EXISTING            Willie
4  TPTZ Airtel KE Onnet       Tanzania               Spain    11500.0        <NA>          NEW            Willie
5  TPTZ Airtel KE Onnet       Tanzania              Uganda   313018.0        <NA>          NEW            Willie

Processing for Transamericas Services Corporation...
Top rows for Transamericas Services Corporation:
      source_country destination_country      gsv                      source_partner
0     Åland Islands            Viet Nam  85001.0  Transamericas Services Corporation
1     Åland Islands               Kenya  15868.0  Transamericas Services Corporation
5091       Zimbabwe               India  22701.0  Transamericas Services Corporation
5092       Zimbabwe        South Africa  17959.0  Transamericas Services Corporation
5093       Zimbabwe         Netherlands  13910.0  Transamericas Services Corporation
...             ...                 ...      ...                                 ...
12          Albania            Viet Nam  40428.0  Transamericas Services Corporation
13          Albania               Kenya  24127.0  Transamericas Services Corporation
14          Albania              France  22272.0  Transamericas Services Corporation
15          Albania               Spain  20066.0  Transamericas Services Corporation
16          Albania            Portugal  15137.0  Transamericas Services Corporation

[1193 rows x 4 columns]
Filtered top rows for Transamericas Services Corporation:
                 source_country destination_country          gsv                      source_partner
4845  United States of America         Philippines  855243500.0  Transamericas Services Corporation
4846  United States of America               Ghana  854031550.0  Transamericas Services Corporation
4847  United States of America             Liberia  423311206.0  Transamericas Services Corporation
4848  United States of America            Viet Nam  299709130.0  Transamericas Services Corporation
4849  United States of America               India  237645288.0  Transamericas Services Corporation
4850  United States of America            Tanzania  224628683.0  Transamericas Services Corporation
4851  United States of America          Bangladesh  207173742.0  Transamericas Services Corporation
4852  United States of America               Kenya  193169745.0  Transamericas Services Corporation
4853  United States of America            Cameroon  162051487.0  Transamericas Services Corporation
4854  United States of America              Uganda  160458035.0  Transamericas Services Corporation

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Transamericas Services Corporation:
                        source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Transamericas Services Corporation  United States of America          Bangladesh  207173742.0        <NA>          NEW            Philip
1  Transamericas Services Corporation  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Transamericas Services Corporation  United States of America               Ghana  854031550.0        <NA>          NEW            Philip
3  Transamericas Services Corporation  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Transamericas Services Corporation  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Transamericas Services Corporation  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Transamericas Services Corporation  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  Transamericas Services Corporation  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Transamericas Services Corporation  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Transamericas Services Corporation  United States of America            Viet Nam  299709130.0        <NA>          NEW            Philip

Processing for TransFast...
Top rows for TransFast:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      TransFast
1     Åland Islands               Kenya  15868.0      TransFast
5091       Zimbabwe               India  22701.0      TransFast
5092       Zimbabwe        South Africa  17959.0      TransFast
5093       Zimbabwe         Netherlands  13910.0      TransFast
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      TransFast
13          Albania               Kenya  24127.0      TransFast
14          Albania              France  22272.0      TransFast
15          Albania               Spain  20066.0      TransFast
16          Albania            Portugal  15137.0      TransFast

[1193 rows x 4 columns]
Filtered top rows for TransFast:
             source_country destination_country           gsv source_partner
4639  United Arab Emirates               India   248146952.0      TransFast
4640  United Arab Emirates              Uganda   201261045.0      TransFast
4641  United Arab Emirates         Philippines   107484030.0      TransFast
4642  United Arab Emirates      United Kingdom    83094300.0      TransFast
4643  United Arab Emirates               Kenya    78653029.0      TransFast
4644  United Arab Emirates               Ghana    74563964.0      TransFast
4645  United Arab Emirates          Bangladesh    39836052.0      TransFast
4646  United Arab Emirates            Malaysia    28856080.0      TransFast
4647  United Arab Emirates             Germany    16482871.0      TransFast
4648  United Arab Emirates              France    15635606.0      TransFast
3570                 Qatar               India  1364429345.0      TransFast
3571                 Qatar               Kenya   199406963.0      TransFast
3572                 Qatar          Bangladesh   191208238.0      TransFast
3573                 Qatar              Uganda   100836860.0      TransFast
3574                 Qatar            Malaysia    80500570.0      TransFast
3575                 Qatar               Ghana    74195942.0      TransFast
3576                 Qatar         Philippines    45528278.0      TransFast
3577                 Qatar            Thailand    17414674.0      TransFast
3578                 Qatar             Nigeria     8543471.0      TransFast
3579                 Qatar               Nepal     7123914.0      TransFast
3249                  Oman          Bangladesh    45339602.0      TransFast
3250                  Oman            Tanzania    26059967.0      TransFast
3251                  Oman         Philippines    24617019.0      TransFast
3252                  Oman               Kenya    19852109.0      TransFast
3253                  Oman              Uganda    16599432.0      TransFast
3254                  Oman            Thailand     9905277.0      TransFast
3255                  Oman               India     6657635.0      TransFast
3256                  Oman           Indonesia     4841332.0      TransFast
3257                  Oman               Ghana     4629902.0      TransFast
3258                  Oman      United Kingdom     4368724.0      TransFast
2422                Kuwait          Bangladesh    60585189.0      TransFast
2423                Kuwait               Ghana    37199718.0      TransFast
2424                Kuwait         Philippines    37163503.0      TransFast
2425                Kuwait               Benin    34784875.0      TransFast
2426                Kuwait               Kenya    25964237.0      TransFast
2427                Kuwait               India    21755223.0      TransFast
2428                Kuwait              Uganda    12470721.0      TransFast
2429                Kuwait            Thailand     6586277.0      TransFast
2430                Kuwait            Pakistan     5999904.0      TransFast
2431                Kuwait                Mali     5920978.0      TransFast
296                Bahrain          Bangladesh   205631976.0      TransFast
297                Bahrain            Thailand    67533964.0      TransFast
298                Bahrain               India    30113015.0      TransFast
299                Bahrain               Kenya    28674621.0      TransFast
300                Bahrain              Uganda    26873683.0      TransFast
301                Bahrain               Ghana    15374036.0      TransFast
302                Bahrain         Philippines     8465479.0      TransFast
303                Bahrain            Cameroon     4956559.0      TransFast
304                Bahrain            Pakistan     3662759.0      TransFast
305                Bahrain            Malaysia     2304540.0      TransFast

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for TransFast:
    source_partner        source_country destination_country           gsv Partner_Gsv existing/new regional_director
0       TransFast               Bahrain          Bangladesh   205631976.0        <NA>          NEW               NaN
1       TransFast               Bahrain            Cameroon     4956559.0        <NA>          NEW               NaN
2       TransFast               Bahrain               Ghana    15374036.0        <NA>          NEW               NaN
3       TransFast               Bahrain               India    30113015.0        <NA>          NEW               NaN
4       TransFast               Bahrain               Kenya    28674621.0     21472.0     EXISTING               NaN
5       TransFast               Bahrain            Malaysia     2304540.0        <NA>          NEW               NaN
6       TransFast               Bahrain            Pakistan     3662759.0        <NA>          NEW               NaN
7       TransFast               Bahrain         Philippines     8465479.0        <NA>          NEW               NaN
8       TransFast               Bahrain            Thailand    67533964.0        <NA>          NEW               NaN
9       TransFast               Bahrain              Uganda    26873683.0     76047.0     EXISTING               NaN
10      TransFast                Kuwait          Bangladesh    60585189.0        <NA>          NEW               NaN
11      TransFast                Kuwait               Benin    34784875.0        <NA>          NEW               NaN
12      TransFast                Kuwait               Ghana    37199718.0        <NA>          NEW               NaN
13      TransFast                Kuwait               India    21755223.0        <NA>          NEW               NaN
14      TransFast                Kuwait               Kenya    25964237.0    198144.0     EXISTING               NaN
15      TransFast                Kuwait                Mali     5920978.0        <NA>          NEW               NaN
16      TransFast                Kuwait            Pakistan     5999904.0        <NA>          NEW               NaN
17      TransFast                Kuwait         Philippines    37163503.0        <NA>          NEW               NaN
18      TransFast                Kuwait            Thailand     6586277.0        <NA>          NEW               NaN
19      TransFast                Kuwait              Uganda    12470721.0    300982.0     EXISTING               NaN
20      TransFast                  Oman          Bangladesh    45339602.0        <NA>          NEW               NaN
21      TransFast                  Oman               Ghana     4629902.0        <NA>          NEW               NaN
22      TransFast                  Oman               India     6657635.0        <NA>          NEW               NaN
23      TransFast                  Oman           Indonesia     4841332.0        <NA>          NEW               NaN
24      TransFast                  Oman               Kenya    19852109.0    170459.0     EXISTING               NaN
25      TransFast                  Oman         Philippines    24617019.0        <NA>          NEW               NaN
26      TransFast                  Oman            Tanzania    26059967.0    342411.0     EXISTING               NaN
27      TransFast                  Oman            Thailand     9905277.0        <NA>          NEW               NaN
28      TransFast                  Oman              Uganda    16599432.0    362705.0     EXISTING               NaN
29      TransFast                  Oman      United Kingdom     4368724.0        <NA>          NEW               NaN
30      TransFast                 Qatar          Bangladesh   191208238.0        <NA>          NEW               NaN
31      TransFast                 Qatar               Ghana    74195942.0        <NA>          NEW               NaN
32      TransFast                 Qatar               India  1364429345.0        <NA>          NEW               NaN
33      TransFast                 Qatar               Kenya   199406963.0    130731.0     EXISTING               NaN
34      TransFast                 Qatar            Malaysia    80500570.0        <NA>          NEW               NaN
35      TransFast                 Qatar               Nepal     7123914.0        <NA>          NEW               NaN
36      TransFast                 Qatar             Nigeria     8543471.0        <NA>          NEW               NaN
37      TransFast                 Qatar         Philippines    45528278.0        <NA>          NEW               NaN
38      TransFast                 Qatar            Thailand    17414674.0        <NA>          NEW               NaN
39      TransFast                 Qatar              Uganda   100836860.0    338165.0     EXISTING               NaN
40      TransFast  United Arab Emirates          Bangladesh    39836052.0        <NA>          NEW               NaN
41      TransFast  United Arab Emirates              France    15635606.0        <NA>          NEW               NaN
42      TransFast  United Arab Emirates             Germany    16482871.0        <NA>          NEW               NaN
43      TransFast  United Arab Emirates               Ghana    74563964.0        <NA>          NEW               NaN
44      TransFast  United Arab Emirates               India   248146952.0        <NA>          NEW               NaN
45      TransFast  United Arab Emirates               Kenya    78653029.0    423555.0     EXISTING               NaN
46      TransFast  United Arab Emirates            Malaysia    28856080.0        <NA>          NEW               NaN
47      TransFast  United Arab Emirates         Philippines   107484030.0        <NA>          NEW               NaN
48      TransFast  United Arab Emirates              Uganda   201261045.0   4880937.0     EXISTING               NaN
49      TransFast  United Arab Emirates      United Kingdom    83094300.0        <NA>          NEW               NaN

Processing for Transferwise...
Top rows for Transferwise:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   Transferwise
1     Åland Islands               Kenya  15868.0   Transferwise
5091       Zimbabwe               India  22701.0   Transferwise
5092       Zimbabwe        South Africa  17959.0   Transferwise
5093       Zimbabwe         Netherlands  13910.0   Transferwise
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   Transferwise
13          Albania               Kenya  24127.0   Transferwise
14          Albania              France  22272.0   Transferwise
15          Albania               Spain  20066.0   Transferwise
16          Albania            Portugal  15137.0   Transferwise

[1193 rows x 4 columns]
Filtered top rows for Transferwise:
                 source_country destination_country        gsv source_partner
0                Åland Islands            Viet Nam    85001.0   Transferwise
1                Åland Islands               Kenya    15868.0   Transferwise
5044  Virgin Islands (British)               Kenya    87693.0   Transferwise
5045  Virgin Islands (British)            Viet Nam    55023.0   Transferwise
5046  Virgin Islands (British)         Philippines    28928.0   Transferwise
...                        ...                 ...        ...            ...
147                  Australia             Germany  9418964.0   Transferwise
31                     Andorra            Viet Nam   592918.0   Transferwise
32                     Andorra               Kenya    30573.0   Transferwise
26              American Samoa         Philippines    64438.0   Transferwise
27              American Samoa            Viet Nam    22707.0   Transferwise

[751 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Transferwise:
     source_partner            source_country destination_country         gsv Partner_Gsv existing/new regional_director
0     Transferwise            American Samoa         Philippines     64438.0        <NA>          NEW               NaN
1     Transferwise            American Samoa            Viet Nam     22707.0     12771.0     EXISTING               NaN
2     Transferwise                   Andorra               Kenya     30573.0     26399.0     EXISTING               NaN
3     Transferwise                   Andorra            Viet Nam    592918.0    364047.0     EXISTING               NaN
4     Transferwise                 Australia          Bangladesh  40785924.0        <NA>          NEW               NaN
..             ...                       ...                 ...         ...         ...          ...               ...
746   Transferwise  Virgin Islands (British)         Philippines     28928.0        <NA>          NEW               NaN
747   Transferwise  Virgin Islands (British)            Tanzania     22896.0     18836.0     EXISTING               NaN
748   Transferwise  Virgin Islands (British)            Viet Nam     55023.0      5878.0     EXISTING               NaN
749   Transferwise             Åland Islands               Kenya     15868.0      5586.0     EXISTING               NaN
750   Transferwise             Åland Islands            Viet Nam     85001.0     17095.0     EXISTING               NaN

[751 rows x 7 columns]

Processing for Triple A Technologies Pte Ltd...
Top rows for Triple A Technologies Pte Ltd:
      source_country destination_country      gsv                 source_partner
0     Åland Islands            Viet Nam  85001.0  Triple A Technologies Pte Ltd
1     Åland Islands               Kenya  15868.0  Triple A Technologies Pte Ltd
5091       Zimbabwe               India  22701.0  Triple A Technologies Pte Ltd
5092       Zimbabwe        South Africa  17959.0  Triple A Technologies Pte Ltd
5093       Zimbabwe         Netherlands  13910.0  Triple A Technologies Pte Ltd
...             ...                 ...      ...                            ...
12          Albania            Viet Nam  40428.0  Triple A Technologies Pte Ltd
13          Albania               Kenya  24127.0  Triple A Technologies Pte Ltd
14          Albania              France  22272.0  Triple A Technologies Pte Ltd
15          Albania               Spain  20066.0  Triple A Technologies Pte Ltd
16          Albania            Portugal  15137.0  Triple A Technologies Pte Ltd

[1193 rows x 4 columns]
Filtered top rows for Triple A Technologies Pte Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Triple A Technologies Pte Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Twiga Technology LLC...
Top rows for Twiga Technology LLC:
      source_country destination_country      gsv        source_partner
0     Åland Islands            Viet Nam  85001.0  Twiga Technology LLC
1     Åland Islands               Kenya  15868.0  Twiga Technology LLC
5091       Zimbabwe               India  22701.0  Twiga Technology LLC
5092       Zimbabwe        South Africa  17959.0  Twiga Technology LLC
5093       Zimbabwe         Netherlands  13910.0  Twiga Technology LLC
...             ...                 ...      ...                   ...
12          Albania            Viet Nam  40428.0  Twiga Technology LLC
13          Albania               Kenya  24127.0  Twiga Technology LLC
14          Albania              France  22272.0  Twiga Technology LLC
15          Albania               Spain  20066.0  Twiga Technology LLC
16          Albania            Portugal  15137.0  Twiga Technology LLC

[1193 rows x 4 columns]
Filtered top rows for Twiga Technology LLC:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Twiga Technology LLC:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Tylersoft Technologies...
Top rows for Tylersoft Technologies:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Tylersoft Technologies
1     Åland Islands               Kenya  15868.0  Tylersoft Technologies
5091       Zimbabwe               India  22701.0  Tylersoft Technologies
5092       Zimbabwe        South Africa  17959.0  Tylersoft Technologies
5093       Zimbabwe         Netherlands  13910.0  Tylersoft Technologies
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Tylersoft Technologies
13          Albania               Kenya  24127.0  Tylersoft Technologies
14          Albania              France  22272.0  Tylersoft Technologies
15          Albania               Spain  20066.0  Tylersoft Technologies
16          Albania            Portugal  15137.0  Tylersoft Technologies

[1193 rows x 4 columns]
Filtered top rows for Tylersoft Technologies:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Tylersoft Technologies:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for UAE EXCHANGE CENTRE W L L KUWAIT...
Top rows for UAE EXCHANGE CENTRE W L L KUWAIT:
      source_country destination_country      gsv                    source_partner
0     Åland Islands            Viet Nam  85001.0  UAE EXCHANGE CENTRE W L L KUWAIT
1     Åland Islands               Kenya  15868.0  UAE EXCHANGE CENTRE W L L KUWAIT
5091       Zimbabwe               India  22701.0  UAE EXCHANGE CENTRE W L L KUWAIT
5092       Zimbabwe        South Africa  17959.0  UAE EXCHANGE CENTRE W L L KUWAIT
5093       Zimbabwe         Netherlands  13910.0  UAE EXCHANGE CENTRE W L L KUWAIT
...             ...                 ...      ...                               ...
12          Albania            Viet Nam  40428.0  UAE EXCHANGE CENTRE W L L KUWAIT
13          Albania               Kenya  24127.0  UAE EXCHANGE CENTRE W L L KUWAIT
14          Albania              France  22272.0  UAE EXCHANGE CENTRE W L L KUWAIT
15          Albania               Spain  20066.0  UAE EXCHANGE CENTRE W L L KUWAIT
16          Albania            Portugal  15137.0  UAE EXCHANGE CENTRE W L L KUWAIT

[1193 rows x 4 columns]
Filtered top rows for UAE EXCHANGE CENTRE W L L KUWAIT:
      source_country destination_country         gsv                    source_partner
2422         Kuwait          Bangladesh  60585189.0  UAE EXCHANGE CENTRE W L L KUWAIT
2423         Kuwait               Ghana  37199718.0  UAE EXCHANGE CENTRE W L L KUWAIT
2424         Kuwait         Philippines  37163503.0  UAE EXCHANGE CENTRE W L L KUWAIT
2425         Kuwait               Benin  34784875.0  UAE EXCHANGE CENTRE W L L KUWAIT
2426         Kuwait               Kenya  25964237.0  UAE EXCHANGE CENTRE W L L KUWAIT
2427         Kuwait               India  21755223.0  UAE EXCHANGE CENTRE W L L KUWAIT
2428         Kuwait              Uganda  12470721.0  UAE EXCHANGE CENTRE W L L KUWAIT
2429         Kuwait            Thailand   6586277.0  UAE EXCHANGE CENTRE W L L KUWAIT
2430         Kuwait            Pakistan   5999904.0  UAE EXCHANGE CENTRE W L L KUWAIT
2431         Kuwait                Mali   5920978.0  UAE EXCHANGE CENTRE W L L KUWAIT

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for UAE EXCHANGE CENTRE W L L KUWAIT:
                      source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait          Bangladesh  60585189.0   2557027.0     EXISTING            Bassem
1  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait               Benin  34784875.0      2014.0     EXISTING            Bassem
2  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait               Ghana  37199718.0        <NA>          NEW            Bassem
3  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait               India  21755223.0  13375421.0     EXISTING            Bassem
4  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait               Kenya  25964237.0       348.0     EXISTING            Bassem
5  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait                Mali   5920978.0       321.0     EXISTING            Bassem
6  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait            Pakistan   5999904.0   1512832.0     EXISTING            Bassem
7  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait         Philippines  37163503.0    615173.0     EXISTING            Bassem
8  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait            Thailand   6586277.0     16988.0     EXISTING            Bassem
9  UAE EXCHANGE CENTRE W L L KUWAIT         Kuwait              Uganda  12470721.0       755.0     EXISTING            Bassem

Processing for UAE EXCHANGE CENTRE W L L KUWAITdeal...
Top rows for UAE EXCHANGE CENTRE W L L KUWAITdeal:
      source_country destination_country      gsv                        source_partner
0     Åland Islands            Viet Nam  85001.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
1     Åland Islands               Kenya  15868.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
5091       Zimbabwe               India  22701.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
5092       Zimbabwe        South Africa  17959.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
5093       Zimbabwe         Netherlands  13910.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
...             ...                 ...      ...                                   ...
12          Albania            Viet Nam  40428.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
13          Albania               Kenya  24127.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
14          Albania              France  22272.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
15          Albania               Spain  20066.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
16          Albania            Portugal  15137.0  UAE EXCHANGE CENTRE W L L KUWAITdeal

[1193 rows x 4 columns]
Filtered top rows for UAE EXCHANGE CENTRE W L L KUWAITdeal:
      source_country destination_country         gsv                        source_partner
2422         Kuwait          Bangladesh  60585189.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2423         Kuwait               Ghana  37199718.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2424         Kuwait         Philippines  37163503.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2425         Kuwait               Benin  34784875.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2426         Kuwait               Kenya  25964237.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2427         Kuwait               India  21755223.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2428         Kuwait              Uganda  12470721.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2429         Kuwait            Thailand   6586277.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2430         Kuwait            Pakistan   5999904.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
2431         Kuwait                Mali   5920978.0  UAE EXCHANGE CENTRE W L L KUWAITdeal
Updated Merged Results with Regional Director and Partner Gsv for UAE EXCHANGE CENTRE W L L KUWAITdeal:
                          source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait          Bangladesh  60585189.0        <NA>          NEW            Bassem
1  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait               Benin  34784875.0        <NA>          NEW            Bassem
2  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait               Ghana  37199718.0        <NA>          NEW            Bassem
3  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait               India  21755223.0        <NA>          NEW            Bassem
4  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait               Kenya  25964237.0        <NA>          NEW            Bassem
5  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait                Mali   5920978.0        <NA>          NEW            Bassem
6  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait            Pakistan   5999904.0        <NA>          NEW            Bassem
7  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait         Philippines  37163503.0        <NA>          NEW            Bassem
8  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait            Thailand   6586277.0         3.0     EXISTING            Bassem
9  UAE EXCHANGE CENTRE W L L KUWAITdeal         Kuwait              Uganda  12470721.0        <NA>          NEW            Bassem

Processing for Ultra Group...
Top rows for Ultra Group:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0    Ultra Group
1     Åland Islands               Kenya  15868.0    Ultra Group
5091       Zimbabwe               India  22701.0    Ultra Group
5092       Zimbabwe        South Africa  17959.0    Ultra Group
5093       Zimbabwe         Netherlands  13910.0    Ultra Group
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0    Ultra Group
13          Albania               Kenya  24127.0    Ultra Group
14          Albania              France  22272.0    Ultra Group
15          Albania               Spain  20066.0    Ultra Group
16          Albania            Portugal  15137.0    Ultra Group

[1193 rows x 4 columns]
Filtered top rows for Ultra Group:
      source_country destination_country         gsv source_partner
3508       Portugal          Mozambique  32980202.0    Ultra Group
3509       Portugal          Bangladesh  15087639.0    Ultra Group
3510       Portugal              Brazil  13996672.0    Ultra Group
3511       Portugal               India  13024829.0    Ultra Group
3513       Portugal             Belgium   8462025.0    Ultra Group
3514       Portugal      United Kingdom   4216036.0    Ultra Group
3515       Portugal             Senegal   3313841.0    Ultra Group
3516       Portugal               Spain   3242966.0    Ultra Group
3517       Portugal           Lithuania   2423875.0    Ultra Group
3518       Portugal             Germany   1962195.0    Ultra Group
Updated Merged Results with Regional Director and Partner Gsv for Ultra Group:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0    Ultra Group       Portugal          Bangladesh  15087639.0     11464.0     EXISTING            Viktor
1    Ultra Group       Portugal             Belgium   8462025.0        <NA>          NEW            Viktor
2    Ultra Group       Portugal              Brazil  13996672.0        <NA>          NEW            Viktor
3    Ultra Group       Portugal             Germany   1962195.0        <NA>          NEW            Viktor
4    Ultra Group       Portugal               India  13024829.0    723350.0     EXISTING            Viktor
5    Ultra Group       Portugal           Lithuania   2423875.0        <NA>          NEW            Viktor
6    Ultra Group       Portugal          Mozambique  32980202.0        <NA>          NEW            Viktor
7    Ultra Group       Portugal             Senegal   3313841.0      4623.0     EXISTING            Viktor
8    Ultra Group       Portugal               Spain   3242966.0        <NA>          NEW            Viktor
9    Ultra Group       Portugal      United Kingdom   4216036.0        <NA>          NEW            Viktor

Processing for UNIMONI EXCHANGE LLC...
Top rows for UNIMONI EXCHANGE LLC:
      source_country destination_country      gsv        source_partner
0     Åland Islands            Viet Nam  85001.0  UNIMONI EXCHANGE LLC
1     Åland Islands               Kenya  15868.0  UNIMONI EXCHANGE LLC
5091       Zimbabwe               India  22701.0  UNIMONI EXCHANGE LLC
5092       Zimbabwe        South Africa  17959.0  UNIMONI EXCHANGE LLC
5093       Zimbabwe         Netherlands  13910.0  UNIMONI EXCHANGE LLC
...             ...                 ...      ...                   ...
12          Albania            Viet Nam  40428.0  UNIMONI EXCHANGE LLC
13          Albania               Kenya  24127.0  UNIMONI EXCHANGE LLC
14          Albania              France  22272.0  UNIMONI EXCHANGE LLC
15          Albania               Spain  20066.0  UNIMONI EXCHANGE LLC
16          Albania            Portugal  15137.0  UNIMONI EXCHANGE LLC

[1193 rows x 4 columns]
Filtered top rows for UNIMONI EXCHANGE LLC:
      source_country destination_country           gsv        source_partner
3570          Qatar               India  1364429345.0  UNIMONI EXCHANGE LLC
3571          Qatar               Kenya   199406963.0  UNIMONI EXCHANGE LLC
3572          Qatar          Bangladesh   191208238.0  UNIMONI EXCHANGE LLC
3573          Qatar              Uganda   100836860.0  UNIMONI EXCHANGE LLC
3574          Qatar            Malaysia    80500570.0  UNIMONI EXCHANGE LLC
3575          Qatar               Ghana    74195942.0  UNIMONI EXCHANGE LLC
3576          Qatar         Philippines    45528278.0  UNIMONI EXCHANGE LLC
3577          Qatar            Thailand    17414674.0  UNIMONI EXCHANGE LLC
3578          Qatar             Nigeria     8543471.0  UNIMONI EXCHANGE LLC
3579          Qatar               Nepal     7123914.0  UNIMONI EXCHANGE LLC

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for UNIMONI EXCHANGE LLC:
          source_partner source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0  UNIMONI EXCHANGE LLC          Qatar          Bangladesh   191208238.0   24588396.0     EXISTING            Bassem
1  UNIMONI EXCHANGE LLC          Qatar               Ghana    74195942.0    7782926.0     EXISTING            Bassem
2  UNIMONI EXCHANGE LLC          Qatar               India  1364429345.0  203513140.0     EXISTING            Bassem
3  UNIMONI EXCHANGE LLC          Qatar               Kenya   199406963.0   55582636.0     EXISTING            Bassem
4  UNIMONI EXCHANGE LLC          Qatar            Malaysia    80500570.0     132477.0     EXISTING            Bassem
5  UNIMONI EXCHANGE LLC          Qatar               Nepal     7123914.0    1678633.0     EXISTING            Bassem
6  UNIMONI EXCHANGE LLC          Qatar             Nigeria     8543471.0     115370.0     EXISTING            Bassem
7  UNIMONI EXCHANGE LLC          Qatar         Philippines    45528278.0   21871639.0     EXISTING            Bassem
8  UNIMONI EXCHANGE LLC          Qatar            Thailand    17414674.0   13977605.0     EXISTING            Bassem
9  UNIMONI EXCHANGE LLC          Qatar              Uganda   100836860.0   18260022.0     EXISTING            Bassem

Processing for UNIMONI OMAN...
Top rows for UNIMONI OMAN:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   UNIMONI OMAN
1     Åland Islands               Kenya  15868.0   UNIMONI OMAN
5091       Zimbabwe               India  22701.0   UNIMONI OMAN
5092       Zimbabwe        South Africa  17959.0   UNIMONI OMAN
5093       Zimbabwe         Netherlands  13910.0   UNIMONI OMAN
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   UNIMONI OMAN
13          Albania               Kenya  24127.0   UNIMONI OMAN
14          Albania              France  22272.0   UNIMONI OMAN
15          Albania               Spain  20066.0   UNIMONI OMAN
16          Albania            Portugal  15137.0   UNIMONI OMAN

[1193 rows x 4 columns]
Filtered top rows for UNIMONI OMAN:
      source_country destination_country         gsv source_partner
3249           Oman          Bangladesh  45339602.0   UNIMONI OMAN
3250           Oman            Tanzania  26059967.0   UNIMONI OMAN
3251           Oman         Philippines  24617019.0   UNIMONI OMAN
3252           Oman               Kenya  19852109.0   UNIMONI OMAN
3253           Oman              Uganda  16599432.0   UNIMONI OMAN
3254           Oman            Thailand   9905277.0   UNIMONI OMAN
3255           Oman               India   6657635.0   UNIMONI OMAN
3256           Oman           Indonesia   4841332.0   UNIMONI OMAN
3257           Oman               Ghana   4629902.0   UNIMONI OMAN
3258           Oman      United Kingdom   4368724.0   UNIMONI OMAN
Updated Merged Results with Regional Director and Partner Gsv for UNIMONI OMAN:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0   UNIMONI OMAN           Oman          Bangladesh  45339602.0   1228254.0     EXISTING            Bassem
1   UNIMONI OMAN           Oman               Ghana   4629902.0        <NA>          NEW            Bassem
2   UNIMONI OMAN           Oman               India   6657635.0         4.0     EXISTING            Bassem
3   UNIMONI OMAN           Oman           Indonesia   4841332.0    154846.0     EXISTING            Bassem
4   UNIMONI OMAN           Oman               Kenya  19852109.0         3.0     EXISTING            Bassem
5   UNIMONI OMAN           Oman         Philippines  24617019.0    360069.0     EXISTING            Bassem
6   UNIMONI OMAN           Oman            Tanzania  26059967.0     18253.0     EXISTING            Bassem
7   UNIMONI OMAN           Oman            Thailand   9905277.0    586257.0     EXISTING            Bassem
8   UNIMONI OMAN           Oman              Uganda  16599432.0     71692.0     EXISTING            Bassem
9   UNIMONI OMAN           Oman      United Kingdom   4368724.0    414648.0     EXISTING            Bassem

Processing for Uniteller...
Top rows for Uniteller:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      Uniteller
1     Åland Islands               Kenya  15868.0      Uniteller
5091       Zimbabwe               India  22701.0      Uniteller
5092       Zimbabwe        South Africa  17959.0      Uniteller
5093       Zimbabwe         Netherlands  13910.0      Uniteller
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      Uniteller
13          Albania               Kenya  24127.0      Uniteller
14          Albania              France  22272.0      Uniteller
15          Albania               Spain  20066.0      Uniteller
16          Albania            Portugal  15137.0      Uniteller

[1193 rows x 4 columns]
Filtered top rows for Uniteller:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Uniteller:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for UPESI...
Top rows for UPESI:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0          UPESI
1     Åland Islands               Kenya  15868.0          UPESI
5091       Zimbabwe               India  22701.0          UPESI
5092       Zimbabwe        South Africa  17959.0          UPESI
5093       Zimbabwe         Netherlands  13910.0          UPESI
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0          UPESI
13          Albania               Kenya  24127.0          UPESI
14          Albania              France  22272.0          UPESI
15          Albania               Spain  20066.0          UPESI
16          Albania            Portugal  15137.0          UPESI

[1193 rows x 4 columns]
Filtered top rows for UPESI:
      source_country destination_country         gsv source_partner
2279          Kenya              Uganda  82132823.0          UPESI
2281          Kenya               India  27920861.0          UPESI
2282          Kenya            Tanzania   8763261.0          UPESI
2283          Kenya               Ghana   8032865.0          UPESI
2284          Kenya              Rwanda   3729508.0          UPESI
2285          Kenya               China   1299996.0          UPESI
2286          Kenya            Pakistan    646102.0          UPESI
2287          Kenya            Cameroon    338074.0          UPESI
2288          Kenya          Madagascar    308498.0          UPESI
2289          Kenya             Nigeria    264875.0          UPESI

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for UPESI:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0          UPESI          Kenya            Cameroon    338074.0    240732.0     EXISTING            Willie
1          UPESI          Kenya               China   1299996.0   1320102.0     EXISTING            Willie
2          UPESI          Kenya               Ghana   8032865.0   7980777.0     EXISTING            Willie
3          UPESI          Kenya               India  27920861.0  23983681.0     EXISTING            Willie
4          UPESI          Kenya          Madagascar    308498.0    311659.0     EXISTING            Willie
5          UPESI          Kenya             Nigeria    264875.0    226665.0     EXISTING            Willie
6          UPESI          Kenya            Pakistan    646102.0    643280.0     EXISTING            Willie
7          UPESI          Kenya              Rwanda   3729508.0   3743849.0     EXISTING            Willie
8          UPESI          Kenya            Tanzania   8763261.0   8611125.0     EXISTING            Willie
9          UPESI          Kenya              Uganda  82132823.0  82500335.0     EXISTING            Willie

Processing for UPT...
Top rows for UPT:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0            UPT
1     Åland Islands               Kenya  15868.0            UPT
5091       Zimbabwe               India  22701.0            UPT
5092       Zimbabwe        South Africa  17959.0            UPT
5093       Zimbabwe         Netherlands  13910.0            UPT
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0            UPT
13          Albania               Kenya  24127.0            UPT
14          Albania              France  22272.0            UPT
15          Albania               Spain  20066.0            UPT
16          Albania            Portugal  15137.0            UPT

[1193 rows x 4 columns]
Filtered top rows for UPT:
      source_country destination_country         gsv source_partner
4486         Turkey         Philippines  12817398.0            UPT
4487         Turkey             Germany   9571438.0            UPT
4488         Turkey      United Kingdom   4450829.0            UPT
4489         Turkey         Netherlands   2974129.0            UPT
4490         Turkey           Lithuania   2004598.0            UPT
4491         Turkey              Uganda   1854568.0            UPT
4492         Turkey              France   1775130.0            UPT
4493         Turkey             Belgium   1671173.0            UPT
4494         Turkey               Spain   1562720.0            UPT
4495         Turkey             Austria   1433311.0            UPT
Updated Merged Results with Regional Director and Partner Gsv for UPT:
   source_partner source_country destination_country         gsv Partner_Gsv existing/new regional_director
0            UPT         Turkey             Austria   1433311.0        <NA>          NEW            Viktor
1            UPT         Turkey             Belgium   1671173.0         1.0     EXISTING            Viktor
2            UPT         Turkey              France   1775130.0        <NA>          NEW            Viktor
3            UPT         Turkey             Germany   9571438.0        <NA>          NEW            Viktor
4            UPT         Turkey           Lithuania   2004598.0        <NA>          NEW            Viktor
5            UPT         Turkey         Netherlands   2974129.0        <NA>          NEW            Viktor
6            UPT         Turkey         Philippines  12817398.0   1499746.0     EXISTING            Viktor
7            UPT         Turkey               Spain   1562720.0        <NA>          NEW            Viktor
8            UPT         Turkey              Uganda   1854568.0     55846.0     EXISTING            Viktor
9            UPT         Turkey      United Kingdom   4450829.0         3.0     EXISTING            Viktor

Processing for Uremit...
Top rows for Uremit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         Uremit
1     Åland Islands               Kenya  15868.0         Uremit
5091       Zimbabwe               India  22701.0         Uremit
5092       Zimbabwe        South Africa  17959.0         Uremit
5093       Zimbabwe         Netherlands  13910.0         Uremit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         Uremit
13          Albania               Kenya  24127.0         Uremit
14          Albania              France  22272.0         Uremit
15          Albania               Spain  20066.0         Uremit
16          Albania            Portugal  15137.0         Uremit

[1193 rows x 4 columns]
Filtered top rows for Uremit:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0         Uremit
4846  United States of America               Ghana  854031550.0         Uremit
4847  United States of America             Liberia  423311206.0         Uremit
4848  United States of America            Viet Nam  299709130.0         Uremit
4849  United States of America               India  237645288.0         Uremit
...                        ...                 ...          ...            ...
143                  Australia            Malaysia   45569162.0         Uremit
144                  Australia          Bangladesh   40785924.0         Uremit
145                  Australia               Ghana   14536937.0         Uremit
146                  Australia              Uganda   10896328.0         Uremit
147                  Australia             Germany    9418964.0         Uremit

[319 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Uremit:
     source_partner            source_country destination_country           gsv Partner_Gsv existing/new regional_director
0           Uremit                 Australia          Bangladesh    40785924.0     20419.0     EXISTING            Bassem
1           Uremit                 Australia             Germany     9418964.0        <NA>          NEW            Bassem
2           Uremit                 Australia               Ghana    14536937.0        <NA>          NEW            Bassem
3           Uremit                 Australia               India  1271119070.0       734.0     EXISTING            Bassem
4           Uremit                 Australia               Kenya   100661663.0      9323.0     EXISTING            Bassem
..             ...                       ...                 ...           ...         ...          ...               ...
314         Uremit  United States of America             Liberia   423311206.0        <NA>          NEW            Bassem
315         Uremit  United States of America         Philippines   855243500.0      5642.0     EXISTING            Bassem
316         Uremit  United States of America            Tanzania   224628683.0        <NA>          NEW            Bassem
317         Uremit  United States of America              Uganda   160458035.0        <NA>          NEW            Bassem
318         Uremit  United States of America            Viet Nam   299709130.0        <NA>          NEW            Bassem

[319 rows x 7 columns]

Processing for URemit Money Transfer B2B...
Top rows for URemit Money Transfer B2B:
      source_country destination_country      gsv             source_partner
0     Åland Islands            Viet Nam  85001.0  URemit Money Transfer B2B
1     Åland Islands               Kenya  15868.0  URemit Money Transfer B2B
5091       Zimbabwe               India  22701.0  URemit Money Transfer B2B
5092       Zimbabwe        South Africa  17959.0  URemit Money Transfer B2B
5093       Zimbabwe         Netherlands  13910.0  URemit Money Transfer B2B
...             ...                 ...      ...                        ...
12          Albania            Viet Nam  40428.0  URemit Money Transfer B2B
13          Albania               Kenya  24127.0  URemit Money Transfer B2B
14          Albania              France  22272.0  URemit Money Transfer B2B
15          Albania               Spain  20066.0  URemit Money Transfer B2B
16          Albania            Portugal  15137.0  URemit Money Transfer B2B

[1193 rows x 4 columns]
Filtered top rows for URemit Money Transfer B2B:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for URemit Money Transfer B2B:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Venture Garden Nigeria Ltd...
Top rows for Venture Garden Nigeria Ltd:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  Venture Garden Nigeria Ltd
1     Åland Islands               Kenya  15868.0  Venture Garden Nigeria Ltd
5091       Zimbabwe               India  22701.0  Venture Garden Nigeria Ltd
5092       Zimbabwe        South Africa  17959.0  Venture Garden Nigeria Ltd
5093       Zimbabwe         Netherlands  13910.0  Venture Garden Nigeria Ltd
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  Venture Garden Nigeria Ltd
13          Albania               Kenya  24127.0  Venture Garden Nigeria Ltd
14          Albania              France  22272.0  Venture Garden Nigeria Ltd
15          Albania               Spain  20066.0  Venture Garden Nigeria Ltd
16          Albania            Portugal  15137.0  Venture Garden Nigeria Ltd

[1193 rows x 4 columns]
Filtered top rows for Venture Garden Nigeria Ltd:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Venture Garden Nigeria Ltd:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for Viamericas Corporation...
Top rows for Viamericas Corporation:
      source_country destination_country      gsv          source_partner
0     Åland Islands            Viet Nam  85001.0  Viamericas Corporation
1     Åland Islands               Kenya  15868.0  Viamericas Corporation
5091       Zimbabwe               India  22701.0  Viamericas Corporation
5092       Zimbabwe        South Africa  17959.0  Viamericas Corporation
5093       Zimbabwe         Netherlands  13910.0  Viamericas Corporation
...             ...                 ...      ...                     ...
12          Albania            Viet Nam  40428.0  Viamericas Corporation
13          Albania               Kenya  24127.0  Viamericas Corporation
14          Albania              France  22272.0  Viamericas Corporation
15          Albania               Spain  20066.0  Viamericas Corporation
16          Albania            Portugal  15137.0  Viamericas Corporation

[1193 rows x 4 columns]
Filtered top rows for Viamericas Corporation:
                 source_country destination_country          gsv          source_partner
4845  United States of America         Philippines  855243500.0  Viamericas Corporation
4846  United States of America               Ghana  854031550.0  Viamericas Corporation
4847  United States of America             Liberia  423311206.0  Viamericas Corporation
4848  United States of America            Viet Nam  299709130.0  Viamericas Corporation
4849  United States of America               India  237645288.0  Viamericas Corporation
4850  United States of America            Tanzania  224628683.0  Viamericas Corporation
4851  United States of America          Bangladesh  207173742.0  Viamericas Corporation
4852  United States of America               Kenya  193169745.0  Viamericas Corporation
4853  United States of America            Cameroon  162051487.0  Viamericas Corporation
4854  United States of America              Uganda  160458035.0  Viamericas Corporation
Updated Merged Results with Regional Director and Partner Gsv for Viamericas Corporation:
            source_partner            source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Viamericas Corporation  United States of America          Bangladesh  207173742.0        16.0     EXISTING            Philip
1  Viamericas Corporation  United States of America            Cameroon  162051487.0        <NA>          NEW            Philip
2  Viamericas Corporation  United States of America               Ghana  854031550.0         5.0     EXISTING            Philip
3  Viamericas Corporation  United States of America               India  237645288.0        <NA>          NEW            Philip
4  Viamericas Corporation  United States of America               Kenya  193169745.0        <NA>          NEW            Philip
5  Viamericas Corporation  United States of America             Liberia  423311206.0        <NA>          NEW            Philip
6  Viamericas Corporation  United States of America         Philippines  855243500.0        <NA>          NEW            Philip
7  Viamericas Corporation  United States of America            Tanzania  224628683.0        <NA>          NEW            Philip
8  Viamericas Corporation  United States of America              Uganda  160458035.0        <NA>          NEW            Philip
9  Viamericas Corporation  United States of America            Viet Nam  299709130.0        40.0     EXISTING            Philip

Processing for Visa Payments Ltd...
Top rows for Visa Payments Ltd:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  Visa Payments Ltd
1     Åland Islands               Kenya  15868.0  Visa Payments Ltd
5091       Zimbabwe               India  22701.0  Visa Payments Ltd
5092       Zimbabwe        South Africa  17959.0  Visa Payments Ltd
5093       Zimbabwe         Netherlands  13910.0  Visa Payments Ltd
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  Visa Payments Ltd
13          Albania               Kenya  24127.0  Visa Payments Ltd
14          Albania              France  22272.0  Visa Payments Ltd
15          Albania               Spain  20066.0  Visa Payments Ltd
16          Albania            Portugal  15137.0  Visa Payments Ltd

[1193 rows x 4 columns]
Filtered top rows for Visa Payments Ltd:
     source_country destination_country          gsv     source_partner
748         Canada               India  211296069.0  Visa Payments Ltd
749         Canada         Philippines   57990615.0  Visa Payments Ltd
750         Canada               Ghana   57154456.0  Visa Payments Ltd
751         Canada            Viet Nam   37930649.0  Visa Payments Ltd
752         Canada               Kenya   29951383.0  Visa Payments Ltd
753         Canada              Uganda   27682200.0  Visa Payments Ltd
754         Canada               Benin   22477592.0  Visa Payments Ltd
755         Canada          Bangladesh   19317938.0  Visa Payments Ltd
756         Canada            Cameroon   18872246.0  Visa Payments Ltd
757         Canada            Tanzania   18091580.0  Visa Payments Ltd

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Visa Payments Ltd:
       source_partner source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  Visa Payments Ltd         Canada          Bangladesh   19317938.0     57662.0     EXISTING           Praveen
1  Visa Payments Ltd         Canada               Benin   22477592.0        <NA>          NEW           Praveen
2  Visa Payments Ltd         Canada            Cameroon   18872246.0        <NA>          NEW           Praveen
3  Visa Payments Ltd         Canada               Ghana   57154456.0        <NA>          NEW           Praveen
4  Visa Payments Ltd         Canada               India  211296069.0        <NA>          NEW           Praveen
5  Visa Payments Ltd         Canada               Kenya   29951383.0     54579.0     EXISTING           Praveen
6  Visa Payments Ltd         Canada         Philippines   57990615.0   6652068.0     EXISTING           Praveen
7  Visa Payments Ltd         Canada            Tanzania   18091580.0        <NA>          NEW           Praveen
8  Visa Payments Ltd         Canada              Uganda   27682200.0        <NA>          NEW           Praveen
9  Visa Payments Ltd         Canada            Viet Nam   37930649.0        <NA>          NEW           Praveen

Processing for VK CONSULTANCY PTY LIMITED...
Top rows for VK CONSULTANCY PTY LIMITED:
      source_country destination_country      gsv              source_partner
0     Åland Islands            Viet Nam  85001.0  VK CONSULTANCY PTY LIMITED
1     Åland Islands               Kenya  15868.0  VK CONSULTANCY PTY LIMITED
5091       Zimbabwe               India  22701.0  VK CONSULTANCY PTY LIMITED
5092       Zimbabwe        South Africa  17959.0  VK CONSULTANCY PTY LIMITED
5093       Zimbabwe         Netherlands  13910.0  VK CONSULTANCY PTY LIMITED
...             ...                 ...      ...                         ...
12          Albania            Viet Nam  40428.0  VK CONSULTANCY PTY LIMITED
13          Albania               Kenya  24127.0  VK CONSULTANCY PTY LIMITED
14          Albania              France  22272.0  VK CONSULTANCY PTY LIMITED
15          Albania               Spain  20066.0  VK CONSULTANCY PTY LIMITED
16          Albania            Portugal  15137.0  VK CONSULTANCY PTY LIMITED

[1193 rows x 4 columns]
Filtered top rows for VK CONSULTANCY PTY LIMITED:
     source_country destination_country        gsv              source_partner
516       Botswana               India  7977245.0  VK CONSULTANCY PTY LIMITED
517       Botswana          Bangladesh  3612331.0  VK CONSULTANCY PTY LIMITED
518       Botswana            Pakistan  2638309.0  VK CONSULTANCY PTY LIMITED
519       Botswana         Philippines  1000707.0  VK CONSULTANCY PTY LIMITED
520       Botswana           Sri Lanka   639244.0  VK CONSULTANCY PTY LIMITED
521       Botswana               Kenya   178074.0  VK CONSULTANCY PTY LIMITED
522       Botswana              Zambia   124099.0  VK CONSULTANCY PTY LIMITED
523       Botswana            Zimbabwe   122584.0  VK CONSULTANCY PTY LIMITED
524       Botswana          Mozambique    26217.0  VK CONSULTANCY PTY LIMITED
525       Botswana               Ghana    19889.0  VK CONSULTANCY PTY LIMITED
Updated Merged Results with Regional Director and Partner Gsv for VK CONSULTANCY PTY LIMITED:
                source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  VK CONSULTANCY PTY LIMITED       Botswana          Bangladesh  3612331.0     21628.0     EXISTING            Willie
1  VK CONSULTANCY PTY LIMITED       Botswana               Ghana    19889.0        <NA>          NEW            Willie
2  VK CONSULTANCY PTY LIMITED       Botswana               India  7977245.0       744.0     EXISTING            Willie
3  VK CONSULTANCY PTY LIMITED       Botswana               Kenya   178074.0        <NA>          NEW            Willie
4  VK CONSULTANCY PTY LIMITED       Botswana          Mozambique    26217.0        <NA>          NEW            Willie
5  VK CONSULTANCY PTY LIMITED       Botswana            Pakistan  2638309.0        <NA>          NEW            Willie
6  VK CONSULTANCY PTY LIMITED       Botswana         Philippines  1000707.0      7500.0     EXISTING            Willie
7  VK CONSULTANCY PTY LIMITED       Botswana           Sri Lanka   639244.0       209.0     EXISTING            Willie
8  VK CONSULTANCY PTY LIMITED       Botswana              Zambia   124099.0        <NA>          NEW            Willie
9  VK CONSULTANCY PTY LIMITED       Botswana            Zimbabwe   122584.0      7161.0     EXISTING            Willie

Processing for Vodacom TZ...
Top rows for Vodacom TZ:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     Vodacom TZ
1     Åland Islands               Kenya  15868.0     Vodacom TZ
5091       Zimbabwe               India  22701.0     Vodacom TZ
5092       Zimbabwe        South Africa  17959.0     Vodacom TZ
5093       Zimbabwe         Netherlands  13910.0     Vodacom TZ
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     Vodacom TZ
13          Albania               Kenya  24127.0     Vodacom TZ
14          Albania              France  22272.0     Vodacom TZ
15          Albania               Spain  20066.0     Vodacom TZ
16          Albania            Portugal  15137.0     Vodacom TZ

[1193 rows x 4 columns]
Filtered top rows for Vodacom TZ:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for Vodacom TZ:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for WesternUnion...
Top rows for WesternUnion:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0   WesternUnion
1     Åland Islands               Kenya  15868.0   WesternUnion
5091       Zimbabwe               India  22701.0   WesternUnion
5092       Zimbabwe        South Africa  17959.0   WesternUnion
5093       Zimbabwe         Netherlands  13910.0   WesternUnion
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0   WesternUnion
13          Albania               Kenya  24127.0   WesternUnion
14          Albania              France  22272.0   WesternUnion
15          Albania               Spain  20066.0   WesternUnion
16          Albania            Portugal  15137.0   WesternUnion

[1193 rows x 4 columns]
Filtered top rows for WesternUnion:
      source_country destination_country       gsv source_partner
5091       Zimbabwe               India   22701.0   WesternUnion
5092       Zimbabwe        South Africa   17959.0   WesternUnion
5093       Zimbabwe         Netherlands   13910.0   WesternUnion
5094       Zimbabwe             Germany   13752.0   WesternUnion
5060         Zambia         Philippines  708664.0   WesternUnion
...             ...                 ...       ...            ...
12          Albania            Viet Nam   40428.0   WesternUnion
13          Albania               Kenya   24127.0   WesternUnion
14          Albania              France   22272.0   WesternUnion
15          Albania               Spain   20066.0   WesternUnion
16          Albania            Portugal   15137.0   WesternUnion

[1064 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for WesternUnion:
      source_partner source_country destination_country      gsv Partner_Gsv existing/new regional_director
0      WesternUnion        Albania             Austria  48564.0     48564.0     EXISTING            Bassem
1      WesternUnion        Albania             Belgium  87582.0     87582.0     EXISTING            Bassem
2      WesternUnion        Albania              France  22272.0     20254.0     EXISTING            Bassem
3      WesternUnion        Albania             Germany  80383.0     60589.0     EXISTING            Bassem
4      WesternUnion        Albania               Ghana  59511.0        <NA>          NEW            Bassem
...             ...            ...                 ...      ...         ...          ...               ...
1059   WesternUnion         Zambia            Thailand  24777.0        <NA>          NEW            Bassem
1060   WesternUnion       Zimbabwe             Germany  13752.0     13752.0     EXISTING            Bassem
1061   WesternUnion       Zimbabwe               India  22701.0     22701.0     EXISTING            Bassem
1062   WesternUnion       Zimbabwe         Netherlands  13910.0     13910.0     EXISTING            Bassem
1063   WesternUnion       Zimbabwe        South Africa  17959.0     18291.0     EXISTING            Bassem

[1064 rows x 7 columns]

Processing for WingMoney...
Top rows for WingMoney:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0      WingMoney
1     Åland Islands               Kenya  15868.0      WingMoney
5091       Zimbabwe               India  22701.0      WingMoney
5092       Zimbabwe        South Africa  17959.0      WingMoney
5093       Zimbabwe         Netherlands  13910.0      WingMoney
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0      WingMoney
13          Albania               Kenya  24127.0      WingMoney
14          Albania              France  22272.0      WingMoney
15          Albania               Spain  20066.0      WingMoney
16          Albania            Portugal  15137.0      WingMoney

[1193 rows x 4 columns]
Filtered top rows for WingMoney:
     source_country destination_country       gsv source_partner
688       Cambodia            Viet Nam  370573.0      WingMoney
689       Cambodia               India   68908.0      WingMoney
690       Cambodia              France   64336.0      WingMoney
691       Cambodia         Philippines   36017.0      WingMoney
692       Cambodia               Kenya   18447.0      WingMoney
693       Cambodia            Cameroon   16486.0      WingMoney
694       Cambodia               China   11249.0      WingMoney
Updated Merged Results with Regional Director and Partner Gsv for WingMoney:
   source_partner source_country destination_country       gsv Partner_Gsv existing/new regional_director
0      WingMoney       Cambodia            Cameroon   16486.0        <NA>          NEW            Sukesh
1      WingMoney       Cambodia               China   11249.0     11249.0     EXISTING            Sukesh
2      WingMoney       Cambodia              France   64336.0        <NA>          NEW            Sukesh
3      WingMoney       Cambodia               India   68908.0     65351.0     EXISTING            Sukesh
4      WingMoney       Cambodia               Kenya   18447.0        <NA>          NEW            Sukesh
5      WingMoney       Cambodia         Philippines   36017.0        <NA>          NEW            Sukesh
6      WingMoney       Cambodia            Viet Nam  370573.0        15.0     EXISTING            Sukesh

Processing for WireBarley...
Top rows for WireBarley:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     WireBarley
1     Åland Islands               Kenya  15868.0     WireBarley
5091       Zimbabwe               India  22701.0     WireBarley
5092       Zimbabwe        South Africa  17959.0     WireBarley
5093       Zimbabwe         Netherlands  13910.0     WireBarley
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     WireBarley
13          Albania               Kenya  24127.0     WireBarley
14          Albania              France  22272.0     WireBarley
15          Albania               Spain  20066.0     WireBarley
16          Albania            Portugal  15137.0     WireBarley

[1193 rows x 4 columns]
Filtered top rows for WireBarley:
                 source_country destination_country           gsv source_partner
4845  United States of America         Philippines   855243500.0     WireBarley
4846  United States of America               Ghana   854031550.0     WireBarley
4847  United States of America             Liberia   423311206.0     WireBarley
4848  United States of America            Viet Nam   299709130.0     WireBarley
4849  United States of America               India   237645288.0     WireBarley
4850  United States of America            Tanzania   224628683.0     WireBarley
4851  United States of America          Bangladesh   207173742.0     WireBarley
4852  United States of America               Kenya   193169745.0     WireBarley
4853  United States of America            Cameroon   162051487.0     WireBarley
4854  United States of America              Uganda   160458035.0     WireBarley
2335        Korea, Republic of            Viet Nam  1273265577.0     WireBarley
2336        Korea, Republic of            Thailand   288926158.0     WireBarley
2337        Korea, Republic of               India   177194543.0     WireBarley
2338        Korea, Republic of          Bangladesh   140079656.0     WireBarley
2339        Korea, Republic of         Philippines    67784948.0     WireBarley
2340        Korea, Republic of            Malaysia    24960937.0     WireBarley
2341        Korea, Republic of           Indonesia    23490272.0     WireBarley
2342        Korea, Republic of               Nepal    16072605.0     WireBarley
2343        Korea, Republic of              Uganda    13095239.0     WireBarley
2344        Korea, Republic of               China    11886460.0     WireBarley
748                     Canada               India   211296069.0     WireBarley
749                     Canada         Philippines    57990615.0     WireBarley
750                     Canada               Ghana    57154456.0     WireBarley
751                     Canada            Viet Nam    37930649.0     WireBarley
752                     Canada               Kenya    29951383.0     WireBarley
753                     Canada              Uganda    27682200.0     WireBarley
754                     Canada               Benin    22477592.0     WireBarley
755                     Canada          Bangladesh    19317938.0     WireBarley
756                     Canada            Cameroon    18872246.0     WireBarley
757                     Canada            Tanzania    18091580.0     WireBarley
138                  Australia               India  1271119070.0     WireBarley
139                  Australia               Kenya   100661663.0     WireBarley
140                  Australia            Viet Nam    86869347.0     WireBarley
141                  Australia         Philippines    51386339.0     WireBarley
142                  Australia      United Kingdom    46499428.0     WireBarley
143                  Australia            Malaysia    45569162.0     WireBarley
144                  Australia          Bangladesh    40785924.0     WireBarley
145                  Australia               Ghana    14536937.0     WireBarley
146                  Australia              Uganda    10896328.0     WireBarley
147                  Australia             Germany     9418964.0     WireBarley

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for WireBarley:
    source_partner            source_country destination_country           gsv Partner_Gsv existing/new regional_director
0      WireBarley                 Australia          Bangladesh    40785924.0        <NA>          NEW            Sukesh
1      WireBarley                 Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2      WireBarley                 Australia               Ghana    14536937.0        <NA>          NEW            Sukesh
3      WireBarley                 Australia               India  1271119070.0   1757437.0     EXISTING            Sukesh
4      WireBarley                 Australia               Kenya   100661663.0        <NA>          NEW            Sukesh
5      WireBarley                 Australia            Malaysia    45569162.0        <NA>          NEW            Sukesh
6      WireBarley                 Australia         Philippines    51386339.0        <NA>          NEW            Sukesh
7      WireBarley                 Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8      WireBarley                 Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9      WireBarley                 Australia            Viet Nam    86869347.0        <NA>          NEW            Sukesh
10     WireBarley                    Canada          Bangladesh    19317938.0        <NA>          NEW            Sukesh
11     WireBarley                    Canada               Benin    22477592.0        <NA>          NEW            Sukesh
12     WireBarley                    Canada            Cameroon    18872246.0        <NA>          NEW            Sukesh
13     WireBarley                    Canada               Ghana    57154456.0        <NA>          NEW            Sukesh
14     WireBarley                    Canada               India   211296069.0     82417.0     EXISTING            Sukesh
15     WireBarley                    Canada               Kenya    29951383.0        <NA>          NEW            Sukesh
16     WireBarley                    Canada         Philippines    57990615.0        <NA>          NEW            Sukesh
17     WireBarley                    Canada            Tanzania    18091580.0        <NA>          NEW            Sukesh
18     WireBarley                    Canada              Uganda    27682200.0        <NA>          NEW            Sukesh
19     WireBarley                    Canada            Viet Nam    37930649.0        <NA>          NEW            Sukesh
20     WireBarley        Korea, Republic of          Bangladesh   140079656.0        <NA>          NEW            Sukesh
21     WireBarley        Korea, Republic of               China    11886460.0        <NA>          NEW            Sukesh
22     WireBarley        Korea, Republic of               India   177194543.0  34787558.0     EXISTING            Sukesh
23     WireBarley        Korea, Republic of           Indonesia    23490272.0        <NA>          NEW            Sukesh
24     WireBarley        Korea, Republic of            Malaysia    24960937.0        <NA>          NEW            Sukesh
25     WireBarley        Korea, Republic of               Nepal    16072605.0        <NA>          NEW            Sukesh
26     WireBarley        Korea, Republic of         Philippines    67784948.0        <NA>          NEW            Sukesh
27     WireBarley        Korea, Republic of            Thailand   288926158.0        <NA>          NEW            Sukesh
28     WireBarley        Korea, Republic of              Uganda    13095239.0        <NA>          NEW            Sukesh
29     WireBarley        Korea, Republic of            Viet Nam  1273265577.0        <NA>          NEW            Sukesh
30     WireBarley  United States of America          Bangladesh   207173742.0        <NA>          NEW            Sukesh
31     WireBarley  United States of America            Cameroon   162051487.0        <NA>          NEW            Sukesh
32     WireBarley  United States of America               Ghana   854031550.0        <NA>          NEW            Sukesh
33     WireBarley  United States of America               India   237645288.0   1291947.0     EXISTING            Sukesh
34     WireBarley  United States of America               Kenya   193169745.0        <NA>          NEW            Sukesh
35     WireBarley  United States of America             Liberia   423311206.0        <NA>          NEW            Sukesh
36     WireBarley  United States of America         Philippines   855243500.0        <NA>          NEW            Sukesh
37     WireBarley  United States of America            Tanzania   224628683.0        <NA>          NEW            Sukesh
38     WireBarley  United States of America              Uganda   160458035.0        <NA>          NEW            Sukesh
39     WireBarley  United States of America            Viet Nam   299709130.0        <NA>          NEW            Sukesh

Processing for WireBarley Time Based...
Top rows for WireBarley Time Based:
      source_country destination_country      gsv         source_partner
0     Åland Islands            Viet Nam  85001.0  WireBarley Time Based
1     Åland Islands               Kenya  15868.0  WireBarley Time Based
5091       Zimbabwe               India  22701.0  WireBarley Time Based
5092       Zimbabwe        South Africa  17959.0  WireBarley Time Based
5093       Zimbabwe         Netherlands  13910.0  WireBarley Time Based
...             ...                 ...      ...                    ...
12          Albania            Viet Nam  40428.0  WireBarley Time Based
13          Albania               Kenya  24127.0  WireBarley Time Based
14          Albania              France  22272.0  WireBarley Time Based
15          Albania               Spain  20066.0  WireBarley Time Based
16          Albania            Portugal  15137.0  WireBarley Time Based

[1193 rows x 4 columns]
Filtered top rows for WireBarley Time Based:
                 source_country destination_country           gsv         source_partner
5034                  Viet Nam               Kenya       48044.0  WireBarley Time Based
5035                  Viet Nam              Uganda       43583.0  WireBarley Time Based
5036                  Viet Nam               India       33851.0  WireBarley Time Based
5037                  Viet Nam           Singapore       19900.0  WireBarley Time Based
4845  United States of America         Philippines   855243500.0  WireBarley Time Based
4846  United States of America               Ghana   854031550.0  WireBarley Time Based
4847  United States of America             Liberia   423311206.0  WireBarley Time Based
4848  United States of America            Viet Nam   299709130.0  WireBarley Time Based
4849  United States of America               India   237645288.0  WireBarley Time Based
4850  United States of America            Tanzania   224628683.0  WireBarley Time Based
4851  United States of America          Bangladesh   207173742.0  WireBarley Time Based
4852  United States of America               Kenya   193169745.0  WireBarley Time Based
4853  United States of America            Cameroon   162051487.0  WireBarley Time Based
4854  United States of America              Uganda   160458035.0  WireBarley Time Based
3119               New Zealand               India   119681920.0  WireBarley Time Based
3120               New Zealand            Viet Nam    35630623.0  WireBarley Time Based
3121               New Zealand         Philippines    13526440.0  WireBarley Time Based
3122               New Zealand      United Kingdom     4087045.0  WireBarley Time Based
3123               New Zealand               Kenya     3337992.0  WireBarley Time Based
3124               New Zealand          Bangladesh     3121936.0  WireBarley Time Based
3125               New Zealand               Ghana     2095044.0  WireBarley Time Based
3126               New Zealand            Malaysia     1756149.0  WireBarley Time Based
3127               New Zealand              Uganda     1402204.0  WireBarley Time Based
3128               New Zealand        South Africa      772845.0  WireBarley Time Based
2335        Korea, Republic of            Viet Nam  1273265577.0  WireBarley Time Based
2336        Korea, Republic of            Thailand   288926158.0  WireBarley Time Based
2337        Korea, Republic of               India   177194543.0  WireBarley Time Based
2338        Korea, Republic of          Bangladesh   140079656.0  WireBarley Time Based
2339        Korea, Republic of         Philippines    67784948.0  WireBarley Time Based
2340        Korea, Republic of            Malaysia    24960937.0  WireBarley Time Based
2341        Korea, Republic of           Indonesia    23490272.0  WireBarley Time Based
2342        Korea, Republic of               Nepal    16072605.0  WireBarley Time Based
2343        Korea, Republic of              Uganda    13095239.0  WireBarley Time Based
2344        Korea, Republic of               China    11886460.0  WireBarley Time Based
138                  Australia               India  1271119070.0  WireBarley Time Based
139                  Australia               Kenya   100661663.0  WireBarley Time Based
140                  Australia            Viet Nam    86869347.0  WireBarley Time Based
141                  Australia         Philippines    51386339.0  WireBarley Time Based
142                  Australia      United Kingdom    46499428.0  WireBarley Time Based
143                  Australia            Malaysia    45569162.0  WireBarley Time Based
144                  Australia          Bangladesh    40785924.0  WireBarley Time Based
145                  Australia               Ghana    14536937.0  WireBarley Time Based
146                  Australia              Uganda    10896328.0  WireBarley Time Based
147                  Australia             Germany     9418964.0  WireBarley Time Based

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for WireBarley Time Based:
            source_partner            source_country destination_country           gsv Partner_Gsv existing/new regional_director
0   WireBarley Time Based                 Australia          Bangladesh    40785924.0        <NA>          NEW            Sukesh
1   WireBarley Time Based                 Australia             Germany     9418964.0        <NA>          NEW            Sukesh
2   WireBarley Time Based                 Australia               Ghana    14536937.0        <NA>          NEW            Sukesh
3   WireBarley Time Based                 Australia               India  1271119070.0     59544.0     EXISTING            Sukesh
4   WireBarley Time Based                 Australia               Kenya   100661663.0        <NA>          NEW            Sukesh
5   WireBarley Time Based                 Australia            Malaysia    45569162.0    131947.0     EXISTING            Sukesh
6   WireBarley Time Based                 Australia         Philippines    51386339.0     88207.0     EXISTING            Sukesh
7   WireBarley Time Based                 Australia              Uganda    10896328.0        <NA>          NEW            Sukesh
8   WireBarley Time Based                 Australia      United Kingdom    46499428.0        <NA>          NEW            Sukesh
9   WireBarley Time Based                 Australia            Viet Nam    86869347.0        <NA>          NEW            Sukesh
10  WireBarley Time Based        Korea, Republic of          Bangladesh   140079656.0        <NA>          NEW            Sukesh
11  WireBarley Time Based        Korea, Republic of               China    11886460.0        <NA>          NEW            Sukesh
12  WireBarley Time Based        Korea, Republic of               India   177194543.0    813241.0     EXISTING            Sukesh
13  WireBarley Time Based        Korea, Republic of           Indonesia    23490272.0        <NA>          NEW            Sukesh
14  WireBarley Time Based        Korea, Republic of            Malaysia    24960937.0    697015.0     EXISTING            Sukesh
15  WireBarley Time Based        Korea, Republic of               Nepal    16072605.0        <NA>          NEW            Sukesh
16  WireBarley Time Based        Korea, Republic of         Philippines    67784948.0    309027.0     EXISTING            Sukesh
17  WireBarley Time Based        Korea, Republic of            Thailand   288926158.0        <NA>          NEW            Sukesh
18  WireBarley Time Based        Korea, Republic of              Uganda    13095239.0        <NA>          NEW            Sukesh
19  WireBarley Time Based        Korea, Republic of            Viet Nam  1273265577.0        <NA>          NEW            Sukesh
20  WireBarley Time Based               New Zealand          Bangladesh     3121936.0        <NA>          NEW            Sukesh
21  WireBarley Time Based               New Zealand               Ghana     2095044.0        <NA>          NEW            Sukesh
22  WireBarley Time Based               New Zealand               India   119681920.0      1131.0     EXISTING            Sukesh
23  WireBarley Time Based               New Zealand               Kenya     3337992.0        <NA>          NEW            Sukesh
24  WireBarley Time Based               New Zealand            Malaysia     1756149.0        <NA>          NEW            Sukesh
25  WireBarley Time Based               New Zealand         Philippines    13526440.0        <NA>          NEW            Sukesh
26  WireBarley Time Based               New Zealand        South Africa      772845.0        <NA>          NEW            Sukesh
27  WireBarley Time Based               New Zealand              Uganda     1402204.0        <NA>          NEW            Sukesh
28  WireBarley Time Based               New Zealand      United Kingdom     4087045.0        <NA>          NEW            Sukesh
29  WireBarley Time Based               New Zealand            Viet Nam    35630623.0        <NA>          NEW            Sukesh
30  WireBarley Time Based  United States of America          Bangladesh   207173742.0        <NA>          NEW            Sukesh
31  WireBarley Time Based  United States of America            Cameroon   162051487.0        <NA>          NEW            Sukesh
32  WireBarley Time Based  United States of America               Ghana   854031550.0        <NA>          NEW            Sukesh
33  WireBarley Time Based  United States of America               India   237645288.0     48300.0     EXISTING            Sukesh
34  WireBarley Time Based  United States of America               Kenya   193169745.0        <NA>          NEW            Sukesh
35  WireBarley Time Based  United States of America             Liberia   423311206.0        <NA>          NEW            Sukesh
36  WireBarley Time Based  United States of America         Philippines   855243500.0     12163.0     EXISTING            Sukesh
37  WireBarley Time Based  United States of America            Tanzania   224628683.0        <NA>          NEW            Sukesh
38  WireBarley Time Based  United States of America              Uganda   160458035.0        <NA>          NEW            Sukesh
39  WireBarley Time Based  United States of America            Viet Nam   299709130.0        <NA>          NEW            Sukesh
40  WireBarley Time Based                  Viet Nam               India       33851.0     33851.0     EXISTING            Sukesh
41  WireBarley Time Based                  Viet Nam               Kenya       48044.0        <NA>          NEW            Sukesh
42  WireBarley Time Based                  Viet Nam           Singapore       19900.0        <NA>          NEW            Sukesh
43  WireBarley Time Based                  Viet Nam              Uganda       43583.0        <NA>          NEW            Sukesh

Processing for Wise...
Top rows for Wise:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0           Wise
1     Åland Islands               Kenya  15868.0           Wise
5091       Zimbabwe               India  22701.0           Wise
5092       Zimbabwe        South Africa  17959.0           Wise
5093       Zimbabwe         Netherlands  13910.0           Wise
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0           Wise
13          Albania               Kenya  24127.0           Wise
14          Albania              France  22272.0           Wise
15          Albania               Spain  20066.0           Wise
16          Albania            Portugal  15137.0           Wise

[1193 rows x 4 columns]
Filtered top rows for Wise:
      source_country destination_country       gsv source_partner
0     Åland Islands            Viet Nam   85001.0           Wise
1     Åland Islands               Kenya   15868.0           Wise
5060         Zambia         Philippines  708664.0           Wise
5061         Zambia               Ghana  147786.0           Wise
5062         Zambia               Kenya   87643.0           Wise
...             ...                 ...       ...            ...
12          Albania            Viet Nam   40428.0           Wise
13          Albania               Kenya   24127.0           Wise
14          Albania              France   22272.0           Wise
15          Albania               Spain   20066.0           Wise
16          Albania            Portugal   15137.0           Wise

[948 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Wise:
     source_partner source_country destination_country      gsv Partner_Gsv existing/new regional_director
0             Wise        Albania             Austria  48564.0        <NA>          NEW            Viktor
1             Wise        Albania             Belgium  87582.0        <NA>          NEW            Viktor
2             Wise        Albania              France  22272.0        <NA>          NEW            Viktor
3             Wise        Albania             Germany  80383.0        <NA>          NEW            Viktor
4             Wise        Albania               Ghana  59511.0     59116.0     EXISTING            Viktor
..             ...            ...                 ...      ...         ...          ...               ...
943           Wise         Zambia        South Africa  69158.0        <NA>          NEW            Viktor
944           Wise         Zambia            Tanzania  46794.0        92.0     EXISTING            Viktor
945           Wise         Zambia            Thailand  24777.0        <NA>          NEW            Viktor
946           Wise  Åland Islands               Kenya  15868.0     10282.0     EXISTING            Viktor
947           Wise  Åland Islands            Viet Nam  85001.0     67907.0     EXISTING            Viktor

[948 rows x 7 columns]

Processing for Wise_Biz...
Top rows for Wise_Biz:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       Wise_Biz
1     Åland Islands               Kenya  15868.0       Wise_Biz
5091       Zimbabwe               India  22701.0       Wise_Biz
5092       Zimbabwe        South Africa  17959.0       Wise_Biz
5093       Zimbabwe         Netherlands  13910.0       Wise_Biz
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       Wise_Biz
13          Albania               Kenya  24127.0       Wise_Biz
14          Albania              France  22272.0       Wise_Biz
15          Albania               Spain  20066.0       Wise_Biz
16          Albania            Portugal  15137.0       Wise_Biz

[1193 rows x 4 columns]
Filtered top rows for Wise_Biz:
                 source_country destination_country          gsv source_partner
5034                  Viet Nam               Kenya      48044.0       Wise_Biz
5035                  Viet Nam              Uganda      43583.0       Wise_Biz
5036                  Viet Nam               India      33851.0       Wise_Biz
5037                  Viet Nam           Singapore      19900.0       Wise_Biz
4845  United States of America         Philippines  855243500.0       Wise_Biz
...                        ...                 ...          ...            ...
143                  Australia            Malaysia   45569162.0       Wise_Biz
144                  Australia          Bangladesh   40785924.0       Wise_Biz
145                  Australia               Ghana   14536937.0       Wise_Biz
146                  Australia              Uganda   10896328.0       Wise_Biz
147                  Australia             Germany    9418964.0       Wise_Biz

[418 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for Wise_Biz:
     source_partner            source_country destination_country           gsv Partner_Gsv existing/new regional_director
0         Wise_Biz                 Australia          Bangladesh    40785924.0        <NA>          NEW            Viktor
1         Wise_Biz                 Australia             Germany     9418964.0        <NA>          NEW            Viktor
2         Wise_Biz                 Australia               Ghana    14536937.0    923322.0     EXISTING            Viktor
3         Wise_Biz                 Australia               India  1271119070.0        <NA>          NEW            Viktor
4         Wise_Biz                 Australia               Kenya   100661663.0   5637106.0     EXISTING            Viktor
..             ...                       ...                 ...           ...         ...          ...               ...
413       Wise_Biz  United States of America            Viet Nam   299709130.0     29997.0     EXISTING            Viktor
414       Wise_Biz                  Viet Nam               India       33851.0        <NA>          NEW            Viktor
415       Wise_Biz                  Viet Nam               Kenya       48044.0        <NA>          NEW            Viktor
416       Wise_Biz                  Viet Nam           Singapore       19900.0        <NA>          NEW            Viktor
417       Wise_Biz                  Viet Nam              Uganda       43583.0        <NA>          NEW            Viktor

[418 rows x 7 columns]

Processing for WorldRemit...
Top rows for WorldRemit:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0     WorldRemit
1     Åland Islands               Kenya  15868.0     WorldRemit
5091       Zimbabwe               India  22701.0     WorldRemit
5092       Zimbabwe        South Africa  17959.0     WorldRemit
5093       Zimbabwe         Netherlands  13910.0     WorldRemit
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0     WorldRemit
13          Albania               Kenya  24127.0     WorldRemit
14          Albania              France  22272.0     WorldRemit
15          Albania               Spain  20066.0     WorldRemit
16          Albania            Portugal  15137.0     WorldRemit

[1193 rows x 4 columns]
Filtered top rows for WorldRemit:
                 source_country destination_country          gsv source_partner
4845  United States of America         Philippines  855243500.0     WorldRemit
4846  United States of America               Ghana  854031550.0     WorldRemit
4847  United States of America             Liberia  423311206.0     WorldRemit
4848  United States of America            Viet Nam  299709130.0     WorldRemit
4849  United States of America               India  237645288.0     WorldRemit
...                        ...                 ...          ...            ...
143                  Australia            Malaysia   45569162.0     WorldRemit
144                  Australia          Bangladesh   40785924.0     WorldRemit
145                  Australia               Ghana   14536937.0     WorldRemit
146                  Australia              Uganda   10896328.0     WorldRemit
147                  Australia             Germany    9418964.0     WorldRemit

[401 rows x 4 columns]

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for WorldRemit:
     source_partner            source_country destination_country           gsv  Partner_Gsv existing/new regional_director
0       WorldRemit                 Australia          Bangladesh    40785924.0     664316.0     EXISTING           Praveen
1       WorldRemit                 Australia             Germany     9418964.0         <NA>          NEW           Praveen
2       WorldRemit                 Australia               Ghana    14536937.0         <NA>          NEW           Praveen
3       WorldRemit                 Australia               India  1271119070.0  777998305.0     EXISTING           Praveen
4       WorldRemit                 Australia               Kenya   100661663.0         <NA>          NEW           Praveen
..             ...                       ...                 ...           ...          ...          ...               ...
396     WorldRemit  United States of America             Liberia   423311206.0         <NA>          NEW           Praveen
397     WorldRemit  United States of America         Philippines   855243500.0         <NA>          NEW           Praveen
398     WorldRemit  United States of America            Tanzania   224628683.0    2271257.0     EXISTING           Praveen
399     WorldRemit  United States of America              Uganda   160458035.0         <NA>          NEW           Praveen
400     WorldRemit  United States of America            Viet Nam   299709130.0         <NA>          NEW           Praveen

[401 rows x 7 columns]

Processing for WSL Global Limited...
Top rows for WSL Global Limited:
      source_country destination_country      gsv      source_partner
0     Åland Islands            Viet Nam  85001.0  WSL Global Limited
1     Åland Islands               Kenya  15868.0  WSL Global Limited
5091       Zimbabwe               India  22701.0  WSL Global Limited
5092       Zimbabwe        South Africa  17959.0  WSL Global Limited
5093       Zimbabwe         Netherlands  13910.0  WSL Global Limited
...             ...                 ...      ...                 ...
12          Albania            Viet Nam  40428.0  WSL Global Limited
13          Albania               Kenya  24127.0  WSL Global Limited
14          Albania              France  22272.0  WSL Global Limited
15          Albania               Spain  20066.0  WSL Global Limited
16          Albania            Portugal  15137.0  WSL Global Limited

[1193 rows x 4 columns]
Filtered top rows for WSL Global Limited:
       source_country destination_country          gsv      source_partner
4724  United Kingdom               India  722564261.0  WSL Global Limited
4725  United Kingdom               Kenya  372996239.0  WSL Global Limited
4726  United Kingdom          Bangladesh  222801157.0  WSL Global Limited
4727  United Kingdom               Ghana  184628486.0  WSL Global Limited
4729  United Kingdom              Uganda  151640757.0  WSL Global Limited
4730  United Kingdom            Viet Nam  130053730.0  WSL Global Limited
4731  United Kingdom         Philippines   57615497.0  WSL Global Limited
4732  United Kingdom            Tanzania   52293484.0  WSL Global Limited
4733  United Kingdom               Spain   36806984.0  WSL Global Limited
4734  United Kingdom            Pakistan   34877833.0  WSL Global Limited
Updated Merged Results with Regional Director and Partner Gsv for WSL Global Limited:
        source_partner  source_country destination_country          gsv Partner_Gsv existing/new regional_director
0  WSL Global Limited  United Kingdom          Bangladesh  222801157.0         3.0     EXISTING            Viktor
1  WSL Global Limited  United Kingdom               Ghana  184628486.0     71775.0     EXISTING            Viktor
2  WSL Global Limited  United Kingdom               India  722564261.0     11435.0     EXISTING            Viktor
3  WSL Global Limited  United Kingdom               Kenya  372996239.0        <NA>          NEW            Viktor
4  WSL Global Limited  United Kingdom            Pakistan   34877833.0        <NA>          NEW            Viktor
5  WSL Global Limited  United Kingdom         Philippines   57615497.0      4369.0     EXISTING            Viktor
6  WSL Global Limited  United Kingdom               Spain   36806984.0        <NA>          NEW            Viktor
7  WSL Global Limited  United Kingdom            Tanzania   52293484.0        <NA>          NEW            Viktor
8  WSL Global Limited  United Kingdom              Uganda  151640757.0     30352.0     EXISTING            Viktor
9  WSL Global Limited  United Kingdom            Viet Nam  130053730.0        <NA>          NEW            Viktor

Processing for XTransfer Limited...
Top rows for XTransfer Limited:
      source_country destination_country      gsv     source_partner
0     Åland Islands            Viet Nam  85001.0  XTransfer Limited
1     Åland Islands               Kenya  15868.0  XTransfer Limited
5091       Zimbabwe               India  22701.0  XTransfer Limited
5092       Zimbabwe        South Africa  17959.0  XTransfer Limited
5093       Zimbabwe         Netherlands  13910.0  XTransfer Limited
...             ...                 ...      ...                ...
12          Albania            Viet Nam  40428.0  XTransfer Limited
13          Albania               Kenya  24127.0  XTransfer Limited
14          Albania              France  22272.0  XTransfer Limited
15          Albania               Spain  20066.0  XTransfer Limited
16          Albania            Portugal  15137.0  XTransfer Limited

[1193 rows x 4 columns]
Filtered top rows for XTransfer Limited:
      source_country destination_country           gsv     source_partner
1736      Hong Kong         Philippines  1722181320.0  XTransfer Limited
1737      Hong Kong            Viet Nam     9110518.0  XTransfer Limited
1738      Hong Kong      United Kingdom     8249574.0  XTransfer Limited
1739      Hong Kong            Malaysia     3940931.0  XTransfer Limited
1740      Hong Kong               Kenya     2887925.0  XTransfer Limited
1741      Hong Kong               Ghana     2215950.0  XTransfer Limited
1742      Hong Kong              Uganda      703818.0  XTransfer Limited
1743      Hong Kong              France      582306.0  XTransfer Limited
1744      Hong Kong               India      450505.0  XTransfer Limited
1745      Hong Kong            Tanzania      439808.0  XTransfer Limited
Updated Merged Results with Regional Director and Partner Gsv for XTransfer Limited:
       source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  XTransfer Limited      Hong Kong              France      582306.0        <NA>          NEW            Sukesh
1  XTransfer Limited      Hong Kong               Ghana     2215950.0        <NA>          NEW            Sukesh
2  XTransfer Limited      Hong Kong               India      450505.0        <NA>          NEW            Sukesh
3  XTransfer Limited      Hong Kong               Kenya     2887925.0        <NA>          NEW            Sukesh
4  XTransfer Limited      Hong Kong            Malaysia     3940931.0      5965.0     EXISTING            Sukesh
5  XTransfer Limited      Hong Kong         Philippines  1722181320.0      1124.0     EXISTING            Sukesh
6  XTransfer Limited      Hong Kong            Tanzania      439808.0        <NA>          NEW            Sukesh
7  XTransfer Limited      Hong Kong              Uganda      703818.0        <NA>          NEW            Sukesh
8  XTransfer Limited      Hong Kong      United Kingdom     8249574.0       809.0     EXISTING            Sukesh
9  XTransfer Limited      Hong Kong            Viet Nam     9110518.0    237871.0     EXISTING            Sukesh

Processing for YEEPAYHK...

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Top rows for YEEPAYHK:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0       YEEPAYHK
1     Åland Islands               Kenya  15868.0       YEEPAYHK
5091       Zimbabwe               India  22701.0       YEEPAYHK
5092       Zimbabwe        South Africa  17959.0       YEEPAYHK
5093       Zimbabwe         Netherlands  13910.0       YEEPAYHK
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0       YEEPAYHK
13          Albania               Kenya  24127.0       YEEPAYHK
14          Albania              France  22272.0       YEEPAYHK
15          Albania               Spain  20066.0       YEEPAYHK
16          Albania            Portugal  15137.0       YEEPAYHK

[1193 rows x 4 columns]
Filtered top rows for YEEPAYHK:
      source_country destination_country           gsv source_partner
1736      Hong Kong         Philippines  1722181320.0       YEEPAYHK
1737      Hong Kong            Viet Nam     9110518.0       YEEPAYHK
1738      Hong Kong      United Kingdom     8249574.0       YEEPAYHK
1739      Hong Kong            Malaysia     3940931.0       YEEPAYHK
1740      Hong Kong               Kenya     2887925.0       YEEPAYHK
1741      Hong Kong               Ghana     2215950.0       YEEPAYHK
1742      Hong Kong              Uganda      703818.0       YEEPAYHK
1743      Hong Kong              France      582306.0       YEEPAYHK
1744      Hong Kong               India      450505.0       YEEPAYHK
1745      Hong Kong            Tanzania      439808.0       YEEPAYHK
Updated Merged Results with Regional Director and Partner Gsv for YEEPAYHK:
   source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0       YEEPAYHK      Hong Kong              France      582306.0        <NA>          NEW            Sukesh
1       YEEPAYHK      Hong Kong               Ghana     2215950.0        <NA>          NEW            Sukesh
2       YEEPAYHK      Hong Kong               India      450505.0         6.0     EXISTING            Sukesh
3       YEEPAYHK      Hong Kong               Kenya     2887925.0    119596.0     EXISTING            Sukesh
4       YEEPAYHK      Hong Kong            Malaysia     3940931.0      2247.0     EXISTING            Sukesh
5       YEEPAYHK      Hong Kong         Philippines  1722181320.0      1736.0     EXISTING            Sukesh
6       YEEPAYHK      Hong Kong            Tanzania      439808.0        <NA>          NEW            Sukesh
7       YEEPAYHK      Hong Kong              Uganda      703818.0        <NA>          NEW            Sukesh
8       YEEPAYHK      Hong Kong      United Kingdom     8249574.0        <NA>          NEW            Sukesh
9       YEEPAYHK      Hong Kong            Viet Nam     9110518.0       191.0     EXISTING            Sukesh

Processing for Zam Zam Money Exchange LLC Co...
Top rows for Zam Zam Money Exchange LLC Co:
      source_country destination_country      gsv                 source_partner
0     Åland Islands            Viet Nam  85001.0  Zam Zam Money Exchange LLC Co
1     Åland Islands               Kenya  15868.0  Zam Zam Money Exchange LLC Co
5091       Zimbabwe               India  22701.0  Zam Zam Money Exchange LLC Co
5092       Zimbabwe        South Africa  17959.0  Zam Zam Money Exchange LLC Co
5093       Zimbabwe         Netherlands  13910.0  Zam Zam Money Exchange LLC Co
...             ...                 ...      ...                            ...
12          Albania            Viet Nam  40428.0  Zam Zam Money Exchange LLC Co
13          Albania               Kenya  24127.0  Zam Zam Money Exchange LLC Co
14          Albania              France  22272.0  Zam Zam Money Exchange LLC Co
15          Albania               Spain  20066.0  Zam Zam Money Exchange LLC Co
16          Albania            Portugal  15137.0  Zam Zam Money Exchange LLC Co

[1193 rows x 4 columns]
Filtered top rows for Zam Zam Money Exchange LLC Co:
      source_country destination_country        gsv                 source_partner
2198         Jordan          Bangladesh  7347374.0  Zam Zam Money Exchange LLC Co
2199         Jordan         Philippines  7252997.0  Zam Zam Money Exchange LLC Co
2200         Jordan      United Kingdom   310273.0  Zam Zam Money Exchange LLC Co
2201         Jordan              Uganda   294838.0  Zam Zam Money Exchange LLC Co
2202         Jordan            Malaysia   202859.0  Zam Zam Money Exchange LLC Co
2203         Jordan               Ghana   175038.0  Zam Zam Money Exchange LLC Co
2204         Jordan               Egypt   135745.0  Zam Zam Money Exchange LLC Co
2205         Jordan             Germany   133658.0  Zam Zam Money Exchange LLC Co
2206         Jordan            Thailand   132574.0  Zam Zam Money Exchange LLC Co
2207         Jordan               India   102340.0  Zam Zam Money Exchange LLC Co
Updated Merged Results with Regional Director and Partner Gsv for Zam Zam Money Exchange LLC Co:
                   source_partner source_country destination_country        gsv Partner_Gsv existing/new regional_director
0  Zam Zam Money Exchange LLC Co         Jordan          Bangladesh  7347374.0    106799.0     EXISTING            Bassem
1  Zam Zam Money Exchange LLC Co         Jordan               Egypt   135745.0        <NA>          NEW            Bassem
2  Zam Zam Money Exchange LLC Co         Jordan             Germany   133658.0      3671.0     EXISTING            Bassem
3  Zam Zam Money Exchange LLC Co         Jordan               Ghana   175038.0        <NA>          NEW            Bassem
4  Zam Zam Money Exchange LLC Co         Jordan               India   102340.0     25455.0     EXISTING            Bassem
5  Zam Zam Money Exchange LLC Co         Jordan            Malaysia   202859.0        <NA>          NEW            Bassem
6  Zam Zam Money Exchange LLC Co         Jordan         Philippines  7252997.0         9.0     EXISTING            Bassem
7  Zam Zam Money Exchange LLC Co         Jordan            Thailand   132574.0        <NA>          NEW            Bassem
8  Zam Zam Money Exchange LLC Co         Jordan              Uganda   294838.0        <NA>          NEW            Bassem
9  Zam Zam Money Exchange LLC Co         Jordan      United Kingdom   310273.0     59501.0     EXISTING            Bassem

Processing for ZeePay...
Top rows for ZeePay:
      source_country destination_country      gsv source_partner
0     Åland Islands            Viet Nam  85001.0         ZeePay
1     Åland Islands               Kenya  15868.0         ZeePay
5091       Zimbabwe               India  22701.0         ZeePay
5092       Zimbabwe        South Africa  17959.0         ZeePay
5093       Zimbabwe         Netherlands  13910.0         ZeePay
...             ...                 ...      ...            ...
12          Albania            Viet Nam  40428.0         ZeePay
13          Albania               Kenya  24127.0         ZeePay
14          Albania              France  22272.0         ZeePay
15          Albania               Spain  20066.0         ZeePay
16          Albania            Portugal  15137.0         ZeePay

[1193 rows x 4 columns]
Filtered top rows for ZeePay:
 Empty DataFrame
Columns: [source_country, destination_country, gsv, source_partner]
Index: []
Updated Merged Results with Regional Director and Partner Gsv for ZeePay:
 Empty DataFrame
Columns: [source_partner, source_country, destination_country, gsv, Partner_Gsv, existing/new, regional_director]
Index: []

Processing for ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT...
Top rows for ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT:
      source_country destination_country      gsv                                  source_partner
0     Åland Islands            Viet Nam  85001.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
1     Åland Islands               Kenya  15868.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
5091       Zimbabwe               India  22701.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
5092       Zimbabwe        South Africa  17959.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
5093       Zimbabwe         Netherlands  13910.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
...             ...                 ...      ...                                             ...
12          Albania            Viet Nam  40428.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
13          Albania               Kenya  24127.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
14          Albania              France  22272.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
15          Albania               Spain  20066.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
16          Albania            Portugal  15137.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT

[1193 rows x 4 columns]
Filtered top rows for ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT:
      source_country destination_country           gsv                                  source_partner
3778   Saudi Arabia               India  2478180376.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3779   Saudi Arabia          Bangladesh   505853212.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3780   Saudi Arabia         Philippines   407864778.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3781   Saudi Arabia            Malaysia   202175964.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3782   Saudi Arabia              Uganda   184657372.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3783   Saudi Arabia      United Kingdom   150021245.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3784   Saudi Arabia               Egypt    73553370.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3785   Saudi Arabia               Ghana    26200926.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3786   Saudi Arabia               Kenya    26022010.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT
3787   Saudi Arabia            Pakistan    16087300.0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT

C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner
C:\Users\SreekantPatnaik\AppData\Local\Temp\ipykernel_15564\817701400.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['source_partner'] = source_partner  # Correct assignment for the current partner

Updated Merged Results with Regional Director and Partner Gsv for ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT:
                                    source_partner source_country destination_country           gsv Partner_Gsv existing/new regional_director
0  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia          Bangladesh   505853212.0        <NA>          NEW            Bassem
1  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia               Egypt    73553370.0        <NA>          NEW            Bassem
2  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia               Ghana    26200926.0        <NA>          NEW            Bassem
3  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia               India  2478180376.0        <NA>          NEW            Bassem
4  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia               Kenya    26022010.0        <NA>          NEW            Bassem
5  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia            Malaysia   202175964.0        <NA>          NEW            Bassem
6  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia            Pakistan    16087300.0        <NA>          NEW            Bassem
7  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia         Philippines   407864778.0        <NA>          NEW            Bassem
8  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia              Uganda   184657372.0        <NA>          NEW            Bassem
9  ZIYAD MUBAYRIK ALRADDADI TRADING ESTABLISHMENT   Saudi Arabia      United Kingdom   150021245.0        <NA>          NEW            Bassem

Final results with 'TerraPay_gsv' have been saved to Partner_Opportunities.xlsx.